/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.ControlsDemo-Markup__error {
  color: red;
}
.ControlsDemo-Markup__block {
  margin: 5px 15px;
}
.controls-Highlight_found {
  background-color: #fffece;
}
