/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-MonthSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.controls-MonthSlider__header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-MonthSlider__header-button {
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}
.controls-MonthSlider__header-title {
  text-align: center;
}
.controls-MonthSlider__weekdays-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.controls-MonthSlider__weekdays-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.controls-MonthSlider__slider {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.controls-MonthSlider__month {
  width: 100%;
}
.controls-MonthSlider {
  width: 281px;
  height: 300px;
}
.controls-MonthSlider__header {
  height: 28px;
}
.controls-MonthSlider__header-button {
  color: #587ab0;
}
.controls-MonthSlider__header-button:hover {
  color: #F0F5FB;
}
.controls-MonthSlider__home-button {
  margin-left: 8px;
}
.controls-MonthSlider__header-title {
  font-size: 15px;
  min-width: 110px;
  color: #587AB0;
}
.controls-MonthSlider__weekdays-container {
  color: #999;
  font-size: 15px;
  height: 39px;
}
.controls-MonthSlider__accordionTheme.controls-MonthSlider {
  width: 196px;
  height: 216px;
}
.controls-MonthSlider__accordionTheme .controls-MonthSlider__header-button {
  color: #61b1ee;
}
.controls-MonthSlider__accordionTheme .controls-MonthSlider__header-button:hover {
  color: #BBE9FF;
}
.controls-MonthSlider__accordionTheme .controls-MonthSlider__header-title {
  color: #E9EBEC;
}
.controls-MonthSlider__accordionTheme .controls-MonthSlider__weekdays-container {
  color: #8991A9;
  height: 24px;
}
