.controls-MonthSlider {
   display: flex;
   flex-direction: column;
}

.controls-MonthSlider__header {
   flex-shrink: 0;
   display: flex;
   align-items: center;
}

.controls-MonthSlider__header-button {
   cursor: pointer;
   .icon();
}

.controls-MonthSlider__header-title {
   text-align: center;
}

.controls-MonthSlider__weekdays-container {
   display: flex;
}

.controls-MonthSlider__weekdays-item {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controls-MonthSlider__slider {
   flex-shrink: 1;
   flex-grow: 1;
}

.controls-MonthSlider__month {
   width: 100%;
   //height: 100%;
}

.controls-MonthView__theme(
   @height: null,
   @width: null,
   @height_header: null,
   @color_header-button: null,
   @color_header-button_hovered: null,
   @margin-left_home-button: null,
   @font-size_header-title: null,
   @min-width_header-title: null,
   @color_header-title: null,
   @color_weekDayHeader: null,
   @font-size_item: null,
   @height_weekdays: null
) {

   .setStyle(@property, @value) {
      & when not (@value = null) {
         @{property}: @value;
      }
   }

   &.controls-MonthSlider {
      .setStyle(width, @width);
      .setStyle(height, @height);
   }

   .controls-MonthSlider__header {
      .setStyle(height, @height_header);
   }

   .controls-MonthSlider__header-button {
      .setStyle(color, @color_header-button);
      &:hover {
         .setStyle(color, @color_header-button_hovered);
      }
   }

   .controls-MonthSlider__home-button {
      .setStyle(margin-left, @margin-left_home-button);
   }

   .controls-MonthSlider__header-title {
      .setStyle(font-size, @font-size_header-title);
      .setStyle(min-width, @min-width_header-title);
      .setStyle(color, @color_header-title);
   }

   .controls-MonthSlider__weekdays-container {
      .setStyle(color, @color_weekDayHeader);
      .setStyle(font-size, @font-size_item);
      .setStyle(height, @height_weekdays);
   }
}

.controls-MonthView__theme(
   @width: @width_MontView,
   @height: @height_MonthSlider,
   @height_header: @height_MonthSlider-header,
   @color_header-button: @color_MonthSlider-header-button,
   @color_header-button_hovered: @color_MonthSlider-header-button_hovered,
   @margin-left_home-button: @margin-left_MonthSlider-home-button,
   @font-size_header-title: @font-size_MonthSlider-header-title,
   @min-width_header-title: @min-width_MonthSlider-header-title,
   @color_header-title: @color_MonthSlider-header-title,
   @color_weekDayHeader: @color_MonthView-weekDayHeader,
   @font-size_item: @font-size_MonthView-item,
   @height_weekdays: @height_MonthSlider-weekdays
);

// TODO: Тема для аккордеона. Временное решение, переделать когда будет понятно, как мы будем делать разные темы в рамках одной страницы.
.controls-MonthSlider__accordionTheme {
   .controls-MonthView__theme(
      @height: 216px,
      @width: 196px,
      @color_header-button: #61b1ee,
      @color_header-button_hovered: #BBE9FF,
      @color_header-title: #E9EBEC,
      @color_weekDayHeader: #8991A9,
      @height_weekdays: 24px
   );
}
