.ControlsDemo-FilterButton__FilterInput {
   display: flex;
   width: 100%;
}

.ControlsDemo-FilterButton__FilterInput-text {
   margin-right: 10px;
}

.ControlsDemo-FilterButton__FilterInput-input {
   width: 100%;
}