/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls_RichEditor_LinkDialog {
  padding: 18px;
}
.controls_RichEditor_LinkDialog_adress {
  margin-bottom: 12px;
}
.controls_RichEditor_LinkDialog_label {
  font-size: 15px;
  color: #999;
  margin-right: 8px;
}
.controls_RichEditor_LinkDialog_input {
  width: 330px;
}
