.controls_RichEditor_LinkDialog {
   padding: 18px;

   &_adress {
      margin-bottom: 12px;
   }
   &_label {
      font-size: 15px;
      color: #999;
      margin-right: 8px;
   }
   &_input {
      width: 330px;
   }
}
