.controls-Lookup {
  max-width: 100%;
  display: inline-block;
}

.controls-Lookup__suggest,
.controls-Lookup__inputRender {
  width: 100%;
}

.controls-Lookup__inputRender_fieldWrapper_hidden .controls-InputRender__fieldWrapper {
  display: none;
}

.controls-Lookup__inputRender_multiLine .controls-InputRender__wrapper {
  display: inline-block;
  width: ~"calc(100% - 16px)";
}

.controls-Lookup__inputRender_content_width_custom .controls-InputRender__fieldWrapper {
  width: auto;
}

.controls-Lookup__afterFieldWrapper {
  display: inline-flex;
  height: 100%;
}

.controls-Lookup__afterFieldWrapper_singleLine  {
  margin-left: auto;
  align-items: center;
}

.controls-Lookup__afterFieldWrapper_multiLine {
  position: absolute;
  top: 0;
  right: -16px;
  justify-content: space-between;
  flex-flow: column;
}

.controls-Lookup__icon {
  .icon-size-without-important();
  cursor: pointer;
}

.controls-Lookup__showSelector {
  color: @color_Lookup_showSelector;
}

.controls-Lookup__showSelector_multiLine {
  margin-top: 2px;
}

.controls-Lookup__showSelector:hover {
  color: @color_Lookup-showSelector_hovered;
}

.controls-Lookup__clearRecords {
  color: @color_Lookup_clearRecords;
}

.controls-Lookup__clearRecords_singleLine {
  padding-right: 4px;
}

.controls-Lookup__clearRecords_multiLine {
  order: 1;
  margin-bottom: 2px;
}

.controls-SelectedCollection__collection.controls-Lookup__collection_hidden {
  display: none;
}

.controls-Lookup__collection_single {
  .flex-shrink(1);
}

.controls-Lookup__collection_multi {
  .flex-shrink(0);
}

.controls-Lookup-collection__measurer {
  top: 0;
  left: -9999px;
  position: absolute;
  backface-visibility: hidden;
}
