<div class="controls-ImportCustomizer-Area{{dialogMode ? ' controls-ImportCustomizer-Area_dialog' : ''}}">
   <ws:if data="{{dialogMode}}">
      <div class="controls-ImportCustomizer-Area__head  ws-window-titlebar">
         <div class="controls-ImportCustomizer-Area__head-caption">
            <ws:if data="{{dialogTitle}}">{{dialogTitle}}</ws:if><ws:else>{[НастройщикИмпорта@@Настройка импорта]}</ws:else>:
         </div>
         <SBIS3.CONTROLS.Link
            className="controls-ImportCustomizer-Area__head-link"
            href="{{file.url}}"
            caption="{{file.name}}"
            tooltip="{{file.name}}"
            inNewTab="{{true}}"
         />
         <SBIS3.CONTROLS.Button
            className="controls-ImportCustomizer-Area__applyButton"
            command="complete" primary="true"
            >
            <ws:caption>
               <ws:if data="{{dialogButtonTitle}}">{{dialogButtonTitle}}</ws:if>
               <ws:else>{[НастройщикИмпорта@@Импортировать]}</ws:else>
            </ws:caption>
         </SBIS3.CONTROLS.Button>
      </div>
   </ws:if>
   <SBIS3.CONTROLS.ScrollContainer name="controls-ImportCustomizer-Area__scrollContainer" class="controls-ImportCustomizer-Area__body">
      <ws:content>
         <ws:if data="{{_isUsedSubview.sheet}}">
            <SBIS3.CONTROLS.ImportCustomizer.Sheet.View
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-sheet"
               name="controls-ImportCustomizer-Area__sheet"
               scope="{{_scopes.sheet}}"
            />
         </ws:if>
         <ws:if data="{{_isUsedSubview.baseParams}}">
            <ws:partial
               template="{{baseParamsComponent}}"
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-baseParams"
               name="controls-ImportCustomizer-Area__baseParams"
               scope="{{_scopes.baseParams}}"
            />
         </ws:if>
         <ws:if data="{{_isUsedSubview.provider}}">
            <SBIS3.CONTROLS.ImportCustomizer.Provider.View
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-provider"
               name="controls-ImportCustomizer-Area__provider"
               scope="{{_scopes.provider}}"
            />
         </ws:if>
         <ws:if data="{{_isUsedSubview.providerArgs}}">
            <Lib.Control.TemplatedArea.TemplatedArea
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-providerArgs"
               name="controls-ImportCustomizer-Area__providerArgs"
               template="{{_scopes.providerArgs.component}}"
               visible="{{!!_scopes.providerArgs.component}}"
               componentOptions="{{_scopes.providerArgs.options}}"
            />
         </ws:if>
         <ws:if data="{{_isUsedSubview.columnBinding}}">
            <SBIS3.CONTROLS.ImportCustomizer.ColumnBinding.View
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-columnBinding"
               name="controls-ImportCustomizer-Area__columnBinding"
               scope="{{_scopes.columnBinding}}"
            />
         </ws:if>
         <ws:if data="{{_isUsedSubview.mapper}}">
            <SBIS3.CONTROLS.ImportCustomizer.Mapper.View
               className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-mapper"
               name="controls-ImportCustomizer-Area__mapper"
               scope="{{_scopes.mapper}}"
            />
         </ws:if>
      </ws:content>
   </SBIS3.CONTROLS.ScrollContainer>
</div>