
.controls-ImportCustomizer-Area {
   box-sizing: border-box;
}

.controls-ImportCustomizer-Area_dialog {
    width: @width_ImportCustomizer-Area-dialog;
    height: 100%;
    padding: @padding_ImportCustomizer-Area-dialog;
}

.controls-ImportCustomizer-Area__head {
   top: 0;
   .flexbox();
   .flex-direction(row);
   .align-items(center);
   padding: @padding_ImportCustomizer-Area-head;
}

.controls-ImportCustomizer-Area__head-caption {
   flex-srink: 0;
   margin: @margin_ImportCustomizer-Area-head-caption;
   color: @color_ImportCustomizer-Area-head-caption;
   font-size: @font-size_ImportCustomizer-Area-head-caption;
   font-weight: @font-weight_ImportCustomizer-Area-head-caption;
}

.controls-ImportCustomizer-Area__head-link {
   flex-grow: 1;
   overflow: hidden;
}

.controls-ImportCustomizer-Area__applyButton {
   flex-shrink: 0;
   margin: @margin_ImportCustomizer-Area-applyButton;
}

.controls-ImportCustomizer-Area__body {
    box-sizing: border-box;
    height: 100%;
    padding: @padding_ImportCustomizer-Area-body;
}

.controls-ImportCustomizer-Area__body__box {
    margin: @margin_ImportCustomizer-Area-body-box;
    border-bottom: @border-bottom_ImportCustomizer-Area-body-box;
    padding: @padding_ImportCustomizer-Area-body-box;
}

.controls-ImportCustomizer-Area__body__box-not-pad {
    padding: @padding_ImportCustomizer-Area-body-box-not-pad;
}

.controls-ImportCustomizer-Area__body__box:last-child {
    margin-bottom: 0;
    border-bottom: 0 none;
    padding-bottom: 0;
}