.controls-FilterText {
   display: inline-block;
}

.controls-FilterText__wrapper {
   display: inline-flex;
   line-height: @height_FilterText;
}

.controls-FilterText__reset {
   .flexbox();
   .align-self(center);
   .icon-size(@default-icon-size);
   cursor: pointer;
}

