.controls-Switch__toggle__wrapper {
   .inline-flexbox();
   .align-items(center);
   .justify-content(center);
   .baseline-fix();
   width: @width_Switch;
   height: @height_Switch;
   border-width: @width_Switch__border;
   border-color: @color_Switch__border;
   border-radius: @size_Switch__border-radius;
   border-style: solid;
   box-sizing: border-box;
}

.controls-Switch_enabled {
   cursor: pointer;
}

.controls-Switch_checked {
   .flex-direction(row-reverse);
}

.controls-Switch__line {
   display: inline-block;
   height: @thickness_Switch-track;
   width: @length_Switch-track - @size_Switch__ToggleCircle;
}

.controls-Switch__line_enabled {
   background-color: @background-color_Switch-track__enabled;
}

.controls-Switch__line_disabled {
   background-color: @background-color_Switch-track__disabled;
}

.controls-Switch__text_rightCaption {
   margin-left: @spacing_Switch-between-toggle-text;
}

.controls-Switch__text_leftCaption {
   margin-right: @spacing_Switch-between-toggle-text;
}

.controls-Switch__text_enabled_unselected {
   color: @color_Switch-text__enabled_unselected;
}

.controls-Switch__text_enabled_selected {
   color: @color_Switch-text__enabled_selected;
}

.controls-Switch__text_disabled_selected {
   color: @color_Switch-text__disabled_selected;
}

.controls-Switch__text_enabled_selected, .controls-Switch__text_enabled_unselected {
   cursor: pointer;
}

.controls-Switch__text_disabled_unselected {
   color: @color_Switch-text__disabled_unselected;
}

.controls-Switch:active {
   .controls-SwitchCircle__borderCircle_enabled {
      fill: @color_ToggleCircle_outerCircle__enabled_hovered;
   }
}

.controls-Switch__toggle_leftCaption {
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
}

.ws-is-no-touch {
   .controls-Switch__text_enabled_unselected:hover {
      text-decoration: underline;
   }
   .controls-Switch:hover {
      .controls-SwitchCircle__borderCircle_enabled {
         fill: @color_ToggleCircle_outerCircle__enabled_hovered;
      }
   }
}