.controls-FilterButton {
	height: @height_FilterButton;
	display: inline-block;
}

.controls-FilterButton__icon_state_default {
	color: @color_FilterButton-icon;
	cursor: pointer;
}

.ws-is-no-touch {
	.controls-FilterButton__icon_state_default:hover {
		color: @color_FilterButton-icon_hover;
	}
}

.controls-FilterButton__icon_state_default:active {
	color: @color_FilterButton-icon_hover;
}

.controls-FilterButton__icon_state_disabled {
	color: @color_FilterButton-icon_disabled;
}

.controls-FilterButton__spaceTemplate_left {
	order: -1;
	margin-right: @spacing_FilterButton-between-spaceTemplate-text;
}

.controls-FilterButton__spaceTemplate_right {
	margin-left: @spacing_FilterButton-between-spaceTemplate-text;
}

.controls-FilterButton__icon_left {
	order: -2;
	margin-right: @spacing_FilterButton-between-icon-text;
}

.controls-FilterButton__icon_right {
	margin-left: @spacing_FilterButton-between-icon-text;
}

.controls-FilterButton__wrapper {
	.inline-flexbox();
	.align-items(center);
	max-width: 100%;
	height: 100%;
}

.controls-FilterButton__wrapper:before {
	content: "\200b";
	order: -3;
}

.controls-FilterButton__text-wrapper {
	.inline-flexbox();
	.align-items(center);
	min-width: 0;
}

.controls-FilterButton__text-wrapper_state_default:hover {
	cursor: pointer;
	
	.controls-FilterButton__text {
		color: @color_FilterButton-text_hover;
		text-decoration: underline;
	}
	.controls-FilterButton__arrow {
		color: @color_FilterButton-text_hover;
	}
}

.controls-FilterButton__text {
	.text-overflow();
	font-size: @font-size_FilterButton-text;
}

.controls-FilterButton__text_state_default {
	color: @color_FilterButton-text;
}

.controls-FilterButton__text_state_disabled {
	color: @color_FilterButton-text_disabled;
}

.controls-FilterButton__arrow_state_default {
	color: @color_FilterButton-arrow;
}

.controls-FilterButton__arrow_state_disabled {
	color: @color_FilterButton-arrow_disabled;
}

.controls-FilterButton__clear {
	color: @color_FilterButton-clear;
	cursor: pointer;
}

.controls-FilterButton__icon {
	.icon-size-without-important(@font-size_FilterButton-icon, @font-family_FilterButton-icon);
}

.controls-FilterButton__clear, .controls-FilterButton__arrow {
	.inline-flexbox();
	.align-items(center);
	.icon-size-without-important(@icon-size_FilterButton-text-icon);
}
.controls-FilterButton__clear, .controls-FilterButton__arrow, .controls-FilterButton__icon {
	.flex-shrink(0);
}

.controls-FilterButton-popup-orientation-left {
	margin-top: @margin-top_FilterButton_popup;
	margin-left: @margin-left_FilterButton_popup;
}

.controls-FilterButton-popup-orientation-right {
	margin-top: @margin-top_FilterButton_popup;
	margin-left: -@margin-left_FilterButton_popup;
}

/* ****************Для совместимости со старой панелью ****************/
.controls-FilterButton {
	position: relative;
}
.controls-FilterButton__oldTemplate {
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
}

.controls-FilterButton__oldTemplate_left {
	left: 0;
}

.controls-FilterButton__oldTemplate_right {
	right: 0;
}
/********************************************************************/