/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-PreviewerController {
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: openingPreviewer;
          animation-name: openingPreviewer;
}
.controls-PreviewerController_close {
  -webkit-animation-name: closingPreviewer;
          animation-name: closingPreviewer;
}
@-webkit-keyframes openingPreviewer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes openingPreviewer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes closingPreviewer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes closingPreviewer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
