.controls-StickyHeader {
   position: sticky;
   background: #fff;
}

.controls-StickyHeader__observationTargetTop,
.controls-StickyHeader__observationTargetBottom {
   left: 0;
   right: 0;
   height: 1px;
   position: absolute;
}

.controls-StickyHeader__observationTargetTop {
   top: -2px;
}

.controls-StickyHeader__observationTargetBottom {
   bottom: -2px;
}

.controls-StickyHeader__shadow {
   bottom: -@height-gradient_Scroll-shadow;
   background: linear-gradient(
      to bottom,
      @start-color-gradient_Scroll-shadow, @end-color-gradient_Scroll-shadow
   );
}
