.controls-ListView__itemV {
   cursor: pointer;
   position: relative;
}

.controls-ListView__itemV_marker {
   position: absolute;
   width: @width_ListView_marker;
   background-color: @color_ListView-marker;
   height: 100%;
   left: 0;
   top: 0;
}

// Удалить при закрытии: https://online.sbis.ru/opendoc.html?guid=2525f9fc-8b96-4bc0-ae35-8597290ecdae
.controls-ListView__checkbox .controls-Checkbox__caption {
   display: none;
}

.controls-ListView__checkbox {
   float: left;
   margin: @padding_List-checkbox;
}

.controls-ListView__itemContent_withCheckboxes {
   padding: @spacing_List-item_default / 2 @padding_List-right @spacing_List-item_default / 2 @spacing-List-between-checkbox-content + @width_CheckBox;
}

.controls-ListView__itemContent_withoutCheckboxes {
   padding: @spacing_List-item_default / 2 @padding_List-right @spacing_List-item_default / 2 @padding_List-left;
}

.controls-ListView__itemContent {
   z-index: 1;
}

.controls-itemActionsV {
   z-index: 1;
}

.controls-ListView__item_active {
   background-color: @default-bg-color-hovered-item;
}

.controls-ListView__item_editing {
   background-color: @controls-editInPlace-editing-item-bg;
   > .controls-itemActionsV {
      display: inline-block;
   }
}

.controls-ListView__item_dragging {
   opacity: 0.6;
}

//Пока страница не ожила, мы не знаем тач устройство или нет, так что на мобильных устройствах нужно скрыть операции над записью
//TODO: после этой задачи нужно убрать not https://online.sbis.ru/opendoc.html?guid=87ddbeeb-fa7e-4462-b69b-c15188df61da
.ws-is-no-touch:not(.ws-is-mobile-platform) {
   .controls-ListView__item_showActions {
      &:hover {
         > .controls-itemActionsV {
            display: inline-block;
         }
      }
   }
   .controls-ListView__item_highlightOnHover_default {
      &:hover {
         background-color: @default-bg-color-hovered-item;
      }
   }
   .controls-ListView__item_highlightOnHover_editing {
      &:hover {
         background-color: @controls-editInPlace-editing-item-bg;
      }
   }
}

.controls-ListView__groupContent {
   display: flex;
   align-items: baseline;
}

.controls-ListView__groupSeparator-left, .controls-ListView__groupSeparator-right {
   height: @height_ListView-group / 2;
   margin-bottom: @height_ListView-group / 2;
   border-bottom: @height_ListView-group-separator solid @color_ListView-group-separator;
   width: 100%;
   font-size: @font-size_ListView-group-expander;
}

.controls-ListView__groupContent-text {
   display: inline-block;
   padding: 0 @spacing_ListView-group-between-text-separator;
   color: @color_ListView-group-text;
   font-size: @font-size_ListView-group-text;
   white-space: nowrap;
   text-align: center;
   flex-shrink: 0;
   user-select: none;
}

.controls-ListView__groupExpander {
   cursor: pointer;
}

.controls-ListView__groupExpander:before {
   width: @width_ListView-group-expander;
   font-size: @font-size_ListView-group-expander;
   padding: 0 @spacing_ListView-group-between-text-expander 0 0;
   content: '\e000';
}

.controls-ListView__groupExpander:hover {
   color: @color_ListView-group-text_hovered;
}

.controls-ListView__groupExpander_collapsed:before {
   content: '\e013';
}

.controls-ListView__groupHidden {
   display: none;
}

.controls-ListView__groupContent-rightTemplate {
   padding-left: @spacing_ListView-group-between-rightTemplate-separator;
   flex-shrink: 0;
}

//MasterList styles

.controls-ListView_master {
   padding-right: @border-width_MasterList-right;
   box-sizing: border-box;
}

.controls-ListView__item__marked_master {
   background-color: @background-color_MasterList_item-selected;
   position: sticky;
   top: 0;
   bottom: 0;
   z-index: 1;
   &:before {
      content: '';
      z-index: 2;
      box-sizing: border-box;
      border-width: @border-width_MasterList-selected-item;
      border-style: solid;
      border-color: @border-color_MasterList_item-selected;
      box-shadow: @box-shadow_MasterList_item-selected;
      width: ~'calc(100% + @{border-width_MasterList-right})';
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
      height: 100%;
   }
   &:after {
      content: '';
      z-index: 1;
      height: 100%;
      top: 0;
      width: @border-width_MasterList-right;
      position: absolute;
      right: -@border-width_MasterList-right;
      background-color: @default-bg-color;
   }
}

//Пока страница не ожила, мы не знаем тач устройство или нет, так что на мобильных устройствах нужно скрыть операции над записью
//TODO: после этой задачи нужно убрать not https://online.sbis.ru/opendoc.html?guid=87ddbeeb-fa7e-4462-b69b-c15188df61da
.ws-is-no-touch:not(.ws-is-mobile-platform) {
   .controls-ListView__item_master {
      &:hover {
         background-color: @hover-color_MasterList_item;
      }
   }
}

