/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-TreeTileView__item {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}
.controls-TreeTileView__checkbox {
  left: 0;
}
.ws-is-ie .controls-TreeTileView__checkbox,
.ws-is-ie .controls-TreeTileView__itemActions_center {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.controls-TreeTileView__item:hover,
.controls-TreeTileView__item_active {
  background-color: #F0F5FB;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.controls-TreeTileView__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 15px;
  margin: 0 8px 0 4px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.controls-TreeTileView__folderIcon {
  margin: 0 0 0 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.controls-itemActionsV.controls-TreeTileView__itemActions_center {
  bottom: auto;
  right: 0;
}
.controls-TreeTileView__separator {
  width: 100%;
}
