.idea
*.log
/contents.json
/contents.js
/Examples/**/*.css
/pages/**/*.css
/Controls-demo/**/*.css
/CONTROLS/**/*.css
/WS.Data
/sbis3-ws
/View
/Vdom
/Core
/builderCfg.json
/components/Core
/application
/application/*
/package-lock.json
/ws-data
/cdn
/node_modules
/typedef
/themes/**/*.css
/artifacts/*
/tests/int/.idea
/tests/int/config.ini
/tests/int/result.db
/tests/int/js_errors
/tests/int/preprocessor_logs
/tests/int/screenshots
/tests/css/online/node_modules
/tests/css/online/gemini-report
/tests/css/online/gemini-coverage
/tests/css/presto/node_modules
/tests/css/presto/gemini-report
/tests/css/presto/gemini-coverage
/tests/reg/.idea
/tests/reg/config.ini
/tests/reg/result.db
/tests/reg/js_errors
/tests/reg/preprocessor_logs
/tests/reg/screenshots
/tests/reg/capture_report
/__pycache__
/application
/builder-ui
/tests/**/.idea
/tests/**/result.db
/tests/**/config.ini
/tests/**/js_errors
/tests/**/preprocessor_logs
/tests/**/screenshots
/tests/**/__pycache__
