.controls_ToolbarButton_FormatPick-item {

   &-header, &-subheader {
      color: #313E78;
      font-weight: bold;
   }
   &-header {
      font-size: 18px;
      line-height: 23px;
   }
   &-subheader {
      font-size: 15px;
      line-height: 19px;
   }
   &-additional {
      font-size: 12px;
      line-height: 15px;
      color: #999;
   }
}
