.controls-Button_viewMode-toggledLink,
.controls-Button_viewMode-toggledLink_readOnly {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.controls-Button_viewMode-quickButton_toggle_on {
  border-color: #587ab0;
}
.controls-Button_viewMode-toggledLink {
  color: #587AB0;
  cursor: pointer;
}
.controls-Button_viewMode-toggledLink_readOnly {
  color: #CCCCCC;
}
.controls-Button_style-secondary_viewMode-toggledLink_readOnly {
  border-color: transparent;
  background: transparent;
}
.controls-Button_style-secondary_viewMode-toggledLink_toggle_on_readOnly {
  border-color: #CCCCCC;
  background: transparent;
}
.controls-Button_viewMode-quickButton_toggle_on {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.controls-Button_style-secondary_viewMode-toggledLink {
  background: transparent;
  border-color: transparent;
}
.controls-Button_style-secondary_viewMode-toggledLink_toggle_on {
  border-color: #587AB0;
  background: #F3F3F3;
}
.controls-Button_viewMode-toggledLink_size-s {
  height: 24px;
  min-width: 24px;
}
.controls-Button_viewMode-toggledLink_size-m {
  height: 28px;
  min-width: 28px;
}
.controls-Button_viewMode-toggledLink_size-l {
  height: 32px;
  min-width: 32px;
}
.controls-Button__wrapper_viewMode-toggledLink_size-s {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.controls-Button__wrapper_viewMode-toggledLink_size-m {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.controls-Button__wrapper_viewMode-toggledLink_size-l {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.controls-Button_viewMode-quickButton_iconStyle-success_toggle_on {
  border-color: #72BE44;
}
.controls-Button_viewMode-quickButton_iconStyle-warning_toggle_on {
  border-color: #FEC63F;
}
.controls-Button_viewMode-quickButton_iconStyle-danger_toggle_on {
  border-color: #EF463A;
}
.controls-Button_viewMode-quickButton_iconStyle-info_toggle_on {
  border-color: #CCC;
}
.controls-Button_viewMode-quickButton_iconStyle-primary_toggle_on {
  border-color: #FF7033;
}
.controls-Button_viewMode-quickButton_iconStyle-secondary_toggle_on {
  border-color: #587ab0;
}
.controls-Button_viewMode-toggledLink:active .controls-Button__icon-secondary_toggle_on {
  color: #313E78;
}
.controls-Button__icon-secondary_iconStyle-secondary_viewMode-quickButton_toggle_on {
  color: #313E78;
}
.controls-Button__icon-secondary_iconStyle-secondary_viewMode-toggledLink_toggle_on {
  color: #587AB0;
}
.controls-Button__icon-danger_toggle_on {
  color: #EF463A;
}
.controls-Button__icon-success_toggle_on {
  color: #72BE44;
}
.controls-Button__icon-warning_toggle_on {
  color: #FEC63F;
}
.controls-Button__icon-info_toggle_on {
  color: #CCC;
}
.controls-Button__icon-primary_toggle_on {
  color: #FF7033;
}
.ws-is-no-touch .controls-Button_style-secondary_viewMode-toggledLink:hover .controls-Button__icon-secondary {
  color: #313E78;
}
.ws-is-no-touch .controls-Button_style-secondary_viewMode-toggledLink:hover {
  background: #F0F5FB;
  border-color: #F0F5FB;
}
.ws-is-no-touch .controls-Button_style-secondary_viewMode-toggledLink:hover .controls-Button__icon_iconStyle-secondary {
  color: #313E78;
}
