.controls-PeriodDialog-Years {
   display: flex;
   flex-direction: row;
   flex-shrink: 0;
   align-items: center;
   height: @height_PeriodDialog-years;
}

.controls-PeriodDialog-Years__prevNextBtn{
   width: @width_DateRangeBigChoose-years-leftRight;
   display: flex;
   justify-content: center;
}

.controls-PeriodDialog-Years__yearsRange {
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
}

.controls-PeriodDialog-Years__rangeBtn {
   cursor: pointer;
   height: @height_PeriodDialog-years-rangeButton;
   line-height: @height_PeriodDialog-years-rangeButton;
   width: 14%;
   font-size: @font-size_PeriodDialog-years-rangeButton;
   text-align: center;
   position: relative;
}

.controls-PeriodDialog-Years__rangeBtn-current {
   color: @color_PeriodDialog-years-panel-current-year;
}

.controls-PeriodDialog-Years__item-displayed {
   color: @color_PeriodDialog-years-panel-displayed-year;
   font-size: @font-size_PeriodDialog-years-displayed-year;
   font-weight: bold;
}

.controls-PeriodDialog-Years__rangeBtn-regular {
   color: @color_PeriodDialog-years-rangeButton;
}
