.controls-HeaderCounter {
   display: inline-block;
}

.controls-HeaderCounter_size-l {
   font-size: @font-size_Counter_size-l;
}

.controls-HeaderCounter_size-m {
   font-size: @font-size_Counter_size-m;
}

.controls-HeaderCounter_size-s{
   font-size: @font-size_Counter_size-s;
}

.controls-HeaderCounter_style-primary_hovered,
.controls-HeaderCounter_style-secondary_hovered,
.controls-HeaderCounter_style-disabled_hovered {
   cursor: pointer;
}

.controls-HeaderCounter_style-primary, .controls-HeaderCounter_style-primary_hovered {
   color: @color_Counter_style-primary;
}

.controls-HeaderCounter_style-secondary, .controls-HeaderCounter_style-secondary_hovered {
   color: @color_Counter_style-secondary;
}

.controls-HeaderCounter_style-disabled, .controls-HeaderCounter_style-disabled_hovered {
   color: @color_Counter_style-disabled;
}

.controls-HeaderCounter_style-primary_hovered:active {
   color: @color_Counter_style-primary_hovered;
}

.controls-HeaderCounter_style-secondary_hovered:active {
   color: @color_Counter_style-secondary_hovered;
}

.ws-is-no-touch {
   .controls-HeaderCounter_style-primary_hovered:hover {
      color: @color_Counter_style-primary_hovered;
   }

   .controls-HeaderCounter_style-secondary_hovered:hover {
      color: @color_Counter_style-secondary_hovered;
   }
}