.controls-MonthViewVDOM {
   .flexbox();
   .flex-direction(column);
   text-align: center;
}

.controls-MonthViewVDOM__table {
   .flex-shrink(1);
   .flex-grow(1);
   .flexbox();
   .flex-direction(column);
   .align-items(stretch);
   width: 100%;
}

.controls-MonthViewVDOM__tableRow {
   .flex-grow(1);
   .flex-shrink(1);
   .flexbox();
   margin-right: 1px;
}

.controls-MonthViewVDOM__tableHead {
   text-align: center;
}

.controls-MonthViewVDOM__item {
   position: relative;

   .flex-grow(1);
   .flex-shrink(1);
   .flex-basis(0);
   .flexbox();
   .align-items(center);
   .justify-content(center);
   margin-top: 1px;
   margin-left: 1px;
   .box-sizing(content-box);
}

.ws-is-no-touch {
   .controls-MonthViewVDOM__hover-selectableItem {
      &:hover {
         background: @background_MonthView-item-hover;
      }
   }

   .controls-MonthViewVDOM__border-currentMonthDay-unselected {
      &:hover {
         outline: 1px solid @border-color__MonthView-item-hover;
      }
   }
}

.controls-MonthViewVDOM__item-selectedStart,
.controls-MonthViewVDOM__item-selectedEnd,
.controls-MonthViewVDOM__item-selectedInner,
.controls-MonthViewVDOM__item-selectedStart-unfinished,
.controls-MonthViewVDOM__item-selectedEnd-unfinished {
   outline-style: solid;
   outline-width: 1px;
}

.controls-MonthViewVDOM__item-selectedStart,
.controls-MonthViewVDOM__item-selectedEnd {
   font-weight: bold;
}

.controls-MonthViewVDOM__item-selectedStart:before {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
   left: -1px;
   z-index: 1;
}

.controls-MonthViewVDOM__item-selectedEnd:after {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
   right: -1px;
}

.controls-MonthViewVDOM__item-today-background {
   position: absolute;
}

.controls-MonthViewVDOM__item-title {
   position: relative;
}

.controls-MonthViewVDOM__cursor-item {
   cursor: pointer;
}

.controls-MonthView__theme(
   @width: null,
   @background: null,
   @height_item: null,
   @color_weekDayHeader: null,
   @font-size_weekDayHeader: null,
   @font-size_item: null,
   @border-color__item-selected: null,
   @width__item-selected-startEnd-hover: null,
   @border-color__item-selected-startEnd-hover: null,
   @background_item: null,
   @background_item-selected: null,
   @background_item-hover: null,
   @color_item: null,
   @color_item-weekend: null,
   @color_item-today: null,
   @color_item-other-month-day: null,
   @background-spacing_item-today: null,
   @border-radius_item-today: null,
   @background-color_item-today: null
) {

   .setStyle(@property, @value) {
      & when not (@value = null) {
         @{property}: @value;
      }
   }

   &.controls-MonthViewVDOM {
      .setStyle(width, @width);
      .setStyle(background, @background);
   }

   &.controls-MonthViewVDOM__tableRow {
      .setStyle(flex-basis, @height_item);
   }

   &.controls-MonthViewVDOM__tableHead {
      .setStyle(color, @color_weekDayHeader);
      .setStyle(font-size, @font-size_weekDayHeader);
   }

   .controls-MonthViewVDOM__item {
      .setStyle(font-size, @font-size_item);
   }

   .controls-MonthViewVDOM__item-selectedStart,
   .controls-MonthViewVDOM__item-selectedEnd,
   .controls-MonthViewVDOM__item-selectedInner,
   .controls-MonthViewVDOM__item-selectedStart-unfinished,
   .controls-MonthViewVDOM__item-selectedEnd-unfinished {
      .setStyle(outline-color, @border-color__item-selected);
   }

   .controls-MonthViewVDOM__item-selectedStart:before {
      .setStyle(width, @width__item-selected-startEnd-hover);
      .setStyle(background-color, @border-color__item-selected-startEnd-hover);
   }

   .controls-MonthViewVDOM__item-selectedEnd:after {
      .setStyle(width, @width__item-selected-startEnd-hover);
      .setStyle(background-color, @border-color__item-selected-startEnd-hover);
   }

   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-unselected {
      .setStyle(background, @background_item);
   }

   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected {
      .setStyle(background, @background_item-selected);
   }

   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished {
      .setStyle(background, @background_item-hover);
   }

   .controls-MonthViewVDOM__textColor-currentMonthDay-workday {
      .setStyle(color, @color_item);
   }

   .controls-MonthViewVDOM__textColor-currentMonthDay-weekend {
      .setStyle(color, @color_item-weekend);
   }

   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected,
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-unselected {
      .setStyle(color, @color_item-other-month-day);
   }

   .controls-MonthViewVDOM__today {
      .setStyle(color, @color_item-today);
   }

   .controls-MonthViewVDOM__item-today-background {
      .setStyle(top, @background-spacing_item-today);
      .setStyle(bottom, @background-spacing_item-today);
      .setStyle(left, @background-spacing_item-today);
      .setStyle(right, @background-spacing_item-today);
      .setStyle(border-radius, @border-radius_item-today);
      .setStyle(background-color, @background-color_item-today);
   }
}

.controls-MonthView__theme(
   @width: @width_MontView,
   @background: @background_MonthView,
   @height_item: @height_MonthView-item,
   @color_weekDayHeader: @color_MonthView-weekDayHeader,
   @font-size_weekDayHeader: @font-size_MontView-weekDayHeader,
   @font-size_item: @font-size_MonthView-item,
   @border-color__item-selected: @border-color__MonthView-item-selected,
   @width__item-selected-startEnd-hover: @width__MonthView-item-selected-startEnd-hover,
   @border-color__item-selected-startEnd-hover: @border-color__MonthView-item-selected-startEnd-hover,
   @background_item: @background_MonthView-item,
   @background_item-selected: @background_MonthView-item-selected,
   @background_item-hover: @background_MonthView-item-hover,
   @color_item: @color_MonthView-item,
   @color_item-weekend: @color_MonthView-item-weekend,
   @color_item-today: @color_MonthView-item-today,
   @background-spacing_item-today :@background-spacing_MonthView-item-today,
   @border-radius_item-today: @border-radius_MonthView-item-today,
   @background-color_item-today: @background-color_MonthView-item-today
);

// TODO: Тема для аккордеона. Временное решение, переделать когда будет понятно, как мы будем делать разные темы в рамках одной страницы.
.controls-MonthView__accordionTheme {
   .controls-MonthView__theme(
      @width: 196px,
      @background: #354758,
      @font-size_item: 14px,
      @height_item: 27px,
      @border-color__item-selected-startEnd-hover: transparent,
      @background_item: #354758,
      @background_item-selected: #354758,
      @color_item: #E9EBEC,
      @color_item-weekend: #FE9C9C,
      @color_item-today: #E9EBEC,
      @color_item-other-month-day: #666,
      @background-spacing_item-today: 0px,
      @border-radius_item-today: 3px,
      @background-color_item-today: transparent
   );

   &.controls-MonthViewVDOM__item-today-background {
      border: 2px solid #D94700;
   }
}

.ws-is-no-touch .controls-MonthView__accordionTheme {
   &.controls-MonthViewVDOM__border-currentMonthDay-unselected,
   &.controls-MonthViewVDOM__backgroundColor-otherMonthDay-unselected,
   &.controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected {
      cursor: pointer;

      &:hover {
         outline: none;
         background-color: #465E73;
         border-radius: 3px;
      }
   }
}
