<div>
   <Controls.Popup.Opener.Stack name="stackPanel">
      <ws:popupOptions template="Controls-demo/Popup/Opener/Compatible/resources/demoOldPanel"
                       closeByExternalClick="{{true}}"
                       isCompoundTemplate="{{ true }}">
         <ws:templateOptions type="stack"/>
      </ws:popupOptions>
   </Controls.Popup.Opener.Stack>
   
   <div style="padding:5px;">
      <Controls.Button name="stackButton" caption="stack" on:click="openStack()" attr:class="demo-OpenerCompatible__stackButton"/>
   </div>
   <div style="padding:5px;">
      <Controls.Button name="floatAreaButton" caption="openFloat" on:click="openFloat()" attr:class="demo-OpenerCompatible__floatAreaButton"/>
      <Controls.Button name="dialogButton" caption="openDialog" on:click="openDialog()" attr:class="demo-OpenerCompatible__dialogButton"/>
   </div>
   <div style="padding:5px">
      <Controls.Button name="stickyButton" caption="openSticky" on:click="openSticky()" attr:class="demo-OpenerCompatible__stickyButton"/>
      <Controls.Button name="dimensionButton" caption="openDimension" on:click="openDimension()" attr:class="demo-OpenerCompatible__dimensionButton"/>
   </div>
   <div style="padding:5px;">
      <div>
         <Controls.Toggle.Checkbox attr:id="border"
                                   bind:value="_border"
                                   caption="border (only non-stack)"/>
         <Controls.Toggle.Checkbox attr:id="maximize"
                                   bind:value="_maximize"
                                   caption="maximize (only dialog)"/>
      </div>

      <div>
         <Controls.Toggle.Checkbox attr:id="title"
                                   bind:value="_showTitle"
                                   caption="showTitle"/>
         <Controls.Toggle.Checkbox attr:id="enabled"
                                   bind:value="_enabled"
                                   caption="enabled"/>
      </div>
      <div>
         <Controls.Toggle.Checkbox attr:id="catchFocus"
                                   bind:value="_catchFocus"
                                   caption="catchFocus"/>
         <Controls.Toggle.Checkbox attr:id="canMaximize"
                                   readOnly="{{!!_width}}"
                                   bind:value="_canMaximize"
                                   caption="canMaximize"/>
      </div>
      <div>
         <Controls.Toggle.Checkbox attr:id="maximized"
                                   readOnly="{{!!_width}}"
                                   bind:value="_maximized"
                                   caption="maximized"/>
         <Controls.Toggle.Checkbox attr:id="modal"
                                   bind:value="_modal"
                                   caption="modal"/>
      </div>
      <div>
         <Controls.Toggle.Checkbox attr:id="autoHide"
                                   bind:value="_autoHide"
                                   caption="autoHide"/>
         <Controls.Toggle.Checkbox attr:id="draggable"
                                   bind:value="_draggable"
                                   caption="draggable (only dialog)"/>

      </div>
   </div>
   <div>
      <Controls.Input.Text
              attr:id="main_field"
              name="handlerBox"
              bind:value="_handlerText"
              placeholder="отображение отработки событий со старой панели"
      />
      <Controls.Button name="clearButton" caption="clearText" on:click="clearHandlers()" attr:class="demo-OpenerCompatible__clearButton"/>
   </div>
   <div class='controls-demo__combobox-container'>
      Set Width
      <Controls.Input.ComboBox source="{{_createMemory(_widthItems)}}"
                               keyProperty="title"
                               emptyText="Set width"
                               readOnly="{{!!_minWidth || !!_maxWidth}}"
                               displayProperty="title"
                               bind:selectedKey="_width"
                               placeholder="Set width"
							   attr:class="demo-OpenerCompatible__SetWidth"
      />
   </div>
   <div class='controls-demo__combobox-container'>
      Set min/max Width
      <Controls.Input.ComboBox source="{{_createMemory(_widthItems)}}"
                               keyProperty="title"
                               emptyText="Set minWidth"
                               readOnly="{{!!_width}}"
                               displayProperty="title"
                               bind:selectedKey="_minWidth"
                               placeholder="Set minWidth"
							   attr:class="demo-OpenerCompatible__setMinWidth"
      />
      <Controls.Input.ComboBox source="{{_createMemory(_widthItems)}}"
                               keyProperty="title"
                               emptyText="Set maxWidth"
                               readOnly="{{!!_width}}"
                               displayProperty="title"
                               bind:selectedKey="_maxWidth"
                               placeholder="Set maxWidth"
							   attr:class="demo-OpenerCompatible__setMaxWidth"
      />
      <div style="position: absolute; margin-left: 45%">
         <Controls.Button name="testTarget" caption="testTarget" attr:class="demo-OpenerCompatible__testTarget"/>
      </div>
   </div>
   <div class='controls-demo__combobox-container'>
      Set min/max Height
      <Controls.Input.ComboBox source="{{_createMemory(_heightItems)}}"
                               keyProperty="title"
                               emptyText="Set minHeight"
                               displayProperty="title"
                               bind:selectedKey="_minHeight"
                               placeholder="Set minHeight"
							   attr:class="demo-OpenerCompatible__setMinHeight"
      />
      <Controls.Input.ComboBox source="{{_createMemory(_heightItems)}}"
                               keyProperty="title"
                               emptyText="Set maxHeight"
                               displayProperty="title"
                               bind:selectedKey="_maxHeight"
                               placeholder="Set maxHeight"
							   attr:class="demo-OpenerCompatible__setMaxHeight"
      />
   </div>
   <div class='controls-demo__combobox-container'>
      Set side options
      <Controls.Input.ComboBox source="{{_createMemory(_sideItems)}}"
                               keyProperty="title"
                               emptyText="Set side"
                               displayProperty="title"
                               bind:selectedKey="_side"
                               placeholder="Set side"
							   attr:class="demo-OpenerCompatible__setSide"
      />
      Set direction options
      <Controls.Input.ComboBox source="{{_createMemory(_directionItems)}}"
                               keyProperty="title"
                               emptyText="Set direction"
                               displayProperty="title"
                               bind:selectedKey="_direction"
                               placeholder="Set direction"
							   attr:class="demo-OpenerCompatible__setDirection"
      />
      Set corner options
      <Controls.Input.ComboBox source="{{_createMemory(_sideItems)}}"
                               keyProperty="title"
                               emptyText="Set horizotal"
                               displayProperty="title"
                               bind:selectedKey="_horizontal"
                               placeholder="Set horizontal"
							   attr:class="demo-OpenerCompatible__setHorizontal"
      />
      <Controls.Input.ComboBox source="{{_createMemory(_verticalItems)}}"
                               keyProperty="title"
                               readOnly="{{!!_verticalAlign}}"
                               emptyText="Set vertical"
                               displayProperty="title"
                               bind:selectedKey="_vertical"
                               placeholder="Set vertical"
							   attr:class="demo-OpenerCompatible__setVertical"
      />
      Set verticalAlign
      <Controls.Input.ComboBox source="{{_createMemory(_verticalItems)}}"
                               keyProperty="title"
                               readOnly="{{!!_vertical}}"
                               emptyText="Set verticalAlign"
                               displayProperty="title"
                               bind:selectedKey="_verticalAlign"
                               placeholder="Set verticalAlign"
							   attr:class="demo-OpenerCompatible__setVerticalAlign"
      />
      Set offset
      <Controls.Input.ComboBox source="{{_createMemory(_offsetItems)}}"
                               keyProperty="title"
                               emptyText="Set X offset"
                               displayProperty="title"
                               bind:selectedKey="_offsetX"
                               placeholder="Set X offset"
							   attr:class="demo-OpenerCompatible__setOffsetX"
      />
      <Controls.Input.ComboBox source="{{_createMemory(_offsetItems)}}"
                               keyProperty="title"
                               emptyText="Set Y offset"
                               displayProperty="title"
                               bind:selectedKey="_offsetY"
                               placeholder="Set Y offset"
							   attr:class="demo-OpenerCompatible__setOffsetY"
      />
   </div>
</div>
