.demoTreeWithProto__wrapper {
   width: 1000px;
   display: flex;
   flex-wrap: wrap;
}
.demoTreeWithProto__gridWrapper {
   width: 50%;
   padding: 12px;
   box-sizing: border-box;
}
.demoTreeWithProto__imageBlock {
   align-self: flex-start;
}
.demoTreeWithProto__treeGrid16 .demoTreeWithProto__imageBlock {
   min-width: 16px;
   height: 16px;
   padding: 4px;
}
.demoTreeWithProto__treeGrid24 .demoTreeWithProto__imageBlock {
   min-width: 24px;
   height: 24px;
   padding-right: 6px;
}
.demoTreeWithProto__treeGrid32 .demoTreeWithProto__imageBlock,
.demoTreeWithProto__treeGridTwoLevels .demoTreeWithProto__imageBlock {
   min-width: 32px;
   height: 32px;
   padding-right: 6px;
}
.demoTreeWithProto__treeGrid40 .demoTreeWithProto__imageBlock {
   min-width: 40px;
   height: 40px;
   padding-right: 6px;
}