.controls-FilterLink {
   display: inline-flex;
   height: @height_FilterLink;
   align-items: center;
}

.controls-FilterLink__text {
   font-size: @font-size_FilterLink;
   color: @color_FilterLink;
   cursor: pointer;
   white-space: nowrap;
}

.ws-is-no-touch {
   .controls-FilterLink:hover {
      text-decoration: underline;
   }
}

.controls-FilterLink:active {
   text-decoration: underline;
}
