/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-FilterLink {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-FilterLink__text {
  font-size: 14px;
  color: #313e78;
  cursor: pointer;
  white-space: nowrap;
}
.ws-is-no-touch .controls-FilterLink:hover {
  text-decoration: underline;
}
.controls-FilterLink:active {
  text-decoration: underline;
}
