.controls-Scroll {
   position: relative;
   // Таким образом мы скрываем нативный скролл.
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

// Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.
.controls-Scroll_webkitOverflowScrollingAuto .controls-Scroll__content {
   -webkit-overflow-scrolling: auto;
}

// Use momentum-based scrolling, where the content continues to scroll for a while after finishing the scroll gesture and removing your finger from the touchscreen.
.controls-Scroll_webkitOverflowScrollingTouch .controls-Scroll .controls-Scroll__content {
   -webkit-overflow-scrolling: touch;
}

.controls-Scroll__scrollbar {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
}

.controls-Scroll__content {
   height: 100%;
   flex-grow: 1;
   display: flex;
   max-height: inherit;
   flex-direction: column;

   z-index: 1;
}

/**
 * Данный модификатор предназначен для ускорения работы во время прокрутки.
 * Вешать его следует только на контейнер, который по нашему предположению должен скролиться.
 * В противном случае это вызовет тормоза вместо оптимизации.
 * Подробнее https://developer.mozilla.org/ru/docs/Web/CSS/will-change.
 */
.controls-Scroll__content_possibleScroll {
   will-change: scroll-position;
}

.controls-Scroll__shadow {
   left: 0;
   right: 0;
   z-index: 2;
   position: absolute;
   pointer-events: none;
   height: @height-gradient_Scroll-shadow;
}

.controls-Scroll__shadow_top {
   top: 0;
   background: linear-gradient(
      to bottom,
      @start-color-gradient_Scroll-shadow, @end-color-gradient_Scroll-shadow
   );
}

.controls-Scroll__shadow_bottom {
   bottom: 0;
   background: linear-gradient(
      to top,
      @start-color-gradient_Scroll-shadow, @end-color-gradient_Scroll-shadow
   );
}

.controls-Scroll__content_hideNativeScrollbar::-webkit-scrollbar {
   width: 0px;
}

.controls-Scroll__content_scroll {
   overflow-y: scroll;
   overflow-x: hidden;
}

.controls-Scroll__content_auto {
   overflow: auto;
}

.controls-Scroll__content_hidden {
   overflow: hidden;
}

.controls-Scroll__measuredBlock {
   position: absolute;
   width: 100px;
   height: 100px;
   overflow: scroll;
   top: -9999px;
}

.controls-Scroll__paging {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 2;
}

.controls-Scroll__content_paging {
   padding-bottom: @height_Paging-button;
}
