/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Scroll {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.controls-Scroll_webkitOverflowScrollingAuto .controls-Scroll__content {
  -webkit-overflow-scrolling: auto;
}
.controls-Scroll_webkitOverflowScrollingTouch .controls-Scroll .controls-Scroll__content {
  -webkit-overflow-scrolling: touch;
}
.controls-Scroll__scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.controls-Scroll__content {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
/**
 * Данный модификатор предназначен для ускорения работы во время прокрутки.
 * Вешать его следует только на контейнер, который по нашему предположению должен скролиться.
 * В противном случае это вызовет тормоза вместо оптимизации.
 * Подробнее https://developer.mozilla.org/ru/docs/Web/CSS/will-change.
 */
.controls-Scroll__content_possibleScroll {
  will-change: scroll-position;
}
.controls-Scroll__shadow {
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  pointer-events: none;
  height: 8px;
}
.controls-Scroll__shadow_top {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.controls-Scroll__shadow_bottom {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.controls-Scroll__content_hideNativeScrollbar::-webkit-scrollbar {
  width: 0px;
}
.controls-Scroll__content_scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.controls-Scroll__content_auto {
  overflow: auto;
}
.controls-Scroll__content_hidden {
  overflow: hidden;
}
.controls-Scroll__measuredBlock {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: scroll;
  top: -9999px;
}
.controls-Scroll__paging {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.controls-Scroll__content_paging {
  padding-bottom: 32px;
}
