.controls-itemActionsV {
  align-items:center;
  display: none;
  position:absolute;
}

.controls-itemActionsV__wrapper_inside, .controls-itemActionsV__wrapper_outside {
  display: inline-flex;
  align-items: center;
}

.controls-itemActionsV__wrapper_inside {
  height: @height_itemActions_inside;
}

.controls-itemActionsV__wrapper_outside {
  height: @height_itemAction_outside;
}

.controls-itemActionsV_invisible {
  visibility: hidden;
  display: inline-flex;
}

.controls-itemActionsV_inside {
  padding: @padding_itemActions_inside;
  height: @height_itemActions_inside;
}

.controls-itemActionsV_style_default {
  background-color: @default-bg-color-hovered-item;
}

.controls-itemActionsV_style_master {
  background-color: @background-color_MasterList_item-selected;
}

.controls-itemActionsV_outside {
  right: 0;
  bottom: -@height_itemAction_outside;
  height: @height_itemAction_outside;
  background-color: @default-bg-color-hovered-item;
  padding: @padding_itemActions_outside;
  box-sizing: border-box;
  &:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border-top: @height_itemAction_outside solid @default-bg-color-hovered-item;
    border-left: @width_itemActions_outside_bevel solid transparent;
    left: -@width_itemActions_outside_bevel;
  }
}

.controls-itemActionsV_position_bottomRight {
  bottom: 0;
  right: 0;
}

.controls-itemActionsV_position_topRight {
  top: 0;
  right: 0;
}

.controls-itemActionsV_editing {
  background-color: @controls-editInPlace-editing-item-bg;
  &:before {
    border-top-color: @controls-editInPlace-editing-item-bg;
  }
}

.controls-itemActionsV_editingToolbarVisible {
  padding-right: 0;
}

.controls-itemActionsV__action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}
.controls-itemActionsV__action_padding {
  margin: 0 @spacing_itemActions_action;
}
.controls-itemActionsV__action_style_bordered {
  border-radius: @border-radius_ItemActions_action_bordered;
  border-style: @border-style_ItemActions_action_bordered;
  border-width: @thickness_ItemActions_action_bordered;
  box-shadow: @box-shadow_ItemActions_action_bordered;
  border-color: @border-color_ItemActions_action_bordered;
  &:last-child {
    margin: 0 0 0 @spacing_itemActions_action;
  }
}

.action_icon_style_error {
  color: @error-color;
}

.action_icon_style_done {
  color: @success-color;
}

.action_icon_style_default {
  color: @color_primary;
}

.action_icon_style_attention {
  color: @warning-color;
}

//since Opener does not know the specific size of the icon
.controls-itemActionsV__popup .icon-size{
  .icon-size-without-important(@default-icon-size-medium, @default-icon-medium-font);
}

.controls-itemActionsV__action_icon {
  .icon-size-without-important(@default-icon-size-medium, @default-icon-medium-font);
}

.controls-itemActionsV__action_title {
  min-height: @default-icon-size;
}

.controls-itemActionsV__action_title_style_default {
  color: @color_Link-text;
  font-size:@small-text-size;
}

.ws-is-no-touch {
  .controls-itemActionsV__action_title_style_default {
    &:hover {
      color: @color_Link-text_active;
      text-decoration: underline;
    }
  }
}
.controls-itemActionsV_swiped {
  display: inline-flex;
}
.ws-is-no-touch {
  .controls-itemActionsV__action_icon.icon-primary{
    &:hover {
      color: @icon-color-primary-hover;
    }
  }
}
.ws-is-no-touch {
  .action_icon_style_error {
    &:hover {
      border-color: @error-color;
    }
  }
}
.ws-is-no-touch {
  .action_icon_style_done {
    &:hover {
      border-color: @success-color;
    }
  }
}

.ws-is-no-touch {
  .controls-itemActionsV__action_done {
    &:hover {
      border-color: @success-color;
    }
  }
}

.ws-is-no-touch {
  .controls-itemActionsV__action_error {
    &:hover {
      border-color: @error-color;
    }
  }
}