.controlsDemo-StickyHeader {
   width: 700px;
   height: 300px;
}

.controlsDemo-StickyHeader__stickyHeader {
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   margin-bottom: 8px;
   padding: 8px 0;
   border-bottom: 2px solid #009dd9;
}