<div attr:class="controls-itemActionsV
            controls-itemActionsV_{{itemActionsPosition}}
            {{itemData.isEditing ? 'controls-itemActionsV_editing'}}
            {{menuIsShown ? 'controls-itemActionsV_invisible'}}
            {{itemData.isSwiped ? 'controls-itemActionsV_swiped'}}">
    <div attr:class="controls-itemActionsV__wrapper_{{itemActionsPosition}}">
        <ws:partial
                template="wml!Controls/List/ItemActions/resources/ItemActionsFor"
                itemData="{{itemData}}"
                showedActions="{{itemData.itemActions.showed}}"/>
    </div>
</div>