.controls-GroupRadio_enabled {
   cursor: pointer;
}

.controls-RadioGroup_defaultItem_horizontal {
   padding-left: @spacing-between-radioItems_horizontal;
}

.controls-RadioGroup_defaultItem_vertical {
   padding-top: @spacing-between-radioItems_vertical;
}

.controls-RadioItem__wrapper {
   height: @height_RadioItem;
   .inline-flexbox();
   .align-items(baseline);
}

.controls-RadioItem__wrapper:before {
   content: '\200b';
}

.controls-RadioItem__caption {
    padding-left: @spacing-between-radioItem-icon-caption;
 }

.controls-RadioItem__caption_selected_disabled,
.controls-RadioItem__caption_selected_enabled {
   color: @color_RadioItem__caption_selected;
}

.controls-RadioItem__caption_unselected_disabled {
   color: @color_RadioItem__caption_unselected_disabled;
}

.controls-RadioItem__caption_unselected_enabled {
   color: @color_RadioItem__caption_unselected_enabled;
}

.controls-RadioGroup__wrapper_horizontal {
   .inline-flexbox();
   .flex-direction(row);
}

.controls-RadioGroup__wrapper_vertical {
   .inline-flexbox();
   .flex-direction(column);
}

.ws-is-no-touch {
   .controls-RadioItem__wrapper:hover {
      .controls-SwitchCircle__borderCircle_enabled {
         fill: @color_ToggleCircle_outerCircle__enabled_hovered;
      }

      .controls-RadioItem__caption_unselected_enabled {
         text-decoration: underline;
      }
   }
}