.controls-AdditionalParams__items {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   margin-left: @spacing_FilterPanel-items;
}

.controls-AdditionalParams__item {
   display: flex;
   align-items: center;
   color: @color_AdditionalParams-item;
   height: @height_AdditionalParams-item;
   width: 50%;
}