.controls-BreadCrumbsView {
  white-space: nowrap;
  height: 24px;
}
.controls-BreadCrumbsView__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
  width: 100%;
}
.controls-BreadCrumbsView__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 24px;
  width: 100%;
}
.controls-BreadCrumbsView__crumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 0;
}
.controls-BreadCrumbsView__titleWrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: 0;
}
.controls-BreadCrumbsView__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #0055BB;
}
.controls-BreadCrumbsView__crumb_withOverflow {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 52px;
}
.controls-BreadCrumbsView__titleWrapper_withOverflow {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 36px;
}
.controls-BreadCrumbsView__arrow {
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
}
.controls-BreadCrumbsView__home {
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  padding-right: 4px;
}
.controls-BreadCrumbsView__title_min {
  min-width: 36px;
}
.controls-BreadCrumbsController__menu {
  max-width: 800px;
}
.controls-BreadCrumbsView__menuItem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}
.controls-BreadCrumbsView__menuItem:before {
  content: '\200b';
  width: 0;
  display: inline-block;
  visibility: hidden;
}
.controls-BreadCrumbsView__menuTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: inline-block;
  width: 100%;
}
.controls-BreadCrumbsView__indentation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 14px;
  width: 13px;
}
.controls-BreadCrumbsView__indentation:last-of-type {
  background: url('/resources/Controls-theme/themes/default/img/BreadCrumbs_corner.svg') no-repeat;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.ws-is-no-touch .controls-BreadCrumbsView__title:hover {
  color: #313E78;
  text-decoration: underline;
}
.ws-is-no-touch .controls-BreadCrumbsView__home:hover {
  color: #313E78;
}
.controls-BreadCrumbsView__crumbMeasurer {
  font-family: 'TensorFont', "Courier New";
}
