/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Separator__icon_size {
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons';
}
.controls-Separator__icon_style-secondary {
  color: #587AB0;
}
.controls-Separator__icon_style-primary {
  color: #D94700;
}
.controls-Separator__icon_style-additional {
  color: #8991A9;
}
.controls-Separator__wrapper {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-Separator__wrapper:before {
  content: '\200b';
}
.controls-Separator__icon {
  display: inline-block;
}
.controls-Separator__icon_style-secondary:active {
  color: #313E78;
}
.controls-Separator__icon_style-primary:active {
  color: #FF7033;
}
.controls-Separator__icon_style-additional:active {
  color: #313E78;
}
.ws-is-no-touch .controls-Separator__icon_style-secondary:hover {
  color: #313E78;
}
.ws-is-no-touch .controls-Separator__icon_style-primary:hover {
  color: #FF7033;
}
.ws-is-no-touch .controls-Separator__icon_style-additional:hover {
  color: #313E78;
}
