/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-ImportCustomizer-Area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-ImportCustomizer-Area_dialog {
  width: 900px;
  height: 100%;
  padding: 39px 0 0 0;
}
.controls-ImportCustomizer-Area__head {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 52px 0 12px;
}
.controls-ImportCustomizer-Area__head-caption {
  flex-srink: 0;
  margin: 0 8px 3px 0;
  color: #313E78;
  font-size: 18px;
  font-weight: bold;
}
.controls-ImportCustomizer-Area__head-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.controls-ImportCustomizer-Area__applyButton {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0 0 10px;
}
.controls-ImportCustomizer-Area__body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 10px 0;
}
.controls-ImportCustomizer-Area__body__box {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #f7f4f0;
  padding: 0 12px 10px 12px;
}
.controls-ImportCustomizer-Area__body__box-not-pad {
  padding: 0 0 10px 0;
}
.controls-ImportCustomizer-Area__body__box:last-child {
  margin-bottom: 0;
  border-bottom: 0 none;
  padding-bottom: 0;
}
