.ws-is-no-touch {
   .controls-ListView__itemV:hover {
      .controls-EditingTemplateText_enabled {
         background-color: @background-color_InputRender;
         border-color: @border-color_InputRender;
         cursor: text;
      }
      .controls-EditingTemplateText_enabled:hover {
         border-color: @border-color_InputRender_hover;
      }
   }
}

.controls-EditingTemplateText__editorWrapper {
   flex-grow: 1;
   min-width: 0;
   max-width: 100%;
}

.controls-EditingTemplateText__editorWrapper_align_left {
   margin-left: -@default-padding;
}

.controls-EditingTemplateText__editorWrapper_align_right {
   margin-right: -@default-padding;
}

.controls-EditingTemplateText {
   .baseline-fix();
   flex-shrink: 1;
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   border-width: @border-width_InputRender;
   border-style: solid;
   border-color: transparent;
   padding: @padding_InputRender;
   width: 100%;
}

.controls-EditingTemplateText__editor {
   width: 100%;
}

.controls-EditingTemplateText__inner {
   .text-overflow();
   width: 100%;
   display: inline-block;
}

.controls-EditingTemplateText_size_default {
   height: @height_InputRender_default;
   font-size: @font-size_InputRender_default;
}

.controls-EditingTemplateText_size_m {
   height: @height_InputRender_m;
   font-size: @font-size_InputRender_m;
}

.controls-EditingTemplateText_size_l {
   height: @height_InputRender_l;
   font-size: @font-size_InputRender_l;
}

.controls-EditingTemplateText_size_s {
   height: @height_InputRender_default;
   font-size: @small-text-size;
}