.controls-demo_options-wrapper{
  min-width: 250px;
  padding: 3em;
  border-radius: 2px;
  border: #0606066e solid 2px;
  display: flex;
  box-shadow: 1px 0 4px 0 #ccc;
}
.controls-demo_example-wrapper, .controls-demo_event-wrapper {
  height: 100%;
  padding: 3em;
  box-sizing: border-box;
  border-radius: 2px;
  border: #0606066e solid 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 1px 0 4px 0 #ccc;
}
.controls-demo_event-example__wrapper {
  min-width: 250px;
  display: flex;
  margin-left: -2px;
  flex-direction: column;
  justify-content: space-between;
}
.controls-demo-pg {
  max-width: 100%;
}
.controls-demo_Wrapper {
  display: flex;
  margin: 0 0 0 5%;
  min-width: 600px;
}
.controls-PropertyGrid__items {
  width: 100%;
}