.controls-BaseControl__pagingContainer {
   pointer-events: none;
   position: absolute;
   position: -webkit-sticky;
   position: sticky;
   bottom: 0;
   right: 0;
   top: auto;
   z-index: 1;
   display: flex;
   justify-content: flex-end;
}
.controls-BaseControl__scrollPaging {
   pointer-events: auto;
   border: solid @color_primary;
   border-width: @border-width_ScrollPaging;
}
.controls-BaseControl__loadingIndicator {
   left: 0;
   right: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: auto;
   z-index: 1;
}
.controls-BaseControl__loadingIndicator__state-up {
   position: absolute;
   top: 0;
}
.controls-BaseControl__loadingIndicator__state-all {
   position: absolute;
   top: 0;
   bottom: 0;
}
.controls-BaseControl__loadingIndicatorImg {
   background: url('/cdn/img/common/1.0.0/ajax-loader-indicator.gif') 0 0 no-repeat;/**/
   width: 32px;
   height: 32px;
}
.controls-BaseControl__trigger  {
   position: relative;
}
// for correct view actions in last row
.controls-BaseControl__lastRowActions_outside {
   margin-bottom: @margin-bottom_Actions_outside;
}
.controls-BaseControl__lastRowActions_inside {
   margin-bottom: @margin-bottom_Actions_inside;
}