.resultViewer {
  padding: 0 12px;
  color: red;
  position: fixed;
  left: 10px;
  top: 0;
}
html, body, .ControlsDemo-Page, .ControlsDemo-Page_content {
  height: unset;
  overflow: visible;
}
.container {
  .flexbox();
}
.wrapper {
  .flexbox();
  .align-items(center);
  .justify-content(center);
  .flex-direction(column);
  width: 50%;
}
.span_label {
  color: #8991A9;
  padding: 0 4px;
}
.header {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}
.subheader {
  font-size: 18px;
}
.demo_element {
  padding: 4px;
  margin: 10px;
  .flexbox();
  .justify-content(space-between);
  .align-items(baseline);
}
