.notes .notes-item {
   position: absolute;
   background-color: #fffbe4;
   box-shadow: 1px 0 4px 0 #ccc;
   border-left: none;
   z-index: 1;
}

.notes .controls-ListView {
   position: static;
}

.notes .notes-draggingItem {
   z-index: 2;
   opacity: 0.5;
}

.notes-title {
   font-size: 18px;
   padding: 4px;
}

.notes-triangle {
   position: absolute;
   bottom: -16px;
   right: -20px;
   cursor: nwse-resize;
   width: 64px;
   height: 64px;
   font-family: 'cbuc-icons' !important;
   font-size: 64px;
}
