/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-StickyHeader {
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
}
.controls-StickyHeader__observationTargetTop,
.controls-StickyHeader__observationTargetBottom {
  left: 0;
  right: 0;
  height: 1px;
  position: absolute;
}
.controls-StickyHeader__observationTargetTop {
  top: -2px;
}
.controls-StickyHeader__observationTargetBottom {
  bottom: -2px;
}
.controls-StickyHeader__shadow {
  bottom: -8px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
