<div>
   <ControlsSandbox.Validation.Panel.Panel>
      <ws:content>
         <ControlsSandbox.Validation.Panel.Panel>
            <ws:content>
               <ws:Controls.Validate.Input name="validate">
                  <ws:validators>
                     <ws:Function value="{{ myText }}">ControlsSandbox/Validators/IsEmail</ws:Function>
                  </ws:validators>
                  <ws:content>
                     <ControlsSandbox.Validation.TextBox.TextBox name="textBox" bind:text="myText" class="textBox"/>
                  </ws:content>
               </ws:Controls.Validate.Input>
            </ws:content>
         </ControlsSandbox.Validation.Panel.Panel>
      </ws:content>
   </ControlsSandbox.Validation.Panel.Panel>

   <input type="text" placeholder="для увода фокуса" class="input"/>
</div>