.controls-MonthSlider-Slider {
   position: relative;
   overflow: hidden;
}

.controls-MonthSlider-Slider__item {
   position: absolute;
   transition: none;
   height: 100%;
   width: 100%;
}

.controls-MonthSlider-Slider__slideLeftRight-animate {
   transition: left .3s;
}

.controls-MonthSlider-Slider__slideLeftRight-center {
   left: 0%;
}

.controls-MonthSlider-Slider__slideLeftRight-left {
   left: -100%;
}

.controls-MonthSlider-Slider__slideLeftRight-right {
   left: 100%;
}
