@import "Controls-theme/themes/default/fonts/glyphs";
@font-face {
   font-family: 'carrypresto-icons';
   src:  url('carrypresto/carrypresto-icons.eot?mjswbb');
   src:  url('carrypresto/carrypresto-icons.eot?mjswbb#iefix') format('embedded-opentype'),
   url('carrypresto/carrypresto-icons.ttf?mjswbb') format('truetype'),
   url('carrypresto/carrypresto-icons.woff2?mjswbb') format('woff2'),
   url('carrypresto/carrypresto-icons.woff?mjswbb') format('woff'),
   url('carrypresto/carrypresto-icons.svg?mjswbb#carrypresto-icons') format('svg');
   font-weight: normal;
   font-style: normal;
}

.cp-icon-ConnectionPeriod:before {
  content: "\e9eb";
}
.cp-icon-BigRemark:before {
  content: "\e9ea";
}
.cp-icon-Rabota:before {
  content: "\e9e8";
}
.cp-icon-SettingsNew:before {
   content: "\e9d9";
}
.cp-icon-SbisCloud:before {
   content: "\e9dd";
}
.cp-icon-SbisBird:before {
   content: "\e9e2";
}
.cp-icon-TFDocumentVsdx:before {
   content: "\e9d0";
}
.cp-icon-UnSubscribe:before {
   content: "\e9d1";
}
.cp-icon-Subscribe:before {
   content: "\e9d2";
}
.cp-icon-TheNote:before {
   content: "\e9d3";
}
.cp-icon-Price:before {
   content: "\e9d4";
}
.cp-icon-ArrowTimeForward:before {
   content: "\e9d5";
}
.cp-icon-ArrowTimeBackward:before {
   content: "\e9d6";
}
.cp-icon-AccordionArrowDown:before {
   content: "\e9d7";
}
.cp-icon-AccordionArrowUp:before {
   content: "\e9d8";
}
.cp-icon-Cashbox:before {
   content: "\e9cf";
}
.cp-icon-NotesFill:before {
   content: "\e9ce";
}
.cp-icon-TimeHistory:before {
   content: "\e9c3";
}
.cp-icon-PinCode:before {
   content: "\e9c4";
}
.cp-icon-Key:before {
   content: "\e9c5";
}
.cp-icon-Column2:before {
   content: "\e9c6";
}
.cp-icon-Column1:before {
   content: "\e9c7";
}
.cp-icon-QuestionNew:before {
   content: "\e9c9";
}
.cp-icon-TFDocumentMP4:before {
   content: "\e9cb";
}
.cp-icon-TFDocumentODS:before {
   content: "\e9cc";
}
.cp-icon-RubleNone:before {
   content: "\e9cd";
}
.cp-icon-MarkCollapseBold:before {
   content: "\e9bf";
}
.cp-icon-MarkLeftBold:before {
   content: "\e9c0";
}
.cp-icon-MarkExpandBold:before {
   content: "\e9c1";
}
.cp-icon-MarkRightBold:before {
   content: "\e9c2";
}
.cp-icon-RemarkNull:before {
   content: "\e9bd";
}
.cp-icon-Remark:before {
   content: "\e9be";
}
.cp-icon-CarryDiscount:before {
   content: "\e9bb";
}
.cp-icon-Offline:before {
   content: "\e9bc";
}
.cp-icon-TimeOK:before {
   content: "\e9ba";
}
.cp-icon-FilterSmall:before {
   content: "\e9ac";
}
.cp-icon-MicrophoneNull:before {
   content: "\e9b1";
}
.cp-icon-CollapseLight:before {
   content: "\e9a8";
}
.cp-icon-MarkCLeftLight:before {
   content: "\e9a9";
}
.cp-icon-ExpandLight:before {
   content: "\e9aa";
}
.cp-icon-MarkCRightLight:before {
   content: "\e9ab";
}
.cp-icon-PicBtr:before {
   content: "\e9a3";
}
.cp-icon-Shadow:before {
   content: "\e9a5";
}
.cp-icon-FolderIOS:before {
   content: "\e99a";
}
.cp-icon-Line:before {
   content: "\e999";
}
.cp-icon-Down:before {
   content: "\e996";
}
.cp-icon-Up:before {
   content: "\e997";
}
.cp-icon-ArrangeList04:before {
   content: "\e994";
}
.cp-icon-ArrangeList03:before {
   content: "\e995";
}
.cp-icon-Sbis:before {
   content: "\e98c";
}
.cp-icon-DiscountCardSale:before {
   content: "\e98e";
}
.cp-icon-Calc:before {
   content: "\e981";
}
.cp-icon-TurnList:before {
   content: "\e97a";
}
.cp-icon-BidUp:before {
   content: "\e97b";
}
.cp-icon-PinNull:before {
   content: "\e97c";
}
.cp-icon-Last:before {
   content: "\e97d";
}
.cp-icon-Forward:before {
   content: "\e97e";
}
.cp-icon-Back2:before {
   content: "\e97f";
}
.cp-icon-First:before {
   content: "\e980";
}
.cp-icon-PhonePause:before {
   content: "\e973";
}
.cp-icon-PhoneNumber:before {
   content: "\e974";
}
.cp-icon-Motion:before {
   content: "\e96f";
}
.cp-icon-EmptyFolderOpen:before {
   content: "\e96b";
}
.cp-icon-EmptyFolderClosed:before {
   content: "\e96c";
}
.cp-icon-FolderOpen:before {
   content: "\e96d";
}
.cp-icon-FolderClosed:before {
   content: "\e96e";
}
.cp-icon-TimeOff:before {
   content: "\e963";
}
.cp-icon-DocumentBase:before {
   content: "\e967";
}
.cp-icon-Scissors:before {
   content: "\e969";
}
.cp-icon-VacationNull:before {
  content: "\e96a";
}
.cp-icon-UnFullScrin:before {
   content: "\e95e";
}
.cp-icon-FullScrin:before {
   content: "\e95f";
}
.cp-icon-Oval:before {
   content: "\e960";
}
.cp-icon-LongList:before {
   content: "\e961";
}
.cp-icon-ShortList:before {
   content: "\e962";
}
.cp-icon-MoneyOk:before {
   content: "\e95b";
}
.cp-icon-LockOK:before {
   content: "\e95c";
}
.cp-icon-AddButtonNew:before {
   content: "\e95d";
}
.cp-icon-CbPlus:before {
   content: "\e959";
}
.cp-icon-FilterNew:before {
   content: "\e94c";
}
.cp-icon-Degradation:before {
   content: "\e94d";
}
.cp-icon-Rectangle:before {
   content: "\e94e";
}
.cp-icon-Scale:before {
   content: "\e94f";
}
.cp-icon-statusDeparted:before {
  content: "\e94b";
}
.cp-icon-GeoCluster:before {
   content: "\e947";
}
.cp-icon-GeoMarker:before {
   content: "\e948";
}
.cp-icon-statusTable:before {
   content: "\e93d";
}
.cp-icon-Pin2:before {
   content: "\e930";
}
.cp-icon-Successful2:before {
   content: "\e92c";
}
.cp-icon-EmoiconAngryInvert:before {
   content: "\e92d";
}
.cp-icon-Group:before {
   content: "\e92b";
}
.cp-icon-Delete02:before {
   content: "\e92a";
}
.cp-icon-Barcode:before {
   content: "\e925";
}
.cp-icon-Enter:before {
   content: "\e927";
}
.cp-icon-MapMarker:before {
   content: "\e928";
}
.cp-icon-Home3:before {
   content: "\e920";
}
.cp-icon-Notes:before {
   content: "\e91f";
}
.cp-icon-Classifications:before {
   content: "\e918";
}
.cp-icon-Directory:before {
   content: "\e919";
}
.cp-icon-PatternsPoints:before {
   content: "\e91a";
}
.cp-icon-Statistics:before {
   content: "\e91b";
}
.cp-icon-DesktopOff:before {
   content: "\e917";
}
.cp-icon-ChangeAccount:before {
   content: "\e916";
}
.cp-icon-Album:before {
   content: "\e90a";
}
.cp-icon-DesktopComplete:before {
   content: "\e90b";
}
.cp-icon-MicrophoneOff:before {
   content: "\e90c";
}
.cp-icon-Desktop:before {
   content: "\e90d";
}
.cp-icon-SoundMax:before {
   content: "\e90e";
}
.cp-icon-SoundMidi:before {
   content: "\e910";
}
.cp-icon-SoundMini:before {
   content: "\e911";
}
.cp-icon-SoundOff:before {
   content: "\e912";
}
.cp-icon-QR:before {
   content: "\e915";
}
.cp-icon-Sorting:before {
   content: "\e909";
}
.cp-icon-Egais:before {
   content: "\e905";
}
.cp-icon-Admin2off:before {
   content: "\e906";
}
.cp-icon-Sent3:before {
   content: "\e908";
}
.cp-icon-WeekUp:before {
   content: "\e902";
}
.cp-icon-WeekDown:before {
   content: "\e903";
}
.cp-icon-DocumentXmlEdit:before {
   content: "\e900";
}
.cp-icon-SbisDisk:before {
   content: "\e901";
}
.cp-icon-OCR:before {
   content: "\e803";
}
.cp-icon-ExpandUp:before {
   content: "\e801";
}
.cp-icon-ExpandDown:before {
   content: "\e802";
}
.cp-icon-Autonomcash:before {
  content: "\e76c";
}
.cp-icon-Skeleton:before {
  content: "\e76d";
}
.cp-icon-AddNote:before {
   content: "\e76e";
}
.cp-icon-Check3:before {
   content: "\e76f";
}
.cp-icon-Android:before {
   content: "\e769";
}
.cp-icon-iOS:before {
   content: "\e76a";
}
.cp-icon-Responsible2:before {
   content: "\e767";
}
.cp-icon-RemoveAdd:before {
   content: "\e766";
}
.cp-icon-OutHotel:before {
   content: "\e765";
}
.cp-icon-GooglePlus:before {
  content: "\e763";
}
.cp-icon-ViewBack:before {
   content: "\e76";
}
.cp-icon-Vkrugu:before {
  content: "\e762";
}
.cp-icon-Yes:before {
   content: "\e75e";
}
.cp-icon-Admin2:before {
   content: "\e760";
}
.cp-icon-TFSettings:before {
   content: "\e75d";
}
.cp-icon-SignatureNone:before {
   content: "\e74a";
}
.cp-icon-IntangibleAssets:before {
   content: "\e74c";
}
.cp-icon-Property:before {
   content: "\e74d";
}
.cp-icon-Resources:before {
   content: "\e74e";
}
.cp-icon-TFAttach:before {
   content: "\e74f";
}
.cp-icon-TFCloudKey:before {
   content: "\e750";
}
.cp-icon-TFDelete:before {
   content: "\e752";
}
.cp-icon-TFEmployees:before {
   content: "\e753";
}
.cp-icon-TFForward:before {
   content: "\e755";
}
.cp-icon-TFMyDocuments:before {
   content: "\e757";
}
.cp-icon-TFTask:before {
   content: "\e758";
}
.cp-icon-TFUSBDrive:before {
   content: "\e759";
}
.cp-icon-TFUSBKey:before {
   content: "\e75a";
}
.cp-icon-TFAdjustmentReport:before {
   content: "\e729";
}
.cp-icon-TFImage:before {
   content: "\e72a";
}
.cp-icon-MedicineChest:before {
   content: "\e72d";
}
.cp-icon-TFComputer:before {
   content: "\e730";
}
.cp-icon-TFDesktop:before {
   content: "\e731";
}
.cp-icon-TFDocument:before {
   content: "\e732";
}
.cp-icon-TFDocumentP:before {
   content: "\e733";
}
.cp-icon-TFDocumentPDF:before {
   content: "\e734";
}
.cp-icon-TFDocumentUnknownType:before {
   content: "\e735";
}
.cp-icon-TFDocumentW:before {
   content: "\e736";
}
.cp-icon-TFDocumentX:before {
   content: "\e737";
}
.cp-icon-TFDocumentXml:before {
   content: "\e738";
}
.cp-icon-TFDownload:before {
   content: "\e739";
}
.cp-icon-TFExpand:before {
   content: "\e73a";
}
.cp-icon-TFFavorite:before {
   content: "\e73b";
}
.cp-icon-TFFolder:before {
   content: "\e73e";
}
.cp-icon-TFFolder2:before {
   content: "\e73f";
}
.cp-icon-TFFollow:before {
   content: "\e740";
}
.cp-icon-TFList:before {
   content: "\e741";
}
.cp-icon-TFList2:before {
   content: "\e742";
}
.cp-icon-TFLocalDrive:before {
   content: "\e743";
}
.cp-icon-TFNetwork:before {
   content: "\e744";
}
.cp-icon-TFNetworkDrive:before {
   content: "\e745";
}
.cp-icon-TFNewTab:before {
   content: "\e746";
}
.cp-icon-TFPreview:before {
   content: "\e747";
}
.cp-icon-TFPreview2:before {
   content: "\e748";
}
.cp-icon-TFZip:before {
   content: "\e749";
}
.cp-icon-ArrangeList:before {
   content: "\e708";
}
.cp-icon-ArrangeSmallIconsPreview:before {
   content: "\e720";
}
.cp-icon-Hand:before {
   content: "\e721";
}
.cp-icon-DetailList:before {
   content: "\e71a";
}
.cp-icon-DiscountCard:before {
   content: "\e71b";
}
.cp-icon-TrendDown:before {
   content: "\e71c";
}
.cp-icon-TrendUp:before {
   content: "\e71d";
}
.cp-icon-Arrow1730Null:before {
   content: "\e715";
}
.cp-icon-ArrowDownNull:before {
   content: "\e716";
}
.cp-icon-ArrowUpNull:before {
   content: "\e717";
}
.cp-icon-DayBackwardNull:before {
   content: "\e718";
}
.cp-icon-DayForwardNull:before {
   content: "\e719";
}
.cp-icon-ContactSearch:before {
   content: "\e704";
}
.cp-icon-HardDrive:before {
   content: "\e705";
}
.cp-icon-Microphone:before {
   content: "\e706";
}
.cp-icon-Discount:before {
   content: "\e703";
}
.cp-icon-Presto:before {
   content: "\e701";
}
.cp-icon-ReduceButton:before {
   content: "\e702";
}
.cp-icon-ButtonLeft:before {
  content: "\e6ff";
}
.cp-icon-ButtonRight:before {
  content: "\e700";
}
.cp-icon-EditHover:before {
   content: "\e6fe";
}
.cp-icon-Paste:before {
   content: "\e6fd";
}
.cp-icon-Author:before {
   content: "\e6f2";
}
.cp-icon-Pack:before {
   content: "\e6f6";
}
.cp-icon-Unite:before {
   content: "\e6fa";
}
.cp-icon-Archive:before {
   content: "\e6ec";
}
.cp-icon-Photo:before {
   content: "\e6ed";
}
.cp-icon-ArrangeColomns:before {
   content: "\e6da";
}
.cp-icon-ArrangeLargeIcons1:before {
   content: "\e6db";
}
.cp-icon-ArrangeLargeIcons2:before {
   content: "\e6dc";
}
.cp-icon-ArrangeList1:before {
   content: "\e6dd";
}
.cp-icon-ArrangeList2:before {
   content: "\e6de";
}
.cp-icon-ArrangePreview:before {
   content: "\e6df";
}
.cp-icon-Crop:before {
   content: "\e6e0";
}
.cp-icon-ZoomIn:before {
   content: "\e6e9";
}
.cp-icon-ZoomOut:before {
   content: "\e6ea";
}
.cp-icon-LessButton:before {
   content: "\e6d4";
}
.cp-icon-MoreButton:before {
   content: "\e6d5";
}
.cp-icon-Dollar:before {
   content: "\e6d6";
}
.cp-icon-Euro:before {
   content: "\e6d7";
}
.cp-icon-Listbox:before {
   content: "\e6d8";
}
.cp-icon-Next:before {
   content: "\e6d9";
}
.cp-icon-NodeExpanded:before {
   content: "\e6d2";
}
.cp-icon-NodeCurtailed:before {
   content: "\e6d3";
}
.cp-icon-EmoiconAngry:before {
  content: "\e6a9";
}
.cp-icon-EraseHover:before {
   content: "\e6c5";
}
.cp-icon-Picture:before {
   content: "\e6c9";
}
.cp-icon-Redo2:before {
   content: "\e6ca";
}
.cp-icon-Undo2:before {
   content: "\e6cf";
}
.cp-icon-Unlink:before {
   content: "\e6d0";
}
.cp-icon-WWW:before {
   content: "\e6d1";
}
.cp-icon-MixPayment2:before {
   content: "\e6a6";
}
.cp-icon-Link:before {
   content: "\e6a7";
}
.cp-icon-InputHistory:before {
   content: "\e6a8";
}
.cp-icon-Redo:before {
   content: "\e6a1";
}
.cp-icon-View:before {
   content: "\e6a2";
}
.cp-icon-Ruble:before {
   content: "\e6a3";
}
.cp-icon-Birthday:before {
   content: "\e6a4";
}
.cp-icon-Truck:before {
   content: "\e6a5";
}
.cp-icon-Back:before {
   content: "\e69c";
}
.cp-icon-PaymentPart:before {
   content: "\e695";
}
.cp-icon-Payment:before {
   content: "\e696";
}
.cp-icon-PhoneGetManually:before {
   content: "\e615";
}
.cp-icon-PhoneGetAutomatically:before {
   content: "\e624";
}
.cp-icon-Search2:before {
   content: "\e662";
}
.cp-icon-AddButton:before {
   content: "\e694";
}
.cp-icon-VideoCall:before {
   content: "\e693";
}
.cp-icon-Sandclock:before {
   content: "\e68f";
}
.cp-icon-MixPayment:before {
   content: "\ea0d";
}
.cp-icon-Arrow1730:before {
   content: "\e692";
}
.cp-icon-CallOutgoing:before {
  content: "\e65f";
}
.cp-icon-CallIncoming:before {
  content: "\e68e";
}
.cp-icon-UnPublish:before {
   content: "\e62f";
}
.cp-icon-EditComment:before {
   content: "\e610";
}
.cp-icon-Question2:before {
   content: "\e68b";
}
.cp-icon-Bids:before {
   content: "\e68c";
}
.cp-icon-Time:before {
   content: "\e68d";
}
.cp-icon-WeekBackward:before {
   content: "\e685";
}
.cp-icon-WeekForward:before {
   content: "\e681";
}
.cp-icon-ExpandList:before {
   content: "\e67d";
}
.cp-icon-CurtailList:before {
   content: "\e658";
}
.cp-icon-Signature:before {
   content: "\e68a";
}
.cp-icon-Home2:before {
   content: "\e64c";
}
.cp-icon-Pin:before {
   content: "\e630";
}
.cp-icon-ValidityPeriod:before {
   content: "\e67f";
}
.cp-icon-ThresholdConditions:before {
   content: "\e680";
}
.cp-icon-PermittedGoods:before {
   content: "\e683";
}
.cp-icon-PermittedBuyers:before {
   content: "\e684";
}
.cp-icon-Expand:before {
   content: "\e686";
}
.cp-icon-DocumentTerm:before {
   content: "\e67a";
}
.cp-icon-Curtail:before {
   content: "\e67b";
}
.cp-icon-AlertHover:before {
   content: "\e67c";
}
.cp-icon-WiFi:before {
   content: "\e600";
}
.cp-icon-Wallet:before {
   content: "\e601";
}
.cp-icon-Vacation:before {
  content: "\e602";
}
.cp-icon-UsbKey:before {
   content: "\e603";
}
.cp-icon-Upload:before {
   content: "\e604";
}
.cp-icon-Unlock:before {
   content: "\e606";
}
.cp-icon-Unfavourite:before {
   content: "\e607";
}
.cp-icon-Undo:before {
   content: "\e608";
}
.cp-icon-TurnR:before {
   content: "\e609";
}
.cp-icon-TurnL:before {
   content: "\e60a";
}
.cp-icon-Trade:before {
   content: "\e60c";
}
.cp-icon-ThumbUp2:before {
  content: "\e60e";
}
.cp-icon-ThumbUp:before {
  content: "\e60f";
}
.cp-icon-ThumbDown2:before {
  content: "\e611";
}
.cp-icon-ThumbDown:before {
  content: "\e612";
}
.cp-icon-Sick:before {
  content: "\e618";
}
.cp-icon-Show:before {
   content: "\e619";
}
.cp-icon-Share:before {
   content: "\e61a";
}
.cp-icon-Settings:before {
   content: "\e61b";
}
.cp-icon-Sent2:before {
   content: "\e61d";
}
.cp-icon-Sent:before {
   content: "\e61e";
}
.cp-icon-Send:before {
   content: "\e61f";
}
.cp-icon-SelfVacation:before {
  content: "\e620";
}
.cp-icon-SelfPin:before {
   content: "\e621";
}
.cp-icon-Search:before {
   content: "\e623";
}
.cp-icon-ScanSave:before {
   content: "\e625";
}
.cp-icon-Scan:before {
   content: "\e626";
}
.cp-icon-SaveAs:before {
   content: "\e627";
}
.cp-icon-Save:before {
   content: "\e628";
}
.cp-icon-Restore:before {
   content: "\e629";
}
.cp-icon-Report:before {
   content: "\e62b";
}
.cp-icon-Refresh:before {
   content: "\e62c";
}
.cp-icon-Received2:before {
   content: "\e62d";
}
.cp-icon-Received:before {
   content: "\e62e";
}
.cp-icon-Publish2:before {
   content: "\e631";
}
.cp-icon-Profile:before {
   content: "\e632";
}
.cp-icon-Preferment:before {
   content: "\e634";
}
.cp-icon-PhoneWork:before {
   content: "\e635";
}
.cp-icon-PhoneNull:before {
   content: "\e636";
}
.cp-icon-PhoneCell:before {
   content: "\e637";
}
.cp-icon-Phone:before {
   content: "\e638";
}
.cp-icon-Pause:before {
   content: "\e639";
}
.cp-icon-OpenedFolder:before {
   content: "\e63a";
}
.cp-icon-NewTab:before {
   content: "\e63c";
}
.cp-icon-NewCategory:before {
   content: "\e63d";
}
.cp-icon-Move:before {
   content: "\e63f";
}
.cp-icon-Money:before {
   content: "\e641";
}
.cp-icon-Redo2Hover:before {
   content: "\e642";
}
.cp-icon-Map:before {
   content: "\e645";
}
.cp-icon-Mail:before {
   content: "\e646";
}
.cp-icon-Lock:before {
   content: "\e647";
}
.cp-icon-Linked:before {
   content: "\e649";
}
.cp-icon-IPmask:before {
   content: "\e64a";
}
.cp-icon-Info:before {
   content: "\e64b";
}
.cp-icon-Home:before {
   content: "\e64e";
}
.cp-icon-Hide:before {
   content: "\e651";
}
.cp-icon-Handwrite2:before {
   content: "\e652";
}
.cp-icon-Handwrite1:before {
   content: "\e653";
}
.cp-icon-Groups:before {
   content: "\e654";
}
.cp-icon-Folder:before {
   content: "\e655";
}
.cp-icon-Flag:before {
   content: "\e656";
}
.cp-icon-Fire:before {
   content: "\e657";
}
.cp-icon-Favourite:before {
   content: "\e65a";
}
.cp-icon-Exclamation:before {
   content: "\e65b";
}
.cp-icon-Erase:before {
  content: "\e65c";
}
.cp-icon-EmptyMessage:before {
   content: "\e65d";
}
.cp-icon-Email:before {
   content: "\e65e";
}
.cp-icon-Edit:before {
   content: "\e660";
}
.cp-icon-Document:before {
   content: "\e661";
}
.cp-icon-Delete:before {
   content: "\e663";
}
.cp-icon-Decline:before {
   content: "\e665";
}
.cp-icon-DayForward:before {
   content: "\e666";
}
.cp-icon-DayBackward:before {
   content: "\e667";
}
.cp-icon-CreateFolder:before {
   content: "\e668";
}
.cp-icon-Copy:before {
   content: "\e669";
}
.cp-icon-Company:before {
   content: "\e66a";
}
.cp-icon-Bill:before {
   content: "\e66f";
}
.cp-icon-BadToGood:before {
   content: "\e670";
}
.cp-icon-Attach:before {
   content: "\e671";
}
.cp-icon-ArrowUp:before {
   content: "\e672";
}
.cp-icon-ArrowDown:before {
   content: "\e673";
}
.cp-icon-Alert:before {
   content: "\e675";
}
.cp-icon-Admin:before {
   content: "\e676";
}
.cp-icon-PaymentPart2:before {
   content: "\e975";
}
.cp-icon-Calendar2:before {
   content: "\e75f";
}
.cp-icon-UserMenu:before {
   content: "\e64f";
}
.cp-icon-TreeView:before {
   content: "\e60b";
}
.cp-icon-ListView:before {
   content: "\e648";
}
.cp-icon-HierarchyView:before {
   content: "\e650";
}
.cp-icon-Unsuccess:before {
   content: "\e605";
}
.cp-icon-Add:before {
   content: "\e677";
}
.cp-icon-Successful:before {
   content: "\e616";
}
.cp-icon-Print:before {
   content: "\e633";
}
.cp-icon-Close:before {
   content: "\e66c";
}
