@font-size_MoneyRender-integer_default: 14px;
@color_MoneyRender-integer_default: #000000;

@font-size_MoneyRender-integer_AccentResults: 15px;
@color_MoneyRender-integer_AccentResults: #313E78;

@font-size_MoneyRender-integer_NoAccentResults: 15px;
@color_MoneyRender-integer_NoAccentResults: #999999;

@font-size_MoneyRender-integer_NoAccentResults: 15px;
@color_MoneyRender-integer_NoAccentResults: #999999;

@font-size_MoneyRender-integer_group: 14px;
@color_MoneyRender-integer_group: #CCCCCC;

@font-size_MoneyRender-integer_BasicRegistry: 14px;
@color_MoneyRender-integer_BasicRegistry: #000000;

@font-size_MoneyRender-integer_NoBasicRegistry: 14px;
@color_MoneyRender-integer_NoBasicRegistry: #999999;

@font-size_MoneyRender-integer_AccentRegistry: 15px;
@color_MoneyRender-integer_AccentRegistry: #313E78;

@font-size_MoneyRender-integer_NoAccentRegistry: 15px;
@color_MoneyRender-integer_NoAccentRegistry: #999999;

@font-size_MoneyRender-fraction: 12px;
@color_MoneyRender-fraction: #CCCCCC;

.moneyControl__integer_default{
   font-size: @font-size_MoneyRender-integer_default;
   color: @color_MoneyRender-integer_default;
}
.moneyControl__integer_AccentResults{
   font-size: @font-size_MoneyRender-integer_AccentResults;
   color: @color_MoneyRender-integer_AccentResults;
}
.moneyControl__integer_NoAccentResults{
   font-size: @font-size_MoneyRender-integer_NoAccentResults;
   color: @color_MoneyRender-integer_NoAccentResults;
}
.moneyControl__integer_Group{
   font-size: @font-size_MoneyRender-integer_group;
   color: @color_MoneyRender-integer_group;
}
.moneyControl__integer_BasicRegistry{
   font-size: @font-size_MoneyRender-integer_BasicRegistry;
   color: @color_MoneyRender-integer_BasicRegistry;
}
.moneyControl__integer_NoBasicRegistry{
   font-size: @font-size_MoneyRender-integer_NoBasicRegistry;
   color: @color_MoneyRender-integer_NoBasicRegistry;
}
.moneyControl__integer_AccentRegistry{
   font-size: @font-size_MoneyRender-integer_AccentRegistry;
   color: @color_MoneyRender-integer_AccentRegistry;
}
.moneyControl__integer_NoAccentRegistry{
   font-size: @font-size_MoneyRender-integer_NoAccentRegistry;
   color: @color_MoneyRender-integer_NoAccentRegistry;
}
.moneyControl__fraction{
   font-size: @font-size_MoneyRender-fraction;
   color: @color_MoneyRender-fraction;
}