.controls-VScrollbar {
   cursor: pointer;
   border-style: solid;
   display: inline-block;
   border-color: transparent;
   padding: 0 @margin_Scrollbar;
   border-width: @margin_Scrollbar 0;
   width: @width_Scrollbar + 2 * @margin_Scrollbar;
   transition: width @animation-duration_Scrollbar ease-in-out;
   .box-sizing();
}

.controls-VScrollbar__thumb {
   min-height: @min-height_Scrollbar-thumb;
   border-radius: @border-radius_Scrollbar-thumb;
}

.controls-VScrollbar__thumb_normal {
   background-color: @bg_Scrollbar-thumb_normal;
}

.controls-VScrollbar__thumb_inverted {
   background-color: @bg_Scrollbar-thumb_inverted;
}

.controls-VScrollbar:hover,
.controls-VScrollbar_dragging {
   width: @width_Scrollbar_animation + 2 * @margin_Scrollbar;
}

.controls-VScrollbar:hover .controls-VScrollbar__thumb,
.controls-VScrollbar__thumb_dragging {
   border-radius: @border-radius_Scrollbar-thumb_animation;
}

.controls-VScrollbar__thumb_normal:hover,
.controls-VScrollbar__thumb_dragging_normal {
   background-color: @bg_Scrollbar-thumb_active_normal;
}

.controls-VScrollbar__thumb_inverted:hover,
.controls-VScrollbar__thumb_dragging_inverted {
   background-color: @bg_Scrollbar-thumb_active_inverted;
}