/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Notification {
  border-style: solid;
  border-width: 3px 0 0 0;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  position: relative;
  min-height: 40px;
  min-width: 40px;
  margin: 0 16px 16px 0;
  background-color: #fff;
}
.controls-Notification__error {
  border-color: #EF463A;
}
.controls-Notification__primary {
  border-color: #0055BB;
}
.controls-Notification__done {
  border-color: #72BE44;
}
.controls-Notification__warning {
  border-color: #fec63f;
}
.controls-Notification__content {
  padding: 8px;
}
.controls-Notification__closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.controls-Notification__simpleTemplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-Notification__simpleTemplate-icon {
  margin-right: 8px;
}
.controls-Notification__simpleTemplate-message {
  font-size: 15px;
}
.controls-Notification__content-spacing {
  margin-right: 24px;
}
