.example-BaseDemoInput {
   width: 380px;
}
.example-BaseDemoInput__content {
   width: 300px;
}
.example-BaseDemoInput__content_normalSpacing {
   margin-top: 10px;
}
.example-BaseDemoInput__content_bigSpacing {
   margin-top: 20px;
}