.demo-DragNDrop__Basket {
   position: absolute;
   bottom: 10px;
   right: 10px;
}
.demo-DragNDrop__Grid, .demo-DragNDrop__Tree {
   width: 50%;
   flex-shrink: 1;
}
.demo-DragNDrop__grids {
   display: flex;
   flex-direction: row;
}
