.controls-AddButton-wrapper{
   display: inline-flex;
   align-items: baseline;
}

.controls-AddButton_state-enable{
   color: @color_listAddButton_enabled;
   stroke: @color_listAddButton_enabled;
   cursor: pointer;
}

.controls-AddButton_state-enable:active{
   .controls-AddButtonText {
      text-decoration: underline;
   }
}


.ws-is-desktop-platform {
   .controls-AddButton_state-enable:hover {
      .controls-AddButtonText {
         text-decoration: underline;
      }
   }
}

.controls-AddButton_state-disable{
   color: @color_listAddButton_disabled;
   stroke: @color_listAddButton_disabled;
}

.controls-AddButton__icon {
   height: @icon-size_ListAddButton / 2;
   width: @icon-size_ListAddButton / 2;
}

.controls-AddButton__svgWrapper {
   width: @icon-size_ListAddButton;
   display: inline-flex;
   justify-content: center;
}

.controls-AddButton{
   font-size: @font-size_listAddButton;
}

.controls-AddButton__line {
   stroke-width: 2;
}