html, body {
   height: 100%;
}
#Back {
  padding: 10px 5px;
}
.themeSwitcher {
  position: absolute;
  top: 10px;
  right: 10px;
}
.theme_button {
  displaY: inline-block;
  width: 200px;
  border: 1px solid #8991A9;
  color: #8991A9;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 0 4px;
  user-select: none;
}
.theme_dark {
  background-color: #1D2834;
  border: 1px solid #ffcc99;
  color: #ffcc99;
}

html, body, .ControlsDemo-Page,  .ControlsDemo-Page_scrollContainer {
   height: 100%;
   overflow: hidden;
}
.demo_controls_list_wrapper {
  display: flex;
}
.demo_controls_list_section {
  padding: 40px 10px
}