/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Container__popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.controls-Container__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.controls-Container__overlay .ws-is-mobile-chrome-ios,
.controls-Container__overlay .ws-is-mobile-safari {
  top: -1000%;
  height: 2000%;
}
