.controls-Container__popup{
   position: absolute;
   .flexbox(); //тоже непонятно зачем, нужно посмотреть где используется и удалить отсюда
}
.controls-Container__overlay {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.1);
   cursor: pointer;
   .ws-is-mobile-chrome-ios, .ws-is-mobile-safari{
      top: -1000%;
      height: 2000%;
   }
}