.controls-InputRender {
    border-radius: @border-radius;
 }

.theme_desktop .controls-Button_style-secondary_viewMode-button:hover {
    color: @color_Button-Vdom-text_default_hover;
 }

.controls-BaseButton.controls-Button_style-secondary_viewMode-button:active {
     color: @color_Button-Vdom-text_default_active;
     border-color: @border-color_Button_active;
 }
 
 body.theme_mobile {
     font-size: 24px;
 }
