.controls-InputRender {
    border-radius: @border-radius;
 }

.theme_desktop .controls-Button_style-secondary_viewMode-button:hover {
    color: @color_Button-Vdom-text_default_hover;
 }

.controls-BaseButton.controls-Button_style-secondary_viewMode-button:active {
     color: @color_Button-Vdom-text_default_active;
     border-color: @border-color_Button_active;
 }
 
 body.theme_mobile {
     font-size: @size_text_m;
 }

 .theme_mobile .controls-Scroll_webkitOverflowScrollingTouch {
     width: 100%;
 }

 .search-field {
    min-width: 130px;
    max-width: 100%;
	margin-left: 24px;
}

.navbar {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}

.theme_mobile .navbar {
    padding: 0;
    border-bottom: 0;
    background: transparent;
}

.search {
    display: flex;
    flex-wrap: nowrap;
}

.theme_mobile .search-field {
    flex-grow: 1;
    align-self: center;
}


.theme_mobile .controls-BaseButton__content {
    width: 100%;
    min-width: 100px;
 }

.theme_desktop .controls-BaseButton__content {
    width: 120px;
 }

 .controls-LabelV_enabled {
     margin: 10px;
 }

 .controls-InputRender_size_default_singleLine {
    margin: 0 2px;
 }

 .list-container{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
 }

 .main-container{
    display: flex;
    flex-direction: column;
    height: 100%;

 }

.pagination{
    display: inline-flex;
    flex-shrink: 0;
    margin-left: 2%;
    margin-bottom: 12px;
}

.pagination-button{
    margin-right: 3px;
}

.scroll-container{
    flex-grow: 1;
    margin-bottom: 8px;
}

html{
    height: 100%;
}

body{
    height: 100%;
}