.controls-ConfirmationTemplate {
   border-style: solid;
   border-width: @controls-InformationPopup-border-width;
   background: @controls-InformationPopup-bg;
   box-shadow: @controls-panel-shadow;
   margin: @controls-InformationPopup-window-spacing;

   &.controls-ConfirmationTemplate__status-default {
      border-top-color: @controls-InformationPopup-default-status-border-color;
   }

   &.controls-ConfirmationTemplate__status-success {
      border-top-color: @controls-InformationPopup-success-status-border-color;
   }

   &.controls-ConfirmationTemplate__status-error {
      border-top-color: @controls-InformationPopup-error-status-border-color;
   }

   &.controls-ConfirmationTemplate__status-confirm {
      border-top-color: @controls-InformationPopup-default-status-border-color;
   }

   box-sizing: border-box;
}
.controls-ConfirmationTemplate__body {
   box-sizing: border-box;
   border-left: @controls-SubmitPopup-border-left;
   border-right: @controls-SubmitPopup-border-right;
   border-bottom: @controls-SubmitPopup-border-bottom;
}
.controls-ConfirmationTemplate__main {
   padding: @controls-SubmitPopup-body-padding;
}

.controls-ConfirmationTemplate__footer {
   padding: @controls-SubmitPopup-footer-padding;
   border-top: @controls-SubmitPopup-footer-border-top;
   background: @controls-SubmitPopup-footer-bg;
}

.controls-SubmitPopup__size-big {
   width: @controls-SubmitPopup-size-big-width;
}

.controls-SubmitPopup__size-standard {
   width: @controls-SubmitPopup-size-standard-width;
}