/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-DialogTemplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #BDBDBD;
}
.controls-DialogTemplate__top-area {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 44px;
}
.controls-DialogTemplate__content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-height: 1px;
  overflow: hidden;
  z-index: 1;
}
.controls-DialogTemplate__top-area-content {
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 48px 0 0;
  overflow: hidden;
}
.controls-DialogTemplate__close_button {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 0;
}
.controls-DialogTemplate__caption {
  color: #313E78;
  font-size: 18px;
  font-weight: 700 !important;
  overflow: hidden;
  cursor: default;
  height: 44px;
  line-height: 42px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}
.controls-DialogTemplate__caption_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.controls-DialogTemplate__top-area-draggable {
  cursor: move;
}
