.controls-DialogTemplate {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   box-sizing: border-box;
   height: 100%;
   background-color: @background-color_dialogTemplate-content;
   position: relative;
   overflow: hidden;
   .box-shadow(0 0 12px 0 rgba(0,0,0,.4));
   border: 1px solid #BDBDBD;
}

.controls-DialogTemplate__top-area {
   background-color: @background-color_dialogTemplate-top-area;
   display: flex;
   flex-shrink: 0;
   min-height: 44px; //todo themes
}

.controls-DialogTemplate__content-area {
   display: flex;
   height: 100%;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   min-height: 1px;
   overflow: hidden;
   z-index: 1;
}

.controls-DialogTemplate__top-area-content {
   width: 100%;
   flex-shrink: 1;
   display: flex;
   align-items: baseline;
   margin: @margin_dialogTemplate_head;
   overflow: hidden;
}

.controls-DialogTemplate__close_button {
   position: absolute;
   z-index: 2; // The close button is above the content
   top: 8px; //todo themes
   right: 0;
}

.controls-DialogTemplate__caption {
   color: @color_DialogTemplate-caption;
   font-size: @font-size_stackTemplate_head;
   font-weight: 700 !important;
   overflow: hidden;
   cursor: default;
   height: @height_dialogTemplate_caption; //todo themes value equal min-height
   line-height: @line-height_dialogTemplate_caption; // the baseline is not centered
   align-items: baseline;
   flex-shrink: 1;
   display: flex;
   margin-left: @margin-left_dialogTemplate_caption;
}

.controls-DialogTemplate__caption_text {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.controls-DialogTemplate__top-area-draggable {
   cursor: move;
}