//colors
@color1:                #CCC;
@color2:                #999;
@color3:                #E4E4E4;
@color4:                #EAEAEA;
@color5:                #BDBDBD;
@color6:                #313E78;
@color7:                #587AB0;

@color_text_default:      #000;
@color_text_disabled:     @color1;

@background-color_default:       #FFF;
@background-color_error:         #FADADD;

@color_border:                      @color1;
@color_border_error:                @color_danger;
@color_border_disabled:             @color3;
@color_border_secondary:            @color5;

@color_shadow_default:              rgba(0,0,0,.25);

@color_Heading_primary:             #D94700;
@color_Heading_secondary:           @color6;

@color_warning:                       #FEC63F;
@color_success:                       #72BE44;
@color_link:                          #0055BB;
@color_link-hover:                    @color6;
@color_danger:                        #EF463A;
@color_primaryV:                      #FF7033;
@color_active-element:                @color_primaryV;
@color_info:                          @color1;
@color_active-element_disabled:		  @color6;
@color_secondary:                     @color7;
@color_unselected:                    @color2;
@color_additional:                    @color2;

//sizes
@thickness_border_default:  1px;
@height_control_default:    24px;
@line-height_default:       18px;
@size_shadow_default:       0 0 12px 0;

@size_text_s:     12px;
@size_text_m:     14px;
@size_text_l:     15px;
@size_text_xl:    16px;
@size_text_2xl:   17px;
@size_text_3xl:   18px;
@size_text_4xl:   20px;
@size_text_5xl:   24px;

@size_Heading_s:            @size_text_m;
@size_Heading_m:            @size_text_l;
@size_Heading_l:            @size_text_3xl;
@size_Heading_xl:           @size_text_4xl;

@spacing_default_xxs:      2px;
@spacing_default_xs:       4px;
@spacing_default_s:        6px;
@spacing_default_m:        8px;
@spacing_default_l:        12px;
@spacing_default_xl:       16px;
@spacing_default_xxl:      24px;

@size_icon_s:              16px;
@size_icon_m:              24px;
@size_icon_l:              32px;

//
@color_border_input:                @color4;
@color_border_disabled_secondary:   @color1; //используется только в кнопках