@multiplier: 0.75;

//MenuButton
@margin-top_MenuButton_button:             -6px;
@margin-left_MenuButton_button:            -1px;
@margin-top_MenuButton_button-medium:     -5px;
@margin-top_MenuButton_link-default:       -9px;
@margin-left_MenuButton_link-default:      -13px;
@margin-left_MenuButton_link_small:        -13px;
@margin-top_MenuButton_link_medium:         -5px;
@margin-left_MenuButton_link_medium:       -13px;
@margin-top_MenuButton_bordered__l-medium:    -3px;
@margin-left_MenuButton_bordered__l-medium:   -11px;
@margin-top_MenuButton_bordered__m-small:                -5px;
@margin-left_MenuButton_bordered__m-small:               -9px;
@margin-top_MenuButton_link_duplicate_medium:         -7px;
@margin-left_MenuButton_link_duplicate_medium:        -12px;
@margin-top_MenuButton_link_duplicate_head_medium:     7px;
@margin-left_MenuButton_link_duplicate_head_medium:    12px;
@margin-top_MenuButton_link_duplicate_small:          -10px;
@margin-left_MenuButton_link_duplicate_small:         -12px;
@margin-top_MenuButton_link_duplicate_head_small:      10px;
@margin-left_MenuButton_link_duplicate_head_small:     12px;

//default-sizes
@icon-size_default:            16px;
@icon-size_default_medium:     24px;
@icon-size_default_large:      32px;
//Старые default-sizes
@default-height:               24px;
@default-height-big:           48px;
@default-border-width:         1px;
@default-text-size:            14px;
@small-text-size:              12px;
@large-text-size:              15px;
@huge-text-size:               17px;
@default-icon-size:            16px;
@default-icon-size-medium:     24px;
@default-icon-size-large:      32px;
@default-line-height:          18px;
@default-base-line-height:     22px;//@default-height - 2 * @default-border-width
@default-padding:              4px;
@default-padding-small:        2px;
@default-input-padding:        @default-padding;
@default-svg-icon-size-small:  10px;
@default-svg-icon-size-medium: 12px;
@default-svg-icon-size-large:  17px;
//InputRender
@height_InputRender_m:                       24px;
@height_InputRender_default:                 @height_InputRender_m;
@height_InputRender_l:                       24px;
@font-size_InputRender_m:                    14px;
@font-size_InputRender_default:              @font-size_InputRender_m;
@font-size_InputRender_l:                    18px;
@padding_InputRender:                        0 4px;
@horizontal-padding_InputRender:             4px;
@border-width_InputRender:                   1px;
@width_InputRender-tagStyle:                 8px;
@height_InputRender-tagStyle:                8px;
@line-height_InputRender_m:                  @default-line-height;
@line-height_InputRender_l:                  23px;
@line-height_InputRender_default:            @line-height_InputRender_m;
@font-size_InputRender_style_header:         18px;
@font-size_InputRender_style_accentHeader:   18px;
//TinyMCE
@padding-bottom_TinyMCE_empty:          6px;
@padding__TinyMCE-basicStyle:           2px 0 2px 4px;
@margin-bottom_TinyMCE-table:           5px;
@min-height_TinyMCE-paragraphs_empty:   18px;
//RichArea
@padding_RichArea-dataReview: 2px 0 2px 4px;

//StackTemplate
@min-height_stackTemplate_head:                 38px;
@font-size_stackTemplate_head:                  18px;
@spacing_stackTemplate_head-default:            0 52px 0 12px;
@spacing_stackTemplate_head-maximized:          0 84px 0 12px;
@top-space_stackTemplate_close-button:          5px;
@top-space_stackTemplate_maximized-button:      7px;
@right-space_stackTemplate_maximized-button:    44px;
@shadow_stackTemplate_close-button:             0 1px 2px rgba(0,0,0, .15); //todo - в 350 версии будет компонент closeButton, все стили будут на нем

//DialogTemplate
@margin_dialogTemplate_head:                   0 48px 0 0;
@margin-left_dialogTemplate_caption:           12px;
@height_dialogTemplate_caption:                44px;
@line-height_dialogTemplate_caption:           42px;
@top_dialogTemplate_compatible_close-button:   5px;

// MonthView
@width_MontView:                  281px;
@spacing_MonthView-item:          @calendar-day-border-spacing;
@font-size_MontView-weekDayHeader:12px;
@height_MonthView-item:           39px;
@font-size_MonthView-item:        @large-text-size;
@height_DateRangeBigChoose-dates-months-button: 30px;
@border-radius_MonthView-item-today: 50%;
@background-spacing_MonthView-item-today:                     7.7%;
@width__MonthView-item-selected-startEnd-hover: 3px;
@width_DateRangeBigChoose-range-selected-startEnd-edgeBorder: 3px;
@border-width_DateRangeBigChoose-range-selected-startEnd:     1px;
@size_DateRangeBigChoose__stateButton_icon:                   16px;
@size_DateRangeBigChoose__homeBtn_icon:                       16px;

// EditActions
@width_EditActions-cancelButton:                       round(58px * @multiplier);
@height_EditActions-cancelButton:                      round(58px * @multiplier);

// MonthSlider
@height_MonthSlider:                   300px;
@height_MonthSlider-header:            28px;
@margin-left_MonthSlider-home-button:  8px;
@font-size_MonthSlider-header-title:   15px;
@min-width_MonthSlider-header-title:   110px;
@height_MonthSlider-weekdays:          39px;

// RangeSelectionController
@width_RangeSelection-selected-startEnd-edgeBorder: 3px;

// DateRangeBigChoose
@width_DateRangeBigChoose:                               364px;
@height_DateRangeBigChoose-header:                       44px;
@padding-left_DateRangeBigChoose-header:                 10px;
@border-width_DateRangeBigChoose:                        1px;
@padding-right_DateRangeBigChoose-state-button:          12px;
@margin_DateRangeBigChoose-header-applyButton:           12px;
@width_DateRangeBigChoose-header-dash:                   2px;
@margin_DateRangeBigChoose-header-dash:                  0 3px;
@width_DateRangeBigChoose-header-closeButton:            40px;
@height_DateRangeBigChoose-years:                        44px;
@border-width-color_DateRangeBigChoose:                  1px;
@width_DateRangeBigChoose-years-leftRight:               33px;
@height_DateRangeBigChoose-years-rangeButton:            30px;
@font-size_DateRangeBigChoose-years-rangeButton:         14px;
@height_DateRangeBigChoose-body:                         446px;
@height_DateRangeBigChoose-MonthRangePickerItem-monthWrapper:     100px;
@padding_DateRangeBigChoose-MonthRangePickerItem-monthWrapper:    0 4px;
@border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper:1px;
@width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper:      100px;
@height_DateRangeBigChoose-MonthRangePickerItem-month-date:       13px;
@font-size_DateRangeBigChoose-MonthRangePickerItem-month-date:    8px;
@height_DateRangeBigChoose-MonthRangePickerItem-month-title:      auto;
@font-size_DateRangeBigChoose-MonthRangePickerItem-month-title:   14px;
@height_DateRangeBigChoose_monthPicker-header:                    32px;
@font-size_DateRangeBigChoose_monthPicker-header:                 15px;
@border-top-width_DateRangeBigChoose_monthPicker-header:          3px;
@border-bottom-width_DateRangeBigChoose_monthPicker-header:       4px;
@font-size_DateRangeBigChoose_halfYearsPanel:                     18px;
@font-size_DateRangeBigChoose_quartersPanel:                      15px;
@border-width_DateRangeBigChoose_quartersPanel:                   1px;
@border-width_DateRangeBigChoose_quartersPanel-right:             3px;
@border-width_DateRangeBigChoose_halfYearsPanel:                  2px;

@width_DateRangeBigChoose-dates-header-year:                 82px;
@size_DateRangeBigChoose-DateRangePickerItem-months-button:  14px;
@padding-left_DateRangeBigChoose-dates-months-button:        11px;
@font-size_DateRangeBigChoose-dates-months-nextYearButton:   15px;
@height_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title:      36px;
@font-size_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title:   18px;
@height_DateRangeChoose-dates-header:                    44px;
@font-size_DateRangeBigChoose-dates-header:              15px;
@padding-left_DateRangeBigChoose-dates-header-year:      11px;
@font-weight_DateRangeBigChoose-dates-header-year:       bold;
@height_DateRangeBigChoose-dates-months-nextYearButton:  auto;
@width_DateRangeBigChoose-item-selectedStart-before:     1px;
@margin_DateRangeBigChoose-picker:                       -11px 0 0 -39px;
@margin_DateRangeBigChoose-picker-month-only:            -11px 0 0 -11px;

// DateRangeLinkView
@font-size_DateLinkView:                   15px;
@font-weight_DateLinkView-value:           bold;
@min-width_DateLinkView-value:             102px;
@padding_DateLinkView-value:               1px;
@width_DateLinkView-year-state:            81px;
@height_DateLinkView:                      24px;
@width_DateLinkView-prev-next-buttons:     24px;
@font-size_DateLinkView-prev-next-buttons: 16px;

// PeriodDialog
@width_PeriodDialog:                               364px;
@height_PeriodDialog-header:                       44px;
@padding-left_PeriodDialog-header:                 10px;
@border-width_PeriodDialog:                        1px;
@padding-right_PeriodDialog-state-button:          12px;
@margin_PeriodDialog-header-applyButton:           12px;
@width_PeriodDialog-header-dash:                   2px;
@margin_PeriodDialog-header-dash:                  0 3px;
@width_DateRangeBigChoose-header-closeButton:      40px;
@height_PeriodDialog-years:                        44px;
@width_PeriodDialog-years-leftRight:               33px;
@height_PeriodDialog-years-rangeButton:            30px;
@font-size_PeriodDialog-years-rangeButton:         14px;
@font-size_PeriodDialog-years-displayed-year:      15px;
@height_PeriodDialog-body:                         446px;
@height_PeriodDialog-MonthRange-monthWrapper:     100px;
@padding_PeriodDialog-MonthRange-monthWrapper:    0 4px;
@border-width_PeriodDialog-MonthRange-monthWrapper:1px;
@width_PeriodDialog-MonthRange-monthWrapper:      100px;
@height_PeriodDialog-MonthRange-month-date:       13px;
@font-size_PeriodDialog-MonthRange-month-date:    8px;
@height_PeriodDialog-MonthRange-month-title:      auto;
@font-size_PeriodDialog-MonthRange-month-title:   14px;
@height_PeriodDialog-MonthRange-header:                    32px;
@font-size_PeriodDialog-MonthRange-header:                 15px;
@border-top-width_PeriodDialog-MonthRange-header:          3px;
@border-bottom-width_PeriodDialog-MonthRange-header:       4px;
@font-size_PeriodDialog-MonthRange-halfYearsPanel:                     18px;
@font-size_PeriodDialog-MonthRange-quartersPanel:                      15px;
@border-width_PeriodDialog-MonthRange-quartersPanel:                   1px;
@border-width_PeriodDialog-MonthRange-quartersPanel-right:             3px;
@border-width_PeriodDialog-MonthRange-halfYearsPanel:                  2px;

@width_PeriodDialog-DateRange-header-year:                 82px;
@font-size_PeriodDialog-DateRange-months-button:  14px;
@height_PeriodDialog-DateRange-months-button: 30px;
@padding-left_PeriodDialog-DateRange-months-button:        11px;
@font-size_PeriodDialog-DateRange-months-nextYearButton:   15px;
@height_PeriodDialog-DateRange-monthsWithDates-title:      36px;
@font-size_PeriodDialog-DateRange-monthsWithDates-title:   18px;
@height_PeriodDialog-DateRange-header:                    44px;
@font-size_PeriodDialog-DateRange-header:              15px;
@padding-left_PeriodDialog-DateRange-header-year:      11px;
@font-weight_PeriodDialog-DateRange-header-year:       bold;
@height_PeriodDialog-DateRange-months-nextYearButton:  auto;
@width_PeriodDialog-MonthRange-item-selectedStart-before:   1px;
@margin_PeriodDialog-picker:                                -11px 0 0 -39px;
@margin_PeriodDialog-picker-withoutModeBtn:                 -11px 0 0 -11px;

// PeriodLiteDialog
@indents_PeriodLiteDialog:                       4px;
@border-width_PeriodLiteDialog_hovered:          1px;
@font-size_PeriodLiteDialog:                     15px;
@min-width_PeriodLiteDialog:                     176px;
@min-width_PeriodLiteDialog-medium:              146px;
@standart-line-height_PeriodLiteDialog:          32px;
@min-width_PeriodLiteDialog-item-years:          82px;
@font-size_PeriodLiteDialog-currentValue:        15px;
@font-weight_PeriodLiteDialog-currentValue:      bold;
@height_PeriodLiteDialog-currentValue:           32px;
@padding-left-right_PeriodLiteDialog-currentValue:  10px;
@font-size_PeriodLiteDialog-year:                15px;
@height_PeriodLiteDialog-year:                   @standart-line-height_PeriodLiteDialog;
@padding-left_PeriodLiteDialog-year:             12px;
@width_PeriodLiteDialog-year-prev-next-btns:     32px;
@font-size_PeriodLiteDialog-year-prev-next-btns: 16px;
@width_PeriodLiteDialog-home-icon:               32px;
@width_PeriodLiteDialog-home-icon-lite:          24px;
@width_PeriodLiteDialog-halfyear-caption:        30px;
@margin_PeriodLiteDialog-quarter: 0 0 @indents_PeriodLiteDialog (@width_PeriodLiteDialog-halfyear-caption + @indents_PeriodLiteDialog);
@width_PeriodLiteDialog-quarter-caption:         28px;
@margin_PeriodLiteDialog-month:                  0 0 0 (@width_PeriodLiteDialog-quarter-caption + @indents_PeriodLiteDialog);
@padding_PeriodLiteDialog-month:                 0 8px 0 8px;
@right_PeriodLiteDialog-checkbox:                12px;
@margin_PeriodLiteDialog-home-button:            0 auto 12px;

//button
@height_Button_l:             @default-height-big;
@height_Button-Vdom_l:        @default-height-big;
@line-height_Button_l:        @default-height;
@border-radius_Button_l:      24px;
@font-size_Button_l:          18px;
@font-size_Button-Vdom_l:     18px;
@border-width_Button:                     1px;
@border-width_Button-Vdom:                1px;
@height_Button_m:                         @default-height;
@height_Button_default:                   @height_Button_m;
@font-size_Button_m:                      @default-text-size;
@font-size_Button_default:                @font-size_Button_m;
@font-size_Button-Vdom_m:                 @default-text-size;
@button-margin:                           auto;
@border-radius_Button_m:                  16px;
@border-radius_Button_default:            @border-radius_Button_m;
//area-blocks
@spacing_Block:                   6px;
@margin_BlockGroup:               -@spacing_Block / 2;
@height_BlockSeparator:           1px;
@border-width_Block:              0px;
@border-radius_Block:             0px;

//DropdownList
@thickness_DropdownList-group-separator:              1px;
@margin_DropdownList-group:                           4px 12px;
@right-DropdownList-cross:             5px;
@top-DropdownList-cross:         ceil(18px * @multiplier);
@max-height_DropdownList:       400px;
@max-width_DropdownList:        700px;
@height_DropdownList-item:      32px;
@border-size_DropdownList:      1px;
@spacing_DropdownList-pin:      12px;
@padding_DropdownList-default:  12px;
@spacing_DropdownList_arrowSubMenu:28px;
@spacing_DropdownList_cross:       30px;
@padding_DropdownList-item:     5px;
@spacing_DropdownList-item-history: 32px;
@width_DropdownList-marker:     6px;
@height_DropdownList-marker:    8px;
@margin-top_DropdownList:       -8px;
@margin-top_DropdownList-ff:    -7px;
@margin-top_DropdownList-head:   -6px;
@margin-left_DropdownList:      -13px;
@margin_DropdownList-group:                           4px 12px;
@thickness_DropdownList-group-separator:              1px;
@spacing_DropdownList-group-between-text-separator:   12px;
@font-size_DropdownList-group-text:                   12px;
@right_DropdownList-icon:       6px;
@top_DropdownList-icon:         (@height_DropdownList-item - @menu-expand-height) / 2;
@padding_DropdownList-head:     @padding_DropdownList-default;
@offset_DropdownList-submenu:   -3px;
@right_DropdownList-cross:             5px;
@top_DropdownList-cross:               6px;

//Toolbar
@margin-left_Toolbar-popup:               @right_DropdownList-cross;
@margin-top_Toolbar-popup:                -@top_DropdownList-cross;
@spacing_Toolbar-between-icon-text:             @spacing_Button-between-icon-text;

//MenuButton
@margin-top_MenuButton_button:        -5px;
@margin-left_MenuButton_button:       -1px;
@margin-top_MenuButton_link_small:        -8px;
@margin-left_MenuButton_link_small:       -13px;
@margin-top_MenuButton_link_medium:   @margin-top_MenuButton_button;
@margin-left_MenuButton_link_medium:  -13px;
@margin-top_MenuButton_link_duplicate_medium:   -7px;
@margin-left_MenuButton_link_duplicate_medium:  -12px;
@margin-top_MenuButton_link_duplicate_head_medium:   7px;
@margin-left_MenuButton_link_duplicate_head_medium:  12px;
@margin-top_MenuButton_link_duplicate_small:   -10px;
@margin-left_MenuButton_link_duplicate_small:  -12px;
@margin-top_MenuButton_link_duplicate_head_small:   10px;
@margin-left_MenuButton_link_duplicate_head_small:  12px;

@height-Dropdown-cross: 36px;
@font-size-Dropdown-cross: @default-icon-size-medium;

//MenuButton
@width-Dropdown-pin:              16px;

//VDOM controls

//VDOM Paging
@height_Paging-button:             32px;
@width_Paging-digit-button:               28px;
@border-width_Paging-digit-button:        0 0 3px 0;
@width_Paging-ellipsis:            24px;
@width_Paging-arrow-button:               32px;
@font-size_Paging-arrow-button:           18px;
@font-size_Paging-button:          @default-text-size;
@padding_Paging-button:            0;
@border-width_ScrollPaging:        1px 0 0 0;

//VDOM DragNDrop.DraggingTemplate
@width_DraggingTemplate:                         210px;
@height_DraggingTemplate:                        48px;
@border-width_DraggingTemplate:                  1px;
@box-shadow-size_DraggingTemplate:               12px;
@width_DraggingTemplate-icon:                    40px;
@height_DraggingTemplate-icon:                   40px;
@border-radius_DraggingTemplate-icon:            8px;
@margin_DraggingTemplate-icon:                   4px 0 4px 4px;
@icon-size_DraggingTemplate-icon:                32px;
@margin_DraggingTemplate-text:                   6px;
@width_DraggingTemplate-textShadow:              24px;
@font-size_DraggingTemplate-mainText:            14px;
@font-size_DraggingTemplate-additionalText:      13px;
@height_DraggingTemplate-counter:                20px;
@padding_DraggingTemplate-counter:               0 6px;
@font-size_DraggingTemplate-counter:             14px;

//VDOM List.TileView
@margin_TileView-item:                             6px;
@border-width_TileView-item:                       1px;
@box-shadow-size_TileView-item:                    12px;
@max-height_TileView-title:                        36px;
@padding_TileView-title:                           3px 4px;
@border-width_TileView-title:                      1px;
@height_TileView-title_visible:                    25px;
@box-shadow-offset_TileView-itemActions:           -12px;
@box-shadow-blur_TileView-itemActions:             18px;

//VDOM List.TreeTileView
@font-size_TreeTileView-title:                   15px;
@height_TreeTileView-item:                       40px;
@left_TreeTileView-checkbox:                     0;
@margin_TreeTileView-title:                      0 8px 0 4px;
@margin_TreeTileView-icon:                       0 0 0 4px;

//VDOM Operations.Panel
@height_OperationsPanel:                              30px;
@spacing_OperationsPanel__item-between-icon-caption:  6px;
@margin_OperationsPanel__rightTemplate:               0 8px 0 0;
@spacing_OperationsPanel-between-items:               12px;

//VDOM Operations.Button
@height_OperationsButton:                             24px;
@width_OperationsButton:                              24px;
@width_OperationsPanelButton-separator:               1px;
@font-size_OperationsButton__icon:                    18px;

   //VDOM Switch
@width_Switch:                     46px;
@height_Switch:                    24px;
@border-width_Switch:              @default-border-width;
@border-radius_Switch:             30px;
@size_Switch-marker:               12px;
@border-width_Switch-marker:       2px;
@size_Switch-dot:                  6px;
@spacing_Switch-between-toggle-text:               6px;
@thickness_Switch-track:               2px;
@length_Switch-track:                34px;
@line-height_DoubleSwitch_vertical: @default-text-size;

//PasswordInput
@font-size_PasswordInput-showPassword:         @default-icon-size-medium;
@font-family_PasswordInput-showPassword:       @default-icon-medium-font;

//Area
@width_InputArea: 200px;
@vertical-padding_InputArea: 2px;

//Suggest
@width_Suggest-loader:                           16px;
@height_Suggest-loader:                          16px;
@spacing_Suggest-loader:                         3px;
@spacing_Suggest-empty:                          16px;

// DatePicker VDOM
@spacing_DatePicker-between-input-button:        7px;

// DateRange VDOM
@spacing_DateRange-between-input-button:         @spacing_DatePicker-between-input-button;
@width_DateRange-dash:                           2px;
@margin_DateRange-dash:                          0 3px 4px 3px;
@thickness_DateRange-dash:                       1px;

//Suggest VDOM
@spacing_Suggest_suggestionsContainer_overInput: 8px;
@border-width_suggestionsContainer:              1px;
@spacing_Suggest-between-tabs-and-content:       8px;
@margin-top_Suggest_close:                       8px;

//CloseButton
@border-width_CloseButton:               1px 0 1px 1px;
@border-radius_CloseButton:              2px 0 0 2px;
//оставил чтобы переменные без индекса для поддержки старых компонентов
@width_CloseButton:                      36px;
@height_CloseButton:                     28px;
@width_CloseButton_m:                      29px;
@height_CloseButton_m:                     24px;
//TODO Выпилить этот стиль при полном переходе на VDOM
@font-size_CloseButton:                  23px;
@font-size_CloseButton_default:          23px;
@font-size_CloseButton_m:                20px;
@font-size_CloseButton_light:            24px;
@width_CloseButton_small:                24px;
@height_CloseButton_small:               24px;
@font-size_CloseButton_small:            24px;
@height_CloseButton_icon_l:              24px;
//tabButton
@height_tabbutton_mainItem_menuLink:     23px;
//editAtPlace
@line-height_editAtPlace_fieldWrapper:   20px;

//Search
@icon-size_Search:                     @default-icon-size;
@spacing-Search-between-icon-text:     0 2px;
@border-radius_Search:                 10px;
@padding_Search:                       0 5px 0 12px;
//list add button
@font-size_listAddButton:                @small-text-size;
@icon-size_ListAddButton:                @default-icon-size;
//Switcher
@width_Switcher:                         46px;
@height_Switcher:                        24px;
@border-radius_Switcher:                 30px;
@border-width_Switcher:                  1px;
@border-width_Switcher_hover:            @border-width_Switcher;
@width_Switcher-line:                    34px;
@height_Switcher-line:                   2px;
@border-width_Switcher-btn:              2px;
@border-width_Switcher-btn_hover:        @border-width_Switcher-btn;
@size_Switcher-btn:                      12px;
@size_Switcher-btn-before:               6px;
//Label
@height_Label:                           @default-height;
@padding_Label:                          0 8px 0 0;
@font-size_Label:                        0;
//ReportBrowser
@height_ReportBrowser-top-content:       44px;
//Tabs/Buttons
@height_Tabs-separator:                  12px;
@border-width_Tabs:                      @default-border-width;
@padding_Tabs-item_default:              12px;
@line-height_Tabs-baselineFix:           32px;
@height_Tabs:                            31px;
@padding_Tabs-item:                      0 @padding_Tabs-item_default + @border-width_Tabs;
@font-size_Tabs-item:                    14px;
@font-size_Tabs-item_selected:           15px;
@max-width_Tabs_item:                    630px;
@border-width_Tabs-item_hover_selected:  2px;
//BrowserTabs Separator
@thickness_PageLayout_Separator:        @border-width_Tabs;
//Scrollbar
@width_Scrollbar:                        4px;
//Отступ сверху/снизу и от правого края в скролируемой области.
@margin_Scrollbar:                       2px;
@width_Scrollbar_animation:              12px;
@animation-duration_Scrollbar:           0.3s;

@border-radius_Scrollbar-thumb:          2px;
@border-radius_Scrollbar-thumb_animation:5px;
@min-height_Scrollbar-thumb:             46px;
//List
@spacing-List-between-checkbox-content:  0;
@padding_List-checkbox:                  3px 0 0 0;
@spacing_List-item_default:              12px;
@padding_List-left:                      12px;
@padding_List-right:                     12px;
//Scroll
@height-gradient_Scroll-shadow:          8px;
//FilterButton
@spacing_FilterButton-between-icon-text:           @default-padding;
@spacing_FilterButton-between-spaceTemplate-text:  @default-padding;
@font-size_FilterButton-icon:                      @icon-size_default_medium;
@font-family_FilterButton-icon:                    @default-icon-medium-font;
@font-size_FilterButton-text:                      @default-text-size;
@icon-size_FilterButton-text-icon:                 @icon-size_default;
@margin-top_FilterButton_popup:                    -11px;
@margin-left_FilterButton_popup:                   9px;

//Lookup
@spacing_Lookup-collection:              4px;
@spacing_Lookup-item:                    4px;

//itemActions
@height_itemActions_inside:              24px;
@height_itemAction_outside:              29px;
@width_itemActions_outside_bevel:        24px;
@right_itemActions_inside:               6px;
@padding_itemActions_inside:             0 6px 3px 6px;
@padding_itemActions_outside:            0 6px 3px 0;
@spacing_itemActions_action:             6px;
@margin_itemActions_separator:           3px;
@width_itemActions_separator:            1px;
@width_itemActions_swipeShadow:          6px;
@max-width_itemActions_title:            120px;
@margin-bottom_Actions_outside:    29px;
@margin-bottom_Actions_inside:     3px;
@border-radius_ItemActions_action_bordered: @border-radius-IconButton;
@border-style_ItemActions_action_bordered:  @border-style-IconButton;
@thickness_ItemActions_action_bordered:     @border-width-IconButton;
@box-shadow_ItemActions_action_bordered:    @box-shadow-IconButton;
//SwipeACtions
@font-size_swipe_icon_small:             24px;
@font-size_swipe_icon_big:               32px;
@font-size_swipe_title:                  12px;
@height-size_swipe_title:                16px;
@padding_itemActions_action_swipe:       6px;
//headers
@header-h2-text-size:             20px;
@header-h3-text-size:             18px;

@header-font-weight:              @bold-font-weight;

@back-arrow-width-h2:             10px;
@back-arrow-height-h2:            14px;

@back-arrow-width-h3:             9px;
@back-arrow-height-h3:            12px;

@back-arrow-width-h6:             9px;
@back-arrow-height-h6:            11px;
//Arrow
@padding-left_forwardArrow:       10px;

@width-HeaderSeparator:                6px;
@height-HeaderSeparator:               10px;
@size-Separator__icon:                 16px;
@spacing-HeaderSeparator_between_headerSeparator_Header:         10px;
@size-BigSeparator__icon:              26px;
//backButton
@width-BackButton__icon_size-l:              10px;
@height-BackButton__icon_size-l:             14px;
@width-BackButton__icon_size-m:        9px;
@height-BackButton__icon_size-m:       12px;
@width-BackButton__icon_size-s:              9px;
@height-BackButton__icon_size-s:             11px;
@spacing-BackButton-between-icon-text: 3px;
@spacing-BackButton-between-icon-text_big: 2px;
@padding-Separator:     4px;
@size-Separator:        24px;
@font-size_BackButton-arrow:           @default-icon-size;
@height-BackButton:                    24px;

//radioGroup
@height_RadioItem:                        24px;
@font-size_RadioItem:              14px;
@stroke-width_RadioGroup_borderCircle:    2px;
@spacing-between-radioItems_horizontal:   12px;
@spacing-between-radioItems_vertical:     8px;
@spacing-between-radioItem-icon-caption:  6px;
@width_ToggleCircle:                     12px;
@height_ToggleCircle:                    12px;

//ExportCustomizer
@min-height_ExportCustomizer-Formatter-View-preview: 50px;

//Path
@font-size_Path-backButtonArrow:                      @default-icon-size;
@spacing_Path-between-home-and-backButton:            8px;

//BreadCrumbs
@height_BreadCrumbs-items:                                   24px;
@font-size_BreadCrumbs-home:                                 @default-icon-size;
@spacing_BreadCrumbs-between-home-and-crumbs:                4px;
@font-size_BreadCrumbs-arrow:                                @default-icon-size;
@min-width_BreadCrumbs-text:                                 36px;
@max-width_BreadCrumbs-menu:                                 800px;
@height_BreadCrumbs-corner:                                  14px;
@width_BreadCrumbs-corner:                                   13px;
@height_BreadCrumbs-menuItem:                                32px;

//FastFilter
@icon-size_FastFilter-iconReset:                      @icon-size_default;
@spacing_FastFilter-item:                   0;
@height_FastFilter-iconArrow:               9px;
@width_FastFilter-iconArrow:                16px;
@margin-top_FastFilter-popup:               @margin-top_DropdownList;
@margin-left_FastFilter-popup:              2px;
//icon-button
@box-shadow-IconButton:                  0px 1px 4px @color-IconButton__shadow;
@box-shadow_IconButton:                  0px 1px 4px @color-IconButton__shadow; // TODO Оставить один вариант
@height-IconButton_size-m:               24px;
@width-IconButton_size-m:                24px;
@height-IconButton_size-l:               28px;
@width-IconButton_size-l:                28px;
@border-radius-IconButton:               2px;
@border-width-IconButton:                1px;
@border-style-IconButton:                solid;
@box-shadow-IconButton_activated:        none;
@icon-size_IconButton-buttonChoose:      @default-icon-size;

//FilterPanel
@width_FilterPanel_size-m:                                     400px;
@width_FilterPanel_size-l:                                     600px;
@width_FilterPanel_size-xl:                                    800px;
@spacing_FilterPanel-between-filterButton-closeButton:         4px;
@spacing_FilterPanel-between-resetButton-filterButton:         16px;
@margin_FilterPanel__PropertyGrid:                             0 12px 6px 34px;
@margin_FilterPanel-AdditionalParams:                          6px 12px;
@spacing_FilterPanel-header-topTemplate:                       0 16px;
@height_FilterPanel-header:                                    44px;
@spacing-bottom_FilterPanel:                                   12px;
@padding_FilterPanel-history-vertical:                          6px 12px 12px 12px;
@padding_FilterPanel-history-horizontal:                           6px 12px 0 12px;
@margin_FilterPanel-history:                                   12px;
@border-width_FilterPanel-horizontal:                              1px;
@spacing_FilterPanel-items:                                    22px;
//FilterLink
@height_FilterLink:                                            24px;
@font-size_FilterLink:                                         14px;
//PropertyGrid
@spacing_PropertyGrid-between-items:                           4px;
//AdditionalParams
@max-height_FilterPanel-items:              120px;
@height_AdditionalParams-item:              24px;
@height_FilterPanel-caption:                24px;
@font-size_FilterPanel-caption:             15px;
@height_AdditionalParams-arrow:             26px;
//FilterText
@height_FilterText:                       24px;
//HistoryList
@height_HistoryList-item:                   24px;
@icon-size_HistoryList-iconPin:             16px;
@spacing_HistoryList-between-icon-text:     12px;
@font-size_HistoryList-item:                14px;
//toggleButton
@border-width_ToggleButton:               1px;
@border-radius-ToggleButton:              2px;
@height-ToggleButton_size-s:              24px;
@min-width-ToggleButton_size-s:           24px;
@height-ToggleButton_size-m:        28px;
@min-width-ToggleButton_size-m:     28px;
@height-ToggleButton_size-l:              32px;
@min-width-ToggleButton_size-l:           32px;
@padding_ToggleButton-wrapper_s:    0;
@padding_ToggleButton-wrapper_m:    0;
@padding_ToggleButton-wrapper_l:          0;
//Notification
@padding_NotificationBase-content: 8px;
@font-size_NotificationBase-message: 15px;
@spacing_NotificationBase-between-icon-and-message: 8px;
@spacing_NotificationBase-between-notifications: 0 16px 16px 0;
@right_NotificationBase-closeButton: 8px;
@top_NotificationBase-closeButton: 8px;
@min-height_NotificationBase: 40px;
@min-width_NotificationBase: 40px;
@border-width_NotificationBase: @controls-InformationPopup-border-width;
//VDOM ListView
@height_ListView-group: 24px;
@spacing_ListView-group-between-text-separator: 12px;
@height_ListView-group-separator: 1px;
@font-size_ListView-group-text: 12px;
@font-size_ListView-group-expander: 16px;
@width_ListView-group-expander: 16px;
@spacing_ListView-group-between-text-expander: 6px;
@spacing_ListView-group-between-rightTemplate-separator: 12px;
@margin-right_ListView-itemsToolbar-closeButton:       round(8px * @multiplier);

//EngineBrowser
//VDOM TreeGridView
@width-TreeViewGrid-levelPadding_size_s: 24px;
@width-TreeViewGrid-levelPadding_size_m: 30px;
@width-TreeViewGrid-levelPadding_size_l: 38px;
@width-TreeViewGrid-levelPadding_size_xl: 46px;
@width-TreeViewGrid-levelPadding_size_default: @width-TreeViewGrid-levelPadding_size_s;
@height_TreeGridView-expander: 16px;
@width_TreeGridView-expander: 16px;
@padding_TreeGridView-nodeFooterHasMore: 6px 0 3px 0;
@padding_TreeGridView-expander_size_s: 4px;
@padding_TreeGridView-expander_size_m: 4px 10px 4px 4px;;
@padding_TreeGridView-expander_size_l: 4px 14px 4px 8px;
@padding_TreeGridView-expander_size_xl: 4px 18px 4px 12px;
@padding_TreeGridView-expander_size_default: @padding_TreeGridView-expander_size_s;
@font-size_TreeGridView-expander: 16px;
@icon_TreeGridView-expander_node_collapsed: '\e96e';
@icon_TreeGridView-expander_node_expanded: '\e96d';
@icon_TreeGridView-expander_hiddenNode_collapsed: '\e9c2';
@icon_TreeGridView-expander_hiddenNode_expanded: '\e9c1';
@border-width_TreeGridView-item_dragging: 2px;
//Browser
@height_Browser-header:                   44px;
@width_Browser-search:                    300px;
@spacing_Browser-inner-element:           12px;
@margin-left_Browser-search:              12px;
@margin-right_Browser-filter:             8px;
//MasterList
@border-width_MasterList-right: 3px;
@border-width_MasterList-selected-item: 1px 0 1px 0;
//ComboBox
@margin-top_ComboBox-popup: -@border-width_InputRender;