.controlsDemo-Input-DateRange {
   margin: 30px auto;
}

.controlsDemo-Input-DateRange__row {
   display: flex;
   align-items: baseline;
}
.controlsDemo-Input-DateRange__row-item {
   flex: 1;
   padding: 5px;
}