<Controls.Event.Registrator name="selectComplete" register="selectComplete">
    <ws:partial template="{{_options.content}}" on:selectComplete="_selectComplete()" on:selectionLoad="_selectionLoad()"/>
</Controls.Event.Registrator>