.ControlsDemo-EditAtPlace__template {
   display: flex;
   flex-direction: column;
   align-items: baseline;
}

.ControlsDemo-EditAtPlace__fieldWrapper {
   display: inline-flex;
   align-items: baseline;
   padding: 1em;
}

.controls-demo_Wrapper.ControlsDemo-EditAtPlace__pgWrapper {
   width: auto;
   .controls-demo_event-example__wrapper {
      width: 400px;
   }
}