.ControlsDemo-EditAtPlace {
   width: 900px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   .controls-StackTemplate {
      width: 100%;
   }
}

.ControlsDemo-EditAtPlace__label {
   margin-right: 4px;
}

.ControlsDemo-EditAtPlace__title {
   font-size: 16px;
   color: #999999;
   margin-left: auto;
   padding: 10px 0;
}

.ControlsDemo-EditAtPlace__firstExample {
   background-color: #f8f8f8;
   width: 296px;
}

.ControlsDemo-EditAtPlace__firstExampleWrapper {
   display: inline-flex;
   align-items: baseline;
   padding: 4px 0 4px 4px;
}

.ControlsDemo-EditAtPlace__tabs {
   width: 100%;
   background-color: #f8f8f8;
}

.ControlsDemo-EditAtPlace__header {
   font-size: 18px;
   font-weight: bold;
   color: #D94700;
}

.ControlsDemo-EditAtPlace__eapWrapper {
   display: inline-flex;
   align-items: baseline;
   font-weight: normal;
}

.ControlsDemo-EditAtPlace__date {
   width: 63px;
}

.ControlsDemo-EditAtPlace__number {
   width: 100px;
}

.ControlsDemo-EditAtPlace__tabEditor {
   padding: 0 4px;
}

.ControlsDemo-EditAtPlace__tabsExample {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.ControlsDemo-EditAtPlace__row {
   display: inline-flex;
   width: 100%;
   height: 38px;
   align-items: center;
   justify-content: flex-end;
}

.ControlsDemo-EditAtPlace__button {
   margin-left: 12px;
}

.ControlsDemo-EditAtPlace__topAreaWrapper {
   width: 100%;
}

.controls-EditAtPlaceV__Text_style_asLink {
   font-size: 14px;
   color: #313E78;
   cursor: pointer;
   &:hover {
      text-decoration: underline;
   }
}