.demo-DragNDrop__list .controls-ListView {
   display: flex;
   flex-wrap: wrap;
}

.demo-DragNDrop__list .controls-Checkbox {
   position: absolute;
}

.demo-DragNDrop__item {
   width: 400px;
   height: 100px;
   background: #FFFFFF;
   border: 1px solid #CCCCCC;
   .box-shadow(0 0 12px rgba(0, 0, 0, 0.25));
   margin: 2px;
}

.demo-DragNDrop__itemContent {
   display: flex;
}

.demo-DragNDrop__icon {
   width: 84px;
   height: 84px;
   border-radius: 8px;
   margin: 8px 0 8px 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

.demo-DragNDrop__text {
   flex-shrink: 1;
   width: 100%;
   margin: 6px;
   overflow: hidden;
}

.demo-DragNDrop__mainText, .demo-DragNDrop__additionalText {
   line-height: 40px;
   white-space: nowrap;
}

.demo-DragNDrop__mainText {
   font-size: 20px;
   font-weight: bold;
   color: #313E78;
}

.demo-DragNDrop__additionalText {
   font-size: 16px;
   color: #000000;
}

.controls-ListView__itemContent.demo-DragNDrop__itemContent {
   padding: 0;
   margin: 0;
}