.demo-Suggest {
	margin: 50px;
}

.demo-SuggestWrapper {
	margin: 50px;
}

.controls-demo-SuggestV {
	width: 250px;
}

.demo-SuggestInputList {
	width: 100%;
}

.demo-SuggestSearchList {
	width: 300px;
}

.demo-block-suggest {
	display: flex;
}