/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls_ToolbarFormatButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28px;
  height: 28px;
}
.controls_ToolbarFormatButton_active {
  background: #f3f3f3;
  border: 1px solid #587ab0;
  border-radius: 2px;
}
