/**
 *
 * @mixin Controls/Header/HeadingStyles
 * @public
 *
 * @css @font-size_Heading__caption_size-s Small text size.
 * @css @font-size_Heading__caption_size-m Medium text size.
 * @css @font-size_Heading__caption_size-l Large text size.
 * @css @font-size_Heading__caption_size-xl Extrlarge text size.
 *
 * @css @color_Heading__caption_style-secondary Primary text color.
 * @css @color_Heading__caption_style-primary Default text color.
 *
 * @css @color_Heading__caption_style-secondary_hovered Primary text color in hovered and activated state.
 * @css @color_Heading__caption_style-primary_hovered Default text color in hovered and activated state.
 */
.controls-Header__caption {
  font-weight: bold;
  display: inline-block;
}
.controls-Header__caption_size-s {
  font-size: 14px;
}
.controls-Header__caption_size-m {
  font-size: 15px;
}
.controls-Header__caption_size-l {
  font-size: 18px;
}
.controls-Header__caption_size-xl {
  font-size: 20px;
}
.controls-Header__caption_style-secondary,
.controls-Header__caption_style-secondary_hovered {
  color: #313E78;
}
.controls-Header__caption_style-primary,
.controls-Header__caption_style-primary_hovered {
  color: #D94700;
}
.controls-Header__caption_style-primary_hovered:active {
  color: #ff7033;
  cursor: pointer;
}
.controls-Header__caption_style-secondary_hovered:active {
  color: #0055BB;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header__caption_style-primary_hovered:hover {
  color: #ff7033;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header__caption_style-secondary_hovered:hover {
  color: #0055BB;
  cursor: pointer;
}
.controls-Header_Counter__clickable:active .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.controls-Header_Counter__clickable:active .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.controls-Header_Counter__clickable:active .controls-HeaderCounter_style-primary_hovered {
  color: #ff7033;
}
.controls-Header_Counter__clickable:active .controls-HeaderCounter_style-secondary_hovered {
  color: #0055BB;
}
.controls-Header_all__clickable:active .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.controls-Header_all__clickable:active .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.controls-Header_all__clickable:active .controls-HeaderCounter_style-primary_hovered {
  color: #ff7033;
}
.controls-Header_all__clickable:active .controls-HeaderCounter_style-secondary_hovered {
  color: #0055BB;
}
.controls-Header_all__clickable:active .controls-HeaderSeparator__icon_style-primary {
  fill: #729EE6;
}
.controls-Header_all__clickable:active .controls-HeaderSeparator__icon_style-secondary {
  fill: #729EE6;
}
.controls-Header_all__clickable:active .controls-Separator__icon_style-secondary {
  color: #313E78;
}
.controls-Header_all__clickable:active .controls-Separator__icon_style-primary {
  color: #FF7033;
}
.controls-Header_all__clickable:active .controls-Separator__icon_style-Additional {
  color: #313E78;
}
.controls-Header_Separator__clickable:active .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.controls-Header_Separator__clickable:active .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.controls-Header_Separator__clickable:active .controls-HeaderSeparator__icon_style-primary {
  fill: #729EE6;
}
.controls-Header_Separator__clickable:active .controls-HeaderSeparator__icon_style-secondary {
  fill: #729EE6;
}
.ws-is-no-touch .controls-Header_Counter__clickable:hover .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_Counter__clickable:hover .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_Counter__clickable:hover .controls-HeaderCounter_style-primary_hovered {
  color: #ff7033;
}
.ws-is-no-touch .controls-Header_Counter__clickable:hover .controls-HeaderCounter_style-secondary_hovered {
  color: #0055BB;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-HeaderCounter_style-primary_hovered {
  color: #ff7033;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-HeaderCounter_style-secondary_hovered {
  color: #0055BB;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-HeaderSeparator__icon_style-primary {
  fill: #729EE6;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-HeaderSeparator__icon_style-secondary {
  fill: #729EE6;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-Separator__icon_style-secondary {
  color: #313E78;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-Separator__icon_style-primary {
  color: #FF7033;
}
.ws-is-no-touch .controls-Header_all__clickable:hover .controls-Separator__icon_style-Additional {
  color: #313E78;
}
.ws-is-no-touch .controls-Header_Separator__clickable:hover .controls-Header__caption_style-primary_hovered {
  color: #ff7033;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_Separator__clickable:hover .controls-Header__caption_style-secondary_hovered {
  color: #0055BB;
  cursor: pointer;
}
.ws-is-no-touch .controls-Header_Separator__clickable:hover .controls-HeaderSeparator__icon_style-primary {
  fill: #729EE6;
}
.ws-is-no-touch .controls-Header_Separator__clickable:hover .controls-HeaderSeparator__icon_style-secondary {
  fill: #729EE6;
}
