.controls-Render {
   position: relative;
   display: inline-block;
   box-sizing: border-box;
   height: @height_Render;
   padding: 0 @spacing-between_Render_border-text;
}

.controls-Render__wrapper {
   height: 100%;
   display: flex;
   align-items: baseline;
}

.controls-Render__baseline {
   display: flex;
   align-items: center;
   height: 100%;
}

.controls-Render__placeholder {
   color: @color_Render-placeholder;
}

.controls-Render__placeholder_overflow {
   .text-overflow();
}

.controls-Render_size {
   @variants: s, m, l;
   .for(@variants, { &_@{_item} {
      height: ~"@{height_Render_size_@{_item}}";
   } });
}

.controls-Render_fontStyle {
   @variants: default, primary;
   .for(@variants, { &_@{_item} {
      color: ~"@{color_Render_fontStyle_@{_item}}";
   } });
}

.controls-Render_fontStyle {
   @variants: default s, primary s, default m, primary m, default l, primary l;
   .for(@variants, { @fontStyle: extract(@_item, 1); @size: extract(@_item, 2); &_@{fontStyle}_size_@{size} {
      font-size: ~"@{font-size_Render_fontStyle_@{fontStyle}_size_@{size}}";
      font-weight: ~"@{font-weight_Render_fontStyle_@{fontStyle}_size_@{size}}";
   } });
}

.controls-Render_style {
   border-style: solid;
   border-width: @border-width_Render;

   @variants: info, danger, invalid, primary, success, warning;
   .for(@variants, { &_@{_item} {
      border-color: ~"@{border-color_Render_style_@{_item}}";
      background: ~"@{background_Render_style_@{_item}}";
   } });

   .for(@variants, { &_@{_item}:hover {
      border-color: ~"@{border-color_Render_style_@{_item}_hover}";
      background: ~"@{background_Render_style_@{_item}_hover}";
   } });

   .for(@variants, { &_@{_item}_active {
      border-color: ~"@{border-color_Render_style_@{_item}_active}";
      background: ~"@{background_Render_style_@{_item}_active}";
   } });

   .for(@variants, { &_@{_item}_readOnly {
      border-color: ~"@{border-color_Render_style_@{_item}_readOnly}";
      background: ~"@{background_Render_style_@{_item}_readOnly}";
   } });
}

.controls-Render__tagStyle {
   top: 0;
   right: 0;
   position: absolute;
   width: @size_Render-tagStyle;
   height: @size_Render-tagStyle;

   @variants: info, danger, success, primary, warning, secondary;
   .for(@variants, { &_@{_item} {
      fill: ~"@{color_Render-tagStyle_@{_item}}";
   } });
}

.controls-Render_textAlign {
   @variants: right, left;
   .for(@variants, { &_@{_item} {
      text-align: @_item;
   } });
}