@import "Controls-theme/themes/default/_variables";
@import "Controls-theme/themes/default/controls/controls-list";

@height_control_default: 80px;
@size_text_m:            24px;
@size_title:             40px;
@size_author:            30px;

@swpColor1:                                   #00AE96;
@swpColor2:                                   #218275;
@swpColor3:                                   #007161;
@swpColor4:                                   #FFFFFF;
@swpColor5:                                   #e6e6e6;
@swpColor6:                                   #d6d6d6;

@background_Button_primary:                  @swpColor1;
@background_Button:                          @swpColor4;
@background_Button_primary_hovered:          @swpColor2;
@background_Button_hovered:                  @background_Button;
@background_Button_active:                   @background_Button;
@background_Button_default_active:           @background_Button;
@background_Button_primary_active:           @swpColor3;
@background_Button-default_readOnly:      @background_Button;
@background_Button-primary_readOnly:      @background_Button_primary;
@background_Button_default:               @background_Button;

@border-color_Button_primary:             rgba(0, 0, 0, 0);
@border-color_Button_primary_hovered:     @border-color_Button_primary;
@border-color_Button:                     @swpColor1;
@border-color_Button_hovered:             @swpColor2;
@border-color_Button_active:              @swpColor3;

@color_Button-Vdom-text_default:          @swpColor1;
@color_Button-Vdom-text_default_active:   @swpColor3;
@color_Button-Vdom-text_default_hover:    @swpColor2;
@color_Button-Vdom-text_primary:          @swpColor4;

@color_border_input:                      @swpColor5;

@border-radius:                           6px;
@border-radius_Button_default:            @border-radius;

@border-color_InputRender:            @color_border_input;
@border-color_InputRender_hover:      @swpColor6;
@border-color_InputRender_active:     @swpColor6;

@color_Label-caption_enabled:         #949494;
@color_InputRender-tagStyle_success:  @swpColor1;
@background_stackTemplate_content:    #fafafa;

