.controls-Paging__wrapper {
   display: flex;
}
.controls-Paging__btn {
   height: @height_Paging-button;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   user-select: none;
   margin: @padding_Paging-button;
}
.controls-Paging__digitButons {
   display: inline-flex;
}
.controls-Paging__arrow {
   width: @width_Paging-arrow-button;
   background-color: @background-color_Paging-button;
}
.controls-Paging__arrow__state-normal {
   color: @color_Paging_arrow-icon;
   cursor: pointer;
}

.ws-is-no-touch .controls-Paging__arrow__state-normal:hover {
   background-color: @background-color_Paging-button_hover;
}

.controls-Paging__arrow__state-disabled {
   color: @color_Paging_arrow-icon_disabled;
}
.controls-Paging__icon {
   font-family: @default-icon-font;
   font-size: @font-size_Paging-arrow-button;
   font-style: normal;
}