.form {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.form-content__name {
   align-self: flex-end;
   margin: 5px;
}
.form-content__email {
   align-self: flex-end;
   margin: 5px;
}
.form-result {
   align-self: flex-start;
   margin: 5px;
}

.updateButton {
   align-self: flex-end;

   width: 200px;
   margin: 5px;
   height: 30px;
}
.nameValidator, .emailValidator {
   width: 200px;
}
