.demo-Lookup-collection {
	margin: 40px;
}

.demo-Lookup__collection-title {
	text-decoration: underline;
	font-size: 15px;
}

.demo-Lookup__collection-wrapper {
	margin-top: 20px;
}

.control-Lookup-demo-Lookup {
	width: 400px;
}