.demo-Lookup {
	display: flex;
	margin: 20px;
}
.demo-Lookup-title {
	text-align: center;
	padding-bottom: 8px;
	font-size: 15px;
	color: #313e78;
}

.demo-Lookup-enabled-col, .demo-Lookup-readonly-col {
	width: 100%;
	display: inline-block;
	justify-content: center;
	flex-direction: column;
}

.control-Lookup-demo-block {
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px;
}

.control-Lookup-demo-title {
	margin-bottom: 4px;
}