<Controls-demo.PropertyGrid.PropertyGridWrapper
        attr:class="controls-demo-Lookup_wrapper"
        description="{{_metaData}}"
        dataObject="{{_dataObject}}"
        componentOpt="{{_componentOptions}}"
        on:optionsChanged="_optionsChanged()"
        content="{{_content}}"
        eventType="{{_eventType}}"
        nameOption="{{_nameOption}}">
</Controls-demo.PropertyGrid.PropertyGridWrapper>