<ws:template name="sender">
   <Controls.Filter.Button.Panel.Link caption="Sender"/>
</ws:template>

<ws:template name="responsible">
<Controls.Filter.Button.Panel.Link caption="Responsible"/>
</ws:template>

<ws:template name="tagging">
<Controls.Filter.Button.Panel.Link caption="Marks"/>
</ws:template>


<ws:template name="operation">
<Controls.Filter.Button.Panel.Link caption="Operation (stage)"/>
</ws:template>

<ws:template name="group">
<Controls.Filter.Button.Panel.Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="My"/>
         <ws:Object key="{{2}}" title="My department"/>
      </ws:Array>
   </ws:items>
</Controls.Filter.Button.Panel.Select>
</ws:template>

<ws:template name="unread">
<Controls.Filter.Button.Panel.Link caption="Unread"/>
</ws:template>

<ws:template name="loose">
<Controls.Filter.Button.Panel.Link caption="Loose"/>
</ws:template>

<ws:template name="limit">
<Controls.Filter.Button.Panel.Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="Due date"/>
         <ws:Object key="{{2}}" title="Overdue"/>
      </ws:Array>
   </ws:items>
</Controls.Filter.Button.Panel.Select>
</ws:template>

<ws:template name="own">
<Controls.Filter.Button.Panel.Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="On me"/>
         <ws:Object key="{{2}}" title="On department"/>
      </ws:Array>
   </ws:items>
</Controls.Filter.Button.Panel.Select>
</ws:template>

<ws:template name="our organisation">
<Controls.Filter.Button.Panel.Link caption="Our company"/>
</ws:template>

<ws:template name="document">
<Controls.Filter.Button.Panel.Link caption="Document"/>
</ws:template>

<ws:template name="activity">
<Controls.Filter.Button.Panel.Dropdown displayProperty="title"
                         bind:selectedKeys="item.value"
                         keyProperty="key"
                         source="{{item.source}}"/>
</ws:template>


<ws:partial template="{{item.id}}" item="{{item}}"/>