<ws:template name="period">
   <Controls.Filter.Button.Panel.Dropdown bind:selectedKeys="item.value"
                            bind:textValue="item.textValue"
                            displayProperty="title"
                            source="{{item.source}}"
                            keyProperty="key"/>
</ws:template>

<ws:template name="state">
<Controls.Filter.Button.Panel.Dropdown bind:selectedKeys="item.value"
                         bind:textValue="item.textValue"
                         displayProperty="title"
                         source="{{item.source}}"
                         keyProperty="key"/>
</ws:template>

<ws:template name="limit">
<Controls.Filter.Button.Panel.Dropdown
        keyProperty="key"
        source="{{item.source}}"
        bind:selectedKeys="item.value"/>
</ws:template>

<ws:template name="sender">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Sender"/>
</ws:template>

<ws:template name="author">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Author"/>
</ws:template>

<ws:template name="responsible">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Responsible"/>
</ws:template>

<ws:template name="tagging">
<Controls.Toggle.Checkbox bind:value="item.value" caption="{{item.textValue}}"/>
</ws:template>

<ws:template name="operation">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Operation"/>
</ws:template>

<ws:template name="group">
<Controls.Filter.Button.Panel.Dropdown
        keyProperty="key"
        showCross="{{true}}"
        source="{{item.source}}"
        bind:textValue="item.textValue"
        bind:selectedKeys="item.value"/>
</ws:template>

<ws:template name="unread">
<Controls.Filter.Button.Panel.Text bind:value="item.value" caption="{{item.textValue}}"/>
</ws:template>

<ws:template name="loose">
<Controls.Filter.Button.Panel.Text bind:value="item.value" caption="{{item.textValue}}"/>
</ws:template>

<ws:template name="own">
<Controls.Filter.Button.Panel.Dropdown
        keyProperty="key"
        source="{{item.source}}"
        showCross="{{true}}"
        bind:textValue="item.textValue"
        bind:selectedKeys="item.value"/>
</ws:template>

<ws:template name="our organisation">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Our company"/>
</ws:template>

<ws:template name="document">
<Controls-demo.Filter.Button.resources.FilterInput.FilterInput bind:value="item.value" bind:textValue="item.textValue"
                                                               caption="Document"/>
</ws:template>

<ws:template name="activity">
<Controls.Filter.Button.Panel.Dropdown
        keyProperty="key"
        source="{{item.source}}"
        showCross="{{true}}"
        bind:textValue="item.textValue"
        bind:selectedKeys="item.value"/>
</ws:template>


<ws:partial template="{{item.id}}" item="{{item}}"/>