/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-RichTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
}
.controls-RichTextArea [contenteditable=false] img {
  outline: none;
  cursor: pointer;
}
.controls-RichTextArea .controls-RichTextArea__dataReview {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 2px 0 2px 4px;
  /* отступы у первого параграфа через padding родительского блока*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}
.controls-RichTextArea .controls-RichTextArea__dataReview > :last-child,
.controls-RichTextArea .controls-RichTextArea__dataReview > :last-child li:last-child {
  margin-bottom: 0;
}
.controls-RichTextArea__readOnly {
  border-color: transparent;
}
.controls-RichTextArea__editable {
  border-color: #eaeaea;
}
.controls-RichTextArea__scrollContainer {
  width: 100%;
}
