.controls-RichTextArea {
   display: flex;
   box-sizing: border-box;
   border: 1px solid;

   [contenteditable=false] {
      img {
         outline: none;
         cursor: pointer;
      }
   }

   .controls-RichTextArea__dataReview {
      z-index: 1;
      width: 100%;
      height: 100%;
      padding: @padding_RichArea-dataReview; /* отступы у первого параграфа через padding родительского блока*/
      box-sizing: border-box;
      word-wrap: break-word;

      & > :last-child,
      & > :last-child li:last-child {
         margin-bottom: 0;
      }
   }
}

.controls-RichTextArea__readOnly {
   border-color: @border-color_RichArea_readonly;
}

.controls-RichTextArea__editable {
   border-color: @border-color_RichArea_editable;
}

//Необходимо чтобы не дергался текст
//https://online.sbis.ru/opendoc.html?guid=ef452e5a-12bf-42fd-92fa-7be22b90aa27
.controls-RichTextArea__scrollContainer {
   width: 100%;
}

