.controls-WidthUtils__measurer {
   display: inline-flex;
   top: 0;
   left: -9999px;
   position: absolute;
   white-space: nowrap;
   //Вроде самый безопасный способ вынести элемент на отдельный слой
   backface-visibility: hidden;
}