/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-PanelFilter__width-m {
  width: 400px;
}
.controls-PanelFilter__width-l {
  width: 600px;
}
.controls-PanelFilter__width-xl {
  width: 800px;
}
.controls-FilterPanel__horizontal {
  background-color: #F4F4F4;
}
.controls-FilterPanel__content-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.controls-FilterPanel__blockParams {
  margin-bottom: 12px;
}
.controls-FilterPanel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
}
.controls-FilterPanel__header:before {
  content: "\200b";
  line-height: 44px;
  display: inline-block;
  width: 0;
  visibility: hidden;
}
.controls-FilterPanel__caption {
  font-size: 15px;
  color: #313e78;
  height: 24px;
}
.controls-FilterPanel__PropertyGrid {
  margin: 0 12px 6px 34px;
}
.controls-FilterPanel__AdditionalParams {
  margin: 6px 12px;
}
.controls-FilterPanel__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
}
.controls-FilterPanel_maxHeight {
  max-height: 120px;
  overflow: hidden;
}
.controls-FilterPanel__header-topTemplate {
  margin: 0 16px;
}
.controls-FilterPanel__resetButton {
  margin-right: 16px;
}
.controls-FilterPanel__filterButton {
  margin-right: 4px;
}
.controls-FilterButton-popup-orientation-left {
  margin-top: -11px;
  margin-left: 9px;
}
.controls-FilterButton-popup-orientation-right {
  margin-top: -11px;
  margin-left: -9px;
}
.controls-HistoryList__horizontal {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 12px;
  padding: 6px 12px 0 12px;
  border-left: 1px solid #ccc;
}
.controls-HistoryList__vertical {
  padding: 6px 12px 12px 12px;
  background-color: #F4F4F4;
}
