.controls-PanelFilter__width-m {
   width: @width_FilterPanel_size-m;
}

.controls-PanelFilter__width-l {
   width: @width_FilterPanel_size-l;
}

.controls-PanelFilter__width-xl {
   width: @width_FilterPanel_size-xl;
}

.controls-FilterPanel__horizontal {
   background-color: @background-color_FilterPanel-horizontal;
}

.controls-FilterPanel__content-horizontal {
   display: flex;
   flex-direction: row;
}

.controls-FilterPanel__blockParams {
   margin-bottom: @spacing-bottom_FilterPanel;
}

.controls-FilterPanel__header {
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   margin-left: auto;
}

.controls-FilterPanel__header:before {
   content: "\200b";
   line-height: @height_FilterPanel-header;
   display: inline-block;
   width: 0;
   visibility: hidden;
}

.controls-FilterPanel__caption {
   font-size: @font-size_FilterPanel-caption;
   color: @color_FilterPanel-caption;
   height: @height_FilterPanel-caption;
}

.controls-FilterPanel__PropertyGrid {
   margin: @margin_FilterPanel__PropertyGrid;
}

.controls-FilterPanel__AdditionalParams {
   margin: @margin_FilterPanel-AdditionalParams;
}

.controls-FilterPanel__separator {
   display: flex;
   justify-content: center;
   height: @height_AdditionalParams-arrow;
}

.controls-FilterPanel_maxHeight {
   max-height: @max-height_FilterPanel-items;
   overflow: hidden;
}

.controls-FilterPanel__header-topTemplate {
   margin: @spacing_FilterPanel-header-topTemplate;
}

.controls-FilterPanel__resetButton {
   margin-right: @spacing_FilterPanel-between-resetButton-filterButton;
}

.controls-FilterPanel__filterButton {
   margin-right: @spacing_FilterPanel-between-filterButton-closeButton;
}

.controls-HistoryList__horizontal {
   width: 50%;
   box-sizing: border-box;
   margin-bottom: @margin_FilterPanel-history;
   padding: @padding_FilterPanel-history-horizontal;
   border-left: @border-width_FilterPanel-horizontal solid @border-color_FilterPanel-horizontal;
}

.controls-HistoryList__vertical {
   padding: @padding_FilterPanel-history-vertical;
   background-color: @background-color_HistoryList;
}