<div style="width: 100%">
    <Controls.List
            items="{{_options.items}}"
            filter="{{_options.filter}}"
            dataSource="{{_options.dataSource}}"
            selectedKey="{{_options.selectedKey}}"
            displayProperty="title"
            idProperty="id">
        <ws:emptyTemplate>
            Нет данных
        </ws:emptyTemplate>
    </Controls.List>
</div>