/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.ws-is-not-full-grid-support .controls-Grid__row-cell_withSelectionMarker {
  -webkit-box-shadow: inset 3px 0 0 #FF7033;
          box-shadow: inset 3px 0 0 #FF7033;
}
.ws-is-not-full-grid-support .controls-Grid {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.ws-is-not-full-grid-support .controls-Grid__colgroup-columnMultiselect {
  width: 24px;
}
.ws-is-not-full-grid-support .controls-Grid__row-cell__contentWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.ws-is-not-full-grid-support .controls-Grid__header {
  display: table-header-group;
}
.ws-is-not-full-grid-support .controls-Grid__header-cell {
  position: static;
  top: 0;
  display: table-cell;
}
.ws-is-not-full-grid-support .controls-Grid__header-cell_valign_top {
  vertical-align: top;
}
.ws-is-not-full-grid-support .controls-Grid__header-cell_valign_middle {
  vertical-align: middle;
}
.ws-is-not-full-grid-support .controls-Grid__header-cell_valign_bottom {
  vertical-align: bottom;
}
.ws-is-not-full-grid-support .controls-Grid__results {
  display: table-row-group;
}
.ws-is-not-full-grid-support .controls-Grid__results-cell {
  display: table-cell;
  position: static;
}
.ws-is-not-full-grid-support .controls-Grid__row {
  display: table-row;
}
.ws-is-not-full-grid-support .controls-Grid__row-cell {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
}
.ws-is-not-full-grid-support .controls-Grid__row-cell-checkbox {
  width: 24px;
}
.ws-is-not-full-grid-support .controls-Grid__colgroup {
  display: table-column-group;
}
.ws-is-not-full-grid-support .controls-Grid__colgroup-column {
  display: table-column;
}
