/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-MoveDialog {
  width: 400px;
}
.controls-MoveDialog__scroll {
  height: 448px;
}
.controls-MoveDialog__addFolderButton {
  margin-left: 12px;
}
