/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-TileView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.controls-TileView__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 6px;
}
.controls-TileView__itemContent {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.controls-TileView__item_animated {
  -webkit-transition-property: left, right, bottom, top;
  transition-property: left, right, bottom, top;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
.controls-TileView__title {
  max-height: 36px;
  padding: 3px 4px;
  border-top: 1px solid #E4E4E4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.controls-TileView__imageWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.controls-TileView__image {
  position: absolute;
}
.controls-TileView__itemContent:hover,
.controls-TileView__item_active,
.controls-TileView__item_swiped {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.controls-TileView__item_hovered,
.controls-TileView__item_active,
.controls-TileView__item_swiped {
  z-index: 10;
}
.controls-TileView__item_hovered .controls-TileView__title,
.controls-TileView__item_active .controls-TileView__title,
.controls-TileView__item_swiped .controls-TileView__title {
  background-color: #F0F5FB;
  white-space: normal;
  word-break: break-all;
}
.controls-TileView__item_hovered .controls-TileView__title_invisible,
.controls-TileView__item_active .controls-TileView__title_invisible,
.controls-TileView__item_swiped .controls-TileView__title_invisible {
  display: block;
}
.controls-TileView__item_active {
  z-index: 20;
}
.controls-TileView__item_fixed {
  position: fixed;
}
.controls-TileView__title_invisible {
  display: none;
}
.controls-TileView__checkbox {
  position: absolute;
  z-index: 1;
}
.controls-TileView__checkbox .controls-Checkbox__icon:before {
  background-color: #fff;
}
.controls-TileView__checkbox_top {
  top: 0;
  left: 0;
}
.controls-TileView__item_withoutMarker {
  border: 1px solid #ccc;
}
.controls-TileView__item_withMarker {
  border: 1px solid #ff7033;
}
.controls-itemActionsV.controls-TileView__itemActions {
  padding: 0;
}
.controls-TileView__itemActions {
  -webkit-box-shadow: -12px 0 18px 0 #F0F5FB;
          box-shadow: -12px 0 18px 0 #F0F5FB;
  background-color: #F0F5FB;
}
.controls-TileView__resizer {
  margin-bottom: -25px;
}
.controls-TileView__imageWrapper_reduced {
  border-bottom: 25px solid transparent;
  margin-bottom: -25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-TileView__item_invisible {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.controls-TileView__itemActions_bottomRight {
  bottom: 0;
  right: 0;
}
.ws-is-no-touch:not(.ws-is-mobile-platform) .controls-ListView__item_showActions:hover > .controls-itemActionsV {
  display: inline-block;
}
