.demo-Checkbox__wrapper {
   display: inline-flex;
   flex-direction: column;
   margin: 3% 10%;
}
.demo-Checkbox_width {
   width: 140px;
}
.demo-CheckBox__exampleBlock, .demo-CheckBox__optionsBlock {
   width: 160px;
   padding: 3em;
}
.demo-CheckBox__exampleBlock {
   background-color: #e6edf0;
}
.demo-CheckBox__optionsBlock {
   background-color: #e0e6f5;
}
.eventBlock {
   width: 160px;
   margin-top: 100px;
   padding: 3em;
   background: #57b3d770;
   display: inline-block;
}

.demo-ResetButton {
   padding: 20px;
   display: inline-block;
}