.demo-Checkbox__TestBlock_wrapper_additional {
   margin: 2% 10% 0 10%;
   display: inline-flex;
}
.demo-Checkbox__TestBlock_inline {
   display: inline-block;
}
.demo-Checkbox__TestBlock_inline:before {
   content: '\200b';
}
.demo-Checkbox_smallWidth {
   width: 500px;
}
.demo-Checkbox__text_custom_style {
   color: grey;
   font-size: 10px;
}
.demo-Checkbox_leftMargin {
   margin-left: 150px;
}
.demo-Icon__wrapper {
   width: 24px;
   height: 18px;
   display: inline-flex;
   align-items: center;
}
.demo-Checkbox__inline_row {
   display: inline-flex;
}
.center-align {
   display: inline-flex;
   flex-direction: column;
   margin-top: 100px;
   margin-left: 30%;
}
.disable-state-wrapper {
   display: inline-flex;
}
.test-block_width {
   width: 700px;
   display: inline-block;
}
.checkbox_wrapper_width1 {
   width: 150px;
}
.checkbox_wrapper_width2 {
   width: 200px;
}
