@import "Controls-theme/themes/default/_colors";
//suggest-text-box
@suggest-text-box-icon-cross-color:            #8991A9;
@suggest-text-box-bg-show-picker-color:        @background-color_InputRender;
@suggest-text-box-bg-show-picker-font-color:   initial;
@border-color_SuggestTextBox_withPicker:       @gray-ccc-color;

//MoneyTextBox
@color_MoneyTextBox-decimals:               @disabled-color;

//RichArea

//FieldLink
@color_FieldLink-showAllLinks:                    @color_Link-text;
@color_FieldLink-showAllLinks_hovered:            @color_Link-text_hovered;
@color_FieldLink-showSelectorButton:              @color_primary;
@color_FieldLink-showSelectorButton_hovered:      @color_Link-text_hovered;
@border-color_FieldLink_picker:                   @default-border-color-active;
@color_FieldLink-item-caption_big:                @accent-color;
@background_FieldLink-showAllLinks_disabled:      @default-bg-color;
@color_FieldLink_dropAllLinks:                    @color_FieldLink-Link_enabled;
@color_FieldLink_item-cross:                      @disabled-color;

//FieldLink_Link
@color_FieldLink-Link_enabled:             #8991A9;
@color_FieldLink-Link_enabled_hover:       #313E78;
@color_FieldLink-Link_disabled:            #8991A9;

//search-form
@border-color_SearchForm:                   transparent;
@border-color_SearchForm_disabled:          @default-border-color-disabled;
@search-border-color-active:                #DFDFDF;
@search-form-icon-color:                    @color_primary;
@search-background:                         #F2F2F2;
@search-form-icon-reset-color:              #8991A9;
@search-form-icon-search-hover-color:       @icon-color-primary-hover;
@color_searchForm_icon_disabled:           @icon-color-disabled;

// MonthView
@color_MonthView-item-hover:                             @color_MonthView-item;
//@background_MonthView-item-selected-hover:  @background_MonthView-item-selected;
@color_MonthView-item-prev-next-month:      @gray-color;
@color_MonthView-item-prev-next-month-hover:@color_MonthView-item-prev-next-month;

// DateRangeBigChoose
@border-color_DateRangeBigChoose-range-selected-inner:      #8991A9;
@background-color_DateRangeBigChoose-range-selected-inner:  #F0F5FB;
@border-color_DateRangeBigChoose-range-selected-unfinishedEdge:      #8991A9;
@border-color_DateRangeBigChoose-range-selected-startEnd:            #8991A9;
@border-color_DateRangeBigChoose-range-selected-startEnd-edgeBorder: #0055BB;
@background-color__DateRangeBigChoose-header:					#F4F4F4;
@color_DateRangeBigChoose-years-panel-rangeButton:          #999999;
@background-color_DateRangeBigChoose-years-panel-rangeButton: @background-color_DateRangeBigChoose-range-selected-unfinishedEdge;
@background-color_DateRangeBigChoose-years-panel-current-year: transparent;
@color_DateRangeBigChoose-years-panel-displayed-year:       #D94700;
@font-size_DateRangeBigChoose-years-panel-displayed-year:   15px;
@color_DateRangeBigChoose-years-panel-current-year:         #313E78;
@color_DateRangeBigChoose-dates-header-weekdays-workday:    #8991A9;
@color_DateRangeBigChoose-dates-header-weekdays-weekend:    #D94700;
@color_DateRangeBigChoose-dates-header-year:                #D94700;
@border-color_DateRangeBigChoose_monthPicker:               @default-border-color;
@color_DateRangeBigChoose-MonthRangePickerItem-month-title: #313e78;
@border-color_DateRangeBigChoose-MonthRangePickerItem-month:#8991A9;
@color_DateRangeBigChoose_monthPicker-header:               #D94700;
@background-color_DateRangeBigChoose_quartersPanel:         #FFFFFF;
@color_DateRangeBigChoose_halfyearsAndQuartersPanel:        #313E78;
@border-color_DateRangeBigChoose-MonthRangePickerItem-monthWrapper: @default-border-color;
@border-color_DateRangeBigChoose_quartersPanel:                     @default-border-color;
@border-color_DateRangeBigChoose_halfYearsPanel:                    @default-border-color;
@border-color_DateRangeBigChoose-quarters-halhyears-selected:       #bdbdbd;
@color_DateRangeBigChoose-DateRangePickerItem-months-button:  @default-text-color;
@background-color_DateRangeBigChoose-DateRangePickerItem-months-button: transparent;
@background-color_DateRangeBigChoose-DateRangePickerItem-months-button-hover:transparent;
@border-color_DateRangeBigChoose-dates-months-button-hover: #8991A9;
@color_DateRangeBigChoose-dates-months-nextYearButton:      #D94700;
@border-color_DateRangeBigChoose-dates-months-nextYearButton: #D94700;
@color_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title:          #313E78;
@border_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title-hover:   #8991A9;
@backgroun-color_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title: transparent;
@backgroun-color_DateRangeBigChoose-DateRangePickerItem-monthsWithDates-title-hover: transparent;
@background-color_DateRangeBigChoose-dates-months-nextYearButton: transparent;
@background-color_DateRangeBigChoose-dates-months-nextYearButton-hover: transparent;
@border-color_DateRangePickerItem__months: @default-border-color;
@color_DateRangeBigChoose__stateButton_icon: @color_primary;
@color_DateRangeBigChoose__homeBtn_icon:      @color_primary;
@color_DateRangeBigChoose__stateButton_icon_hover:@icon-color-primary-hover;
@color_DateRangeBigChoose__homeBtn_icon_hover:     @icon-color-primary-hover;
@color_dateRangeChoose__year_prev_next:                              @color_Link-text;
@color_DateRangeChoose_year:                                         @color_Link-text;
@color_dateRangeChoose__year_prev_next_hover:                        @color_Link-text_hovered;

//ComboBox
@color_ComboBox-Arrow:                                @color_primary;
@color_ComboBox-Arrow_active:                         @accent-color;
@color_ComboBox-Arrow_hover:                          @icon-color-primary-hover;
@background_ComboBox-picker:                          @default-bg-color;
@color_ComboBox-item_empty:                           @disabled-color;
@background_ComboBox-item_hover:                      @default-itemHover-color;
@color_ComboBox-picker:                               @default-text-color;
@border-color_ComboBox-picker:                        @default-border-color-active;
@color_ComboBox_placeholder:                          @default-placeholder-color;

//DropdownList
@border-color_DropDownList_error:                     @default-border-color-error;

//OperationsPanelButton
@color_OperationsPanelButton_state_disabled: @disabled-color;

//ListView
@background-color_ListView-item_hovered:     @default-bg-color-hovered-item;
@background-color_ListView-GroupBy_text:     @default-bg-color;
@border-color_itemsActions_touchMode:        #D0D8E0;
@outline-color_itemsActions_touchMode:       #E7EFF8;
@background-color__itemsToolbar_touchmode:   #E7EFF8;
@border-color__itemsToolbar_touchmode:       #D0D8E0;
@color__itemsToolbar_buttonText_touchmode:   @hover-color;

//DataGridView
@background-color_DataGridView-item_hovered: @default-bg-color-hovered-item;
@background-color_DataGridView-item_multiselected: @white-color;
@background-color_DataGridView-item_selected:@white-color;
@color_DataGridView-sorting:                 #0055BB;
@color_DataGridView-sorting_hovered:         #0055BB;
@color_DataGridView-sortingIcon:             #587AB0;

//TreeDataGridView
@color_TreeDataGridView-expand:              @blue-dark-color;
@color_TreeDataGridView-expand_hovered:      @darkcyan-color;
@color_TreeDataGridView-expandHidden:        @gray-lamantin-color;
@color_TreeDataGridView-expandHidden_hovered:@blue-dark-color;
@color_TreeDataGridView-editArrow:           @color_primary;
@color_TreeDataGridView-editArrow_hovered:   @icon-color-primary-hover;
@background-color_TreeDataGridView-copyArrow:@white-color;

//ToggleButton_square
@color_ToggleButton-square-icon_hovered: @icon-active-color;

//filterButtonArea
@color_filterButton_area_header_link_hover:    @color_Link-text;
@color_filterButton_area_header_link:          @darkcyan-color;

//floatArea
@background-color_FloatArea:             #ffffff;

//Switcher
@border-color_Switcher:                   #E4E4E4;
@color_Switcher-line_enabled:             @default-border-color-active;
@color_Switcher-line_disabled:            #E4E4E4;
@border-color_Switcher-btn_enabled:       @default-border-color-active;
@border-color_Switcher-btn_enabled_hover: @color_hover;
@border-color_Switcher-btn_disabled:      #E4E4E4;
@bg_Switcher-btn_enabled:                 #FF7033;
@bg_Switcher-btn_disabled:                #313E78;
@color_Switcher-text:                     @additional-color;
@color_Switcher-text_checked:             @default-text-color;
@color_Switcher-text_disabled:            @disabled-color;

//checkbox
@color_CheckBox-iconBox:                        #999999;
@color_CheckBox-caption_enabled:                @default-text-color;

//Button
@box-shadow_Button_primary:                    none;
@box-shadow_Button_primary_active:             none;

//Tabs/Buttons
// not used in SBIS3.CONTROLS
@border-color_Tabs-item_hover:               #F0F0F0;

//radioGroup
@color_RadioItem_caption_selected_size-l:          #313E78;
@color_RadioItem_caption_selected_size-l_disabled: #CCCCCC;
