@import "Controls-theme/themes/default/_sizes";
//textarea
@min-height_TextArea:             18px;
@padding_TextArea-container:      2px 0 2px 4px;
@padding_TextArea-field:          0 4px 0 0;
//NumberTextBox
@font-size_NumberTextBox-mirror:   @font-size_InputRender_m;
//ComboBox
@icon-size_ComboBox-Arrow:                      @icon-size_default;
@border-width_ComboBox-picker:                  @default-border-width;
@spacing_ComboBox-Arrow:                        @default-padding;
@max-height_ComboBox-picker:                    400px;
@border-width_ComboBox_pickerShow:              @default-border-width;
@font-size_ComboBox-picker:                     15px;
@padding_ComboBox-item:                         6px 4px 5px 4px;
//MoneyTextBox
@min-width_MoneyTextBox:          102px;
@font-size_MoneyTextBox-decimals: 12px;
//suggest-text-box
@suggest-text-box-icon-size:                @default-icon-size;
@suggest-text-box-icon-cross-padding:       0 0 0 @default-padding;
//search-form
@search-border-radius:            12px;
@padding_SearchForm:              0 4px 0 12px;
@search-button-wrapper-padding:   0 1px 0 0;
@search-loop-size:                @default-icon-size;
@search-form-icon-padding:        0 2px;
@margin-left__searchForm_picker:  -@padding-top__searchForm_content;
@margin-top__searchForm_picker:   -@padding-top__searchForm_picker;
@padding-top__searchForm_picker:  @default-height + @padding-top__searchForm_content;
@padding-top__searchForm_content: 8px;
@top_searchForm_picker_closeButton:6px;
@width_browser_search:             300px;
@width_browser_search_small:       184px;
//FieldLink
@icon-size_FieldLink-button:                    @default-icon-size;
@border-width_FieldLink-picker:                 @default-border-width;
@spacing_FieldLink-showAllLinks_enabled:        @default-padding;
@width_FieldLink-item-cross:                    20px;
@font-size_FieldLink-item-caption_normal:       @default-text-size;
@font-size_FieldLink-item-caption_big:          @large-text-size;
@max-height_FieldLink-picker:                   500px;
@min-height_FieldLink-picker:                   16px;
@spacing_FieldLink-linkContainer:               4px;
@spacing_FieldLink-item_inField:                @default-padding;
@spacing_FieldLink_item-cross:                  @default-padding;
@spacing_FieldLink-dropAllLinks:                @default-padding;
@fieldLink-showAll-shadow-width:                20px;
//FieldLink_Link
@font-size_FieldLink-Link:                      @default-text-size;
// DateRangeSlider
@margin-top_DateRangeSlider_years-only:                  @date-range-slider-margin-top - @date-range-choose-year-height;
// DateRangeLinkLite
@margin-top_DateRangeLinkLite-normal:      -5px;
@margin-top_DateRangeLinkLite-years:       @margin-top_DateRangeLinkLite-normal - @height_PeriodLiteDialog-year;
//time-header:
@time-header-icon-size:           @default-icon-size;
//treeview
@tree-view-folder-text-size:      16px;
//PrintDialog
@printDialog-button-margin-top:   8px;
@printDialog-activate-right:      49px;
//missspell
@miss-spell-padding:              8px;
//MassAmountSelector
@min-width_MassAmountSelector:                     auto;
@margin_MassAmountSelector-activate:               8px 0 0 0;
@right_MassAmountSelector-activate:                49px;
@width_MassAmountSelector-numberTextBox:           80px;
@font-size_MassAmountSelector-label:               inherit;
@padding_MassAmountSelector-label:                 0 8px 0 6px;
@margin_MassAmountSelector-blocks:                 0 0 14px 0;
//operationsMark
@controls-OperationsMark-separator-line-height: 30px;
//engine-browser
@browser-search-margin:           10px 0px 10px 12px;
@margin-left_Browser_tableRow:    12px;
@browser-top-template-padding:    10px 12px 10px 0;
@padding-left_Browser-backButton: 0px;
//DropDownList
@padding_DropDownList_item_child:      3px 12px 2px 8px;
@padding_DropDownList_item_child_text: 16px;
@font-size_DropDownList:               @default-text-size;
@top_DropdownList_picker_marker:       13px;
@width-Dropdown-cross: @spacing_DropdownList_arrowSubMenu;
//Marker
@background-size_Marker:                                  3px;
//ListView
@background-size_ListView_ScrollIndicator: auto;
//EditInPlace
@line-height_EditInPlace:                                 @default-line-height;
//ListView_groupBy
@height_ListView-GroupBy:                                 24px;
@padding_ListView-GroupBy_separator:                      0 12px;
@margin_ListView-GroupBy_separatorCollapse:               0 6px 0 0;
@font-size_ListView-GroupBy_text:                         @small-text-size;
@font-size_ListView-GroupBy_expander:                     16px;
//DataGridView
@font-size_DataGridView-headerIcon:                       16px;
@font-size_DataGridView-results:                          @default-text-size;
@right_DataGridView-toolbar_markerRight:                  @background-size_Marker;
@spacing-bottom_DataGridView-topRow:                      3px;
@border-bottom-width_DataGridView-topRow:                 1px;
//TreeDataGridView
@font-size_TreeDataGridView-folderTitle:                  inherit;
@width_TreeDataGridView-expand:                           16px;
@padding_TreeDataGridView-expand:                         0 4px 0 4px;
@height_TreeDataGridView-expand:                          20px;
@width-TreeDataGridView-levelPadding:                     24px;
@font-size_TreeDataGridView-expand:                       @icon-small-size;
@top_TreeDataGridView-editArrow:                          2px;
@font-size_TreeDataGridView-editArrow:                    16px;
@margin_TreeDataGridView-editArrow:                       0;
@width_TreeDataGridView-copyArrow:                        19px;
@right_TreeDataGridView-copyArrow:                        -1px;

//MenuButton
@menu-button-header-font-size:    @font-size_Popup;
@bread-crumb-home-font-size:      @icon-size_default;
//ToggleButton_square
@border-width_ToggleButton-square:    1px;
@height_ToggleButton-square:          32px;
@width_ToggleButton-square:           @height_ToggleButton-square;
@line-height_ToggleButton-square:     @height_ToggleButton-square;
@border-radius_ToggleButton-square:   2px;
@left_ToggleButton-square-icon:       3px;
@margin-top_ToggleButton-square-icon: -12px;
@background-color_ToggleButton-square:#F3F3F3;
@border-color_ToggleButton-square:    #587AB0;
//LongOperationsPopup
@top_LongOperationsPopup-closeButton:      8px;
