@themeName: 'online';
@import "_theme-min";

.ws-fix-emoji .ws-basic-style {
   font-family: 'EmojiFont', @default-font-name;
}

.controls-roundedCorner_size_s {
   border-radius: @border-radius_size_s;
}

.controls-roundedCorner_size_m {
   border-radius: @border-radius_size_m;
}

.addButtonMixin(@svgIcon, @size: 12px) {
   .inline-flexbox();
   .justify-content(center);
   .align-items(center);

   &:before {
      content: '';
      display: inline-block;
      width: @size;
      height: @size;
      background-image: @svgIcon;
      background-size: contain;
   }
}

.controls-Button__closeButton.controls-IconButton {
   width: 36px;
   height: 24px;
   background: @closeButtonImage;
   &:hover {
      background: @closeButtonImageHover;
   }
   &:active {
      background: @closeButtonImageHover;
   }
}

.controls-ListView__item__selected {
   > .controls-DataGridView__td:first-child {
      .marker(@marker-bg-image)
   }
}

.controls-ListView__mobileSelected-fix {
   &.controls-DataGridView__markerRight {
      .controls-ListView__item__selected:hover {
         .controls-DataGridView__td:last-child {
            .marker(@marker-bg-image, right top);
         }
      }
   }
   &:not(.controls-DataGridView__markerRight) {
      .controls-ListView__item__selected:hover {
         .controls-DataGridView__td:first-child {
            .marker(@marker-bg-image);
         }
         .controls-ListView__withoutMarker {
            .controls-DataGridView__td:first-child {
               background-image: none;
            }
         }
      }
   }
    //todo
    &.controls-ListView__withoutMarker,.controls-ListView__withoutMarker {
       .controls-DataGridView__td:first-child {
          background-image: none !important;
       }
    }
}

.controls-Popup-border {
   .border-radius(0);
   border-width: @menu-border-width;
   border-style: solid;
   border-color: @border-color_Menu;
}

.controls-Popup__touchScroll-fix {
   .controls-ScrollContainer .controls-ScrollContainer__content, &.controls-Menu__Popup, &.controls-DropdownList__picker {
      -webkit-overflow-scrolling: touch!important;
   }
}

.controls-DataGridView__td .controls-TreeView__searchBreadCrumbs {
   top: -1px;
}

// замена иконок через svg для выравнивания
.controls-Button .icon-AddButtonNew.normaltext-color{
   .addButtonMixin(@content_addButton_black);
}
.controls-Button, .controls-IconButton {
   .icon-AddButtonNew.icon-primary {
      &.icon-24, &.icon-medium {
         .addButtonMixin(@content_addButton_blue);
      }
      &.icon-16, &.icon-small {
         .addButtonMixin(@content_addButton_blue, 10px);
      }
   }
}
.controls-Menu__Popup:not(.controls-MenuPicker__resetIconColor) .controls-Menu__header-icon.icon-AddButtonNew{
   &.icon-24, &.icon-medium {
      .addButtonMixin(@content_addButton_blueDark);
   }
   &.icon-16, &.icon-small {
      .addButtonMixin(@content_addButton_blueDark, 10px);
   }
}

.ws-is-desktop-platform {
   .controls-IconButton__standardBorder:hover .controls-Button__icon.icon-AddButtonNew.icon-primary {
      &.icon-16, &.icon-small {
         .addButtonMixin(@content_addButton_blueDark, 10px);
      }
   }
}
