/*
* Стандартные стили платформы
*
* http://axure.tensor.ru/standarts/v7/%D1%82%D0%B8%D0%BF%D0%BE%D0%B2%D1%8B%D0%B5_%D1%81%D1%82%D0%B8%D0%BB%D0%B8.html
*/
//todo: удалить после выполнения задачи: https://online.sbis.ru/opendoc.html?guid=62aed5a0-ae9b-4943-a93b-a5b8b9972a2a
/*Дополнительный мелкий текст*/
.ws-gray-small {
  color: #999999;
  font-size: 12px;
  font-family: 'TensorFont', sans-serif;
}

/*Заголовки таблиц*/
.ws-dataview-head-text {
  color: #999999;
  font-size: 12px;
  font-family: 'TensorFont', sans-serif;
}

/*Мелкая неосновная ссылка*/
.ws-additional-link-small {
  color: #8991A9;
  font-size: 12px;
  font-family: 'TensorFont', sans-serif;
}

/*Мелкая основная ссылка*/
.ws-color-link-small {
  color: #0055BB;
  font-size: 12px;
  font-family: 'TensorFont', sans-serif;
}

.ws-color-link-small:hover {
  color: #FF7033;
  text-decoration: underline;
}

/*Дополнительный текст в таблице бледный*/
.ws-dataview-additional-text-light {
  color: #CCCCCC;
  font-size: 13px;
  font-family: 'TensorFont', sans-serif;
}

/*Комментарии в таблицах*/
.ws-dataview-comments {
  color: #EF463A;
  font-size: 13px;
  font-family: 'TensorFont', sans-serif;
}

/*Основной жирный текст в таблице*/
.ws-dataview-text-bold {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Основной текст в таблице*/
.ws-dataview-text {
  color: #000000;
  font-size: 14px;
}

/*Неосновная ссылка*/
.ws-gray-label {
  color: #999999;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Метка поля ввода*/
.ws-additional-link, .controls-Link.ws-additional-link {
  color: #8991A9;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Дополнительный текст в таблице*/
.ws-dataview-text-additional {
  color: #8991A9;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Дополнительный текст в таблице*/
.ws-dataview-text-additional-small {
  color: #8991A9;
  font-size: 13px;
  font-family: 'TensorFont', sans-serif;
}

/*Дополнительный текст в таблице - название подразделений*/
.ws-dataview-text-additional-small-light {
  color: #CCCCCC;
  font-size: 12px;
  font-family: 'TensorFont', sans-serif;
}

/*Неакцентная ссылка*/
.ws-color-link-light {
  color: #CCCCCC;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Основная ссылка*/
.ws-color-link {
  color: #0055BB;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

.ws-color-link:hover {
  color: #FF7033;
  text-decoration: underline;
}

.ws-current-window-link{
  color: #0055BB;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

.ws-current-window-link:hover {
  color: #FF7033;
  border-bottom: 1px dashed #FF7033;
}

/*Ошибка*/
.ws-color-error {
  color: #EF463A;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Успешное действие*/
.ws-color-no-errors {
  color: #72BE44;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Предупреждение*/
.ws-color-warning {
  color: #FEC63F;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Увеличенный основной жирный текст в таблице/Итоги*/
.ws-dataview-text-bigger {
  color: #000000;
  font-size: 15px;
  font-family: 'TensorFont', sans-serif;
}

/*Увеличенный основной текст в таблице*/
.ws-dataview-text-bigger-bold {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: 'TensorFont', sans-serif;
}

/*Названия папок браузера*/
.ws-dataview-folder {
  color: #000000;
  font-size: 15px;
  font-family: 'TensorFont', sans-serif;
}

/*Названия папок браузера (плитка)*/
.ws-dataview-folder-tile {
  color: #313E78;
  font-weight: bold;
  font-size: 15px;
  font-family: 'TensorFont', sans-serif;
}

/*Метка поля связи*/
.ws-field-link-label {
  color: #999999;
  text-decoration: underline;
  font-size: 14px;
  font-family: 'TensorFont', sans-serif;
}

/*Значения основного поля связи*/
.ws-field-link-value {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: 'TensorFont', sans-serif;
}

/*Заголовок модального диалога*/
.ws-dialog-title {
  color: #000000;
  font-size: 18px;
  font-family: 'TensorFont', sans-serif;
}
