.controls-CustomRadioItem__caption {
   font-size: 14px;
   font-weight: bold;
   padding-left: 6px;
}
.controls-CustomRadioItem__caption_selected_disabled {
   color: #CCCCCC;
}
.controls-CustomRadioItem__caption_selected_enabled {
   color: #313E78;
}
.controls-CustomRadioItem__caption_unselected_disabled {
   color: #CCCCCC;
}
.controls-CustomRadioItem__caption_unselected_enabled {
   color: #999999;
}
.controls-SingleRadioItem__caption {
   font-size: 14px;
   font-weight: bold;
   padding: 6px;
   border-style: solid;
   border-radius: 2px;
   width: 32px;
}
.controls-SingleRadioItem__caption_selected_disabled {
   color: dimgrey;
   border-color: dimgrey;
}
.controls-SingleRadioItem__caption_selected_enabled {
   color: darkred;
   border-color: darkred;
}
.controls-SingleRadioItem__caption_unselected_disabled {
   color: darkgrey;
   border-color: darkgrey;
}
.controls-SingleRadioItem__caption_unselected_enabled {
   color: darkgreen;
   border-color: darkgreen;
}
.controls-UnionRadioGroupDemo__wrapper {
   display: inline-flex;
   align-items: center;
}
.controls-UnionRadioItem__caption {
   font-size: 14px;
   font-weight: bold;
   padding-left: 6px;
}
.ws-is-no-touch {
   .controls-CustomRadioItem_wrapper:hover {
      .controls-CustomRadioItem__caption_unselected_enabled {
         text-decoration: underline;
      }
   }
}
.demo-RadioGroup__TestBlock {
   display: block;
}
.demo-RadioGroup {
   padding: 20px;
}
.exampleBlock, .optionsBlock, .eventBlock {
   width: 500px;
   padding: 3em;
}
.comboboxWidth {
   width: 100px;
}
.exampleBlock {
   margin: 2% 10% 0 10%;
   background-color: #e0f6ff;
}
.optionsBlock {
   margin: 0 10% 2% 10%;
   background-color: #e4ecff;
}
.eventBlock {
   margin: 2% 10% 2% 10%;
   background: rgba(103, 185, 255, 0.17);
}
.demo-Radio__contentTemplate_padding {
   padding: 4px;
}
.demo-Radio__contentTemplate__caption {
   font-size: 11px;
   color: grey;
}
