.docs-ListEditDialog__content {
   padding: 16px;
   float: left;
}
.docs-ListEditDialog__content-label {
   width: 100px;
   float: left;
   font-weight: 600;
}
.docs-ListEditDialog__content-label2 {
   font-weight: 600;
   padding-left: 16px;
}
.docs-ListEditDialog__content-field {
   width: 200px;
}
.docs-ListEditDialog__button-submit {
   float: right;
   top: 8px;
   right: 40px;
}
.docs-ListEditDialog__button-toolbar {
   position: absolute;
   right: 140px;
   top: 8px;
}
.docs-ListEditDialog__block-field {
   width: 300px;
   margin-bottom: 20px;
}
.docs-ListEditDialog .ws-window-titlebar-custom {
   background-color: #F7F4F0;
   border-bottom: 1px solid #CCC;
}