.controls-MenuButton {
  max-width: 100%;
  display: inline-block;
  .box-sizing(border-box);
}

.controls-MenuButton_button {
  margin-top: @margin-top_MenuButton_button;
  margin-left: @margin-left_MenuButton_button;
}

.controls-MenuButton_button_medium {
  margin-top: @margin-top_MenuButton_button-medium;
  margin-left: @margin-left_MenuButton_button;
}

.controls-MenuButton_link__m {
  margin-top: @margin-top_MenuButton_link-default;
  margin-left: @margin-left_MenuButton_link-default;
}

.controls-MenuButton_iconButtonBordered__l_medium {
  margin-top: @margin-top_MenuButton_bordered__l-medium;
  margin-left: @margin-left_MenuButton_bordered__l-medium;
}

.controls-MenuButton_iconButtonBordered__m_small {
  margin-top: @margin-top_MenuButton_bordered__m-small;
  margin-left: @margin-left_MenuButton_bordered__m-small;
}

.controls-MenuButton_link_small {
  margin-top: @margin-top_MenuButton_link_small;
  margin-left: @margin-left_MenuButton_link_small;
}

.controls-MenuButton_link_medium {
  margin-top: @margin-top_MenuButton_link_medium;
  margin-left: @margin-left_MenuButton_link_medium;
}

.controls-MenuButton_link_medium_duplicate {
  margin-top: @margin-top_MenuButton_link_duplicate_medium;
  margin-left: @margin-left_MenuButton_link_duplicate_medium;
}

.controls-MenuButton_link_small_duplicate {
  margin-top: @margin-top_MenuButton_link_duplicate_small;
  margin-left: @margin-left_MenuButton_link_duplicate_small;
}
