/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-MenuButton {
  max-width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-MenuButton_button {
  margin-top: -5px;
  margin-left: -1px;
}
.controls-MenuButton_button_medium {
  margin-top: -5px;
  margin-left: -1px;
}
.controls-MenuButton_link__m {
  margin-top: -9px;
  margin-left: -13px;
}
.controls-MenuButton_iconButtonBordered__l_medium {
  margin-top: -3px;
  margin-left: -11px;
}
.controls-MenuButton_iconButtonBordered__m_small {
  margin-top: -5px;
  margin-left: -9px;
}
.controls-MenuButton_link_small {
  margin-top: -8px;
  margin-left: -13px;
}
.controls-MenuButton_link_medium {
  margin-top: -5px;
  margin-left: -13px;
}
.controls-MenuButton_link_medium_duplicate {
  margin-top: -7px;
  margin-left: -12px;
}
.controls-MenuButton_link_small_duplicate {
  margin-top: -10px;
  margin-left: -12px;
}
