.controls-LabelV {
   padding: @padding_Label;
   height:  @height_Label;
}
.controls-LabelV__caption {
   height: 100%;
}
.controls-LabelV__caption_required:after {
   content: ' *';
}
.controls-LabelV_enabled {
   color: @color_Label-caption_enabled;
}
.controls-LabelV_enabled:after {
   color: @color_Label-caption-after_enabled;
}
.controls-LabelV_disabled {
   color: @color_Label-caption_disabled;
}
.controls-LabelV when not (@font-size_Label = 0) {
   font-size: @font-size_Label;
}
.ws-is-no-touch {
   .controls-Label_underline-hovered:hover {
      text-decoration: underline;
   }
   .controls-Label_underline_color-hovered:hover {
      color: @color_Link-main-text_hovered;
   }
}
.controls-Label_underline-hovered:active {
   text-decoration: underline;
}
.controls-Label_underline_color-hovered:active {
   color: @color_Link-main-text_hovered;
}
.controls-Label_underline_color-hovered, .controls-Label_underline-hovered {
   cursor: pointer;
   display: inline-block;
}
//TODO: убрать когда лэйбл будет переписан: https://online.sbis.ru/opendoc.html?guid=5c635b8d-46df-44be-ab8d-8d763fa7bc7c
.controls-Label_underline_color-hovered,
.controls-Label_underline-hovered {
   padding: 0 !important;
   height:  auto !important;
}
.controls-Label_underline_color-hovered {
   text-decoration: underline;
}