.demo-filterSearch {
    display: inline-flex;
    margin: auto;
    background-color: #eaeaea;
}
.controls-demo__filterSearch-container {
    width: 575px;
    padding: 20px;
    height: 310px;
    margin-bottom: 4px;
    background-color: #ffffff;
}

.controls-demo__filterSearch-topWrapper {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    width: 100%;
}

.controls-demo__filterSearch-search {
    width: 300px;
}

.controls-demo__filterSearch-filters {
    display: flex;
}

.demo-FilterSearch__listItem {
    display: block;
    line-height: 24px;
}

.demo-FilterSearch__department {
    font-size: 17px;
    margin-right: 4px;
}

.demo-FilterSearch__title {
    font-size: 14px;
    color: #ccc;
}

.demo__filterSearch-tabs {
    width: 100%;
}

.demo-filterSearch__firstCol {
    margin: 4px;
}

.demo-filterSearch__secondCol {
    margin: 4px 4px 4px 0;
}

.demo__filterSearch-searchInTabs {
    justify-content: flex-end;
}
.controls-demo__filterSearch-container:last-child {
    margin-bottom: 0;
    padding-bottom: 70px;
}

.demo-FilterSearch__iconDep {
    margin-left: 4px;
}

.demo-filterSearch-wrapper {
    display: flex;
    margin-top: 50px;
}
