.demo-Grid__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 12px;
}

.demo-Grid__wrapper {
   width: 45%;
   margin-bottom: 64px;
   height: 320px;
   overflow-x: hidden;
   overflow-y: auto;
}

.demo-Grid__control {
   width: 100%;
}

.demo-Grid__item {
   display: inline-block;
}

.demo-Grid__item__units {
   color: #CCCCCC;
   font-size: 14px;
}