/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-PeriodLiteDialog {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  color: #000;
  font-size: 15px;
  padding: 0;
  height: auto;
}
.controls-PeriodLiteDialog__width-big {
  min-width: 176px;
}
.controls-PeriodLiteDialog__width-medium {
  min-width: 146px;
}
.controls-PeriodLiteDialog__vLayout {
  background-color: #ffffff;
}
.controls-PeriodLiteDialog__vLayoutItem {
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px transparent;
}
.controls-PeriodLiteDialog__vLayoutItem ~ .controls-PeriodLiteDialog__vLayoutItem {
  margin-top: -1px;
}
.controls-PeriodLiteDialog__vLayoutItem-clickable:hover {
  border-color: #8991A9;
  background-color: #ffffff;
}
.controls-PeriodLiteDialog__vLayoutItem-clickable:active {
  border-color: #8991A9;
}
.controls-PeriodLiteDialog__vLayoutItem-caption {
  height: 30px;
  line-height: 30px;
}
.controls-PeriodLiteDialog__item-background-hovered {
  border: solid 1px #8991A9;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-PeriodLiteDialog__background-transparent {
  background-color: transparent !important;
}
.controls-PeriodLiteDialog__text-align-center {
  text-align: center;
}
.controls-PeriodLiteDialog__currentValue {
  font-size: 15px;
  font-weight: bold;
  color: #313E78;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border-bottom: none;
  padding: 0 10px;
  margin-bottom: 0;
  background-color: #F4F4F4;
  cursor: pointer;
}
.controls-PeriodLiteDialog__yearWrapper {
  position: relative;
  margin-bottom: 4px;
  background-color: #ffffff;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.controls-PeriodLiteDialog__year-prev,
.controls-PeriodLiteDialog__year-next {
  cursor: pointer;
  font-size: 16px;
  color: #0055BB;
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 32px;
}
.controls-PeriodLiteDialog__year-prev:hover,
.controls-PeriodLiteDialog__year-next:hover {
  color: #313E78;
}
.controls-PeriodLiteDialog__year-prev:before {
  content: "\e008 ";
}
.controls-PeriodLiteDialog__year-next:before {
  content: "\e007";
}
.controls-PeriodLiteDialog__home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
}
.controls-PeriodLiteDialog__home-wrapper-lite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
}
.controls-PeriodLiteDialog__year {
  color: #0055BB;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.controls-PeriodLiteDialog__year-medium {
  padding-left: 12px;
}
.controls-PeriodLiteDialog__year-clickable {
  cursor: pointer;
}
.controls-PeriodLiteDialog__year-clickable:hover {
  background-color: inherit;
}
.controls-PeriodLiteDialog-item {
  margin-top: 0;
}
.controls-PeriodLiteDialog-item-years {
  min-width: 82px;
}
.controls-PeriodLiteDialog__bodyWrapper {
  position: relative;
  background-color: #F4F4F4;
}
.controls-PeriodLiteDialog-item__halfYear {
  position: relative;
  height: auto;
  margin-bottom: 4px;
}
.controls-PeriodLiteDialog-item__halfYear:last-child {
  margin-bottom: 0;
}
.controls-PeriodLiteDialog-item__halfYear-caption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  color: #0055BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  right: initial;
  left: 0;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-PeriodLiteDialog-item__quarter {
  position: relative;
  height: auto;
  margin: 0 0 4px 34px;
}
.controls-PeriodLiteDialog-item__quarter:nth-last-of-type(2) {
  margin-bottom: 0;
}
.controls-PeriodLiteDialog-item__quarter-caption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 100%;
  padding: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background-color: #ffffff;
  color: #0055BB;
  position: absolute;
  width: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-PeriodLiteDialog-item__quarter-caption:hover {
  color: #000;
}
.controls-PeriodLiteDialog-item__month-caption {
  padding: 0 8px 0 8px;
}
.controls-PeriodLiteDialog-item__checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.controls-PeriodLiteDialog-item__month-wrapper {
  background-color: #ffffff;
  margin: 0 0 0 32px;
}
.controls-PeriodLiteDialog__years-bold {
  font-weight: bold;
  color: #0055BB;
}
.controls-PeriodLiteDialog__years-prev,
.controls-PeriodLiteDialog__years-next {
  cursor: pointer;
  color: #0055BB;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: normal;
}
.controls-PeriodLiteDialog__years-prev:hover,
.controls-PeriodLiteDialog__years-next:hover {
  color: #313E78;
}
.controls-PeriodLiteDialog__years-home {
  text-align: center;
  margin: 0 auto 12px;
}
.controls-PeriodLiteDialog__selectedYear {
  font-weight: bold;
  color: #0055BB;
}
