.controls-PeriodLiteDialog__container () {
   position: relative;
   height: auto;
}

.controls-PeriodLiteDialog__container-caption () {
   box-sizing: border-box;
   cursor: pointer;
   display: none;
   height: 100%;
   padding: 0;
   position: absolute;
   top: 0;
}

.controls-PeriodLiteDialog__container-month-caption () {
   .controls-PeriodLiteDialog__container-caption();
}

.controls-PeriodLiteDialog {
   box-sizing: padding-box;
   .user-select();
   background-color: @background-color_PeriodLiteDialog;
   border: @float-area-border;
   border-radius: 0;
   color: @default-text-color;
   font-size: @font-size_PeriodLiteDialog;
   padding: 0;
   height: auto;
}

.controls-PeriodLiteDialog__width-big {
   min-width: @min-width_PeriodLiteDialog;
}
.controls-PeriodLiteDialog__width-medium {
   min-width: @min-width_PeriodLiteDialog-medium;
}

.controls-PeriodLiteDialog__vLayout {
   background-color: @background-color_PeriodLiteDialog;
}

.controls-PeriodLiteDialog__vLayoutItem {
   cursor: pointer;
   position: relative;
   box-sizing: border-box;
   border: solid @border-width_PeriodLiteDialog_hovered transparent;

   ~ .controls-PeriodLiteDialog__vLayoutItem {
      margin-top: -1px;
   }
}

.controls-PeriodLiteDialog__vLayoutItem-clickable {
   &:hover {
      border-color: @border-color_PeriodLiteDialog_hovered;
      background-color: @background-color_PeriodLiteDialog_hovered;
   }
   &:active {
      border-color: @border-color_PeriodLiteDialog_hovered;
   }
}

.controls-PeriodLiteDialog__vLayoutItem-caption {
   height: @standart-line-height_PeriodLiteDialog - @border-width_PeriodLiteDialog_hovered * 2;
   line-height: @standart-line-height_PeriodLiteDialog - @border-width_PeriodLiteDialog_hovered * 2;
}

.controls-PeriodLiteDialog__item-background-hovered {
   border: solid @border-width_PeriodLiteDialog_hovered @border-color_PeriodLiteDialog_hovered;
   background-color: @background-color_PeriodLiteDialog_hovered;
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}

.controls-PeriodLiteDialog__background-transparent {
   background-color: transparent !important;
}

.controls-PeriodLiteDialog__text-align-center {
   text-align: center;
}

.controls-PeriodLiteDialog__currentValue {
   font-size:  @font-size_PeriodLiteDialog-currentValue;
   font-weight: @font-weight_PeriodLiteDialog-currentValue;
   color: @color_PeriodLiteDialog-currentValue;
   text-align: center;
   height: @height_PeriodLiteDialog-currentValue;
   line-height: @height_PeriodLiteDialog-currentValue;
   border-bottom: none;
   padding: 0 @padding-left-right_PeriodLiteDialog-currentValue;
   margin-bottom: 0;
   background-color: @bg-color_PeriodLiteDialog-currentValue;
   cursor: pointer;
}

.controls-PeriodLiteDialog__yearWrapper {
   position: relative;
   margin-bottom: @indents_PeriodLiteDialog;
   background-color: @bg-color_PeriodLiteDialog-yearWrapper;
   height: @height_PeriodLiteDialog-year;
   display: flex;
   align-items: stretch;
}

.controls-PeriodLiteDialog__year-prev,
.controls-PeriodLiteDialog__year-next {
   cursor: pointer;
   font-size: @font-size_PeriodLiteDialog-year-prev-next-btns;
   color: @color_PeriodLiteDialog-year_prev_next;
   text-align: center;
   height: @height_PeriodLiteDialog-year;
   width: @width_PeriodLiteDialog-year-prev-next-btns;
   line-height: @height_PeriodLiteDialog-year;
   &:hover {
      color: @color_PeriodLiteDialog-year-prev-next_hovered;
   }
}
.controls-PeriodLiteDialog__year-prev:before {
   content: "\e008 ";
}
.controls-PeriodLiteDialog__year-next:before {
   content: "\e007";
}

.controls-PeriodLiteDialog__home-wrapper {
   display: flex;
   justify-content: center;
   width: @width_PeriodLiteDialog-home-icon;
}
.controls-PeriodLiteDialog__home-wrapper-lite {
   display: flex;
   width: @width_PeriodLiteDialog-home-icon-lite;
}

.controls-PeriodLiteDialog__year {
   color: @color_PeriodLiteDialog-year;
   display: block;
   font-size: @font-size_PeriodLiteDialog-year;
   font-weight: bold;
   height: @height_PeriodLiteDialog-year;
   line-height: @height_PeriodLiteDialog-year;
   vertical-align: middle;
   flex-grow: 1;
}

.controls-PeriodLiteDialog__year-medium {
   padding-left: @padding-left_PeriodLiteDialog-year;
}

.controls-PeriodLiteDialog__year-clickable{
   cursor: pointer;
   &:hover {
      background-color: inherit;
   }
}

.controls-PeriodLiteDialog-item {
   margin-top: 0;
}

.controls-PeriodLiteDialog-item-years {
   min-width: @min-width_PeriodLiteDialog-item-years
}

.controls-PeriodLiteDialog__bodyWrapper {
   position: relative;
   background-color: @indents-color_PeriodLiteDialog;
}

.controls-PeriodLiteDialog-item__halfYear {
   .controls-PeriodLiteDialog__container();

   margin-bottom: @indents_PeriodLiteDialog;

   &:last-child {
      margin-bottom: 0;
   }
}

.controls-PeriodLiteDialog-item__halfYear-caption {
   .controls-PeriodLiteDialog__container-caption();
   color: @color_Link-text;
   display: flex;
   width: @width_PeriodLiteDialog-halfyear-caption;
   right: initial;
   left: 0;
   background-color: @background-color_PeriodLiteDialog;
   justify-content: center;
   align-items: center;
}

.controls-PeriodLiteDialog-item__quarter {
   .controls-PeriodLiteDialog__container();
   margin: @margin_PeriodLiteDialog-quarter;
}

.controls-PeriodLiteDialog-item__quarter:nth-last-of-type(2) {
   margin-bottom: 0;
}

.controls-PeriodLiteDialog-item__quarter-caption {
   .controls-PeriodLiteDialog__container-caption();
   display: flex;
   left: 0;
   background-color: @background-color_PeriodLiteDialog;
   color: @color_Link-text;
   position: absolute;
   width: @width_PeriodLiteDialog-quarter-caption;
   justify-content: center;
   align-items: center;

   &:hover {
      color: @color_PeriodLiteDialog-quarter-caption_hovered;
   }
}

.controls-PeriodLiteDialog-item__month-caption {
   padding: @padding_PeriodLiteDialog-month;
}

.controls-PeriodLiteDialog-item__checkBox {
   display: flex;
   position: absolute;
   top: 0;
   right: @right_PeriodLiteDialog-checkbox;
   align-items: center;
   height: 100%;
}

.controls-PeriodLiteDialog-item__month-wrapper {
   background-color: @background-color_PeriodLiteDialog;
   margin: @margin_PeriodLiteDialog-month;
}

.controls-PeriodLiteDialog__years-bold {
   font-weight: bold;
   color: @color_PeriodLiteDialog-years-only-curent-year;
}

.controls-PeriodLiteDialog__years-prev,
.controls-PeriodLiteDialog__years-next {
   cursor: pointer;
   color: @color_Link-text;
   text-align: center;
   height: @height_PeriodLiteDialog-year;
   line-height: @height_PeriodLiteDialog-year;
   font-size: @font-size_PeriodLiteDialog-year-prev-next-btns;
   font-weight: normal;
   &:hover {
      color: @color_Link-text_hovered;
   }
}

.controls-PeriodLiteDialog__years-home {
   text-align: center;
   margin: @margin_PeriodLiteDialog-home-button;
}

.controls-PeriodLiteDialog__selectedYear {
   font-weight: bold;
   color: @color_PeriodLiteDialog-selected-year;
}
