/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-PasswordInput__showPassword {
  cursor: pointer;
  color: #ccc;
  font-size: 24px;
  width: 24px;
  height: 24px;
  font-family: 'cbuc-icons24';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}
