.controls-Button_style-primary_viewMode-button {
   color: @color_Button-Vdom-text_primary;
   border-color: @border-color_Button_primary;
   background: @background_Button_primary;
}

.controls-Button_style-primary_viewMode-button:active {
   border-color: @border-color_Button_primary_hovered;
   background: @background_Button_primary_active;
}

.controls-Button_style-primary_viewMode-button_readOnly {
   background: @background_Button-primary_readOnly;
}

.controls-Button_style-secondary_viewMode-button {
   color: @color_Button-Vdom-text_default;
   border-color: @border-color_Button;
   background: @background_Button_default;
}

.controls-Button_style-secondary_viewMode-button:active {
   border-color: @border-color_Button_hovered;
   background: @background_Button_default_active;
}

.controls-Button_style-secondary_viewMode-button_readOnly {
   background: @background_Button-default_readOnly;
}

.controls-Button_viewMode-button_readOnly{
   min-width: @min-width_Button-Vdom;
   cursor: default;
   color: @color_Button-Vdom-readOnly;
   border-color: @border-color_Button-Vdom_readOnly;
}

.controls-Button_viewMode-button_size-m {
   height: @height_Button_m;
   font-size: @font-size_Button-Vdom_m;
   border-style: solid;
   border-width: @border-width_Button-Vdom;
   .border-radius(@border-radius_Button_default);
}

.controls-Button_viewMode-button_size-l {
   font-size: @font-size_Button-Vdom_l;
   border-style: solid;
   height: @height_Button-Vdom_l;
   border-width: @border-width_Button-Vdom;
   .border-radius(@border-radius_Button_l);
}

.controls-Button__wrapper_viewMode-button_size-m {
   padding: @padding_Button-wrapper_default;
   .justify-content(center);
}

.controls-Button__wrapper_viewMode-button_size-l {
   padding: @padding_Button-Vdom-wrapper_l;
   .justify-content(center);
}

.controls-Button__icon-default_iconStyle-default, .controls-Button__icon-default-big_iconStyle-default {
   color: @color_Button-icon;
}

.controls-Button__icon-primary_iconStyle-default, .controls-Button__icon-primary-big_iconStyle-default {
   color: @color_Button-icon_primary;
}

.controls-Button__icon-secondary_iconStyle-default_viewMode-button {
   color: @color_Button-icon;
}

.controls-Button__icon-primary_iconStyle-default_viewMode-button {
   color: @color_Button-icon_primary;
}

.controls-Button_viewMode-link_readOnly {
   color: @disabled-color;
}

.ws-is-no-touch {
   //root tag "a" should be without underline
   .controls-BaseButton:hover {
      text-decoration: none;
   }

   .controls-Button_style-primary_viewMode-button:hover {
      border-color: @border-color_Button_primary_hovered;
      background: @background_Button_primary_hovered;
   }

   .controls-Button_style-secondary_viewMode-button:hover {
      border-color: @border-color_Button_hovered;
      background: @background_Button_hovered;
   }

   .controls-Button_style-secondary_viewMode-button:active {
      border-color: @border-color_Button_hovered;
      background: @background_Button_default_active;
   }

   .controls-Button_style-primary_viewMode-button:active {
      border-color: @border-color_Button_primary_hovered;
      background: @background_Button_primary_active;
   }

   .controls-Button_style-danger_viewMode-transparentQuickButton:hover, .controls-Button_style-danger_viewMode-quickButton:hover {
      border-color: @color_danger;
   }

   .controls-Button_style-warning_viewMode-transparentQuickButton:hover, .controls-Button_style-warning_viewMode-quickButton:hover {
      border-color: @color_warning;
   }

   .controls-Button_style-success_viewMode-transparentQuickButton:hover, .controls-Button_style-success_viewMode-quickButton:hover {
      border-color: @color_success;
   }

   .controls-Button_style-info_viewMode-transparentQuickButton:hover, .controls-Button_style-info_viewMode-quickButton:hover {
      border-color: @color_info;
   }

   .controls-Button_style-primary_viewMode-transparentQuickButton:hover, .controls-Button_style-primary_viewMode-quickButton:hover {
      border-color: @color_primaryV;
   }

   .controls-Button_style-secondary_viewMode-transparentQuickButton:hover, .controls-Button_style-secondary_viewMode-quickButton:hover {
      border-color: @color-IconButton__border_iconStyle-primary_hovered;
   }

   .controls-Button_style-secondary_viewMode-quickButton:hover {
      .controls-Button__icon-secondary {
         color: @color_Link-main-text_hovered;
      }
   }

   .controls-Button_style-secondary_viewMode-transparentQuickButton:hover {
      .controls-Button__icon-secondary {
         color: @color_Link-main-text_hovered;
      }
   }

   .controls-Button_style-secondary_viewMode-link:hover {
      .controls-Button__icon-secondary {
         color: @color_Link-main-text_hovered;
      }
   }
}

.controls-Button__icon-info {
   color: @color_info;
}

.controls-Button__icon-success {
   color: @color_success;
}

.controls-Button__icon-danger {
   color: @color_danger;
}

.controls-Button__icon-warning {
   color: @color_warning;
}

.controls-Button__icon-secondary {
   color: @color_secondary;
}

.controls-Button__icon-primary {
   color: @color_primaryV;
}

.controls-Button__icon-default {
   color: @color_text_default;
}

//Common button styles
.controls-BaseButton {
   max-width: 100%;
   display: inline-block;
   box-sizing: border-box;
   .user-select();
   text-decoration: none;
}

.controls-BaseButton:active {
   text-decoration: none;
}

.controls-BaseButton__text {
   .text-overflow();
}

//quickButton styles
.controls-Button__wrapper_viewMode-quickButton_size-m, .controls-Button__wrapper_viewMode-quickButton_size-l,
.controls-Button__wrapper_viewMode-transparentQuickButton_size-m, .controls-Button__wrapper_viewMode-transparentQuickButton_size-l {
   justify-content: center;
}

.controls-Button_viewMode-quickButton, .controls-Button_viewMode-quickButton_readOnly {
   background-color: @background-color-IconButton;
}

.controls-Button_viewMode-transparentQuickButton, .controls-Button_viewMode-transparentQuickButton_readOnly {
   background-color: @background-color-IconButton_transparent;
}

.controls-Button_viewMode-quickButton, .controls-Button_viewMode-quickButton_readOnly,
.controls-Button_viewMode-transparentQuickButton, .controls-Button_viewMode-transparentQuickButton_readOnly {
   border-radius: @border-radius-IconButton;
   border-style: @border-style-IconButton;
   border-width: @border-width-IconButton;
   box-shadow: @box-shadow-IconButton;
}

.controls-Button_viewMode-quickButton, .controls-Button_viewMode-transparentQuickButton {
   cursor: pointer;
}

.controls-Button_viewMode-quickButton_style-common, .controls-Button_viewMode-transparentQuickButton_style-common {
   border-color: @border-color-IconButton;
}

.controls-Button_viewMode-quickButton_size-m, .controls-Button_viewMode-transparentQuickButton_size-m {
   height: @height-IconButton_size-m;
   min-width: @width-IconButton_size-m;
}

.controls-Button_viewMode-quickButton_size-l, .controls-Button_viewMode-transparentQuickButton_size-l {
   height: @height-IconButton_size-l;
   min-width: @width-IconButton_size-l;
}

.controls-Button_viewMode-quickButton_readOnly, .controls-Button_viewMode-transparentQuickButton_readOnly {
   color: @color-Button_type-IconButton_readOnly;
   border-color: @border-color-IconButton_readOnly;
}

.ws-is-no-touch {
   .controls-Button_viewMode-quickButton:hover {
      background-color: @background-color-IconButton_hovered;
   }

   .controls-Button_viewMode-transparentQuickButton:hover {
      background-color: @background-color-IconButton_transparent_hovered;
   }

   .controls-Button_style-success_viewMode-quickButton:hover {
      border-color: @color_success;
   }

   .controls-Button_style-warning_viewMode-quickButton:hover {
      border-color: @color_warning;
   }

   .controls-Button_style-info_viewMode-quickButton:hover {
      border-color: @color_info;
   }

   .controls-Button_style-danger_viewMode-quickButton:hover {
      border-color: @color_danger;
   }

   .controls-Button_style-primary_viewMode-quickButton:hover {
      border-color: @color_primaryV;
   }

   .controls-Button_style-success_viewMode-transparentQuickButton:hover {
      border-color: @color_success;
   }

   .controls-Button_style-warning_viewMode-transparentQuickButton:hover {
      border-color: @color_warning;
   }

   .controls-Button_style-info_viewMode-transparentQuickButton:hover {
      border-color: @color_info;
   }

   .controls-Button_style-danger_viewMode-transparentQuickButton:hover {
      border-color: @color_danger;
   }

   .controls-Button_style-primary_viewMode-transparentQuickButton:hover {
      border-color: @color_primaryV;
   }
}

.controls-Button_style-success_viewMode-quickButton:active {
   border-color: @color_success;
}

.controls-Button_style-warning_viewMode-quickButton:active {
   border-color: @color_warning;
}

.controls-Button_style-info_viewMode-quickButton:active {
   border-color: @color_info;
}

.controls-Button_style-danger_viewMode-quickButton:active {
   border-color: @color_danger;
}

.controls-Button_style-primary_viewMode-quickButton:active {
   border-color: @color_primaryV;
}

.controls-Button_style-success_viewMode-transparentQuickButton:active {
   border-color: @color_success;
}

.controls-Button_style-warning_viewMode-transparentQuickButton:active {
   border-color: @color_warning;
}

.controls-Button_style-info_viewMode-transparentQuickButton:active {
   border-color: @color_info;
}

.controls-Button_style-danger_viewMode-transparentQuickButton:active {
   border-color: @color_danger;
}

.controls-Button_style-primary_viewMode-transparentQuickButton:active {
   border-color: @color_primaryV;
}

.controls-Button_viewMode-quickButton:active {
   background-color: @background-color-IconButton_hovered;
   box-shadow: @box-shadow-IconButton_activated;
}

.controls-Button_viewMode-transparentQuickButton:active {
   background-color: @background-color-IconButton_transparent_hovered;
   box-shadow: @box-shadow-IconButton_activated;
}

//Link styles
.controls-Button_viewMode-link {
   cursor: pointer;
}

.controls-Button__wrapper_viewMode-link_size-s{
   font-size: @font-size_Link-s;
}

.controls-Button__wrapper_viewMode-link_size-m{
   font-size: @font-size_Link-m;
}

.controls-Button__wrapper_viewMode-link_size-l{
   font-size: @font-size_Link-l;
}

.controls-Button__wrapper_viewMode-link_size-xl{
   font-size: @font-size_Link-xl;
}

.controls-Button_style-secondary_viewMode-link {
   color: @color_Link-main-text;
}

.controls-Button_style-success_viewMode-link {
   color: @color_Link_success;
}

.controls-Button_style-danger_viewMode-link {
   color: @color_Link_danger;
}

.controls-Button_style-info_viewMode-link {
   color: @color_Link_info;
}

.controls-Button_style-warning_viewMode-link {
   color: @color_Link_warning;
}

.controls-Button_style-primary_viewMode-link {
   color: @color_Link_primary;
}

.controls-Button_style-default_viewMode-link {
   color: @color_text_default;
}

.controls-Button_style-magic_viewMode-link {
   color: @color_Link_magic;
}

.ws-is-no-touch {
   .controls-Button_style-secondary_viewMode-link:hover {
      .controls-Button__icon-secondary_viewMode-link_iconStyle-default {
         color: @color_Link-main-text_hovered;
      }
      color: @color_Link-main-text_hovered;
   }
}

.controls-Button_type-link_readOnly {
   color: @color_Link-Vdom-text_readOnly;
}

.controls-Button_viewMode-button {
   cursor: pointer;
   min-width: @min-width_Button-Vdom;
   box-shadow: @box-shadow_Button;
}

.controls-Button_viewMode-button:active {
   box-shadow: @box-shadow_Button_active;
}

.controls-Button_viewMode-button_readOnly {
   min-width: @min-width_Button-Vdom;
   cursor: default;
   color: @color_Button-Vdom-readOnly;
   border-color: @border-color_Button-Vdom_readOnly;
}

.controls-Button_style-secondary_viewMode-Button_readOnly {
   background: @background_Button-default_readOnly;
}

.controls-Button_style-primary_viewMode-Button_readOnly {
   background: @background_Button-primary_readOnly;
}

.controls-Button__wrapper_viewMode-button_size-m {
   height: @height_Button_m;
   font-size: @font-size_Button-Vdom_m;
   .border-radius(@border-radius_Button_default);
}

.controls-Button__wrapper_viewMode-button_size-l {
   font-size: @font-size_Button-Vdom_l;
   height: @height_Button-Vdom_l;
   .border-radius(@border-radius_Button_l);
}

.controls-Button__icon-primary-add_iconStyle-default {
   color: @color_Button-style-addButton-icon;
}

.controls-Button__icon-default_iconStyle-default, .controls-Button__icon-default-big_iconStyle-default {
   color: @color_Button-icon;
}

.controls-Button__icon-primary_iconStyle-default, .controls-Button__icon-primary-big_iconStyle-default {
   color: @color_Button-icon_primary;
}

.controls-Button_style-secondary_viewMode-link:active {
   .controls-Button__icon-secondary_viewMode_iconStyle-default {
      color: @color_Link-main-text_hovered;
   }
   color: @color_Link-main-text_hovered;
}

.controls-Button_viewMode-link:active{
   .controls-BaseButton__text {
      text-decoration: underline;
   }
}

.controls-Button__wrapper_type-button_size-m {
   padding: @padding_Button-wrapper_default;
   .justify-content(center);
}

.controls-Button__wrapper_type-button_size-l {
   padding: @padding_Button-Vdom-wrapper_l;
   .justify-content(center);
}
.controls-Button__text_gap {
   margin-left: @spacing_Button-between-icon-text;
}
.ws-is-no-touch {
   .controls-Label_underline-hovered:hover {
      text-decoration: underline;
   }
   .controls-Label_underline_color-hovered:hover {
      color: @color_Link-main-text_hovered;
   }
}
.controls-Label_underline-hovered:active {
   text-decoration: underline;
}
.controls-Label_underline_color-hovered:active {
   color: @color_Link-main-text_hovered;
}
.controls-Label_underline_color-hovered {
   text-decoration: underline;
}
// перенес в vDom, чтобы не было пересечения со старыми кнопками
// изменено имя в остальном стили аналогичны
.controls-BaseButton__content {
   .button-wrapper-default-style();
   &:before {
      content: "\200b";
   }
}

.ws-is-no-touch {
   .controls-Button_viewMode-link:hover {
      .controls-BaseButton__text {
         text-decoration: underline;
      }
   }
}
// баг ие10, дочерний элемент контейнера с флексом неправильно рассчитывает свои размеры
// вследствии чего обрезание текста происходит неверно
.ws-is-ie10 {
   .controls-Button__text {
      display: inline-block;
      -ms-flex-negative: 1;
   }
}
