/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Button__close {
  display: inline-block;
}
.controls-Button__close__wrapper:before {
  content: "\200b";
}
.controls-Button__close__icon_default_l,
.controls-Button__close__icon_primary_l {
  font-size: 23px;
}
.ws-is-chrome .controls-Button__close__icon_default_l,
.ws-is-chrome .controls-Button__close__icon_primary_l {
  height: 24px;
}
.controls-Button__close__icon_default_l,
.controls-Button__close__icon_primary_l,
.controls-Button__close__icon_default_m,
.controls-Button__close__icon_primary_m {
  font-family: 'cbuc-icons';
  color: #587AB0;
}
.controls-Button__close__icon_default_m,
.controls-Button__close__icon_primary_m {
  font-size: 20px;
}
.controls-Button__close__icon_light_l,
.controls-Button__close__icon_light_m {
  font-size: 24px;
}
.controls-Button__close__icon:before {
  content: "\e66c";
  text-shadow: none;
}
.controls-Button__close__icon_default_l:active,
.controls-Button__close__icon_primary_l:active,
.controls-Button__close__icon_default_m:active,
.controls-Button__close__icon_primary_m:active {
  color: #313E78;
}
.controls-Button__close__icon_light_l:active,
.controls-Button__close__icon_light_m:active {
  color: #313E78;
}
.controls-Button__close__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.controls-Button__close_default {
  background-color: transparent;
}
.controls-Button__close_primary {
  background-color: #F8F8F8;
}
.controls-Button__close_default_l,
.controls-Button__close_primary_l {
  width: 35px;
  height: 26px;
}
.controls-Button__close_default_l,
.controls-Button__close_primary_l,
.controls-Button__close_default_m,
.controls-Button__close_primary_m {
  border: solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}
.controls-Button__close_default_m,
.controls-Button__close_primary_m {
  width: 28px;
  height: 22px;
}
.controls-Button__close_light_l,
.controls-Button__close_light_m {
  font-family: 'cbuc-icons24';
  width: 24px;
  height: 24px;
  color: #CCC;
}
.controls-Button__close_default:active,
.controls-Button__close_primary:active {
  border-color: #ccc;
}
.ws-is-no-touch .controls-Button__close__icon_default_l:hover,
.ws-is-no-touch .controls-Button__close__icon_primary_l:hover,
.ws-is-no-touch .controls-Button__close__icon_default_m:hover,
.ws-is-no-touch .controls-Button__close__icon_primary_m:hover {
  color: #313E78;
}
.ws-is-no-touch .controls-Button__close__icon_light_l:hover,
.ws-is-no-touch .controls-Button__close__icon_light_m:hover {
  color: #313E78;
}
.ws-is-no-touch .controls-Button__close_default_l:hover,
.ws-is-no-touch .controls-Button__close_primary_l:hover,
.ws-is-no-touch .controls-Button__close_default_m:hover,
.ws-is-no-touch .controls-Button__close_primary_m:hover {
  border-color: #ccc;
}
