.controls-Button__close {
   display: inline-block;
}

.controls-Button__close__wrapper:before {
   content: "\200b";
}

.controls-Button__close__icon_default_l, .controls-Button__close__icon_primary_l {
   font-size: @font-size_CloseButton_default;
}

//Icon has odd height, button has even height and chrome center align break down. Height is even for chrome.
.ws-is-chrome {
   .controls-Button__close__icon_default_l, .controls-Button__close__icon_primary_l {
      height: @height_CloseButton_icon_l;
   }
}

.controls-Button__close__icon_default_l, .controls-Button__close__icon_primary_l,
.controls-Button__close__icon_default_m, .controls-Button__close__icon_primary_m {
   font-family: @font-family_CloseButton_default;
   color: @color_CloseButton-icon;
}

.controls-Button__close__icon_default_m, .controls-Button__close__icon_primary_m {
   font-size: @font-size_CloseButton_m;
}

.controls-Button__close__icon_light_l, .controls-Button__close__icon_light_m {
   font-size: @font-size_CloseButton_light;
}

.controls-Button__close__icon:before {
   content: @content_CloseButton_icon;
   text-shadow: @text-shadow_Button;
}

.controls-Button__close__icon_default_l:active, .controls-Button__close__icon_primary_l:active,
.controls-Button__close__icon_default_m:active, .controls-Button__close__icon_primary_m:active {
   color: @color_CloseButton-icon_hover;
}

.controls-Button__close__icon_light_l:active, .controls-Button__close__icon_light_m:active {
   color: @color_CloseButton-light-icon_hover;
}

.controls-Button__close__wrapper {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.controls-Button__close_default {
   background-color: @background-color_CloseButton_default;
}

.controls-Button__close_primary {
   background-color: @background-color_CloseButton_primary;
}

.controls-Button__close_default_l, .controls-Button__close_primary_l {
   width: @width_CloseButton - extract(@border-width_CloseButton, 2) - extract(@border-width_CloseButton, 4);
   height: @height_CloseButton - extract(@border-width_CloseButton, 1) - extract(@border-width_CloseButton, 3);
}

.controls-Button__close_default_l, .controls-Button__close_primary_l,
.controls-Button__close_default_m, .controls-Button__close_primary_m {
   border: solid @border-color_CloseButton;
   border-width: @border-width_CloseButton;
   border-radius: @border-radius_CloseButton;
   box-shadow: @box-shadow_CloseButton;
}

.controls-Button__close_default_m, .controls-Button__close_primary_m {
   width: @width_CloseButton_m - extract(@border-width_CloseButton, 2) - extract(@border-width_CloseButton, 4);
   height: @height_CloseButton_m - extract(@border-width_CloseButton, 1) - extract(@border-width_CloseButton, 3);
}

.controls-Button__close_light_l, .controls-Button__close_light_m {
   font-family: @font-family_CloseButton_light;
   width: @width_CloseButton_small;
   height: @height_CloseButton_small;
   color: @color_CloseButton-light-icon;
}

.controls-Button__close_default:active, .controls-Button__close_primary:active {
   border-color: @default-border-color-second;
}

.ws-is-no-touch{
   .controls-Button__close__icon_default_l:hover, .controls-Button__close__icon_primary_l:hover,
   .controls-Button__close__icon_default_m:hover, .controls-Button__close__icon_primary_m:hover {
      color: @color_CloseButton-icon_hover;
   }

   .controls-Button__close__icon_light_l:hover, .controls-Button__close__icon_light_m:hover {
      color: @color_CloseButton-light-icon_hover;
   }

   .controls-Button__close_default_l:hover, .controls-Button__close_primary_l:hover,
   .controls-Button__close_default_m:hover, .controls-Button__close_primary_m:hover {
      border-color: @default-border-color-second;
   }
}
