.controls-SubmitPopup__message{
   font-size: @controls-SubmitPopup-message-font-size;
   line-height: normal;
   font-weight: @controls-SubmitPopup-message-font-weight;
   color: @controls-SubmitPopup-message-color;
}

.controls-SubmitPopup__message_withDetails {
   margin-bottom: @controls-SubmitPopup-message-margin-bottom;
}

.controls-SubmitPopup__details{
   font-size: @controls-SubmitPopup-details-font-size;
   line-height: normal;
   color: @controls-SubmitPopup-details-color;
}

.controls-SubmitPopup__message, .controls-SubmitPopup__details{
   white-space: pre-wrap;
   word-wrap: break-word;
}

.controls-SubmitPopup__message-centered, .controls-SubmitPopup__details-centered{
   text-align: center;
}



.controls-SubmitPopup__buttonContainer {
   .flexbox();
   .justify-content(center);
}

.controls-SubmitPopup__button {
   margin: @controls-SubmitPopup-button-margin;
   height: @controls-SubmitPopup-button-height;

   &.controls-SubmitPopup__button-standard {
      min-width: @controls-SubmitPopup-button-min-width;
   }

   &.controls-SubmitPopup__button-mini {
      min-width: @controls-SubmitPopup-button-mini-min-width;
   }
}