.controls-Input-DatePicker {
   display: inline-flex;
   white-space: nowrap;
   // TODO: Выпилить как сделают https://online.sbis.ru/opendoc.html?guid=8de68fe7-5462-472c-9d79-3e1d3637d67b
   > .controls-InputRender {
      width: 63px;
   }
}
.controls-Input-DatePicker__button {
   margin-left: @spacing_DatePicker-between-input-button;
}

// Удалить после того как перейдем на новую панельку
.controls-PeriodDialog__picker-withoutModeBtn {
   margin: @margin_PeriodDialog-picker-withoutModeBtn;
}
