/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Input-DatePicker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
}
.controls-Input-DatePicker > .controls-InputRender {
  width: 63px;
}
.controls-Input-DatePicker__button {
  margin-left: 7px;
}
.controls-PeriodDialog__picker-withoutModeBtn {
  margin: -11px 0 0 -11px;
}
