//background-image
@background-image-BackButton_style-primary_size-s:                                                                      url('../img/BackArrowOrangeSmall.svg');
@background-image-BackButton_style-primary_size-m:                                                                      url('../img/BackArrowOrange.svg');
@background-image-BackButton_style-primary_size-l:                                                                      url('../img/BackArrowOrange.svg');
@background-image-BackButton_style-default_size-s:                                                                      url('../img/BackArrowBlueSmall.svg');
@background-image-BackButton_style-default_size-m:                                                                      url('../img/BackArrowBlue.svg');
@background-image-BackButton_style-default_size-l:                                                                      url('../img/BackArrowBlue.svg');
@background-image-BackButton_style-primary_size-s_hovered:                                                              url('../img/BackArrowOrangeSmall.svg');
@background-image-BackButton_style-primary_size-m_hovered:                                                              url('../img/BackArrowOrange.svg');
@background-image-BackButton_style-primary_size-l_hovered:                                                              url('../img/BackArrowOrange.svg');
@background-image-BackButton_style-default_size-s_hovered:                                                              url('../img/BackArrowBlueSmall.svg');
@background-image-BackButton_style-default_size-m_hovered:                                                              url('../img/BackArrowBlue.svg');
@background-image-BackButton_style-default_size-l_hovered:                                                              url('../img/BackArrowBlue.svg');

//caption
@color-BackButton__caption_style-primary:         @color_Heading_secondary;
@color-BackButton__caption_style-default:         @color_Heading_primary;
@color-BackButton__caption_style-default_hovered: @color_primaryV;
@color-BackButton__caption_style-primary_hovered: #0055BB;
@font-size_BackButton__caption_size-l:            @size_Heading_xl;;
@font-size_BackButton__caption_size-m:            @size_Heading_l;
@font-size_BackButton__caption_size-s:            @size_Heading_m;


//sizes
@font-weight_Back:                              bold;
@spacing-BackButton-between-icon-text:          3px;
@spacing-BackButton-between-icon-text_big:      @spacing_default_xxs;
@height-BackButton:                             @height_control_default;


//icon
@width-BackButton__icon_size-l:              10px;
@height-BackButton__icon_size-l:             14px;
@width-BackButton__icon_size-m:              9px;
@height-BackButton__icon_size-m:             12px;
@width-BackButton__icon_size-s:              9px;
@height-BackButton__icon_size-s:             11px;