//CheckBox
@height_CheckBox__clickArea:       @height_control_default;
@width_CheckBox__clickArea:        24px;
@font-size_CheckBox:               @size_text_m;

//iconBox
@color_CheckBox__iconBox:           #999999; //почему не #CCC ??
@color_CheckBox__iconBox_disabled:  @color_border_disabled;
@size_CheckBox__icon-box:           12px;

//icon
@color_CheckBox__icon_disabled:         @color_active-element_disabled;
@color_CheckBox__icon_enabled:          @color_active-element;
@size_CheckBox__iconSuccessful:         18px;
@top_CheckBox__iconSuccessful:          0px;
@left_CheckBox__iconSuccessful:         5px;
@size_CheckBox__iconTristate:           6px;

//caption
@color_CheckBox__caption_enabled:     @color_text_default;
@color_CheckBox__caption_disabled:    @color_text_disabled;
@line-height_CheckBox__caption:       @line-height_default;

//other
@spacing_CheckBox-between-icon-caption:   3px 0;
@width_CheckBox__border:                  @thickness_border_default;
