//caption
@font-size_Heading__caption_size-xl:                @size_Heading_xl;
@font-size_Heading__caption_size-l:                 @size_Heading_l;
@font-size_Heading__caption_size-m:                 @size_Heading_m;
@font-size_Heading__caption_size-s:                 @size_Heading_s;
@color_Heading__caption_style-secondary:            @color_Heading_secondary;
@color_Heading__caption_style-primary:              @color_Heading_primary;
@color_Heading__caption_style-primary_hovered:      @color_active-element;
@color_Heading__caption_style-secondary_hovered:    #0055BB;


//counter
@color_Counter__style-primary_hovered:       @color_Heading__caption_style-primary_hovered;
@color_Counter__style-secondary_hovered:     @color_Heading__caption_style-secondary_hovered;

//HeaderSeparator
@color_HeaderSeparator__primary_hovered:               #729EE6;
@color_HeaderSeparator__secondary_hovered:             #729EE6;

//Separator_icon
@color-Separator__icon_style-secondary_hovered:        #313E78;
@color-Separator__icon_style-primary_hovered:          @color_primaryV;
@color-Separator__icon_style-additional_hovered:       #313E78;
