//text
@color_InputRender:                     @color_text_default;
@color_InputRender-placeholder:         @color_text_disabled;
@color_InputRender_style_header:        @color_Heading_secondary;
@color_InputRender_style_accentHeader:  @color_Heading_primary;

//background
@background-color_InputRender:                @background-color_default;
@background-color_InputRender_disabled:       transparent;
@background-color_InputRender_error:          @background-color_error;

//font
@font-size_InputRender_default:                   @size_text_m;
@font-size_InputRender_m:                         @size_text_m;
@font-size_InputRender_l:                         @size_text_3xl;
@font-size_InputRender_style_header:              @size_text_3xl;
@font-size_InputRender_style_accentHeader:        @size_text_3xl;
@font-weight_InputRender_style_header:            bold;
@font-weight_InputRender_style_accentHeader:      bold;

//height
@height_InputRender_default:              @height_control_default;
@height_InputRender_m:                    @height_control_default;
@height_InputRender_l:                    @height_control_default;
@line-height_InputRender_default:         @line-height_default;
@line-height_InputRender_m:               @line-height_default;
@line-height_InputRender_l:               23px;

@padding_InputRender:                        0 4px;
@horizontal-padding_InputRender:             4px;



//border
@border-width_InputRender:            @thickness_border_default;
@border-color_InputRender:            @color_border_input @color_border_input @color_border @color_border_input;
@border-color_InputRender_hover:      @color_border_input @color_border_input #AAB0C1 @color_border_input;
@border-color_InputRender_active:     @color_border_input @color_border_input #AAB0C1 @color_border_input;
@border-color_InputRender_disabled:   transparent transparent @color_border_disabled transparent;
@border-color_InputRender_error:      @color_border_error;

//tagStyle
@height_InputRender-tagStyle:           8px;
@width_InputRender-tagStyle:            8px;
@color_InputRender-tagStyle_secondary:  @color_secondary;
@color_InputRender-tagStyle_success:    @color_success;
@color_InputRender-tagStyle_primaryV:    @color_primaryV;
@color_InputRender-tagStyle_danger:     @color_danger;
@color_InputRender-tagStyle_info:       @color_info;
@color_InputRender-tagStyle_warning:    @color_warning;


