@import "Switch";
//RadioItem
@height_RadioItem:       @height_control_default;

//caption
@color_RadioItem__caption_selected:               @size_text_m;
@color_RadioItem__caption_unselected_disabled:    @color_text_disabled;
@color_RadioItem__caption_unselected_enabled:     @color_unselected;

//spacing
@spacing-between-radioItems_horizontal:     @spacing_default_l;
@spacing-between-radioItems_vertical:       @spacing_default_m;
@spacing-between-radioItem-icon-caption:    @spacing_default_s;


