//Local variables
@border-color-bottom_Render:                    #AAB0C1;

@height_Render:                                 @height_control_default;
@spacing-between_Render_border-text:            @spacing_default_xs;

//placeholder
@color_Render-placeholder:                      @color_info;

//border
@border-width_Render:                           @thickness_border_default;

//background
@background_Render_hover:                       @background-color_default;
@background_Render_active:                      @background-color_default;
@background_Render_disabled:                    @background-color_default;

//size
@height_Render_size_s:                          @height_control_default;
@height_Render_size_m:                          @height_control_default;
@height_Render_size_l:                          @height_control_default;

//style
@border-color_Render_style_info:                @color_border_input @color_border_input @color_info @color_border_input;
@border-color_Render_style_danger:              @color_danger;
@border-color_Render_style_invalid:             @color_danger;
@border-color_Render_style_primary:             @color_primaryV;
@border-color_Render_style_success:             @color_success;
@border-color_Render_style_warning:             @color_warning;

@border-color_Render_style_info_hover:          @color_border_input @color_border_input @border-color-bottom_Render @color_border_input;
@border-color_Render_style_danger_hover:        @color_danger;
@border-color_Render_style_invalid_hover:       @color_danger;
@border-color_Render_style_primary_hover:       @color_primaryV;
@border-color_Render_style_success_hover:       @color_success;
@border-color_Render_style_warning_hover:       @color_warning;

@border-color_Render_style_info_active:         @color_border_input @color_border_input @border-color-bottom_Render @color_border_input;
@border-color_Render_style_danger_active:       @color_danger;
@border-color_Render_style_invalid_active:      @color_danger;
@border-color_Render_style_primary_active:      @color_primaryV;
@border-color_Render_style_success_active:      @color_success;
@border-color_Render_style_warning_active:      @color_warning;

@border-color_Render_style_info_readOnly:       transparent transparent @color_border_disabled transparent;
@border-color_Render_style_danger_readOnly:     @color_danger;
@border-color_Render_style_invalid_readOnly:    @color_danger;
@border-color_Render_style_primary_readOnly:    @color_primaryV;
@border-color_Render_style_success_readOnly:    @color_success;
@border-color_Render_style_warning_readOnly:    @color_warning;

@background_Render_style_info:                  @background-color_default;
@background_Render_style_danger:                @background-color_default;
@background_Render_style_invalid:               @background-color_error;
@background_Render_style_primary:               @background-color_default;
@background_Render_style_success:               @background-color_default;
@background_Render_style_warning:               @background-color_default;

@background_Render_style_info_hover:            @background-color_default;
@background_Render_style_danger_hover:          @background-color_default;
@background_Render_style_invalid_hover:         @background-color_error;
@background_Render_style_primary_hover:         @background-color_default;
@background_Render_style_success_hover:         @background-color_default;
@background_Render_style_warning_hover:         @background-color_default;

@background_Render_style_info_active:           @background-color_default;
@background_Render_style_danger_active:         @background-color_default;
@background_Render_style_invalid_active:        @background-color_error;
@background_Render_style_primary_active:        @background-color_default;
@background_Render_style_success_active:        @background-color_default;
@background_Render_style_warning_active:        @background-color_default;

@background_Render_style_info_readOnly:         @background-color_default;
@background_Render_style_danger_readOnly:       @background-color_default;
@background_Render_style_invalid_readOnly:      @background-color_error;
@background_Render_style_primary_readOnly:      @background-color_default;
@background_Render_style_success_readOnly:      @background-color_default;
@background_Render_style_warning_readOnly:      @background-color_default;

//fontStyle
@color_Render_fontStyle_default:                @color_text_default;
@color_Render_fontStyle_primary:                @color_Heading_primary;

@font-size_Render_fontStyle_default_size_s:     @size_text_m;
@font-size_Render_fontStyle_primary_size_s:     @size_text_3xl;
@font-size_Render_fontStyle_default_size_m:     @size_text_m;
@font-size_Render_fontStyle_primary_size_m:     @size_text_3xl;
@font-size_Render_fontStyle_default_size_l:     @size_text_m;
@font-size_Render_fontStyle_primary_size_l:     @size_text_3xl;

@font-weight_Render_fontStyle_default_size_s:   normal;
@font-weight_Render_fontStyle_primary_size_s:   bold;
@font-weight_Render_fontStyle_default_size_m:   normal;
@font-weight_Render_fontStyle_primary_size_m:   bold;
@font-weight_Render_fontStyle_default_size_l:   normal;
@font-weight_Render_fontStyle_primary_size_l:   bold;

//tagStyle
@size_Render-tagStyle:                          8px;

@color_Render-tagStyle_info:                    @color_info;
@color_Render-tagStyle_danger:                  @color_danger;
@color_Render-tagStyle_success:                 @color_success;
@color_Render-tagStyle_primary:                 @color_primaryV;
@color_Render-tagStyle_warning:                 @color_warning;
@color_Render-tagStyle_secondary:               @color_secondary;
