@font-size_ReportDialog-title: @size_Heading_l;
@spacing_ReportDialog-between-title-message: @spacing_default_m;
@spacing_ReportDialog-between-message-errors: @spacing_default_m;
@spacing_ReportDialog-between-errors: @spacing_default_xs;

@color_ReportDialog-title: @color_Heading_secondary;
@color_ReportDialog-message: @color_additional;
@color_ReportDialog-error: @color_danger;
