//color
@color_SelectedCollection_item-accent:          @color_Heading_secondary;
@color_SelectedCollection_item-primary:         @color_Heading_primary;
@color_SelectedCollection-counter:              #8991A9;

//cross
@color_SelectedCollection_cross:                @color_info;
@icon-size_SelectedCollection_cross:            @size_icon_s;

//text size
@line-height_SelectedCollection__before:        22px;
@font-size_SelectedCollection-size-m:           @size_text_m;
@font-size_SelectedCollection-size-l:           @size_text_l;
@font-size_SelectedCollection-size-h:           @size_text_2xl;
@line-height_SelectedCollection-size-h:         @line-height_default;

//spacing
@spacing_SelectedCollection-between-items:            @spacing_default_xs;
@spacing_SelectedCollection-between-counter-items:    @spacing_default_xs;
@padding_SelectedCollection-counter:                  @spacing_default_xs;

//popup
@border-color_SelectedCollection-popup:         @color_border;
@background-color_SelectedCollection-popup:     @background-color_default;
@shadow_SelectedCollection-popup:               0px 0px 12px 0px rgba(0,0,0,0.25);
@border-width_SelectedCollection-popup:         @thickness_border_default;
@padding_SelectedCollection-popup:              @spacing_default_xs;
@margin-top_SelectedCollection-popup:           -@spacing_default_xs;
@margin-left_SelectedCollection-popup:          -@spacing_default_xs;