//suggest container
@top_Suggest_suggestionsContainer_overInput:          @spacing_default_m;
@left_Suggest_suggestionsContainer_overInput:         @spacing_default_l;
@box-shadow_Suggest_suggestionsContainer_overInput:   @size_shadow_default @color_shadow_default;

//close button
@margin-top_Suggest_close:                            @top_Suggest_suggestionsContainer_overInput/2;