//Switch
@height_Switch:         @height_control_default;
@width_Switch:          46px;

//border
@width_Switch__border:              @thickness_border_default;
@color_Switch__border:              @color_border_disabled;
@size_Switch__border-radius:        @height_Switch / 2;

//Switch-track
@background-color_Switch-track__enabled:           #CCC;
@background-color_Switch-track__disabled:          @color_border_disabled;
@length_Switch-track:                              34px;
@thickness_Switch-track:                           2px;

//text
@color_Switch-text__enabled_unselected:      @color_unselected;
@color_Switch-text__enabled_selected:        @color_text_default;
@color_Switch-text__disabled_selected:       @color_text_default;
@color_Switch-text__disabled_unselected:     @color_text_disabled;

//ToggleCircle_outerCircle
@color_ToggleCircle_outerCircle__enabled_hovered:    @color_active-element;
@color_ToggleCircle_outerCircle__enabled:            @color_border;
@color_ToggleCircle_outerCircle__disabled:           @color_border_disabled;
@size_Switch__ToggleCircle:                          12px;

//ToggleCirce_innerCircle
@color_ToggleCircle_innerCircle__selected_enabled:     @color_active-element;
@color_ToggleCircle_innerCircle__selected_disabled:    @color_active-element_disabled;
@color_ToggleCircle_innerCircle__unselected:           none;

//other
@spacing_Switch-between-toggle-text:                  @spacing_default_s;


