.ControlsDemo-TreeHiddenNodes__tasks {
   height: 500px;
   width: 500px;
}
.ControlsDemo-TreeHiddenNodes__tasks-mainColumn__title {
   display: block;
}
.ControlsDemo-TreeHiddenNodes__tasks-mainColumn__subTask {
   display: block;
}