.demo-Suggest {
	padding: 50px;
}

.demo-SuggestWrapper {
	padding: 50px;
}

.controls-SuggestV {
	width: 250px;
}

.demo-SuggestInputList {
	width: 100%;
}

.demo-SuggestSearchList {
	width: 300px;
}

.demo-block-suggest {
	display: flex;
}

.demo-suggestSelector {
	width: 500px;
}