.ControlsDemo-InputDropdown {
   margin: 20px 35px;
   min-height: 600px;
   width: 600px;
}

.ControlsDemo-InputDropdown__wrapper {
   margin-left: 25px;
   margin-bottom: 10px;
}

.ControlsDemo-InputDropdown__scroll {
   max-height: 400px;
}

.ControlsDemo-InputDropdown-bottom-right {
   position: absolute;
   bottom: 15px;
   right: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.ControlsDemo-InputDropdown-top-right {
   position: absolute;
   top: 50px;
   right: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.ControlsDemo-InputDropdown-bottom-left {
   position: absolute;
   bottom: 15px;
}

.ControlsDemo-InputDropdown-item {
   margin: 6px 0;
}

.ControlsDemo-InputDropdown-text {
   display: flex;
}

.ControlsDemo-InputDropdown-comment {
   font-size:12px;
   color: #999;
}

.ControlsDemo-InputDropdown-contentTemplate {
   display: flex;
}

.ControlsDemo-InputDropdown-subItem {
   margin-left: 16px;
}

.ControlsDemo-InputDropdownn-width {
   margin-top: -8px;
   margin-left: -13px;
   max-width: 400px;
}

.ControlsDemo-InputDropdown-myIcon {
   margin-left: 8px;
}

.ControlsDemo-InputDropdown-footerTpl {
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ControlsDemo-InputDropdown__text {
   margin-right: 20px;
   width: 250px;
}

.ControlsDemo-InputDropdown__stackTopArea {
   display: flex;
   justify-content: flex-end;
   flex-grow: 1;
}

.ControlsDemo-InputDropdown__Button {
   margin-left: 14px;
}

.ControlsDemo-InputDropdown__inputBlock {
   margin: 8px 12px;
}

.ControlsDemo-InputDropdown__textBox {
   width: 100%;
   margin-bottom: 12px;
}