.demoWrapper {
   display: flex;
   justify-content: space-around;
   font-family: TensorFont!important;
}

.optionsBlock {
   padding: 3em;
   background-color: #e0e6f5;
}

.exampleBlock {
   padding: 3em;
   background-color: #e6edf0;
}

.eventBlock {
   margin-top: 100px;
   padding: 3em;
   background: #57b3d770;
}

.wrapper {
   display: inline-flex;
   align-items: center;
   height: 24px;
}

.wrapperCounterCaption {
   display: inline-flex;
   align-items: baseline;
}