html, body, .ControlsDemo-Page, .ControlsDemo-Page_scrollContainer {
   height: 100%;
   overflow: unset;
}
.Header_Counter__wrapper {
   display: inline-block;
}
.demo__header {
   margin-left: 30%;
}
.demo__block_additional {
   align-items: flex-end;
}
.test_element {
   display: inline-block;
   margin: 20px 100px;
   white-space: nowrap;
}
.demo__block {
   display: inline-flex;
   flex-direction: column;
}
.demo__block_margin {
   margin: 2% 150px;
}
.demo__block_additional_margin1 {
   margin: 2% 180px;
}
.demo__block_additional_margin2 {
   margin: 2% 100px;
}
.counter {
   margin-left: 4px;
}
.counter-left-direction {
   margin-right: 4px;
}
.test_element__wrapper {
   width: 300px;
   display: inline-block;
}