<div class="demo-Header ws-flexbox ws-flex-column">
   <div class="demo-Header__title">Крупный заголовок</div>
   <div class="demo-Header__example ws-align-items-start ws-flexbox ws-flex-column">
      <div class="ws-header_size_h2 ws-header_color_accent2 ws-header_size_weight">Заголовок</div>
      <div class="ws-header_size_h2 ws-header_color_accent1 ws-header_size_weight">Заголовок</div>
   </div>
   <div class="demo-Header__title">Заголовок</div>
   <div class="demo-Header__example ws-align-items-start ws-flexbox ws-flex-column">
      <div class="ws-header_size_h3 ws-header_color_accent2 ws-header_size_weight ws-header_color-hover_accent2">Заголовок</div>
      <div class="ws-header_size_h3 ws-header_color_accent1 ws-header_size_weight ws-header_color-hover_accent1">Заголовок</div>
      <div class="ws-header_size_h6 ws-header_color_accent2 ws-header_size_weight ws-header_color-hover_accent2">Заголовок</div>
      <div class="ws-header_size_h6 ws-header_color_accent1 ws-header_size_weight ws-header_color-hover_accent1">Заголовок</div>
      <div class="ws-header_size_h7 ws-header_color_accent2 ws-header_size_weight ws-header_color-hover_accent2">Заголовок</div>
      <div class="ws-header_size_h7 ws-header_color_accent1 ws-header_size_weight ws-header_color-hover_accent1">Заголовок</div>
   </div>
   <div class="demo-Header__title">Кнопка "Назад" (BackButton)</div>
   <div class="demo-Header__example ws-align-items-start ws-flexbox ws-flex-column">

   </div>
   <div class="demo-Header__title">Заголовок-разделитель</div>
   <div class="demo-Header__example ws-align-items-start ws-flexbox ws-flex-column">
      <div class="ws-header_size_h3 ws-header_color_accent2 ws-header_size_weight ws-header_color-hover_accent2 ws-forwardArrow">Заголовок</div>
      <div class="ws-header_size_h6 ws-header_color_accent1 ws-header_size_weight ws-header_color-hover_accent1 ws-forwardArrow">Заголовок</div>
   </div>
</div>