<!doctype html>
<Controls.Application.Core
   application="{{application}}"
   scope="{{_options}}"
   attr:component="{{application}}"
   attr:data-component="Controls/Application/Core"
   attr:key="_"
   cssLinks="{{ cssLinks }}"
   lite="{{ lite }}"
   wsRoot="{{wsRoot}}"
   appRoot="{{appRoot}}"
   resourceRoot="{{resourceRoot}}"
   RUMEnabled="{{ RUMEnabled }}"
   pageName="{{ pageName }}"
   staticDomains="{{staticDomains}}"
   jsLinks="{{ jsLinks }}"
   cssBundles="{{ cssBundles }}"
   servicesPath="{{ servicesPath }}"
   product="{{ product }}"
   buildnumber="{{ buildnumber }}"/>
