//Поля ввода и кнопки разных размеров в одной демке: https://jsfiddle.net/Lkfcejmp/
//В этой демке показывается зачем нужен был padding-bottom в больших полях: https://jsfiddle.net/jrt9sLa8/
//Суть в том, что поля ввода могут быть внутри контейнера с display: flex и align-items: center и из-за этого съедет базовая линия

.controls-InputRender {
   caret-color: @color_InputRender;
   box-sizing: border-box;
   cursor: auto;
   line-height: normal;
   display: inline-block;
   position: relative; //Для позициониования tagStyle
   max-width: 100%; //Чтобы в IE текстбокс не выходил за пределы родителя
   border-style: solid;
}

//Сбрасываем white-space в значение по умолчанию, чтобы прикладники не могли случайно перебить
.controls-InputRender_whiteSpace_normal {
   white-space: normal;
}

.controls-InputRender_whiteSpace_nowrap {
   white-space: nowrap;
}

.controls-Text-InputRender {
   background-color: @background-color_InputRender;
   //цвет границы задаётся в зависимости от состояния
   border-width: @border-width_InputRender;
   color: @color_InputRender;
}

.controls-InputRender__wrapper {
   .baseline-fix(); //В safari базовая линия у пустых input'ов прижимается к низу элемента https://bugs.webkit.org/show_bug.cgi?id=142968
   .inline-flexbox();
   position: relative;
   width: 100%;
   height: 100%;
}

.controls-InputRender__wrapper_singleLine {
   .align-items(center);
}

.controls-InputRender__wrapper_multiLine {
   //У TextArea height: auto, поэтому если на wrapper'е будет align-items: center, то текст будет выравниваться по центру TextArea
   //https://jsfiddle.net/18273t6v/
   .align-items(baseline);
}

.controls-InputRender__fieldWrapper { //Этот блок нужен для правильного позиционирования нашего плейсхолдера
   .inline-flexbox();
   .flex-shrink(1);
   position: relative;
   height: 100%;
   width: 100%;
   min-width: 0;
}

.controls-InputRender__fieldWrapper_singleLine {
   .baseline-fix(); //https://jsfiddle.net/4dr8smhx/
   .align-items(center);
}

.controls-InputRender__fieldWrapper_multiLine {
   .align-items(baseline);
}

.controls-InputRender__field {
   .flex-shrink(1); //В IE10 по умолчанию flex-shrink: 0
   .reset-browser-input-styles();
   text-overflow: ellipsis;
   width: 100%;
   //Иначе в Firefox и Edge input не будет сжиматься
   //https://jsfiddle.net/hr9mvn2o/
   min-width: 0;
   //Наследуем явно, иначе браузерные стили будут иметь более высокий приоритет
   font: inherit;
   color: inherit;
   text-align: inherit;
   //https://inside.tensor.ru/opendoc.html?guid=f0c1b032-e2e4-4e65-b98f-8f9413ac0652&des=
   &::-webkit-contacts-auto-fill-button {
      display: none;
   }
   &::-ms-clear {
      display: none;
   }
   &::-ms-reveal {
      display: none;
   }
}

.controls-InputRender__field_readOnly {
   overflow: hidden;
}

.controls-InputRender__field:focus {
   text-overflow: clip;
}

/**
 * В нативном автодополнении при наведении на одно из значений, оно подставляется в поле ввода.
 * В этой ситуации нам нужно скрыть наш placeholder. Для этого мы будем смотреть на видимость нативного placeholder.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/:placeholder-shown
 */
.controls-InputRender__placeholder {
   .compatPlaceholder(@color_InputRender-placeholder);
   display: none;
   padding-left: 1px; //Отступ в 1px нужен, чтобы плейсхолдер не наезжал на курсор
}

/**
 * Из-за того что textarea в Controls.Input.Area не лежит на одном уровне с placeholder, мы не можем управлять видимостью
 * placeholder через css. На сайте нет браузерного автодополнения в Area, поэтому показываем placeholder всегда.
 * Придумать решение для Area, потому что теоритически автодополнение в Area может быть.
 * https://online.sbis.ru/opendoc.html?guid=c069c84a-010e-405e-aa67-3c717583c8de
 */
.controls-InputArea .controls-InputRender__placeholder {
   display: inline-flex;
}

.controls-InputRender__content:placeholder-shown + .controls-InputRender__placeholder {
   display: inline-flex;
}

/**
 * placeholder-shown не поддерживается в IE.
 * На поле весит аттрибут required и когда значение в поле нет будет применяться псевдоэлемент invalid.
 */
.controls-InputRender__content_ie:invalid + .controls-InputRender__placeholder {
   display: inline-flex;
}

/**
 * При построении браузер может автоматически подставить значение в поле и placeholder-shown не работает пока
 * пользователь не начнет работать с полем.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/:-webkit-autofill
 */
.controls-InputRender__content:-webkit-autofill + .controls-InputRender__placeholder {
   display: none;
}

.controls-InputRender__placeholder_simple {
   pointer-events: none;
}

.controls-InputRender__placeholder_singleLine {
   align-items: center;
}

.controls-InputRender__placeholder_multiLine {
   align-items: baseline;
}

//На controls-InputRender__placeholder нельзя вешать text-overflow, потому что флексы не обрезаются
.controls-InputRender__placeholder__overflow {
   .text-overflow();
   display: inline-block;
   width: 100%;
}

// риусем информационный треугольник через border, чтобы он занимал свои физические размеры
.controls-InputRender__tagStyle {
   display: inline-block;
   position: absolute;
   right: 0;
   top: 0;
   .top-right-triangle(@height_InputRender-tagStyle);
   width: @width_InputRender-tagStyle;
   height: @height_InputRender-tagStyle;
   cursor: pointer;
   box-sizing: border-box;
}

.controls-InputRender__tagStyle-success {
   border-right-color: @color_InputRender-tagStyle_success;
}

.controls-InputRender__tagStyle-primary {
   border-right-color: @color_InputRender-tagStyle_primaryV;
}

.controls-InputRender__tagStyle-danger {
   border-right-color: @color_InputRender-tagStyle_danger;
}

.controls-InputRender__tagStyle-info {
   border-right-color: @color_InputRender-tagStyle_info;
}

.controls-InputRender__tagStyle-warning {
   border-right-color: @color_InputRender-tagStyle_warning;
}

.controls-InputRender__tagStyle-secondary {
   border-right-color: @color_InputRender-tagStyle_secondary;
}

//Состояния
.controls-Text-InputRender_state_default {
   border-color: @border-color_InputRender;
}

.controls-Text-InputRender_state_default:hover {
   border-color: @border-color_InputRender_hover;
}

.controls-Text-InputRender_state_active {
   border-color: @border-color_InputRender_active;
}

.controls-Text-InputRender_state_active:focus {
   text-overflow: clip;
}

.controls-Text-InputRender_state_disabled {
   background-color: @background-color_InputRender_disabled;
}

.controls-Text-InputRender_state_disabled_singleLine {
   border-color: @border-color_InputRender_disabled;
}

.controls-Text-InputRender_state_disabled_multiLine {
   border-color: transparent;
}

.controls-Text-InputRender_state_error {
   background-color: @background-color_InputRender_error;
   border-color: @border-color_InputRender_error;
}

//Размеры
.controls-InputRender_size_default_singleLine {
   height: @height_InputRender_default;
   font-size: @font-size_InputRender_default;
}

.controls-InputRender_size_m_singleLine {
   height: @height_InputRender_m;
   font-size: @font-size_InputRender_m;
}

.controls-InputRender_size_l_singleLine {
   height: @height_InputRender_l;
   font-size: @font-size_InputRender_l;
}

.controls-InputRender_size_default_multiLine {
   height: auto;
   font-size: @font-size_InputRender_default;
   line-height: @line-height_InputRender_default;
}

.controls-InputRender_size_m_multiLine {
   //При использовании line-height: normal высота строка в FF становится 19px, а в остальных браузерах 18px. Через метрики
   //шрифта это не исправить, т.к. с другими шрифтами высота строки тоже разная. Так что нужно указывать line-height явно
   height: auto;
   font-size: @font-size_InputRender_m;
   line-height: @line-height_InputRender_m;
}

.controls-InputRender_size_l_multiLine {
   height: auto;
   font-size: @font-size_InputRender_l;
   line-height: @line-height_InputRender_l;
}

//Модификаторы
/*
   Проблемы, если везде задавать padding с двух сторон:
   1) В TextArea появится отступ у скролла.
   2) В NumberTextBox появится отступ у стрелок.
   3) В FieldLink отступ 4px заложен в иконку.

   https://jsfiddle.net/ze4p2fsq/1/
 */
.controls-Text-InputRender_paddingBoth {
   padding: @padding_InputRender;
}

.controls-Text-InputRender_paddingLeft {
   padding-left: @horizontal-padding_InputRender;
}

//Style
.controls-Text-InputRender_style_header {
   font-size: @font-size_InputRender_style_header;
   font-weight: @font-weight_InputRender_style_header;
   color: @color_InputRender_style_header;
}

.controls-Text-InputRender_style_accentHeader {
   font-size: @font-size_InputRender_style_accentHeader;
   font-weight: @font-weight_InputRender_style_accentHeader;
   color: @color_InputRender_style_accentHeader;
}

.controls-InputRender__field_textAlign_right {
   text-align: right;
}
