.controls-demo__filter-container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
}

.controls-demo__fastFilter {
    justify-content: flex-end;
}

.controls-demo__filter-filtersWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: flex-end;
}