.ControlsDemo-ButtonsMenu {
   width: 800px;
   margin: 20px auto;
}

.ControlsDemo-ButtonsMenu__item {
   margin: 5px 0 0 5px;
}

.ControlsDemo-ButtonsMenu__subMenu {
   margin-left: 16px;
   color: #ccc;
}

.ControlsDemo-ButtonsMenu-bottom-right {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   position: absolute;
   bottom: 15px;
   right: 45px;
}

.ControlsDemo-ButtonsMenu-top-right {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   position: absolute;
   top: 45px;
   right: 45px;
}

.ControlsDemo-ButtonsMenu__wrapper {
   margin: 20px;
}

.ControlsDemo-ButtonsMenu__templateComment {
   width: 370px;
   margin: 3px 0;
}

.ControlsDemo-ButtonsMenu__comment {
   font-size: 12px;
   color: #999;
}

.ControlsDemo-ButtonsMenu__scroll {
   max-height: 250px;
}

.controls-DropdownList__icon_style_green {
   color: #66ac3c;
}

.controls-DropdownList__icon_style_purple {
   color: #a463c7;
}
.controls-DropdownList__icon_style_brown {
   color: #a44b2a;
}