.controls-Dropdown {
   display: inline-block;
}

.controls-Dropdown__wrapper {
   .inline-flexbox();
   .align-items(center);
   width: 100%;
   height: @default-height;
   &:before {
      content: "\200b";
   }
}

.controls-Dropdown__text {
   box-sizing: border-box;
   .text-overflow();
}
.controls-Dropdown__text_enabled {
   &:hover {
      cursor: pointer;
      .controls-Dropdown__text {
         text-decoration: underline;
      }
   }
}

.controls-Dropdown__defaultItem {
   color: @color_Link-text;
   &:hover {
      color: @color_Link-text_hovered;
   }
}

.controls-Dropdown__emptyItem {
   color: @color-Dropdown-emptyItem;
}

.controls-Dropdown__icon {
   .inline-flexbox();
}

.controls-DropdownList__margin {
   margin-top: @margin-top_DropdownList;
   margin-left: @margin-left_DropdownList;
}

.controls-DropdownList__margin-head {
   margin-top: @margin-top_DropdownList-head;
   margin-left: @margin-left_DropdownList;
}
