/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-DateLinkView {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
}
.controls-DateLinkView__prev,
.controls-DateLinkView__next,
.controls-DateLinkView__value-wrapper {
  color: #0055BB;
  height: 24px;
}
.controls-DateLinkView__prev:before {
  content: "\e008 ";
}
.controls-DateLinkView__next:before {
  content: "\e007";
}
.controls-DateLinkView__prev,
.controls-DateLinkView__next {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: calc( 24px  -  16px  +  15px );
  height: 24px;
  width: 24px;
}
.controls-DateLinkView__prevNextButtons-enabled,
.controls-DateLinkView__value-enabled {
  cursor: pointer;
}
.controls-DateLinkView__prevNextButtons-enabled:hover,
.controls-DateLinkView__value-enabled:hover {
  color: #313E78;
}
.controls-DateLinkView__value-enabled:hover {
  text-decoration: underline;
}
.controls-DateLinkView__prevNextButtons-disabled,
.controls-DateLinkView__value-disabled {
  color: #CCC;
}
.controls-DateLinkView__value-wrapper {
  display: inline-block;
  text-align: center;
}
.controls-DateLinkView__value-wrapper-minWidth {
  min-width: 102px;
}
.controls-DateLinkView__yearState .controls-DateLinkView__value-wrapper-withArrow {
  min-width: 33px;
}
.controls-DateLinkView__value {
  font-weight: bold;
  padding-top: 1px;
}
