.controls-ReportDialog__title {
   font-size: @font-size_ReportDialog-title;
   color: @color_ReportDialog-title;
   font-weight: bold;
   margin-bottom: @spacing_ReportDialog-between-title-message;
}
.controls-ReportDialog__message {
   color: @color_ReportDialog-message;
   margin-bottom: @spacing_ReportDialog-between-message-errors;
}
.controls-ReportDialog__error {
   color: @color_ReportDialog-error;
   margin-bottom: @spacing_ReportDialog-between-errors;
}
.controls-ReportDialog__closeButtonContainer {
   display: flex;
   justify-content: flex-end;
}