.demoWrapper {
   display: flex;
   justify-content: space-around;
   font-family: TensorFont!important;
}

.testBlock {
   width: 50%;
   max-width: 600px;
}

.optionsBlock {
   padding: 3em;
   background-color: #e0e6f5;
}

.exampleBlock {
   background-color: #fff;
   height: 30px;
   margin: 3em 0;
}

.wrapper {
   display: inline-flex;
   align-items: center;
   height: 24px;
}

.counter {
   padding-left: @padding_Header-between-counter-caption;
}

.wrapperCounterCaption {
   display: inline-flex;
   align-items: baseline;
}

.eventBlock {
   margin-top: 1em;
   padding: 3em;
   background: rgba(103, 185, 255, 0.17);
}

.demo-ResetButton {
   margin-left: 20px;
}