.controls-Misspell {
	min-height: @min-height_Misspell;
	display: inline-flex;
	align-items: center;
}
.controls-Misspell__text {
	font-weight: bold;
}

.controls-Misspell__caption {
	font-weight: bold;
	color: @color_Misspell_caption;
	cursor: pointer;
	text-align: left;
	max-width: 100%;
}

.ws-is-no-touch .controls-Misspell__caption:hover {
	text-decoration: underline;
	color: @color_Misspell_caption-hover;
}