/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Misspell {
  min-height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-Misspell__text {
  font-weight: bold;
}
.controls-Misspell__caption {
  font-weight: bold;
  color: #0055BB;
  cursor: pointer;
  text-align: left;
  max-width: 100%;
}
.ws-is-no-touch .controls-Misspell__caption:hover {
  text-decoration: underline;
  color: #313E78;
}
