.demo-Explorer__icons {
   position: absolute;
   top: 4px;
   right: 4px;
   background-color: #fff;
   border-radius: 10px;
   border: 1px solid #ccc;
   display: flex;
}
.demo-Explorer__image {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}

.demo-Explorer__scrollContainer {
   height: 500px;
}

.demo-Explorer__viewButton {
   margin-left: 12px;
}