/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-OperationsButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #587AB0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 18px;
  font-family: 'cbuc-icons';
}
.controls-OperationsButton:hover {
  color: #313E78;
}
.controls-OperationsButton_readonly {
  color: #ccc;
}
.controls-OperationsButton_readonly:hover {
  color: #ccc;
}
.controls-OperationsButton:after {
  background: #ccc;
  width: 1px;
  height: 24px;
  content: '\00a0';
  font-size: 1px;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}
