<div style="padding:30px">
   <SBIS3.CONTROLS.Button
           name="testButton1"
           caption="{[Test subscribe]}"
           visible="{{ true }}"
           primary="{{ true }}"/>
   <span style="padding: 10px">
      <SBIS3.CONTROLS.TextBox
              name="textBox1"
              placeholder="введите текст в это поле"/>
   </span>
   <div style="padding: 5px 0;">
      <SBIS3.CONTROLS.TextBox
              name="textBox2"
              placeholder="введите текст в это поле"/>
   </div>
   <div>
      <SBIS3.CONTROLS.Button
              name="testButton2"
              caption="Open Child FLoat with title in JS"
              visible="{{ true }}"
              primary="{{ true }}"/>
   </div>
   <div>
      <SBIS3.CONTROLS.Button
              name="testButton3"
              caption="Open Child FLoat with caption in TMPL"
              visible="{{ true }}"
              primary="{{ true }}"/>
   </div>
</div>