<div>
   <div class="ws-window-titlebar-custom">
      <div class="ws-float-area-title">
         Caption from TMPL
      </div>
      <div style="vertical-align: 60%; padding: 0 5px; display: inline-block">
         <SBIS3.CONTROLS.Button
                 name="testButton1"
                 caption="Close"
                 visible="{{ true }}"
                 primary="{{ true }}"/>
      </div>
   </div>
   <div style="margin: 5px;">
      <SBIS3.CONTROLS.Button
              name="testButton2"
              caption="Close Child Panel"
              visible="{{ true }}"
              primary="{{ true }}"/>
   </div>
</div>