.ControlsDemo-ComboboxVDOM__wrapper {
   margin: 20px;
}

.ControlsDemo-ComboboxVDOM__item {
   width: 300px;
   margin-top: 3px;
}

.ControlsDemo-ComboboxVDOM__popupScroll {
   max-height: 400px;
}

.ControlsDemo-ComboboxVDOM__itemBig {
   max-width: 420px;
}

.ControlsDemo-ComboboxVDOM__myTempalte {
   width: 250px;
   padding: 3px 0 10px 0;
}

.ControlsDemo-ComboboxVDOM__popup {
   max-width: 400px;
}

.ControlsDemo-ComboboxVDOM__myTempalteMultiline {
   margin: 3px 0;
}

.ControlsDemo-ComboboxVDOM__comment {
   font-size: 12px;
   color: #999;
}