<ws:partial template="wml!Controls/List/ItemTemplate"
            marker="{{marker}}"
            itemData="{{itemData}}"
            multiSelectTpl="{{multiSelectTpl}}"
            contentTemplate="{{contentTemplate}}"
            itemActionsTemplate="{{itemActionsTemplate}}"
            swipeTemplate="{{swipeTemplate}}"
/>