.ControlsDemo-EipScenarios {
   width: 900px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ControlsDemo-EipScenarios__list {
   width: 100%;
}

.ControlsDemo-EipScenarios__title {
   font-size: 16px;
   color: #999999;
   margin-left: auto;
   padding: 10px 0;
}

.ControlsDemo-EipScenarios__editorWrapper {
   flex-shrink: 0;
}

.ControlsDemo-EipScenarios__money {
   width: 100%;
}

.ControlsDemo-EipScenarios__headerCaption {
   margin-right: 15px;
}

.ControlsDemo-EipScenarios__result {
   font-weight: bold;
   font-size: 15px;
}

.ControlsDemo-EipScenarios__comment {
   color: #999;
   margin-left: 4px;
}

.ControlsDemo-EipScenarios__categoryNumber {
   margin-right: 4px;
}

.ControlsDemo-EipScenarios__tableFooter {
   display: inline-flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 4px;
   box-sizing: border-box;
}
