.controls-SelectedCollection__item {
	.flex-shrink(0);
	.inline-flexbox();
	.align-items(baseline);
	padding-right: @spacing_SelectedCollection-between-items;
	box-sizing: border-box;
	max-width: 100%;
}

.controls-SelectedCollection__InfoBox {
  display: inline-block;
}

.controls-SelectedCollection__InfoBox_fixed {
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  background: @background_FieldLink-showAllLinks_disabled;
}

.controls-SelectedCollection__InfoBox_fixed:after {
  content: '';
  position: absolute;
  right: -@fieldLink-showAll-shadow-width;
  width: @fieldLink-showAll-shadow-width;
  top: 0;
  bottom: 0;
  .horizontal-gradient(@default-bg-color, rgba(255, 255, 255, 0));
  background-color: transparent;
}

.controls-SelectedCollection__counterItems {
	color: @color_SelectedCollection-counter;
	padding-right: @spacing_SelectedCollection-between-counter-items;
  	box-sizing: border-box;
	cursor: pointer;
	padding-left: @padding_SelectedCollection-counter;
}

.controls-SelectedCollection__counter {
	margin-right: @spacing_SelectedCollection-between-counter-items;
}

.controls-SelectedCollection__item-single {
	.flex-shrink(1);
	max-width: 100%;
}

.controls-SelectedCollection__item-multi {
	.flex-shrink(0);
}

.controls-SelectedCollection__item__cross {
	.icon-size-without-important(@icon-size_SelectedCollection_cross);
	.flex-shrink(0);
	color: @color_SelectedCollection_cross;
	cursor: pointer;
}

.controls-SelectedCollection__item__caption {
	.text-overflow();
	.flex-shrink(1);
	display: inline-block;
	max-width: 100%;
}

.controls-SelectedCollection__item__caption-size-default, .controls-SelectedCollection__item__caption-size-m {
	font-size: @font-size_SelectedCollection-size-m;
}

.controls-SelectedCollection__item__caption-size-l {
	font-size: @font-size_SelectedCollection-size-l;
}

.controls-SelectedCollection__item__caption-size-h {
	font-size: @font-size_SelectedCollection-size-h;
	/* line-height тут нужен, из-за того, что 18 шрифт не влезает в поле ввода и ломает базовую линию */
	line-height: @line-height_SelectedCollection-size-h;
}

.controls-SelectedCollection__item__caption-style-bold,
.controls-SelectedCollection__item__caption-style-accent,
.controls-SelectedCollection__item__caption-style-primary {
	font-weight: bold;
}

.controls-SelectedCollection__item__caption-clickable:hover {
	text-decoration: underline;
	cursor: pointer;
}

.controls-SelectedCollection__item__caption-style-accent {
	color: @color_SelectedCollection_item-accent;
}

.controls-SelectedCollection__item__caption-style-primary {
	color: @color_SelectedCollection_item-primary;
}

.controls-SelectedCollection__collection {
	display:inline-flex;
	.align-items(baseline);
	overflow: hidden;
	max-width: 100%;
}

.controls-SelectedCollection__collectionItem_layout_twoColumns {
	width: 50%;
}

/* Необходим :before с line-height, т.к. в поле связи может не быть поля ввода (input),
   который образует боазовую линию */
.controls-SelectedCollection__collection:before {
	content: '\200b';
	width: 0;
	display: inline-block;
	visibility: hidden;
	line-height: @line-height_SelectedCollection__before;
}

.controls-SelectedCollection__collection_singleLine {
	.justify-content(flex-end);
}

.controls-SelectedCollection__collection_multiLine {
	display: inline;
}

.controls-SelectedCollection__collectionItem_layout_twoColumns {
	width: 50%;
}

.controls-SelectedCollection__popup-margins {
	margin-top: @margin-top_SelectedCollection-popup;
	margin-left: @margin-left_SelectedCollection-popup;
}

.controls-SelectedCollection__popup {
	border: @border-width_SelectedCollection-popup solid @border-color_SelectedCollection-popup;
	box-shadow: @shadow_SelectedCollection-popup;
	background-color: @background-color_SelectedCollection-popup;
	padding: @padding_SelectedCollection-popup;
}