/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-ButtonBack {
  display: inline-block;
}
.controls-BackButton_style-default,
.controls-BackButton_style-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.controls-BackButton_style-primary:before,
.controls-BackButton_style-default:before {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.controls-BackButton_style-default_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.controls-BackButton_style-default_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.controls-BackButton_style-default_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlueSmall.svg');
}
.controls-BackButton_style-default:before {
  background-repeat: no-repeat;
  content: '';
}
.controls-BackButton_style-primary_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.controls-BackButton_style-primary_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.controls-BackButton_style-primary_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrangeSmall.svg');
}
.controls-BackButton_style-primary:before {
  background-repeat: no-repeat;
  content: '';
}
.controls-BackButton__wrapper:active .controls-BackButton_style-primary_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton_style-primary_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton_style-primary_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrangeSmall.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton_style-default_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton_style-default_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton_style-default_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlueSmall.svg');
}
.controls-BackButton__wrapper:active .controls-BackButton__caption_style-default {
  color: #ff7033;
}
.controls-BackButton__wrapper:active .controls-BackButton__caption_style-primary {
  color: #0055BB;
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-primary_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-primary_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrange.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-primary_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowOrangeSmall.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-default_size-l:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-default_size-m:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlue.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton_style-default_size-s:before {
  background-image: url('/resources/Controls-theme/themes/default/img/BackArrowBlueSmall.svg');
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton__caption_style-default {
  color: #ff7033;
}
.ws-is-no-touch .controls-BackButton__wrapper:hover .controls-BackButton__caption_style-primary {
  color: #0055BB;
}
.controls-BackButton__caption_size-s,
.controls-BackButton__caption_size-m {
  font-weight: bold;
  padding-left: 3px;
}
.controls-BackButton__caption_size-l {
  font-weight: bold;
  padding-left: 2px;
}
.controls-BackButton__caption_style-primary {
  color: #313E78;
}
.controls-BackButton__caption_style-default {
  color: #D94700;
}
.controls-BackButton_size-l {
  width: 10px;
  height: 14px;
}
.controls-BackButton_size-m {
  width: 9px;
  height: 12px;
}
.controls-BackButton_size-s {
  width: 9px;
  height: 11px;
}
.controls-BackButton_size-l:before {
  background-size: 10px 14px;
}
.controls-BackButton_size-m:before {
  background-size: 9px 12px;
}
.controls-BackButton_size-s:before {
  background-size: 9px 11px;
}
.controls-BackButton__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: pointer;
  max-width: 100%;
  height: 24px;
}
.controls-BackButton__wrapper_l {
  font-size: 20px;
}
.controls-BackButton__wrapper_m {
  font-size: 18px;
}
.controls-BackButton__wrapper_s {
  font-size: 15px;
}
.controls-BackButton__wrapper:before {
  content: "\200b";
}
.controls-ButtonBack__caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
