.controls-ButtonBack {
   display: inline-block;
}

.controls-BackButton_style-default, .controls-BackButton_style-primary {
   display: inline-flex;
}

.controls-BackButton_style-primary:before, .controls-BackButton_style-default:before {
   display: inline-block;
   width: 100%;
   height: 100%;
}

.controls-BackButton_style-default_size-l:before {
   background-image: @background-image-BackButton_style-default_size-l;
}

.controls-BackButton_style-default_size-m:before {
   background-image: @background-image-BackButton_style-default_size-m;
}

.controls-BackButton_style-default_size-s:before {
   background-image: @background-image-BackButton_style-default_size-s;
}

.controls-BackButton_style-default:before {
   background-repeat: no-repeat;
   content: '';
}

.controls-BackButton_style-primary_size-l:before {
   background-image: @background-image-BackButton_style-primary_size-l;
}

.controls-BackButton_style-primary_size-m:before {
   background-image: @background-image-BackButton_style-primary_size-m;
}

.controls-BackButton_style-primary_size-s:before {
   background-image: @background-image-BackButton_style-primary_size-s;
}

.controls-BackButton_style-primary:before {
   background-repeat: no-repeat;
   content: '';
}

.controls-BackButton__wrapper:active {
   .controls-BackButton_style-primary_size-l:before {
      background-image: @background-image-BackButton_style-primary_size-l_hovered;
   }

   .controls-BackButton_style-primary_size-m:before {
      background-image: @background-image-BackButton_style-primary_size-m_hovered;
   }

   .controls-BackButton_style-primary_size-s:before {
      background-image: @background-image-BackButton_style-primary_size-s_hovered;
   }

   .controls-BackButton_style-default_size-l:before {
      background-image: @background-image-BackButton_style-default_size-l_hovered;
   }

   .controls-BackButton_style-default_size-m:before {
      background-image: @background-image-BackButton_style-default_size-m_hovered;
   }

   .controls-BackButton_style-default_size-s:before {
      background-image: @background-image-BackButton_style-default_size-s_hovered;
   }

   .controls-BackButton__caption_style-default {
      color: @color-BackButton__caption_style-default_hovered;
   }

   .controls-BackButton__caption_style-primary {
      color: @color-BackButton__caption_style-primary_hovered;
   }
}

.ws-is-no-touch {
   .controls-BackButton__wrapper:hover {
      .controls-BackButton_style-primary_size-l:before {
         background-image: @background-image-BackButton_style-primary_size-l_hovered;
      }

      .controls-BackButton_style-primary_size-m:before {
         background-image: @background-image-BackButton_style-primary_size-m_hovered;
      }

      .controls-BackButton_style-primary_size-s:before {
         background-image: @background-image-BackButton_style-primary_size-s_hovered;
      }

      .controls-BackButton_style-default_size-l:before {
         background-image: @background-image-BackButton_style-default_size-l_hovered;
      }

      .controls-BackButton_style-default_size-m:before {
         background-image: @background-image-BackButton_style-default_size-m_hovered;
      }

      .controls-BackButton_style-default_size-s:before {
         background-image: @background-image-BackButton_style-default_size-s_hovered;
      }
      .controls-BackButton__caption_style-default {
         color: @color-BackButton__caption_style-default_hovered;
      }

      .controls-BackButton__caption_style-primary {
         color: @color-BackButton__caption_style-primary_hovered;
      }
   }
}

.controls-BackButton__caption_size-s, .controls-BackButton__caption_size-m {
   font-weight: @font-weight_Back;
   padding-left: @spacing-BackButton-between-icon-text;
}

.controls-BackButton__caption_size-l {
   font-weight: @font-weight_Back;
   padding-left: @spacing-BackButton-between-icon-text_big;
}

.controls-BackButton__caption_style-primary {
   color: @color-BackButton__caption_style-primary;
}

.controls-BackButton__caption_style-default {
   color: @color-BackButton__caption_style-default;
}

.controls-BackButton_size-l {
   width: @width-BackButton__icon_size-l;
   height: @height-BackButton__icon_size-l;
}

.controls-BackButton_size-m {
   width: @width-BackButton__icon_size-m;
   height: @height-BackButton__icon_size-m;
}

.controls-BackButton_size-s {
   width: @width-BackButton__icon_size-s;
   height: @height-BackButton__icon_size-s;
}

.controls-BackButton_size-l:before {
   background-size: @width-BackButton__icon_size-l @height-BackButton__icon_size-l;
}

.controls-BackButton_size-m:before {
   background-size: @width-BackButton__icon_size-m @height-BackButton__icon_size-m;
}

.controls-BackButton_size-s:before {
   background-size: @width-BackButton__icon_size-s @height-BackButton__icon_size-s;
}

.controls-BackButton__wrapper {
   display: inline-flex;
   align-items: baseline;
   cursor: pointer;
   max-width: 100%;
   height: @height-BackButton;
}

.controls-BackButton__wrapper_l {
   font-size: @font-size_BackButton__caption_size-l;
}

.controls-BackButton__wrapper_m {
   font-size: @font-size_BackButton__caption_size-m;
}

.controls-BackButton__wrapper_s {
   font-size: @font-size_BackButton__caption_size-s;
}

.controls-BackButton__wrapper:before {
   content: "\200b";
}

.controls-ButtonBack__caption {
   .text-overflow();
}
