.docs-FBPanel {
  width: 200px;
}

.docs-FBPanel__span {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  color: #2f4073;
  font-style: normal;
  font-weight: bold;
}

.docs-FBPanel__text-box {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 200px;
}

.docs-FBPanel__author {
  float: left;
  margin-left: 10px;
  width: 200px;
}

.docs-FBPanel__text {
  float: left;
}