.controls-operationsPanelV__multiSelector {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}
.controls-operationsPanelV__multiSelector_separator {
  height: 20px;
  width: 1px;
  margin: 0 0 0 12px;
  background-color: #ccc;
}