<div class="example-News">
   <div class="example-News__header ws-flexbox ws-align-items-center">
      <div class="example-News__author">{{itemData.item.get('author')}}</div>
      <div class="example-News__group">{{itemData.item.get('group')}}</div>
      <div class="example-News__timePublication">{{itemData.item.get('time')}}</div>
   </div>
   <div class="example-News-title">{{itemData.item.get('title')}}</div>
   <div class="example-News-content">{{itemData.item.get('content')}}</div>
</div>
