<ws:template name="block">
   <div class="ws-Block ws-Block_style_2">
      <Controls.StickyHeader attr:class="example-NotificationCenter__stickyHeader ws-flexbox ws-align-items-center">
         <Controls.Heading caption="{{dataSource.getIdProperty()}}" style="primary" size="l"/>
      </Controls.StickyHeader>
      <Controls.List source="{{dataSource}}"
                     idProperty="{{dataSource.getIdProperty()}}">
         <ws:itemTemplate>
            <ws:partial
               template="{{'tmpl!Controls-demo/Example/StickyHeader/NotificationCenter/' + dataSource.getIdProperty()}}"
               attr:class="example-NotificationCenter__item"/>
         </ws:itemTemplate>
      </Controls.List>
   </div>
</ws:template>

<div class="example-NotificationCenter ws-flexbox">
   <Controls.Container.Scroll attr:class="example-NotificationCenter__scroll ws-BlockLayout" shadowVisible="{{_shadowVisible}}">
      <div>
         <ws:if data="{{_titleVisible}}">
            <div class="ws-Block ws-Block_style_6 ws-flexbox ws-justify-content-center">
               <Controls.Heading caption="Notification center" size="xl"/>
            </div>
         </ws:if>
         <ws:for data="index in _dataset.length">
            <ws:partial template="block" dataSource="{{_dataset[index]}}"/>
         </ws:for>
         <ws:for data="index in _dataset.length">
            <ws:partial template="block" dataSource="{{_dataset[_dataset.length - index - 1]}}"/>
         </ws:for>
      </div>
   </Controls.Container.Scroll>
   <div class="example-NotificationCenter__settings ws-flexbox ws-flex-column ws-justify-content-between">
      <Controls.Heading caption="Settings" size="xl" attr:class="ws-align-self-center"/>
      <Controls.Toggle.Switch caption="Заголовок" bind:value="_titleVisible"/>
      <Controls.Toggle.Switch caption="Тень" bind:value="_shadowVisible"/>
   </div>
</div>
