.example-NotificationCenter__scroll {
   height: 500px;
   width: 500px;
}

.example-NotificationCenter__settings {
   margin-left: 30px;
}

.example-NotificationCenter__stickyHeader {
   height: 30px;
}

.example-NotificationCenter__item {
   margin-bottom: 16px;
}
