.example-Violations__time {
   color: #999;
   font-size: 12px;
   margin: 0 0 auto auto;
}

.example-Violations__title {
   color: #1F2C63;
   font-size: 15px;
}

.example-Violations__content {
   color: #999;
   font-size: 14px;
}

.example-Violations__main {
   margin-left: 20px;
}