<div class="example-Violations ws-flexbox">
   <div class="icon-32 icon-statusAffairs icon-error"></div>
   <div class="example-Violations__main">
      <div class="example-Violations__title">{{itemData.item.get('title')}}</div>
      <div class="example-Violations__content">{{itemData.item.get('content')}}</div>
   </div>
   <div class="example-Violations__time">{{itemData.item.get('time')}}</div>
</div>