.controls-BaseControl__pagingContainer {
  pointer-events: none;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
  top: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.controls-BaseControl__scrollPaging {
  pointer-events: auto;
  border: solid #587ab0;
  border-width: 1px 0 0 0;
}
.controls-BaseControl__loadingIndicator {
  left: 0;
  right: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: auto;
  z-index: 1;
}
.controls-BaseControl__loadingIndicator__state-up {
  position: absolute;
  top: 0;
}
.controls-BaseControl__loadingIndicator__state-all {
  position: absolute;
  top: 0;
  bottom: 0;
}
.controls-BaseControl__loadingIndicatorImg {
  background: url('/cdn/img/common/1.0.0/ajax-loader-indicator.gif') 0 0 no-repeat;
  /**/
  width: 32px;
  height: 32px;
}
.controls-BaseControl__trigger {
  position: relative;
}
.controls-BaseControl__lastRowActions_outside {
  margin-bottom: 29px;
}
.controls-BaseControl__lastRowActions_inside {
  margin-bottom: 3px;
}
