.controls-BigSeparator {
   display: inline-block;
   cursor: pointer;
}

.controls-BigSeparator__icon {
   .icon-size-without-important(@size-BigSeparator__icon);
   color: @color_BigSeparator-icon;
}

.controls-BigSeparator__icon:active {
   color: @color_BigSeparator-icon_hovered;
}

.ws-is-no-touch {
   .controls-BigSeparator__icon:hover {
      color: @color_BigSeparator-icon_hovered;
   }
}