@import "glyphs";
@font-face {
   font-family: 'cbuc-icons';
   src: url('cbuc-icons/cbuc-icons.eot');
   src: url('cbuc-icons/cbuc-icons.eot?#iefix') format('embedded-opentype'),
   url('cbuc-icons/cbuc-icons.woff2') format('woff2'),
   url('cbuc-icons/cbuc-icons.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cbuc-icons24';
   src: url('cbuc-icons24/cbuc-icons24.eot');
   src: url('cbuc-icons24/cbuc-icons24.eot?#iefix') format('embedded-opentype'),
   url('cbuc-icons24/cbuc-icons24.woff2') format('woff2'),
   url('cbuc-icons24/cbuc-icons24.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
