.icon-LevelLow:before {
   content: "\ea72";
}
.icon-LevelAverage:before {
   content: "\ea73";
}
.icon-LevelHigh:before {
   content: "\ea74";
}
.icon-LevelCritical:before {
   content: "\ea75";
}
.icon-pAlignLeft:before {
   content: "\ea76";
}
.icon-pTable:before {
   content: "\ea77";
}
.icon-pToPave:before {
   content: "\ea78";
}
.icon-pToStretch:before {
   content: "\ea79";
}
.icon-pAlignCenter:before {
   content: "\ea7a";
}
.icon-pAlignRight:before {
   content: "\ea7b";
}
.icon-pSendToBack:before {
   content: "\ea7c";
}
.icon-pBringToFront:before {
   content: "\ea7d";
}
.icon-Statement:before {
   content: "\ea7e";
}
.icon-Handshake:before {
   content: "\ea7f";
}
.icon-pGrid:before {
   content: "\ea80";
}
.icon-BarcodeNon:before {
   content: "\ea81";
}
.icon-LoveNull:before {
   content: "\ea82";
}
.icon-Love:before {
   content: "\ea83";
}
.icon-TypeDate:before {
   content: "\ea68";
}
.icon-TypeVoid:before {
   content: "\ea69";
}
.icon-TypeBool:before {
   content: "\ea6a";
}
.icon-TypeStr:before {
   content: "\ea6b";
}
.icon-TypeNum:before {
   content: "\ea6c";
}
.icon-TypeArray:before {
   content: "\ea6d";
}
.icon-TypeObject:before {
   content: "\ea6e";
}
.icon-UploadYourself:before {
   content: "\ea6f";
}
.icon-Way:before {
   content: "\ea70";
}
.icon-ServiceDuble:before {
   content: "\ea71";
}
.icon-ExclamationNarrow:before {
   content: "\ea67";
}
.icon-SentNot:before {
   content: "\ea63";
}
.icon-IncomingMail:before {
   content: "\ea64";
}
.icon-OutgoingMail:before {
   content: "\ea65";
}
.icon-SortingNumber:before {
   content: "\ea66";
}
.icon-UpDown:before {
   content: "\ea62";
}
.icon-IncomingCall:before {
   content: "\ea60";
}
.icon-OutgoingCall:before {
   content: "\ea61";
}
.icon-InternationalArrow:before {
   content: "\ea5c";
}
.icon-AdvertisingArrow:before {
   content: "\ea5d";
}
.icon-ServiceArrow:before {
   content: "\ea5e";
}
.icon-Shop:before {
   content: "\ea5f";
}
.icon-NotificationBig:before {
   content: "\ea5a";
}
.icon-NotificationMini:before {
   content: "\ea5b";
}
.icon-Сelebration:before {
   content: "\ea57";
}
.icon-Shteker:before {
   content: "\ea58";
}
.icon-Cause:before {
   content: "\ea59";
}
.icon-AttentionProcessing:before {
   content: "\ea55";
}
.icon-Instagram:before {
   content: "\ea56";
}
.icon-LDAPnew:before {
   content: "\ea50";
}
.icon-Drop:before {
   content: "\ea51";
}
.icon-MapMarkerNull:before {
   content: "\ea52";
}
.icon-PicInTheText:before {
   content: "\ea53";
}
.icon-PicOverTheText:before {
   content: "\ea54";
}
.icon-NotUpdatable:before {
   content: "\ea4f";
}
.icon-Badge:before {
   content: "\ea4c";
}
.icon-Finger:before {
   content: "\ea4d";
}
.icon-Service:before {
   content: "\ea4e";
}
.icon-Yandex:before {
   content: "\ea4b";
}
.icon-InsertSpoiler:before {
   content: "\ea47";
}
.icon-Plus:before {
   content: "\ea48";
}
.icon-PageNumber:before {
   content: "\ea49";
}
.icon-AdminInfo:before {
   content: "\ea4a";
}
.icon-SuccessfulDocument:before {
   content: "\ea45";
}
.icon-Successfully:before {
   content: "\ea46";
}
.icon-NotesDoc:before {
   content: "\ea42";
}
.icon-Agent:before {
   content: "\ea43";
}
.icon-Client:before {
   content: "\ea44";
}
.icon-ListboxNull:before {
   content: "\ea3a";
}
.icon-Gmail:before {
   content: "\ea3b";
}
.icon-Cashbox2:before {
   content: "\ea3c";
}
.icon-Compare:before {
   content: "\ea3d";
}
.icon-SvWide:before {
   content: "\ea3e";
}
.icon-SvNarrow:before {
   content: "\ea3f";
}
.icon-SvMax:before {
   content: "\ea40";
}
.icon-SvMini:before {
   content: "\ea41";
}
.icon-MoneyPrice:before {
   content: "\ea38";
}
.icon-ManyDocuments:before {
   content: "\ea39";
}
.icon-WaitingSignature:before {
  content: "\ea37";
}
.icon-Dwg:before {
  content: "\ea36";
}
.icon-EmailNew:before {
  content: "\ea32";
}
.icon-Space:before {
  content: "\ea33";
}
.icon-Mercury:before {
  content: "\ea34";
}
.icon-NoMoney:before {
  content: "\ea35";
}
.icon-UnloadNew:before {
  content: "\ea31";
}
.icon-DownloadNew:before {
  content: "\ea30";
}
.icon-FilterBig:before {
  content: "\ea2d";
}
.icon-Reply:before {
  content: "\ea2e";
}
.icon-CollapseExpand:before {
  content: "\ea2f";
}
.icon-PhoneCompany:before {
   content: "\ea29";
}
.icon-PaymentPart2:before {
   content: "\ea2a";
}
.icon-Autonomcash:before {
   content: "\ea2b";
}
.icon-Champagne:before {
   content: "\ea2c";
}
.icon-ListViewNew:before {
   content: "\ea28";
}
.icon-CloseNew:before {
   content: "\ea27";
}
.icon-ThumbUpBig:before {
   content: "\ea21";
}
.icon-ThumbDownBig:before {
   content: "\ea22";
}
.icon-Docsvision:before {
   content: "\ea23";
}
.icon-ToApprove:before {
   content: "\ea24";
}
.icon-OnAgreement:before {
   content: "\ea25";
}
.icon-Agreed:before {
   content: "\ea26";
}
.icon-LockIn:before {
   content: "\ea1b";
}
.icon-WorkForAll:before {
   content: "\ea1c";
}
.icon-CropPic:before {
   content: "\ea1d";
}
.icon-SelectArea:before {
   content: "\ea1e";
}
.icon-Cutlery:before {
   content: "\ea1f";
}
.icon-ProductsDownload:before {
   content: "\ea20";
}
.icon-TimeHistoryMirror:before {
   content: "\ea1a";
}
.icon-ShowBig:before {
   content: "\ea19";
}
.icon-Tag:before {
   content: "\ea18";
}
.icon-HHNon:before {
   content: "\ea14";
}
.icon-SJNon:before {
   content: "\ea15";
}
.icon-ExitAccount:before {
   content: "\ea16";
}
.icon-gasStation:before {
   content: "\ea17";
}
.icon-FillintheInformation:before {
   content: "\ea0f";
}
.icon-RecalculationOfPrices:before {
   content: "\ea10";
}
.icon-Ldap:before {
   content: "\ea11";
}
.icon-Square:before {
   content: "\ea12";
}
.icon-Squarefilled:before {
   content: "\ea13";
}
.icon-LogoGosUslugi:before {
   content: "\ea0e";
}
.icon-Bulb:before {
   content: "\ea05";
}
.icon-PaymentPartSend:before {
   content: "\ea06";
}
.icon-RelatedDocumentsDown:before {
   content: "\ea07";
}
.icon-RelatedDocumentsUp:before {
   content: "\ea08";
}
.icon-PinOff:before {
   content: "\ea09";
}
.icon-ToTheBegining:before {
   content: "\ea0a";
}
.icon-Lightning:before {
   content: "\ea0b";
}
.icon-Thumbup:before {
   content: "\ea0c";
}
.icon-MixPayment:before {
   content: "\ea0d";
}
.icon-WhatsUp:before {
   content: "\ea01";
}
.icon-Viber:before {
   content: "\ea02";
}
.icon-Telegram:before {
   content: "\ea03";
}
.icon-EnterRight:before {
   content: "\ea04";
}
.icon-PrintForm:before {
   content: "\e9f8";
}
.icon-CloudUser:before {
   content: "\e9f9";
}
.icon-AutoTuning:before {
   content: "\e9fa";
}
.icon-AlignmentWidth2:before {
   content: "\e9fb";
}
.icon-PicRight:before {
   content: "\e9fc";
}
.icon-PicLeftT:before {
   content: "\e9fd";
}
.icon-PicLeft:before {
   content: "\e9fe";
}
.icon-PicCenter:before {
   content: "\e9ff";
}
.icon-Scanner:before {
   content: "\ea00";
}
.icon-Invoice:before {
   content: "\e9f5";
}
.icon-Shipment:before {
   content: "\e9f6";
}
.icon-ShipmentPartial:before {
   content: "\e9f7";
}
.icon-ArrowBig:before {
   content: "\e9f3";
}
.icon-CloudControl:before {
   content: "\e9f4";
}
.icon-Crown:before {
   content: "\e9ee";
}
.icon-And:before {
   content: "\e9ef";
}
.icon-Or:before {
   content: "\e9f0";
}
.icon-Fx:before {
   content: "\e9f1";
}
.icon-BigRemarkNull:before {
   content: "\e9f2";
}
.icon-R:before {
   content: "\e9ed";
}
.icon-Answers:before {
   content: "\e9ec";
}
.icon-ConnectionPeriod:before {
   content: "\e9eb";
}
.icon-BigRemark:before {
   content: "\e9ea";
}
.icon-Rabota:before {
   content: "\e9e8";
}
.icon-Zarplata:before {
   content: "\e9e9";
}
.icon-AutoIndent:before {
   content: "\e9e3";
}
.icon-GroupTabsLeft:before {
   content: "\e9e4";
}
.icon-GroupTabsRight:before {
   content: "\e9e5";
}
.icon-GroupTabsDown:before {
   content: "\e9e6";
}
.icon-GroupTabsUp:before {
   content: "\e9e7";
}
.icon-SettingsNew:before {
   content: "\e9d9";
}
.icon-Rec:before {
   content: "\e9da";
}
.icon-ListboxrRflection:before {
   content: "\e9db";
}
.icon-TFDocumentNon:before {
   content: "\e9dc";
}
.icon-SbisCloud:before {
   content: "\e9dd";
}
.icon-DKNoneEng:before {
   content: "\e9de";
}
.icon-SortingEng:before {
   content: "\e9df";
}
.icon-DKEng:before {
   content: "\e9e0";
}
.icon-SbisEng:before {
   content: "\e9e1";
}
.icon-SbisBird:before {
   content: "\e9e2";
}
.icon-TFDocumentVsdx:before {
   content: "\e9d0";
}
.icon-UnSubscribe:before {
   content: "\e9d1";
}
.icon-Subscribe:before {
   content: "\e9d2";
}
.icon-TheNote:before {
   content: "\e9d3";
}
.icon-Price:before {
   content: "\e9d4";
}
.icon-ArrowTimeForward:before {
   content: "\e9d5";
}
.icon-ArrowTimeBackward:before {
   content: "\e9d6";
}
.icon-AccordionArrowDown:before {
   content: "\e9d7";
}
.icon-AccordionArrowUp:before {
   content: "\e9d8";
}
.icon-Cashbox:before {
   content: "\e9cf";
}
.icon-NotesFill:before {
   content: "\e9ce";
}
.icon-TimeHistory:before {
   content: "\e9c3";
}
.icon-PinCode:before {
   content: "\e9c4";
}
.icon-Key:before {
   content: "\e9c5";
}
.icon-Column2:before {
   content: "\e9c6";
}
.icon-Column1:before {
   content: "\e9c7";
}
.icon-ArrangeList3:before {
   content: "\e9c8";
}
.icon-QuestionNew:before {
   content: "\e9c9";
}
.icon-Ship:before {
   content: "\e9ca";
}
.icon-TFDocumentMP4:before {
   content: "\e9cb";
}
.icon-TFDocumentODS:before {
   content: "\e9cc";
}
.icon-RubleNone:before {
   content: "\e9cd";
}
.icon-MarkCollapseBold:before {
   content: "\e9bf";
}
.icon-MarkLeftBold:before {
   content: "\e9c0";
}
.icon-MarkExpandBold:before {
   content: "\e9c1";
}
.icon-MarkRightBold:before {
   content: "\e9c2";
}
.icon-RemarkNull:before {
   content: "\e9bd";
}
.icon-Remark:before {
   content: "\e9be";
}
.icon-CarryDiscount:before {
   content: "\e9bb";
}
.icon-Offline:before {
   content: "\e9bc";
}
.icon-TimeOK:before {
   content: "\e9ba";
}
.icon-FilterSmall:before {
   content: "\e9ac";
}
.icon-Superjob:before {
   content: "\e9ad";
}
.icon-HeadHunter:before {
   content: "\e9ae";
}
.icon-CloudKey2None:before {
   content: "\e9af";
}
.icon-CloudKey2:before {
   content: "\e9b0";
}
.icon-MicrophoneNull:before {
   content: "\e9b1";
}
.icon-mergeCells:before {
   content: "\e9b2";
}
.icon-separateVertical:before {
   content: "\e9b3";
}
.icon-separateHorizontal:before {
   content: "\e9b4";
}
.icon-insertCellBefore:before {
   content: "\e9b5";
}
.icon-insertCellAfter:before {
   content: "\e9b6";
}
.icon-removeCell:before {
   content: "\e9b7";
}
.icon-insertRowNumber:before {
   content: "\e9b8";
}
.icon-insertTable:before {
   content: "\e9b9";
}
.icon-CollapseLight:before {
   content: "\e9a8";
}
.icon-MarkCLeftLight:before {
   content: "\e9a9";
}
.icon-ExpandLight:before {
   content: "\e9aa";
}
.icon-MarkCRightLight:before {
   content: "\e9ab";
}
.icon-SmileBtr:before {
   content: "\e9a7";
}
.icon-Interview:before {
   content: "\e9a6";
}
.icon-MegaphoneOff:before {
   content: "\e99b";
}
.icon-PlaySound:before {
   content: "\e99c";
}
.icon-OutGroup:before {
   content: "\e99d";
}
.icon-InGroup:before {
   content: "\e99e";
}
.icon-CallSbis:before {
   content: "\e99f";
}
.icon-PasteQuotesBtr:before {
   content: "\e9a0";
}
.icon-PasteBtr:before {
   content: "\e9a1";
}
.icon-PasteCodeBtr:before {
   content: "\e9a2";
}
.icon-PicBtr:before {
   content: "\e9a3";
}
.icon-Contrast:before {
   content: "\e9a4";
}
.icon-Shadow:before {
   content: "\e9a5";
}
.icon-FolderIOS:before {
   content: "\e99a";
}
.icon-MagicWand:before {
   content: "\e998";
}
.icon-Line:before {
   content: "\e999";
}
.icon-Down:before {
   content: "\e996";
}
.icon-Up:before {
   content: "\e997";
}
.icon-ArrangeList04:before {
   content: "\e994";
}
.icon-ArrangeList03:before {
   content: "\e995";
}
.icon-NoDocument:before {
   content: "\e991";
}
.icon-TemplateNews3:before {
   content: "\e992";
}
.icon-TemplateNews2:before {
   content: "\e993";
}
.icon-TemplateNews1:before {
   content: "\e985";
}
.icon-TemplateNews5:before {
   content: "\e986";
}
.icon-TemplateNews4:before {
   content: "\e987";
}
.icon-TemplateNews6:before {
   content: "\e988";
}
.icon-TemplateNews9:before {
   content: "\e989";
}
.icon-TemplateNews8:before {
   content: "\e98a";
}
.icon-TemplateNews7:before {
   content: "\e98b";
}
.icon-Sbis:before {
   content: "\e98c";
}
.icon-VideoGroup:before {
   content: "\e98d";
}
.icon-DiscountCardSale:before {
   content: "\e98e";
}
.icon-PhoneCAM:before {
   content: "\e98f";
}
.icon-PhoneWWW:before {
   content: "\e990";
}
.icon-Calc:before {
   content: "\e981";
}
.icon-TransitionFrom:before {
   content: "\e982";
}
.icon-TransitionTo:before {
   content: "\e983";
}
.icon-VoiceMenu:before {
   content: "\e984";
}
.icon-LetterN:before {
   content: "\e979";
}
.icon-TurnList:before {
   content: "\e97a";
}
.icon-BidUp:before {
   content: "\e97b";
}
.icon-PinNull:before {
   content: "\e97c";
}
.icon-Last:before {
   content: "\e97d";
}
.icon-Forward:before {
   content: "\e97e";
}
.icon-Back2:before {
   content: "\e97f";
}
.icon-First:before {
   content: "\e980";
}
.icon-PhoneVariable:before {
   content: "\e971";
}
.icon-PUnanswered:before {
   content: "\e972";
}
.icon-PhonePause:before {
   content: "\e973";
}
.icon-PhoneNumber:before {
   content: "\e974";
}
.icon-PhoneMes:before {
   content: "\e975";
}
.icon-PhoneHome:before {
   content: "\e976";
}
.icon-PhoneFax:before {
   content: "\e977";
}
.icon-PhoneContact:before {
   content: "\e978";
}
.icon-Snow:before {
   content: "\e970";
}
.icon-Motion:before {
   content: "\e96f";
}
.icon-EmptyFolderOpen:before {
   content: "\e96b";
}
.icon-EmptyFolderClosed:before {
   content: "\e96c";
}

.icon-FolderOpen:before {
   content: "\e96d";
}

.icon-FolderClosed:before {
   content: "\e96e";
}

.icon-TimeOff:before {
   content: "\e963";
}

.icon-PhoneUnanswered:before {
   content: "\e964";
}

.icon-PhoneMissed:before {
   content: "\e965";
}

.icon-PhoneCrash:before {
   content: "\e966";
}

.icon-DocumentBase:before {
   content: "\e967";
}

.icon-ShowControl:before {
   content: "\e968";
}

.icon-Scissors:before {
   content: "\e969";
}

.icon-VacationNull:before {
   content: "\e96a";
}
.icon-UnFullScrin:before {
   content: "\e95e";
}

.icon-FullScrin:before {
   content: "\e95f";
}

.icon-Oval:before {
   content: "\e960";
}

.icon-LongList:before {
   content: "\e961";
}

.icon-ShortList:before {
   content: "\e962";
}

.icon-MoneyOk:before {
   content: "\e95b";
}

.icon-LockOK:before {
   content: "\e95c";
}

.icon-AddButtonNew:before {
   content: "\e95d";
}

.icon-MegaphoneNull:before {
   content: "\e95a";
}
.icon-TableSetting:before {
   content: "\e950";
}

.icon-TableDeleteColumn:before {
   content: "\e951";
}

.icon-TableAddRight:before {
   content: "\e952";
}

.icon-TableAddLeft:before {
   content: "\e953";
}

.icon-TableDeleteRow:before {
   content: "\e954";
}

.icon-TableInsertBelow:before {
   content: "\e955";
}

.icon-TableInsertAbove:before {
   content: "\e956";
}

.icon-TableDelete:before {
   content: "\e957";
}

.icon-TableCreate:before {
   content: "\e958";
}

.icon-CbPlus:before {
   content: "\e959";
}

.icon-FilterNew:before {
   content: "\e94c";
}

.icon-Degradation:before {
   content: "\e94d";
}

.icon-Rectangle:before {
   content: "\e94e";
}

.icon-Scale:before {
   content: "\e94f";
}

.icon-statusDisturb:before {
   content: "\e949";
}

.icon-statusConnected:before {
   content: "\e94a";
}

.icon-statusDeparted:before {
   content: "\e94b";
}

.icon-Examined:before {
   content: "\e946";
}

.icon-GeoCluster:before {
   content: "\e947";
}

.icon-GeoMarker:before {
   content: "\e948";
}

.icon-statusGymnast:before {
   content: "\e931";
}

.icon-statusDraws:before {
   content: "\e932";
}

.icon-statusFarmer:before {
   content: "\e933";
}

.icon-statusThinks:before {
   content: "\e934";
}

.icon-statusCatches:before {
   content: "\e935";
}

.icon-statusCoffee:before {
   content: "\e936";
}

.icon-statusSun:before {
   content: "\e937";
}

.icon-statusPromenade:before {
   content: "\e938";
}

.icon-statusTime:before {
   content: "\e939";
}

.icon-statusPresident:before {
   content: "\e93a";
}

.icon-statusDisease:before {
   content: "\e93b";
}

.icon-statusDictates:before {
   content: "\e93c";
}

.icon-statusTable:before {
   content: "\e93d";
}

.icon-statusSleeps:before {
   content: "\e93e";
}

.icon-statusPlan:before {
   content: "\e93f";
}

.icon-statusAffairs:before {
   content: "\e940";
}

.icon-statusMiditiruet:before {
   content: "\e941";
}

.icon-statusConsultant:before {
   content: "\e942";
}

.icon-statusCaution:before {
   content: "\e943";
}

.icon-statusDrips:before {
   content: "\e944";
}

.icon-statusCars:before {
   content: "\e945";
}

.icon-Pin2:before {
   content: "\e930";
}

.icon-Successful2:before {
   content: "\e92c";
}

.icon-EmoiconAngryInvert:before {
   content: "\e92d";
}

.icon-EmoiconShockedInvert:before {
   content: "\e92e";
}

.icon-EmoiconLaughInvert:before {
   content: "\e92f";
}

.icon-Group:before {
   content: "\e92b";
}

.icon-Delete02:before {
   content: "\e92a";
}

.icon-VideoCall2:before {
   content: "\e929";
}

.icon-Barcode:before {
   content: "\e925";
}

.icon-EmoiconFacepalm:before {
   content: "\e926";
}

.icon-Enter:before {
   content: "\e927";
}

.icon-MapMarker:before {
   content: "\e928";
}

.icon-PageBreaks:before {
   content: "\e921";
}

.icon-HeaderBottom:before {
   content: "\e922";
}

.icon-HeaderTop:before {
   content: "\e923";
}

.icon-VideoLink:before {
   content: "\e924";
}

.icon-Home3:before {
   content: "\e920";
}

.icon-Notes:before {
   content: "\e91f";
}

.icon-Classifications:before {
   content: "\e918";
}

.icon-Directory:before {
   content: "\e919";
}

.icon-PatternsPoints:before {
   content: "\e91a";
}

.icon-Statistics:before {
   content: "\e91b";
}

.icon-Pack2:before {
   content: "\e91c";
}

.icon-Profile2:before {
   content: "\e91d";
}

.icon-Company2:before {
   content: "\e91e";
}

.icon-DesktopOff:before {
   content: "\e917";
}

.icon-ChangeAccount:before {
   content: "\e916";
}

.icon-Album:before {
   content: "\e90a";
}

.icon-DesktopComplete:before {
   content: "\e90b";
}

.icon-MicrophoneOff:before {
   content: "\e90c";
}

.icon-Desktop:before {
   content: "\e90d";
}

.icon-SoundMax:before {
   content: "\e90e";
}

.icon-Chat:before {
   content: "\e90f";
}

.icon-SoundMidi:before {
   content: "\e910";
}

.icon-SoundMini:before {
   content: "\e911";
}

.icon-SoundOff:before {
   content: "\e912";
}

.icon-VideoCallOff:before {
   content: "\e913";
}

.icon-PhoneDown:before {
   content: "\e914";
}

.icon-QR:before {
   content: "\e915";
}

.icon-Sorting:before {
   content: "\e909";
}

.icon-SAP:before {
   content: "\e904";
}

.icon-Egais:before {
   content: "\e905";
}

.icon-Admin2off:before {
   content: "\e906";
}

.icon-ColorizeNone:before {
   content: "\e907";
}

.icon-Sent3:before {
   content: "\e908";
}

.icon-WeekUp:before {
   content: "\e902";
}

.icon-WeekDown:before {
   content: "\e903";
}

.icon-DocumentXmlEdit:before {
   content: "\e900";
}

.icon-SbisDisk:before {
   content: "\e901";
}

.icon-OCR:before {
   content: "\e803";
}

.icon-DkOff:before {
   content: "\e800";
}

.icon-ExpandUp:before {
   content: "\e801";
}

.icon-ExpandDown:before {
   content: "\e802";
}

.icon-Chest:before {
   content: "\e76b";
}

.icon-Headstone:before {
   content: "\e76c";
}

.icon-Skeleton:before {
   content: "\e76d";
}

.icon-AddNote:before {
   content: "\e76e";
}

.icon-Check3:before {
   content: "\e76f";
}

.icon-PasteStyle:before {
   content: "\e768";
}

.icon-Android:before {
   content: "\e769";
}

.icon-iOS:before {
   content: "\e76a";
}

.icon-Responsible2:before {
   content: "\e767";
}

.icon-RemoveAdd:before {
   content: "\e766";
}

.icon-OutHotel:before {
   content: "\e765";
}

.icon-TextSettings:before {
   content: "\e761";
}

.icon-TFCurtailRTE2:before {
   content: "\e764";
}

.icon-GooglePlus:before {
   content: "\e763";
}

.icon-ViewBack:before {
   content: "\e76";
}

.icon-Vkrugu:before {
   content: "\e762";
}

.icon-Yes:before {
   content: "\e75e";
}

.icon-Calendar2:before {
   content: "\e75f";
}

.icon-Admin2:before {
   content: "\e760";
}

.icon-TFDialogue:before {
   content: "\e75c";
}

.icon-TFSettings:before {
   content: "\e75d";
}

.icon-SignatureNone:before {
   content: "\e74a";
}

.icon-CapitalInvestment:before {
   content: "\e74b";
}

.icon-IntangibleAssets:before {
   content: "\e74c";
}

.icon-Property:before {
   content: "\e74d";
}

.icon-Resources:before {
   content: "\e74e";
}

.icon-TFAttach:before {
   content: "\e74f";
}

.icon-TFCloudKey:before {
   content: "\e750";
}

.icon-TFCurtailRTE:before {
   content: "\e751";
}

.icon-TFDelete:before {
   content: "\e752";
}

.icon-TFEmployees:before {
   content: "\e753";
}

.icon-TFExpandRTE:before {
   content: "\e754";
}

.icon-TFForward:before {
   content: "\e755";
}

.icon-TFMessage:before {
   content: "\e756";
}

.icon-TFMyDocuments:before {
   content: "\e757";
}

.icon-TFTask:before {
   content: "\e758";
}

.icon-TFUSBDrive:before {
   content: "\e759";
}

.icon-TFUSBKey:before {
   content: "\e75a";
}

.icon-TFVideoMessage:before {
   content: "\e75b";
}

.icon-TFAdjustmentReport:before {
   content: "\e729";
}

.icon-TFImage:before {
   content: "\e72a";
}

.icon-AdditionalConditions:before {
   content: "\e72b";
}

.icon-PartiallyReady:before {
   content: "\e72c";
}

.icon-MedicineChest:before {
   content: "\e72d";
}

.icon-RefusedAgency:before {
   content: "\e72e";
}

.icon-RefusedOperator:before {
   content: "\e72f";
}

.icon-TFComputer:before {
   content: "\e730";
}

.icon-TFDesktop:before {
   content: "\e731";
}

.icon-TFDocument:before {
   content: "\e732";
}

.icon-TFDocumentP:before {
   content: "\e733";
}

.icon-TFDocumentPDF:before {
   content: "\e734";
}

.icon-TFDocumentUnknownType:before {
   content: "\e735";
}

.icon-TFDocumentW:before {
   content: "\e736";
}

.icon-TFDocumentX:before {
   content: "\e737";
}

.icon-TFDocumentXml:before {
   content: "\e738";
}

.icon-TFDownload:before {
   content: "\e739";
}

.icon-TFExpand:before {
   content: "\e73a";
}

.icon-TFFavorite:before {
   content: "\e73b";
}

.icon-TFFileAudio:before {
   content: "\e73c";
}

.icon-TFFileVideo:before {
   content: "\e73d";
}

.icon-TFFolder:before {
   content: "\e73e";
}

.icon-TFFolder2:before {
   content: "\e73f";
}

.icon-TFFollow:before {
   content: "\e740";
}

.icon-TFList:before {
   content: "\e741";
}

.icon-TFList2:before {
   content: "\e742";
}

.icon-TFLocalDrive:before {
   content: "\e743";
}

.icon-TFNetwork:before {
   content: "\e744";
}

.icon-TFNetworkDrive:before {
   content: "\e745";
}

.icon-TFNewTab:before {
   content: "\e746";
}

.icon-TFPreview:before {
   content: "\e747";
}

.icon-TFPreview2:before {
   content: "\e748";
}

.icon-TFZip:before {
   content: "\e749";
}

.icon-ArrangeList:before {
   content: "\e708";
}

.icon-ArrangeSmallIconsPreview:before {
   content: "\e720";
}

.icon-Hand:before {
   content: "\e721";
}

.icon-LogoFacebook:before {
   content: "\e722";
}

.icon-LogoLinkedIn:before {
   content: "\e723";
}

.icon-LogoMoiKrug:before {
   content: "\e724";
}

.icon-LogoMoiMir:before {
   content: "\e725";
}

.icon-LogoTwitter:before {
   content: "\e726";
}

.icon-LogoVk:before {
   content: "\e727";
}
.icon-LogoOk:before {
   content: "\e728";
}

.icon-1c:before {
   content: "\e71f";
}

.icon-DetailList:before {
   content: "\e71a";
}

.icon-DiscountCard:before {
   content: "\e71b";
}

.icon-TrendDown:before {
   content: "\e71c";
}

.icon-TrendUp:before {
   content: "\e71d";
}

.icon-PasteAsText:before {
   content: "\e71e";
}

.icon-Arrow1730Null:before {
   content: "\e715";
}

.icon-ArrowDownNull:before {
   content: "\e716";
}

.icon-ArrowUpNull:before {
   content: "\e717";
}

.icon-DayBackwardNull:before {
   content: "\e718";
}

.icon-DayForwardNull:before {
   content: "\e719";
}

.icon-ContactSearch:before {
   content: "\e704";
}

.icon-HardDrive:before {
   content: "\e705";
}

.icon-Microphone:before {
   content: "\e706";
}

.icon-Roaming:before {
   content: "\e707";
}

.icon-ZodiacSignAquarius:before {
   content: "\e709";
}

.icon-ZodiacSignAries:before {
   content: "\e70a";
}

.icon-ZodiacSignCancer:before {
   content: "\e70b";
}

.icon-ZodiacSignCapricorn:before {
   content: "\e70c";
}

.icon-ZodiacSignGemini:before {
   content: "\e70d";
}

.icon-ZodiacSignLeo:before {
   content: "\e70e";
}

.icon-ZodiacSignLibra:before {
   content: "\e70f";
}

.icon-ZodiacSignPisces:before {
   content: "\e710";
}

.icon-ZodiacSignSagittarius:before {
   content: "\e711";
}

.icon-ZodiacSignScorpio:before {
   content: "\e712";
}

.icon-ZodiacSignTaurus:before {
   content: "\e713";
}

.icon-ZodiacSignVirgo:before {
   content: "\e714";
}

.icon-Discount:before {
   content: "\e703";
}

.icon-Presto:before {
   content: "\e701";
}

.icon-ReduceButton:before {
   content: "\e702";
}

.icon-DocumentP:before {
   content: "\e6ff";
}

.icon-DocumentUnknownType:before {
   content: "\e700";
}

.icon-You:before {
   content: "\e6fe";
}

.icon-Paste:before {
   content: "\e6fd";
}

.icon-EmptyVideoMessage:before {
   content: "\e6fb";
}

.icon-VideoMessage:before {
   content: "\e6fc";
}

.icon-AlignmentBottom:before {
   content: "\e6ef";
}

.icon-AlignmentMiddle:before {
   content: "\e6f0";
}

.icon-AlignmentTop:before {
   content: "\e6f1";
}

.icon-Author:before {
   content: "\e6f2";
}

.icon-CurtailMessage:before {
   content: "\e6f3";
}

.icon-ExpandMessage:before {
   content: "\e6f4";
}

.icon-Lead:before {
   content: "\e6f5";
}

.icon-Pack:before {
   content: "\e6f6";
}

.icon-Responsible:before {
   content: "\e6f7";
}

.icon-TurnstileIn:before {
   content: "\e6f8";
}

.icon-TurnstileOut:before {
   content: "\e6f9";
}

.icon-Unite:before {
   content: "\e6fa";
}

.icon-Archive:before {
   content: "\e6ec";
}

.icon-Photo:before {
   content: "\e6ed";
}

.icon-WebCamera:before {
   content: "\e6ee";
}

.icon-WorkRead:before {
   content: "\e6eb";
}

.icon-ArrangeColomns:before {
   content: "\e6da";
}

.icon-ArrangeLargeIcons1:before {
   content: "\e6db";
}

.icon-ArrangeLargeIcons2:before {
   content: "\e6dc";
}

.icon-ArrangeList1:before {
   content: "\e6dd";
}

.icon-ArrangeList2:before {
   content: "\e6de";
}

.icon-ArrangePreview:before {
   content: "\e6df";
}

.icon-Crop:before {
   content: "\e6e0";
}

.icon-DocumentW:before {
   content: "\e6e1";
}

.icon-DocumentX:before {
   content: "\e6e2";
}

.icon-DocumentXml:before {
   content: "\e6e3";
}

.icon-DocumentZip:before {
   content: "\e6e4";
}

.icon-MailIncoming:before {
   content: "\e6e5";
}

.icon-MailOutgoing:before {
   content: "\e6e6";
}

.icon-PasteTextLetter:before {
   content: "\e6e7";
}

.icon-Quote:before {
   content: "\e6e8";
}

.icon-ZoomIn:before {
   content: "\e6e9";
}

.icon-ZoomOut:before {
   content: "\e6ea";
}

.icon-LessButton:before {
   content: "\e6d4";
}

.icon-MoreButton:before {
   content: "\e6d5";
}

.icon-Dollar:before {
   content: "\e6d6";
}

.icon-Euro:before {
   content: "\e6d7";
}

.icon-Listbox:before {
   content: "\e6d8";
}

.icon-Next:before {
   content: "\e6d9";
}

.icon-NodeExpanded:before {
   content: "\e6d2";
}

.icon-NodeCurtailed:before {
   content: "\e6d3";
}

.icon-EmoiconAngry:before {
   content: "\e6a9";
}

.icon-EmoiconAnnoyed:before {
   content: "\e6aa";
}

.icon-EmoiconBlind:before {
   content: "\e6ab";
}

.icon-EmoiconCool:before {
   content: "\e6ac";
}

.icon-EmoiconCry:before {
   content: "\e6ad";
}

.icon-EmoiconDevil:before {
   content: "\e6ae";
}

.icon-EmoiconDumb:before {
   content: "\e6af";
}

.icon-EmoiconInlove:before {
   content: "\e6b0";
}

.icon-EmoiconKiss:before {
   content: "\e6b1";
}

.icon-EmoiconLaugh:before {
   content: "\e6b2";
}

.icon-EmoiconMoney:before {
   content: "\e6b3";
}

.icon-EmoiconNerd:before {
   content: "\e6b4";
}

.icon-EmoiconNeutral:before {
   content: "\e6b5";
}

.icon-EmoiconPuzzled:before {
   content: "\e6b6";
}

.icon-EmoiconRofl:before {
   content: "\e6b7";
}

.icon-EmoiconSad:before {
   content: "\e6b8";
}

.icon-EmoiconShocked:before {
   content: "\e6b9";
}

.icon-EmoiconSmile:before {
   content: "\e6ba";
}

.icon-EmoiconSnooze:before {
   content: "\e6bb";
}

.icon-EmoiconTongue:before {
   content: "\e6bc";
}

.icon-EmoiconWink:before {
   content: "\e6bd";
}

.icon-EmoiconYawn:before {
   content: "\e6be";
}

.icon-AlignmentCenter:before {
   content: "\e6bf";
}

.icon-AlignmentLeft:before {
   content: "\e6c0";
}

.icon-AlignmentRight:before {
   content: "\e6c1";
}

.icon-AlignmentWidth:before {
   content: "\e6c2";
}

.icon-Bold:before {
   content: "\e6c3";
}

.icon-Calendar:before {
   content: "\e6c4";
}

.icon-Html:before {
   content: "\e6c5";
}

.icon-Italic:before {
   content: "\e6c6";
}

.icon-ListMarked:before {
   content: "\e6c7";
}

.icon-ListNumbered:before {
   content: "\e6c8";
}

.icon-Picture:before {
   content: "\e6c9";
}

.icon-Redo2:before {
   content: "\e6ca";
}

.icon-Stroked:before {
   content: "\e6cb";
}

.icon-Table:before {
   content: "\e6cc";
}

.icon-TextColor:before {
   content: "\e6cd";
}

.icon-Underline:before {
   content: "\e6ce";
}

.icon-Undo2:before {
   content: "\e6cf";
}

.icon-Unlink:before {
   content: "\e6d0";
}

.icon-WWW:before {
   content: "\e6d1";
}

.icon-Wi:before {
   content: "\e6a6";
}

.icon-Link:before {
   content: "\e6a7";
}

.icon-InputHistory:before {
   content: "\e6a8";
}

.icon-FromArchive:before {
   content: "\e69d";
}

.icon-VideoCallOutgoing:before {
   content: "\e69e";
}

.icon-VideoCallIncoming:before {
   content: "\e69f";
}

.icon-VideoCallNull:before {
   content: "\e6a0";
}

.icon-Redo:before {
   content: "\e6a1";
}

.icon-View:before {
   content: "\e6a2";
}

.icon-Ruble:before {
   content: "\e6a3";
}

.icon-Birthday:before {
   content: "\e6a4";
}

.icon-Truck:before {
   content: "\e6a5";
}

.icon-ToArchive:before {
   content: "\e697";
}

.icon-Rename:before {
   content: "\e698";
}

.icon-MegaphoneMan:before {
   content: "\e699";
}

.icon-Megaphone:before {
   content: "\e69a";
}

.icon-Bell:before {
   content: "\e69b";
}

.icon-Back:before {
   content: "\e69c";
}

.icon-PaymentPart:before {
   content: "\e695";
}

.icon-Payment:before {
   content: "\e696";
}

.icon-PhoneGetManually:before {
   content: "\e615";
}

.icon-PhoneGetAutomatically:before {
   content: "\e624";
}

.icon-DKNone:before {
   content: "\e640";
}

.icon-Search2:before {
   content: "\e662";
}

.icon-AddButton:before {
   content: "\e694";
}

.icon-VideoCall:before {
   content: "\e693";
}

.icon-Sandclock:before {
   content: "\e68f";
}

.icon-TruckHalf:before {
   content: "\e690";
}

.icon-DK:before {
   content: "\e691";
}

.icon-Arrow1730:before {
   content: "\e692";
}

.icon-CallOutgoing:before {
   content: "\e65f";
}

.icon-CallIncoming:before {
   content: "\e68e";
}

.icon-UnPublish:before {
   content: "\e62f";
}

.icon-EditComment:before {
   content: "\e60d";
}

.icon-Question2:before {
   content: "\e68b";
}

.icon-Bids:before {
   content: "\e68c";
}

.icon-Time:before {
   content: "\e68d";
}

.icon-WeekBackward:before {
   content: "\e685";
}

.icon-WeekForward:before {
   content: "\e681";
}

.icon-LetterA:before {
   content: "\e678";
}

.icon-ExpandList:before {
   content: "\e67d";
}

.icon-CurtailList:before {
   content: "\e658";
}

.icon-Filter:before {
   content: "\e64f";
}

.icon-Signature:before {
   content: "\e68a";
}

.icon-Colorize:before {
   content: "\e664";
}

.icon-Home2:before {
   content: "\e64c";
}

.icon-Check2:before {
   content: "\e644";
}

.icon-Pin:before {
   content: "\e630";
}

.icon-WorkInFocus:before {
   content: "\e67e";
}

.icon-ValidityPeriod:before {
   content: "\e67f";
}

.icon-ThresholdConditions:before {
   content: "\e680";
}

.icon-PermittedRegions:before {
   content: "\e682";
}

.icon-PermittedGoods:before {
   content: "\e683";
}

.icon-PermittedBuyers:before {
   content: "\e684";
}

.icon-Expand:before {
   content: "\e686";
}

.icon-Eo2:before {
   content: "\e687";
}

.icon-Eo:before {
   content: "\e688";
}

.icon-Edo2:before {
   content: "\e689";
}

.icon-Edo:before {
   content: "\e679";
}

.icon-DocumentTerm:before {
   content: "\e67a";
}

.icon-Curtail:before {
   content: "\e67b";
}

.icon-PDF:before {
   content: "\e67c";
}

.icon-WiFi:before {
   content: "\e600";
}

.icon-Wallet:before {
   content: "\e601";
}

.icon-Vacation:before {
   content: "\e602";
}

.icon-UsbKey:before {
   content: "\e603";
}

.icon-Upload:before {
   content: "\e604";
}

.icon-Unsuccess:before {
   content: "\e605";
}

.icon-Unlock:before {
   content: "\e606";
}

.icon-Unfavourite:before {
   content: "\e607";
}

.icon-Undo:before {
   content: "\e608";
}

.icon-TurnR:before {
   content: "\e609";
}

.icon-TurnL:before {
   content: "\e60a";
}

.icon-TreeView:before {
   content: "\e60b";
}

.icon-Trade:before {
   content: "\e60c";
}

.icon-ThumbUp2:before {
   content: "\e60e";
}

.icon-ThumbUp:before {
   content: "\e60f";
}

.icon-ThumbDown2:before {
   content: "\e610";
}

.icon-ThumbDown:before {
   content: "\e611";
}

.icon-Surveyors:before {
   content: "\e612";
}

.icon-Surveyor:before {
   content: "\e613";
}

.icon-Sum:before {
   content: "\e614";
}

.icon-Successful:before {
   content: "\e616";
}

.icon-Skype:before {
   content: "\e617";
}

.icon-Sick:before {
   content: "\e618";
}

.icon-Show:before {
   content: "\e619";
}

.icon-Share:before {
   content: "\e61a";
}

.icon-Settings:before {
   content: "\e61b";
}

.icon-ServerKey:before {
   content: "\e61c";
}

.icon-Sent2:before {
   content: "\e61d";
}

.icon-Sent:before {
   content: "\e61e";
}

.icon-Send:before {
   content: "\e61f";
}

.icon-SelfVacation:before {
   content: "\e620";
}

.icon-SelfPin:before {
   content: "\e621";
}

.icon-Seen:before {
   content: "\e622";
}

.icon-Search:before {
   content: "\e623";
}

.icon-ScanSave:before {
   content: "\e625";
}

.icon-Scan:before {
   content: "\e626";
}

.icon-SaveAs:before {
   content: "\e627";
}

.icon-Save:before {
   content: "\e628";
}

.icon-Restore:before {
   content: "\e629";
}

.icon-Resend:before {
   content: "\e62a";
}

.icon-Report:before {
   content: "\e62b";
}

.icon-Refresh:before {
   content: "\e62c";
}

.icon-Received2:before {
   content: "\e62d";
}

.icon-Received:before {
   content: "\e62e";
}

.icon-Publish2:before {
   content: "\e631";
}

.icon-Profile:before {
   content: "\e632";
}

.icon-Print:before {
   content: "\e633";
}

.icon-Preferment:before {
   content: "\e634";
}

.icon-PhoneWork:before {
   content: "\e635";
}

.icon-PhoneNull:before {
   content: "\e636";
}

.icon-PhoneCell:before {
   content: "\e637";
}

.icon-Phone:before {
   content: "\e638";
}

.icon-Pause:before {
   content: "\e639";
}

.icon-OpenedFolder:before {
   content: "\e63a";
}

.icon-Nipple:before {
   content: "\e63b";
}

.icon-Pacifier:before {
   content: "\e63b";
}

.icon-NewTab:before {
   content: "\e63c";
}

.icon-NewCategory:before {
   content: "\e63d";
}

.icon-Move2:before {
   content: "\e63e";
}

.icon-Move:before {
   content: "\e63f";
}

.icon-Money:before {
   content: "\e641";
}

.icon-Message2:before {
   content: "\e642";
}

.icon-Master:before {
   content: "\e643";
}

.icon-Map:before {
   content: "\e645";
}

.icon-Mail:before {
   content: "\e646";
}

.icon-Lock:before {
   content: "\e647";
}

.icon-ListView:before {
   content: "\e648";
}

.icon-Linked:before {
   content: "\e649";
}

.icon-IPmask:before {
   content: "\e64a";
}

.icon-Info:before {
   content: "\e64b";
}

.icon-Icq:before {
   content: "\e64d";
}

.icon-Home:before {
   content: "\e64e";
}

.icon-HierarchyView:before {
   content: "\e650";
}

.icon-Hide:before {
   content: "\e651";
}

.icon-Handwrite2:before {
   content: "\e652";
}

.icon-Handwrite1:before {
   content: "\e653";
}

.icon-Groups:before {
   content: "\e654";
}

.icon-Folder:before {
   content: "\e655";
}

.icon-Flag:before {
   content: "\e656";
}

.icon-Fire:before {
   content: "\e657";
}

.icon-Fill:before {
   content: "\e659";
}

.icon-Favourite:before {
   content: "\e65a";
}

.icon-Exclamation:before {
   content: "\e65b";
}

.icon-Erase:before {
   content: "\e65c";
}

.icon-EmptyMessage:before {
   content: "\e65d";
}

.icon-Email:before {
   content: "\e65e";
}

.icon-Edit:before {
   content: "\e660";
}

.icon-Document:before {
   content: "\e661";
}

.icon-Delete:before {
   content: "\e663";
}

.icon-Decline:before {
   content: "\e665";
}

.icon-DayForward:before {
   content: "\e666";
}

.icon-DayBackward:before {
   content: "\e667";
}

.icon-CreateFolder:before {
   content: "\e668";
}

.icon-Copy:before {
   content: "\e669";
}

.icon-Company:before {
   content: "\e66a";
}

.icon-CommercialSignature:before {
   content: "\e66b";
}

.icon-Close:before {
   content: "\e66c";
}

.icon-CheckDoc:before {
   content: "\e66d";
}

.icon-Check:before {
   content: "\e66e";
}

.icon-Bill:before {
   content: "\e66f";
}

.icon-BadToGood:before {
   content: "\e670";
}

.icon-Attach:before {
   content: "\e671";
}

.icon-ArrowUp:before {
   content: "\e672";
}

.icon-ArrowDown:before {
   content: "\e673";
}

.icon-AnotherSignatureCenter:before {
   content: "\e674";
}

.icon-Alert:before {
   content: "\e675";
}

.icon-Admin:before {
   content: "\e676";
}

.icon-Add:before {
   content: "\e677";
}

.icon-CloseNew:before {
   content: "\ea27";
}

.icon-ListViewNew:before {
   content: "\ea28";
}
