/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
@font-face {
  font-family: 'EmojiFont';
  src: url('/cdn/fonts/EmojiFont/1.0.1/TFEmojiFont.eot');
  src: url('/cdn/fonts/EmojiFont/1.0.1/TFEmojiFont.eot?#iefix') format('embedded-opentype'), url('/cdn/fonts/EmojiFont/1.0.1/TFEmojiFont.woff2') format('woff2'), url('/cdn/fonts/EmojiFont/1.0.1/TFEmojiFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TensorFont';
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFont/TensorFont.eot');
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFont/TensorFont.eot?#iefix') format('embedded-opentype'), url('/cdn/fonts/TensorFont/1.0.3/TensorFont/TensorFont.woff2') format('woff2'), url('/cdn/fonts/TensorFont/1.0.3/TensorFont/TensorFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TensorFont';
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontBold/TensorFontBold.eot');
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontBold/TensorFontBold.eot?#iefix') format('embedded-opentype'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontBold/TensorFontBold.woff2') format('woff2'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontBold/TensorFontBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TensorFont';
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontBoldItalic/TensorFontBoldItalic.eot');
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontBoldItalic/TensorFontBoldItalic.eot?#iefix') format('embedded-opentype'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontBoldItalic/TensorFontBoldItalic.woff2') format('woff2'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontBoldItalic/TensorFontBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TensorFont';
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontItalic/TensorFontItalic.eot');
  src: url('/cdn/fonts/TensorFont/1.0.3/TensorFontItalic/TensorFontItalic.eot?#iefix') format('embedded-opentype'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontItalic/TensorFontItalic.woff2') format('woff2'), url('/cdn/fonts/TensorFont/1.0.3/TensorFontItalic/TensorFontItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
