@font-face {
   font-family: 'EmojiFont';
   src: url('/cdn/fonts/EmojiFont/@{emojiFontVer}/TFEmojiFont.eot');
   src: url('/cdn/fonts/EmojiFont/@{emojiFontVer}/TFEmojiFont.eot?#iefix') format('embedded-opentype'),
   url('/cdn/fonts/EmojiFont/@{emojiFontVer}/TFEmojiFont.woff2') format('woff2'),
   url('/cdn/fonts/EmojiFont/@{emojiFontVer}/TFEmojiFont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFont/TensorFont.eot');
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFont/TensorFont.eot?#iefix') format('embedded-opentype'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFont/TensorFont.woff2') format('woff2'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFont/TensorFont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontBold/TensorFontBold.eot');
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontBold/TensorFontBold.eot?#iefix') format('embedded-opentype'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontBold/TensorFontBold.woff2') format('woff2'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontBold/TensorFontBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontBoldItalic/TensorFontBoldItalic.eot');
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontBoldItalic/TensorFontBoldItalic.eot?#iefix') format('embedded-opentype'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontBoldItalic/TensorFontBoldItalic.woff2') format('woff2'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontBoldItalic/TensorFontBoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontItalic/TensorFontItalic.eot');
   src: url('/cdn/fonts/TensorFont/@{tensorFontForIE}/TensorFontItalic/TensorFontItalic.eot?#iefix') format('embedded-opentype'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontItalic/TensorFontItalic.woff2') format('woff2'),
   url('/cdn/fonts/TensorFont/@{tensorFontVer}/TensorFontItalic/TensorFontItalic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}
