.controls-demo-SuggestV__full {
  padding: 4px 12px 4px 8px;
  z-index: 1;
  cursor: pointer;
  margin: 0 !important;
}

.controls-demo-SuggestV__info {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 4px;
  line-height: 14px;
}

.controls-demo-SuggestV__first {
  display: inline-block;
  font-size: 15px;
}

.controls-demo-SuggestV__second {
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

.demo-TextBox {
  width: 100%;

}
