.controls-TreeGrid__row-expander_size_s {
   padding: @padding_TreeGridView-expander_size_s;
}
.controls-TreeGrid__row-expander_size_m {
   padding: @padding_TreeGridView-expander_size_m;
}
.controls-TreeGrid__row-expander_size_l {
   padding: @padding_TreeGridView-expander_size_l;
}
.controls-TreeGrid__row-expander_size_xl {
   padding: @padding_TreeGridView-expander_size_xl;
}
.controls-TreeGrid__row-expander_size_default, .controls-TreeGrid__row-expanderPadding {
   padding: @padding_TreeGridView-expander_size_default;
}
.controls-TreeGrid__row-expander, .controls-TreeGrid__row-expanderPadding {
   // Line-height description: https://habr.com/company/pt/blog/337450/
   line-height: 1;
   display: inline-block;
   position: relative;
   min-height: @height_TreeGridView-expander;
   min-width: @width_TreeGridView-expander;
}
.controls-TreeGridView__dragTargetNode {
   border-top: @border-width_TreeGridView-item_dragging solid @border-color_TreeGridView-item_dragging;
   border-bottom: @border-width_TreeGridView-item_dragging solid @border-color_TreeGridView-item_dragging;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
.controls-TreeGridView__dragTargetNode_first {
   border-left: @border-width_TreeGridView-item_dragging solid @border-color_TreeGridView-item_dragging;
}
.controls-TreeGridView__dragTargetNode_last {
   border-right: @border-width_TreeGridView-item_dragging solid @border-color_TreeGridView-item_dragging;
}
.controls-TreeGrid__row-expanderPadding {
   visibility: hidden;
}
.controls-TreeGrid__row-expander_node:hover:before,
.controls-TreeGrid__row-expander_hiddenNode:hover:before {
   color: @color_TreeGridView-expander_hover;
}
.controls-TreeGrid__row-expander_node:before,
.controls-TreeGrid__row-expander_hiddenNode:before {
   font-family: @icon-font;
   font-size: @font-size_TreeGridView-expander;
   color: @color_TreeGridView-expander;
}
.controls-TreeGrid__row-expander:before {
   user-select: none;
   flex-shrink: 0;
   cursor: pointer;
   overflow: hidden;
   text-align: center;
   position: absolute;
}
.controls-TreeGrid__row-expander_node_collapsed:before {
   content: @icon_TreeGridView-expander_node_collapsed;
}
.controls-TreeGrid__row-expander_node_expanded:before {
   content: @icon_TreeGridView-expander_node_expanded;
}
.controls-TreeGrid__row-expander_hiddenNode_collapsed:before {
   content: @icon_TreeGridView-expander_hiddenNode_collapsed;
}
.controls-TreeGrid__row-expander_hiddenNode_expanded:before {
   content: @icon_TreeGridView-expander_hiddenNode_expanded;
}
.controls-TreeGrid__row {
   display: inline-flex;
}
.controls-TreeGrid__row-levelPadding {
   flex-shrink: 0;
   display: inline-block;
}
.controls-TreeGrid__nodeFooterContent {
   display: inline-flex;
   align-items: center;
}
.controls-TreeGrid__nodeFooterHasMore {
   padding: @padding_TreeGridView-nodeFooterHasMore;
}
.controls-TreeGrid__row-levelPadding_size_default {
   width: @width-TreeViewGrid-levelPadding_size_default;
}
.controls-TreeGrid__row-levelPadding_size_s {
   width: @width-TreeViewGrid-levelPadding_size_s;
}
.controls-TreeGrid__row-levelPadding_size_m {
   width: @width-TreeViewGrid-levelPadding_size_m;
}
.controls-TreeGrid__row-levelPadding_size_l {
   width: @width-TreeViewGrid-levelPadding_size_l;
}
.controls-TreeGrid__row-levelPadding_size_xl {
   width: @width-TreeViewGrid-levelPadding_size_xl;
}