.controls-CompoundArea {
   background: #FFFFFF;
   width: 100%;

   //TODO Поддержка стилей старой шапки
   .controls-StackTemplate .controls-StackTemplate__content-area .ws-window-titlebar-custom, &.ws-float-area .ws-window-titlebar {
      z-index: 10;
      height: 38px;
      border-bottom: 1px solid #F0F0F0;
   }

   .controls-DialogTemplate .controls-DialogTemplate__content-area .ws-window-titlebar-custom, &.ws-window .ws-window-titlebar {
      z-index: 10;
      height: 40px;
      background: #ffffff;
   }

   &.ws-float-area { // crossing with old styles
      .controls-StackTemplate {
         .ws-float-area-title { // crossing with old styles
            line-height: 38px;
         }
         .ws-window-titlebar-custom {
            background: #F8F8F8;
            border-bottom: 1px solid #F0F0F0;
         }
      }
   }

   .controls-DialogTemplate .ws-float-area-title {
      line-height: 40px;
   }

   .ws-window-titlebar-custom {
      position: relative;
   }
   .ws-float-area-title {
      font-size: 18px !important;
      font-weight: bold !important;
      cursor: default;
      color: #313F78;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      white-space: nowrap;
      padding-left: 12px;
      max-width: calc(100% - 40px);
   }
   .ws-caption {
      font: bold 18px 'TensorFont', sans-serif;
      text-decoration: none;
      color: #313E78;
   }

   &.controls-CompoundArea-headerPadding .controls-StackTemplate {
      padding-top: 39px;
      height: 100%;
      box-sizing: border-box;
   }
   &.controls-CompoundArea-headerPadding .controls-DialogTemplate {
      padding-top: 40px;
      height: 100%;
      box-sizing: border-box;
   }

   .controls-DialogTemplate__close_button, .controls-StackTemplate__close_button {
      // closeButton in CompoundArea must be above the content.
      // for example core/switchablearea has z-index 100
      z-index: 500;
   }

   //перебиваю стили, затащившиеся с areaAbstract
   &.ws-window {
      border: none;
   }

   &.ws-float-area-has-maximized-button .controls-StackTemplate__maximized_button{
      display: block;
   }

   .controls-StackTemplate__maximized_button {
      display: none;
   }
}

.controls-CompoundArea__container {
   height: 100%;
}

.controls-CompoundArea-close_button .controls-DialogTemplate__close_button, .controls-StackTemplate__close_button {
   top: @top_dialogTemplate_compatible_close-button;
}

.controls-Stack__waiting, .controls-Stack__open, .controls-Stack__close {
   .controls-CompoundArea__container {
      contain: paint;
   }
}

.controls-CompoundArea-custom-header {
   position: absolute!important;
   top: 0;
   left: 0;
   right: 0;
   height: 40px;
}

.ws-window.controls-CompoundArea {
   .ws-window-titlebar {
      left: 1px;
      right: 1px;
   }
   .controls-DialogTemplate {
      background: none;
      border: none;
   }
}

.controls-CompoundArea__move-cursor {
   cursor: move;
}

