.ControlsDemo-Scroll {
   height: 100%;
   &__options {
      flex-basis: 20%;
      min-width: 250px;
   }
   &__news {
      flex-basis: 35%;
      min-width: 400px;
   }
   &__inputMessage {
      width: 100% !important;
   }
   &__usersList {
      height: 200px;
   }
   &__avatar {
      width: 40px;
      color: green;
      height: 40px;
      font-size: 40px;
      background: #f5f;
      border-radius: 5px;
      font-family: 'cbuc-icons';
   }
   &__description {
      margin-left: 10px;
   }
   &__selectUser {
      margin: 10px 0;
   }
   &__article {
      margin: 10px;
   }
   &__sendMessage {
      margin-bottom: 20px;
   }
   &__messageInfo {
      margin: 0 20px 0 50px;
   }
   &__messageTime {
      color: #999;
   }
   &__closeBtn {
      width: 26px;
      height: 26px;
      font-size: 26px;
      font-family: 'cbuc-icons';
   }
}