<div class="ControlsDemo-scroll">
    <h1>Scrolls</h1>
    <h2>Scrolling in accordion</h2>
    <Controls.Container.Scroll style="inverted" attr:class="ControlsDemo-navigation_scroll">
        <div attr:class="ControlsDemo-navigation">
            <ws:for data="item in _menuItems">
                <div attr:class="ControlsDemo-item_nav">{{item}}</div>
            </ws:for>
        </div>
    </Controls.Container.Scroll>

    <h2>Scrolling one area to another</h2>
    <Controls.Container.Scroll attr:class="ControlsDemo-external_scrollable_area">
        <div>
            <div attr:class="ControlsDemo-padding_text">{{_demoText}}</div>
            <Controls.Container.Scroll attr:class="ControlsDemo-internal_scrollable_area">
                <ws:for data="index in _numberItems">
                    <div attr:class="ControlsDemo-inner_item">
                        <span attr:class="icon-16 icon-TFImage icon-attention"></span>
                        <span>Example {{index}}</span>
                    </div>
                </ws:for>
            </Controls.Container.Scroll>
            <div attr:class="ControlsDemo-padding_text">{{_demoText}}</div>
        </div>
    </Controls.Container.Scroll>


    <h2>Scrolling and sticking headers</h2>
    <Controls.Container.Scroll attr:class="ControlsDemo-scroll_with_grid">
        <div>
            <div attr:class="ControlsDemo-padding_text">{{_demoText}}</div>
            <Controls.Grid
                    header="{{_gridHeader}}"
                    source="{{_viewSource}}"
                    columns="{{_gridColumns}}">
            </Controls.Grid>
        </div>
    </Controls.Container.Scroll>
</div>