/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls_ToolbarButton_Color_item {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.controls_ToolbarButton_Color_item-black {
  background-color: black;
}
.controls_ToolbarButton_Color_item-red {
  background-color: red;
}
.controls_ToolbarButton_Color_item-green {
  background-color: green;
}
.controls_ToolbarButton_Color_item-blue {
  background-color: blue;
}
.controls_ToolbarButton_Color_item-grey {
  background-color: grey;
}
.controls_ToolbarButton_Color_item-purple {
  background-color: purple;
}
.controls_RichEditor_ColorPick_item-black {
  background-color: black;
}
.controls_RichEditor_ColorPick_item-red {
  background-color: red;
}
.controls_RichEditor_ColorPick_item-green {
  background-color: green;
}
.controls_RichEditor_ColorPick_item-blue {
  background-color: blue;
}
.controls_RichEditor_ColorPick_item-grey {
  background-color: grey;
}
.controls_RichEditor_ColorPick_item-purple {
  background-color: purple;
}
