.controls_ToolbarButton_Color_item {
   width: 16px;
   height: 16px;
   border-radius: 2px;

   &-black {
      background-color: black;
   }
   &-red {
      background-color: red;
   }
   &-green {
      background-color: green;
   }
   &-blue {
      background-color: blue;
   }
   &-grey {
      background-color: grey;
   }
   &-purple {
      background-color: purple;
   }
}

.controls_RichEditor_ColorPick_item-black {
   background-color: black;
}

.controls_RichEditor_ColorPick_item-red {
   background-color: red;
}

.controls_RichEditor_ColorPick_item-green {
   background-color: green;
}

.controls_RichEditor_ColorPick_item-blue {
   background-color: blue;
}

.controls_RichEditor_ColorPick_item-grey {
   background-color: grey;
}

.controls_RichEditor_ColorPick_item-purple {
   background-color: purple;
}
