// Новая реализация заголовков //
.ws-header_size_h2 {
   .ws-header-size-mixin(@header-h2-text-size);
}

.ws-header_size_h3 {
   .ws-header-size-mixin(@header-h3-text-size);
}

.ws-header_size_h6 {
   .ws-header-size-mixin(@large-text-size);
}

.ws-header_size_h7 {
   .ws-header-size-mixin(@default-text-size);
}

.ws-header_color_accent1 {
   color: @accent-color;
}

.ws-header_color_accent2 {
   color: @header-orange;
}

.ws-header_color-hover_accent1 {
   &:hover {
      .ws-header-accent1-hover();
   }
}

.ws-header_color-hover_accent2 {
   &:hover {
      .ws-header-accent2-hover();
   }
}

.ws-header-accent1-hover() {
   body:not(.ws-is-mobile-platform) & {
      cursor: pointer;
      color: @darkcyan-color;
   }
}

.ws-header-accent2-hover() {
   body:not(.ws-is-mobile-platform) & {
      cursor: pointer;
      color: @primary-color;
   }
}

.ws-header_size_weight {
   font-weight: @header-font-weight;
}

.ws-backArrow_color_accent1 {
   &:before {
      content: @back-arrow-orange;
   }
}

.ws-backArrow_color_accent2 {
   &:before {
      content: @back-arrow-blue;
   }
}

.ws-forwardArrow {
   &:after {
      content: @content_forwardArrow;
      padding-left: @padding-left_forwardArrow;
   }
}

//ws-backArrow_size_h2, ws-backArrow_size_h3, ws-backArrow_size_h6
.for(h2 h3 h6, { .ws-backArrow_size_@{_item} {
   .ws-back-arrow-size-mixin(~"@{back-arrow-width-@{_item}}", ~"@{back-arrow-height-@{_item}}");
} });

// --------------------------- //

/**
Каскады ниже норма. Связано с неправильной реализацией заголовков. Одни класс не должен менять вид разных контролов.
Контролы должны вешать нужные на себя классы.
На новых контролах будут сделаны одноуровневые селекторы, которые будут использоваться теми контролами, которые должны
иметь вид заголовков.
 */
.ws-header, .controls-Link.ws-header {
   .ws-header-mixin(@header-padding-left, @header-padding-right, @header-font-size, @header-color, @header-height, @header-color-hover);
}

.ws-bigHeader {
   .ws-header-mixin(@header-padding-left, @header-padding-right, @bigHeader-font-size, @bigHeader-color, @header-height);
}

.ws-subheader, .controls-Link.ws-subheader {
   .ws-header-mixin(@header-padding-left, @header-padding-right, @subheader-font-size, @subheader-color, @header-height);
}

.ws-bigSubheader, .controls-Link.ws-bigSubheader {
   .ws-header-mixin(@header-padding-left, @header-padding-right, @bigSubheader-font-size, @bigSubheader-color, @header-height);
}

.ws-splitter {
   &.ws-linkHeader {
      padding-right: 0;
   }
   &:before {
      content: '|';
      float: right;
      margin: @link-header-separator-margin;
      color: @link-header-separator-color;
   }
}

.ws-linkHeader, .controls-Link.ws-linkHeader {
   .ws-header-mixin(@link-header-padding-left, @link-header-padding-right, @link-header-font-size, @link-header-color, @header-height);
   text-decoration: @link-header-text-decoration;

   .controls-ButtonBase__content {
      // В IE иконка становится гигантского размера при height: 100%, width: 100%;
      height: auto;
      width: auto;
      .ws-forwardArrow();
   }

   &:hover {
      color: @link-header-hover-color;
      &:after {
         color: @link-header-hover-after-color;
      }
   }
}

.ws-linkHeader-h6, .controls-Link.ws-linkHeader-h6 {
   text-decoration: @link-header-text-decoration;
   .ws-header_size_h6();
   .ws-header_color_accent1();
   .ws-header_size_weight();
   .ws-header_color-hover_accent1();

   .controls-ButtonBase__content {
      height: auto;
      width: auto;
      .ws-forwardArrow();
   }
}

.ws-toggleHeader {
   text-align: center;
   & .controls-Button__content:before {
      display: inline-block;
      .ws-header-content-mixin(@toggle-header-before-content, @toggle-header-before-font, @toggle-header-before-color);
      width: @toggle-header-before-width;
      float: left;
      
      &:hover {
         .ws-header-content-mixin(@toggle-header-before-content, @toggle-header-before-font, @toggle-header-hover-color);
      }
   }

   &.controls-ToggleButton__normal.controls-Button_size-default.controls-Checked__checked .controls-Button__content:before {
      content: @toggle-header-checked-before-content;
   }

   &.ws-disabled {
      border: none;
   }

   &, &.controls-Checked__checked:not(.ws-disabled) {
      .ws-header-mixin(0, @toggle-header-padding-right, @toggle-header-font-size, @toggle-header-color, @toggle-header-height);
      border: none;
      background: none;

      &.controls-Click__active:active {
         border: none;
         background: none;
      }
      &.controls-Click__active.controls-Link {
         border: none;
         background: none;
      }

      &:hover {
         color: @toggle-header-hover-color;
         &:before {
            color: @toggle-header-hover-before-color;
         }
      }

      .controls-Button__text {
         display: inline-block;
         margin: 0;
      }
   }
}

.controls-ToggleHeader__caption {
   .ws-headerCounter {
      display: inline-block;
      font: @toggle-header-count-font;
      color: @toggle-header-count-color;
      margin-right: @toggle-header-count-margin-right;
   }
   &:hover .ws-headerCounter {
      color: @toggle-header-hover-count-color;
   }
}

.ws-is-desktop-platform {
   // При удерживание мышки появляется подчеркивание https://online.sbis.ru/opendoc.html?guid=91e132b3-e252-4a6c-ac19-4fd378171e34
   .controls-Link:not(.ws-disabled).ws-subheader {
      &:hover .controls-Link-link, &:hover .controls-Link__text {
         text-decoration: @link-header-text-decoration;
      }
   }
   .controls-Link:not(.ws-disabled):not(.controls-Click__active) {
      &.ws-linkHeader, &.ws-header, &.ws-bigSubheader, &.ws-linkHeader-h6 {
         &:hover .controls-Link-link, &:hover .controls-Link__text {
            text-decoration: @link-header-text-decoration;
         }
      }
      &.ws-linkHeader:not(.controls-Link__disabledHover) {
         &:hover {
            color: @link-header-hover-color;
         }
      }
      &.ws-linkHeader-h6:not(.controls-Link__disabledHover):hover {
         cursor: pointer;
         color: @darkcyan-color;
      }
      &.ws-header, &.ws-bigSubheader {
         &:not(.controls-Link__disabledHover):hover {
            color: @link-header-hover-color;
         }
      }
      &.ws-subheader {
         &:not(.controls-Link__disabledHover):hover {
            color: @link-subheader-hover-color;
         }
      }
   }

   .controls-Button:not(.ws-disabled):not(.controls-Click__active):hover.ws-toggleHeader.controls-ToggleButton__normal.controls-Button_size-default {
      border: none;
      background: none;
      font: @toggle-header-font;
      color: @toggle-header-hover-color;
   }
   // сейчас нельзя использовать абстрактную кнопку в новом шаблонизаторе из-за слешей в название компонента
   // поэтому временно усиливаю селекторыыы
   .controls-Button:not(.ws-disabled).ws-toggleHeader.controls-ToggleButton__normal.controls-Button_size-default {
      &, &.controls-Checked__checked {
         &:hover {
            border: none;
            background: none;
            font: @toggle-header-font;
         }
         // TODO избавиться от каскада при переходе на абстрактную кнопку
         &:hover.controls-Button {
            color: @toggle-header-hover-color;
            border: none !important;
         }
      }
   }
}

.controls-Link {
   &.ws-linkHeader, &.ws-header, &.ws-bigSubheader {
      &:not(.ws-disabled) {
         &:active, &:active .controls-Button__text,
         // active у ссылки перебивается, но в ie active работает специфически и не перебивается, поэтому сделаем перебивание по hover.
         body:not(.ws-is-mobile-platform) &:hover, body:not(.ws-is-mobile-platform) &:hover .controls-Button__text {
            text-decoration: @link-header-text-decoration;
            color: @link-header-hover-color;
         }
      }
      &.ws-subheader {
         &:not(.ws-disabled) {
            &:active, &:active .controls-Button__text,
               // active у ссылки перебивается, но в ie active работает специфически и не перебивается, поэтому сделаем перебивание по hover.
            body:not(.ws-is-mobile-platform) &:hover, body:not(.ws-is-mobile-platform) &:hover .controls-Button__text {
               text-decoration: @link-header-text-decoration;
               color: @link-subheader-hover-color;
            }
         }
      }
   }
   &.ws-linkHeader-h6 {
      .ws-header_color_accent1();
      .ws-header_size_weight();
   }
}

.controls-Button.ws-toggleHeader.controls-ToggleButton__normal.controls-Button_size-default {
   &, &.controls-Checked__checked:not(.ws-disabled) {
      &, &.controls-Click__active {
         border: none;
         background: none;
         font: @toggle-header-font;
      }

      color: @toggle-header-color;

      &.controls-Click__active {
         color: @toggle-header-hover-color;
      }
   }
}