/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.ws-Block {
  position: relative;
  border: 3px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /**
    * TODO: pointer-events работает в ie начиная с 11 версии.
    * Поэтому живем в ie10 без тени на блоках.
    * Убрать body:not(.ws-is-ie10), когда откажемся от e10.
    */
  /*&Separator {
      width: 100%;
      height: @height_BlockSeparator;
      background: @bg_BlockSeparator;
   }*/
}
.ws-Block_style_1 {
  background-color: #ffffff;
}
.ws-Block_style_2 {
  background-color: #F8F8F8;
}
.ws-Block_style_3 {
  background-color: #FBF9F7;
}
.ws-Block_style_4 {
  background-color: #F7F4F0;
}
.ws-Block_style_5 {
  background-color: #F4F9FD;
}
.ws-Block_style_6 {
  background-color: #F0F5FB;
}
body:not(.ws-is-ie10) .ws-Block:after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
}
.ws-BlockLayout {
  overflow: hidden;
  background-color: #eaeaea;
}
.ws-BlockLayout > .ws-BlockGroup {
  margin-left: -3px;
  margin-right: -3px;
}
.ws-BlockLayout > .ws-BlockGroup:first-of-type {
  margin-top: -3px;
}
.ws-BlockLayout > .ws-BlockGroup:last-of-type {
  margin-bottom: -3px;
}
.ws-BlockLayout_detached {
  padding-top: 6px;
}
