.ws-Block {
   position: relative;
   border: @spacing_Block / 2 + @border-width_Block solid @bg_BlockLayout;
   .box-sizing();
   .for(6, { &_style_@{_i} {
      background-color: ~"@{bg_Block_style-@{_i}}";
   } });

   /**
    * TODO: pointer-events работает в ie начиная с 11 версии.
    * Поэтому живем в ie10 без тени на блоках.
    * Убрать body:not(.ws-is-ie10), когда откажемся от e10.
    */
   body:not(.ws-is-ie10) &:after {
      content: '';
      position: absolute;
      pointer-events: none;
      top: -@border-width_Block;
      right: -@border-width_Block;
      bottom: -@border-width_Block;
      left: -@border-width_Block;
      border: @border-width_Block solid @border-color_Block;
      border-radius: @border-radius_Block;
      box-shadow: @box-shadow_Block;
   }

   // TODO: Не понятно должно ли быть в блоках. Раскоментировать или перенести после обсуждения.
   /*&Separator {
      width: 100%;
      height: @height_BlockSeparator;
      background: @bg_BlockSeparator;
   }*/

   &Layout {
      overflow: hidden;
      background-color: @bg_BlockLayout;
      & > .ws-BlockGroup {
         margin-left: @margin_BlockGroup;
         margin-right: @margin_BlockGroup;
         &:first-of-type {
            margin-top: @margin_BlockGroup;
         }
         &:last-of-type {
            margin-bottom: @margin_BlockGroup;
         }
      }
      &_detached {
         padding-top: @spacing_Block;
      }
   }
}
