@import "AreaBlocks";
@import "_header";
@import "_mixins";

.line-overflow-blur {
  position: relative;
  float: right;
  &:before {
    background: @line-overflow-blur-gradient;
    height: @line-overflow-blur-height;
    width: @line-overflow-blur-height;
    content: ' ';
    display: block;
    position: absolute;
    top: -@line-overflow-blur-height;
    right: 0;
  }
}

/* ATTENTION styles */
.icon-attention
{
  color: @icon-color-attention;
}

/* DONE styles */
.icon-done
{
  color: @icon-color-done;
}

/* ERROR styles */
.icon-error
{
  color: @icon-color-error;
}

/* PRIMARY styles */
.icon-primary
{
  color: @color_primary;
  fill: @color_primary;
}

/* DISABLED styles */
.icon-disabled
{
  color: @icon-color-disabled;
  fill: @icon-color-disabled;
}

/* Для тех, кто поддерживает... */
.icon-primary:disabled {
  color: @icon-color-disabled;
}

/* Цвет основного текста */
.normaltext-color {
  color: @black-color;
  fill: @black-color;
}

//HOVER styles
.icon-hover{
  color: @color_hover;
}

.gray-color {
  color: @gray-color;
}

.blue-color {
  color: @darkcyan-color;
}

.blue-dark-color {
  color: @blue-dark-color;
}

.ws-is-desktop-platform {
  .action-hover:not(.ws-disabled):hover {
    color: @blue-dark-color;
  }
}


.icon-small, .icon-medium, .icon-large, .icon-size, .icon-16, .icon-24, .icon-32, .icon-default {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.icon-small, .icon-16  { // icon-16 coprolite
   .icon-size(@default-icon-size, @default-icon-small-font);
}
.icon-medium, .icon-24  { // icon-24 coprolite
   .icon-size(@default-icon-size-medium, @default-icon-medium-font);
}
.icon-large, .icon-32 {// icon-32 coprolite
   .icon-size(@default-icon-size-large, @default-icon-large-font);
}

.svg-icon-size-small, .svg-icon-size-16 {
  width: @default-svg-icon-size-small;
  height: @default-svg-icon-size-small;
}

.svg-icon-size-medium, .svg-icon-size-24 {
  width: @default-svg-icon-size-medium;
  height: @default-svg-icon-size-medium;
}
.svg-icon-size-large, .svg-icon-size-32 {
  width: @default-svg-icon-size-large;
  height: @default-svg-icon-size-large;
}

.ws-unSelectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.controls-LabelContainer {
  .flexbox();

  .controls-LabelContainer__label {
    .flex-shrink(0);
    margin-right: 8px;
    white-space: nowrap;
  }
  .controls-LabelContainer__content {
    .flex-grow(1);
    .flex-shrink();
    width: 100%;
    min-width: 0;
    display: block;
    position: relative;
  }
}

/**
 ВНИМАНИЕ! WARNING! ACHTUNG! UWAGA!
 Класс .asLink используется прикладными разработчиками, когда они хотят сделать что-то, похожее на ссылку по общему дизайну.
 Это официальное решение, нельзя его ломать.
 .asLink должен вести себя правильно в любом состоянии
*/
.asLink {
  font-size: @font-size_Link;
  background-color: transparent ! important;
  font-family: @default-font-name;
  color: @color_asLink;
  cursor: pointer;
  text-decoration: none;
}
.asLink[disabled='disabled'] {
  cursor: default;
  color: @color_asLink_disabled;
  text-decoration: none;
}
.ws-is-desktop-platform .asLink[disabled='disabled']:hover {
  color: @color_asLink_disabled_hovered;
  text-decoration: none;
}

.ws-is-desktop-platform .asLink:hover, .asLink:active {
  text-decoration: underline;
  color: @color_asLink_hovered;
}

// доработка, аналог closeButton ws через модификатор на абстрактной кнопке
.ws-float-close.ws-float-close-right {
  .controls-ButtonBase__content {
    display: none;
  }
}

.controls-ListView__withoutMarker {
   .controls-ListView__item__selected,
   .controls-ListView__item__multiSelected {
      &:not(.controls-CompositeView__tileItem) {
         .controls-DataGridView__td:first-child,
         .controls-CompositeView__tileTitle,
         .controls-ListView__item-title,
         &:not(.controls-CompositeView__verticalItemActions),
         &:not(.controls-ListView__item-type-node) {
            background-image: none !important;
            border-left-color: transparent;
         }
         &.controls-ListView__item {
            &:not(.controls-ListView__hoveredItem) {
               border-left-color: transparent;
            }
         }
      }
   }
}

.ws-moneyDecorator {
   &__integer{
      font-size: @money-decorator-integer-font-size;
      color: @money-decorator-integer-font-color;
      &__AccentResults{
         font-size: @money-decorator-integer-accent-results-font-size;
         color: @money-decorator-integer-accent-results-font-color;
         font-weight: bold;
         line-height: @money-decorator-integer-accent-results-line-height;
      }
      &__NoAccentResults{
         font-size: @money-decorator-integer-no-accent-results-font-size;
         color: @money-decorator-integer-no-accent-results-font-color;
         font-weight: bold;
         line-height: @money-decorator-integer-accent-results-line-height;
      }
      &__Group{
         font-size: @money-decorator-integer-group-font-size;
         color: @money-decorator-integer-group-font-color;
      }
      &__BasicRegistry{
         font-size: @money-decorator-integer-basic-registry-font-size;
         color: @money-decorator-integer-basic-registry-font-color;
      }
      &__NoBasicRegistry{
         font-size: @money-decorator-integer-no-basic-registry-font-size;
         color: @money-decorator-integer-no-basic-registry-font-color;
      }
      &__AccentRegistry{
         font-size: @money-decorator-integer-accent-registry-font-size;
         color: @money-decorator-integer-accent-registry-font-color;
         font-weight: bold;
      }
      &__NoAccentRegistry{
         font-size: @money-decorator-integer-no-accent-registry-font-size;
         color: @money-decorator-integer-no-accent-registry-font-color;
         font-weight: bold;
      }
      &__Error {
         font-weight: bold;
         color: @error-color;
      }
   }
   &__nowrap {
      white-space: nowrap;
   }
   &__fraction{
      font-size: @money-decorator-fraction-font-size;
      color: @money-decorator-fraction-font-color;
      line-height: normal;
      font-weight: normal !important;
   }
}
