/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-SwitchCircle__innerCircle_selected_enabled {
  fill: #FF7033;
}
.controls-SwitchCircle__innerCircle_selected_disabled {
  fill: #313E78;
}
.controls-SwitchCircle__innerCircle_unselected {
  fill: none;
}
.controls-SwitchCircle__borderCircle_enabled {
  fill: #CCC;
}
.controls-SwitchCircle__borderCircle_disabled {
  fill: #E4E4E4;
}
.ws-is-no-touch .controls-SwitchCircle__svg:hover .controls-SwitchCircle__borderCircle_enabled {
  fill: #FF7033;
}
.controls-SwitchCircle__svg {
  width: 12px;
  height: 12px;
  display: inline-block;
  pointer-events: none;
}
