/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-DragNDrop__draggingTemplate-wrapper {
  position: absolute;
}
.controls-DragNDrop__draggingTemplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  z-index: 10;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.controls-DragNDrop__draggingTemplate-icon {
  color: #CCCCCC;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 4px 0 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.controls-DragNDrop__draggingTemplate-icon-size {
  font-size: 32px !important;
  line-height: 32px !important;
  width: 32px;
  height: 32px;
  font-family: 'cbuc-icons' !important;
}
.controls-DragNDrop__draggingTemplate-text {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  margin: 6px;
  overflow: hidden;
}
.controls-DragNDrop__draggingTemplate-text:after {
  content: '';
  display: block;
  height: 100%;
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#FFFFFF));
  background-image: -webkit-linear-gradient(left, #ffffff, #FFFFFF);
  background-image: -moz-linear-gradient(left, #ffffff, #FFFFFF);
  background-image: -ms-linear-gradient(left, #ffffff, #FFFFFF);
  background-image: -o-linear-gradient(left, #ffffff, #FFFFFF);
}
.controls-DragNDrop_draggingTemplate-mainText,
.controls-DragNDrop__draggingTemplate-additionalText {
  white-space: nowrap;
}
.controls-DragNDrop__draggingTemplate-mainText {
  font-size: 14px;
  font-weight: bold;
  color: #313E78;
}
.controls-DragNDrop__draggingTemplate-additionalText {
  font-size: 13px;
  color: #000000;
}
.controls-DragNDrop__draggingTemplate-counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -10px;
  top: -10px;
  height: 20px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #0055BB;
  border-radius: 10px;
  padding: 0 6px;
}
