/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls_RichEditor {
  position: relative;
}
.controls_RichEditor_area {
  min-height: 48px;
}
/* Styles for toolbar */
.controls_RichEditorToolbar {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #E5ECF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.controls_RichEditorToolbar-opened {
  height: 32px;
}
.controls_RichEditorToolbar-closed {
  height: 0;
}
/* Styles for toggle button */
.controls_RichEditor_toggleButton {
  height: 32px;
  width: 18px;
  z-index: 2;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
.controls_RichEditor_toggleButton-opened {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAhklEQVR42u3SOwqAMAyA4XhDr5dFBFcRTyFuguDmUqmD4iQ6RwuCIn35GFPI+H9NodBPK30ZYIABBjwAWVOa5FTKN4CKIyTEfSIzAs4Y7Qg4b25ryiybgNfasqE81iMnICr7m29IIfgnMvAn0A1zKMelehqqRrVwnMAXuoQBaI4RcoVGyBVu09oNLOSz8lQAAAAASUVORK5CYII=');
}
.ws-is-no-touch .controls_RichEditor_toggleButton-opened:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAhklEQVR42mN4+ubrf0oww6gBowaMGkCEAc/O/q/PnP9/7zNyDABpjqz4b2gHxJG4DWEgqNkOvyEMBG2+ffZ/axxuQxiIcvazi/8npGA3BGHAw1P4/YxmyI6Hoylx1ABqGvDo5aeAJ6++nCdVI0gPSC8DFDASaxCSRkYGLACnQYQ04jSIkEYAZ2f49HXkPqUAAAAASUVORK5CYII=');
  cursor: pointer;
}
.controls_RichEditor_toggleButton-opened:active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAhklEQVR42mN4+ubrf0oww6gBowaMGkCEAc/O/q/PnP9/7zNyDABpjqz4b2gHxJG4DWEgqNkOvyEMBG2+ffZ/axxuQxiIcvazi/8npGA3BGHAw1P4/YxmyI6Hoylx1ABqGvDo5aeAJ6++nCdVI0gPSC8DFDASaxCSRkYGLACnQYQ04jSIkEYAZ2f49HXkPqUAAAAASUVORK5CYII=');
}
.controls_RichEditor_toggleButton-closed {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAj0lEQVR42mN4+ubrf0oww6gBowaMGoBmwMPz/9fMm/l/5kwgXrD1/6knaIqfXELIz9vw/9hDbC5AVoRsCJrmE0/weQFF8ab/J+7g1ow7DJANmYlbM/5AfILfZuJiAWTIYtyaR1PiqAHUM+DRy08BT159OU+qRpAekF4GKGAk1iAkjYwMWABOgwhpxGkQIY0A4t0NLMoQAuoAAAAASUVORK5CYII=');
}
.ws-is-no-touch .controls_RichEditor_toggleButton-closed:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAkklEQVR42mN4+ubrf0oww6gBowaMGoBmwMNT/+sjK/4b2lX8N0tZ9v/wMzTFz87C5Q0j5//f8RCbC5AUoRiCpnnvM3xeQDYkbtH/vbdxa8YdBsg22uHWjD8Qn+G3mbhYABmSiVvzaEocNYB6Bjx6+Sngyasv50nVCNID0ssABYzEGoSkkZEBC8BpECGNOA0ipBEApZ348FmE4MYAAAAASUVORK5CYII=');
  cursor: pointer;
}
.controls_RichEditor_toggleButton-closed:active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAkklEQVR42mN4+ubrf0oww6gBowaMGoBmwMNT/+sjK/4b2lX8N0tZ9v/wMzTFz87C5Q0j5//f8RCbC5AUoRiCpnnvM3xeQDYkbtH/vbdxa8YdBsg22uHWjD8Qn+G3mbhYABmSiVvzaEocNYB6Bjx6+Sngyasv50nVCNID0ssABYzEGoSkkZEBC8BpECGNOA0ipBEApZ348FmE4MYAAAAASUVORK5CYII=');
}
