.controls-EditAtPlaceV {
  position:relative;
  display: inline-block;
}
.controls-EditAtPlaceV__Toolbar {
  display: inline-block;
}
.controls-EditAtPlaceV__withToolbar {
  box-sizing: border-box;
  min-height: 32px;
}
.controls-EditAtPlaceV_isEditing_style_withBackground {
  background-color: #f3f3f3;
  border-radius: 4px;
}
.controls-EditAtPlaceV__Toolbar__Button {
  margin-left: 12px;
}

.controls-EditAtPlaceV__editorWrapper {
  min-width: 0;
}

.controls-EditAtPlaceV__Text {
  .baseline-fix();
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 5px;
  width: 100%;
}

.controls-EditAtPlaceV__Text_enabled {
  border-top: 1px solid transparent;
  border-bottom: 1px  dashed @edit-at-place-field-border-color;
}
.controls-EditAtPlaceV__Text_withoutBorder {
  border-bottom: 1px  dashed transparent;
}
.controls-EditAtPlaceV__Text_style_accentHeader {
  font-size: @font-size_InputRender_style_accentHeader;
  font-weight: @font-weight_InputRender_style_accentHeader;
  color: @color_InputRender_style_accentHeader;
}
.ws-is-no-touch {
  .controls-EditAtPlaceV__Text_enabled:hover {
    border-bottom-color: transparent;
  }
}