.controls-OperationsButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   color: @color_OperationsButton__icon;
   cursor: pointer;
   width: @width_OperationsButton;
   height: @height_OperationsButton;
   font-size: @font-size_OperationsButton__icon;
   font-family: @icon-font;

   &:hover {
      color: @color_OperationsButton__icon_hovered;
   }
}
.controls-OperationsButton_readonly {
   color: @color_OperationsButton__icon_readonly;
   &:hover {
      color: @color_OperationsButton__icon_readonly;
   }
}
.controls-OperationsButton:after {
   background: #ccc;
   width: @width_OperationsPanelButton-separator;
   height: 24px;
   content: '\00a0';
   font-size: 1px;
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
}