/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-DropdownList__popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-DropdownList__popup-shadow-default {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}
.controls-DropdownList__popup-top.controls-DropdownList__popup-shadow-suggestionsContainer {
  -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.25);
}
.controls-DropdownList__popup-bottom.controls-DropdownList__popup-shadow-suggestionsContainer {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.controls-DropdownList__scroll {
  max-height: 100%;
  padding: 2px 0;
}
.controls-DropdownList__row {
  cursor: pointer;
  position: relative;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-DropdownList__row:active {
  background: #F0F5FB;
}
.controls-DropdownList__row_singleLine {
  height: 32px;
}
.controls-DropdownList__emptyItem {
  color: #CCCCCC;
}
.controls-DropdownList__item-left_default-padding {
  padding-right: 12px;
}
.controls-DropdownList__item-right_default-padding {
  padding-right: 12px;
}
.controls-DropdownList__item-right_hierarchy-padding {
  padding-right: 28px;
}
.controls-DropdownList__item-right_close-padding {
  padding-right: 30px;
}
.controls-DropdownList__content {
  font-size: 15px;
}
.controls-DropdownList__content_singleLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-DropdownList__selected:after {
  content: '';
  background: #D94700;
  width: 6px;
  height: 8px;
  position: absolute;
  left: 0;
  top: calc(50% -  4px );
}
.controls-DropdownList__icon {
  margin-right: 6px;
}
.controls-DropdownList__head {
  font-size: 15px;
  font-weight: bold;
  background: #f4f4f4;
  color: #313E78;
  height: 32px;
  padding: 0 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.controls-DropdownList__subMenu_margin {
  margin-top: -3px;
}
.controls-DropdownList__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 6px;
  font-family: 'cbuc-icons' !important;
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #587ab0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-DropdownList-cross {
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 2;
}
.controls-MenuButton-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-MenuButton-duplicate-header {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.control-MenuButton-duplicate-head_medium {
  top: 7px;
  left: 12px;
}
.control-MenuButton-duplicate-head_small {
  top: 10px;
  left: 12px;
}
.controls-DropdownList__head-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.controls-DropdownList__popup-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.ws-is-no-touch .controls-DropdownList__row:hover {
  background: #F0F5FB;
}
.ws-is-no-touch .controls-MenuButton-cross:hover {
  color: #313E78;
}
.controls-Toolbar__menu-position {
  margin-top: -6px;
  margin-left: 5px;
}
.controls-DropdownList__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}
.controls-DropdownList__additional-button {
  cursor: pointer;
}
.controls-DropdownList__icon_style_default {
  color: #587AB0;
}
.controls-DropdownList__icon_style_attention {
  color: #FEC63F;
}
.controls-DropdownList__icon_style_error {
  color: #EF463A;
}
.controls-DropdownList__icon_style_done {
  color: #72BE44;
}
.controls-DropdownList__group_separator {
  border-bottom: 1px solid #EAEAEA;
  margin: 4px 12px;
}
.controls-DropdownList__group_separator_left,
.controls-DropdownList__group_separator_right {
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
  width: 100%;
}
.controls-DropdownList__group_separator_left {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 12px;
}
.controls-DropdownList__group_separator_right {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 12px;
}
.controls-DropdownList__group_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls-DropdownList__group_content-text {
  display: inline-block;
  color: #8991A9;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
