.controls-MasterDetail {
   display: flex;
}

.controls-MasterDetail_master {
   position: relative;
   background-color: @background-color_MasterList;
   flex-shrink: 0;
   width: 27%;

   &:after {
      content: '';
      z-index: 0;
      width: @border-width_MasterList-right;
      background-color: @border-color_MasterList;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
   }
}
