.tabs-baseline() {
  &:before {
    content: '\200b'; //zero width space
    width: 0;
    display: inline-block;
    visibility: hidden;
    line-height: @line-height_Tabs-baselineFix;//why so magic
    font-size: @font-size_Tabs-item;
  }
}
.controls-Tabs {
  .inline-flexbox();
  height:@height_Tabs;
}
.controls-Tabs__space {
  .inline-flexbox();
  .flex-shrink(1);
  .box-sizing();
  .align-items(baseline);
  .tabs-baseline();
  position: relative;
  width:100%;
  height:100%;
  order: 20;
  -ms-flex-order:20;
  &:after {
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: @border-width_Tabs;
    background: @border-color_Tabs;
  }
}
.controls-Tabs__item {
  .inline-flexbox();
  .flex-shrink(0);
  .align-items(baseline);
  .box-sizing();
  .tabs-baseline();
  height: 100%;
  position: relative;
  padding: @padding_Tabs-item;
  font-size: @font-size_Tabs-item;
  color: @text-color_Tabs;
  cursor: pointer;
  max-width: @max-width_Tabs_item;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: @border-width_Tabs;
    background: @border-color_Tabs;
  }
}
.controls-Tabs__itemSeparator {
  pointer-events: none;
  position: absolute;
  top: calc(50% ~'-' @height_Tabs-separator / 2);
  height: @height_Tabs-separator;
  width: @border-width_Tabs;
  background: @background-color_Tabs-separator;

}
.controls-Tabs__itemSeparator_align_left {
  right: 0;
}
.controls-Tabs__itemSeparator_align_right {
  left: 0;
}
.controls-Tabs__item_state_default {
  .user-select();
  &:hover {
    &:after {
      height: @border-width_Tabs-item_hover_selected;
    }
    z-index: 1;
  }
}
.controls-Tabs__item_state_selected {
  font-weight: bold;
  font-size: @font-size_Tabs-item_selected;
  z-index: 2;
}
.controls-Tabs__item_align_left {
  margin-left: -@border-width_Tabs;
}
.controls-Tabs__item_align_right {
  margin-right: -@border-width_Tabs;
}
.controls-Tabs__item_extreme {
  margin-right:0;
  margin-left: 0;
}
/* style = default */
.controls-Tabs_style_default__item_state_selected {
  &:after {
    height: @border-width_Tabs-item_hover_selected;
    background: @border-color_Tabs-item_selected_default;
  }
  color: @text-color_Tabs-item_selected_default;
}
/* style = additional */
.controls-Tabs_style_additional__item_state_selected {
  &:after {
    height: @border-width_Tabs-item_hover_selected;
    background: @border-color_Tabs-item_selected_additional;
  }
  color: @text-color_Tabs-item_selected_additional;
}
.controls-Tabs__item_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
}
/* Photo Template */
.controls-Tabs__item_type_photo {
  padding: 0;
  .align-items(flex-end);
  &:before {
    content: '';
  }
}