.demo-Grid__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 50%;
   max-width: 800px;
   margin-top: 12px;
}

.demo-Grid__wrapper {
   margin-bottom: 64px;
   height: 320px;
   overflow-x: hidden;
   overflow-y: auto;
}

.demo-PersonInfo__name {
   font-weight: bold;
   font-size: 15px;
}

.demo-PersonInfo__phone {
   font-size: 15px;
   color: rgb(153, 153, 153);
   margin-left: 8px;
}

.demo-PersonInfo__department {
   font-size: 17px;
}

.demo-PersonInfo__position,
.demo-PersonInfo__maternityLeaveIcon,
.demo-PersonInfo__maternityLeaveText,
.demo-PersonInfo__head {
   color: rgb(204, 204, 204);
}

.demo-PersonInfo__head {
   margin-left: 8px;
}

.demo-PersonInfo__maternityLeave {
   display: inline-block;
   margin-left: 8px;
}

.demo-PersonInfo__likes {
   color: #999;
}

.demo-PersonInfo__icon {
   .icon();
}

.demo-PersonInfo__likesIcon {
   color: #72BE44;
}

.demo-PersonInfo__photo {
   display: inline-block;
   align-self: center;
   margin-right: 6px;
   border-radius: 6px;
}

.demo-PersonInfo__row {
   display: inline-block;
   width: 100%;
}

.demo-PersonInfo {
   display: flex;
   align-items: baseline;
   width: 100%;
}

.demo-PersonInfo__badges {
   flex-shrink: 0;
}