.controls-SuggestV__dialog {
	width: 100%;
	height: 100%;
}

.controls-SuggestV__dialog-layout {
	.flexbox();
	.flex-direction(column);
	height: 100%;
}

.controls-Suggest__dialog-scrollContainer {
	height: 100%;
}