.controls-StackTemplate {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   height: 100%;
   background-color: @default-bg-color;
   position: relative;
   overflow: hidden;
}

.controls-StackTemplate__top-area {
   display: flex;
   flex-shrink: 0;
   min-height: @min-height_stackTemplate_head;
   background: @background_stackTemplate_head;
   border-bottom: @border-bottom_stackTemplate_head;
}

.controls-StackTemplate__content-area {
   display: flex;
   height: 100%;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   background: @background_stackTemplate_content;
   overflow: hidden;
}

.controls-StackTemplate__top-area-content {
   width: 100%;
   flex-shrink: 1;
   display: flex;
   align-items: baseline;
   overflow: hidden;
}

.controls-StackTemplate__top-area-margin-default {
   margin: @spacing_stackTemplate_head-default;
}

.controls-StackTemplate__top-area-margin-maximized {
   margin: @spacing_stackTemplate_head-maximized;
}

.controls-StackTemplate__close_button {
   position: absolute;
   top: @top-space_stackTemplate_close-button;
   right: 0;
   z-index: 2;
}

.controls-StackTemplate__maximized_button {
   position: absolute;
   right: @right-space_stackTemplate_maximized-button;
   top: @top-space_stackTemplate_maximized-button;
   background-image: url('resources/images/resize.svg');
   width: 24px;
   height: 24px;
   z-index: 100;
   cursor: pointer;
}

.controls-StackTemplate__caption {
   cursor: default;
   display: flex;
   height: @min-height_stackTemplate_head;
   align-items: center;
   flex-shrink: 1;
   overflow: hidden;
}

.controls-StackTemplate__caption_text {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.controls-StackTemplate__caption_style_default {
   color: @color_stackTemplate_head;
   font-size: @font-size_stackTemplate_head;
   font-weight: 700;
}

.controls-StackTemplate__caption_style_accent {
   color: #D94700;
   font-size: 18px;
   font-weight: 700;
}
.controls-StackTemplate__caption_style_small {
   color: #8991A9;
   font-size: 14px;
   font-weight: normal;
}

.controls-StackTemplate__bottomArea {
   background: @background_stackTemplate_footer;
   border-top: @border-bottom_stackTemplate_footer;
}