<div class="content">
      <div class="options">
         <h3>Опции компонента</h3>
         <Controls.Input.Number attr:class="option" bind:value="_maxFileSize" placeholder="Макс. размер файла"
            onlyPositive="{{true}}" precision="{{0}}" integersLength="{{3}}" tooltip="в МБ" />
         <Controls.Input.Text attr:class="option" bind:value="_extensions" placeholder="Список расширений " tooltip="Можно передать 'image', 'audio', 'video'" />
         <Controls.Input.Text attr:class="option" bind:value="_dragText" tooltip="Текст подсказки во время перемещения файлов " />
         <Controls.Input.Text attr:class="option" bind:value="_dropText" tooltip="Текст подсказки во время перемещения файлов непосредственно над областью " />
         <Controls.Input.Text attr:class="option" bind:value="_dragSubtitle" tooltip="Текст дополнительной подсказки во время перемещения файлов " />
         <Controls.Input.Text attr:class="option" bind:value="_dropSubtitle" tooltip="Текст дополнительной подсказки во время перемещения файлов непосредственно над областью " />
         <br />
         <Controls.Button caption="Применить" on:click="applyOptions()" />
      </div>
      <div id="basket" class="basket">
         <h3>Перетащите файлы на панель</h3>
         <b>Файлов: {{_itemsList.length}} </b>
         <ws:for data="item in _itemsList">
            <p>{{item}}</p>
         </ws:for>
      </div>
   </div>