/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-FastFilter__iconReset {
  font-size: 16px !important;
  line-height: 16px !important;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons' !important;
  color: #CCC;
  cursor: pointer;
}
.controls-FastFilter__iconReset:active {
  color: #CCC;
}
.ws-is-no-touch .controls-FastFilter__iconReset:hover {
  color: #CCC;
}
.controls-FastFilter__iconArrow {
  font-size: 16px !important;
  line-height: 16px !important;
  width: 16px;
  height: 16px;
  font-family: 'cbuc-icons' !important;
}
.controls-FastFilter__iconArrow_state_enabled {
  color: #587AB0;
}
.controls-FastFilter__iconArrow_state_readOnly {
  color: #CCC;
}
.controls-FastFilter__text_state_enabled {
  color: #0055BB;
}
.controls-FastFilter__text_state_readOnly {
  color: #CCC;
}
.controls-FastFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}
.controls-FastFilter__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.controls-FastFilter__wrapper_state_enabled {
  cursor: pointer;
}
.controls-FastFilter__block {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}
.ws-is-no-touch .controls-FastFilter__block:hover .controls-FastFilter__text_state_enabled {
  cursor: pointer;
  color: #313E78;
  text-decoration: underline;
}
.ws-is-no-touch .controls-FastFilter__block:hover .controls-FastFilter__iconArrow_state_enabled {
  color: #313E78;
}
.controls-FastFilter__block:active .controls-FastFilter__text_state_enabled {
  color: #313E78;
  text-decoration: underline;
}
.controls-FastFilter__block:active .controls-FastFilter__iconArrow_state_enabled {
  color: #313E78;
}
.controls-FastFilter-popup {
  margin-top: -8px;
  margin-left: 2px;
}
