.controls-Money__integer {
  color: #000;
  font-size: 14px;
}
.controls-Money__fraction {
  line-height: normal;
  font-weight: normal;
  color: #ccc;
  font-size: 12px;
}
.controls-Money__integer_accentResults {
  font-weight: bold;
  color: #313E78;
  font-size: 15px;
  line-height: 18px;
}
.controls-Money__integer_noAccentResults {
  font-weight: bold;
  color: #999999;
  font-size: 15px;
  line-height: 18px;
}
.controls-Money__integer_group {
  color: #CCC;
  font-size: 14px;
}
.controls-Money__integer_basicRegistry {
  color: #000;
  font-size: 14px;
}
.controls-Money__integer_noBasicRegistry {
  color: #999999;
  font-size: 14px;
}
.controls-Money__integer_accentRegistry {
  font-weight: bold;
  color: #313E78;
  font-size: 15px;
}
.controls-Money__integer_noAccentRegistry {
  font-weight: bold;
  color: #999999;
  font-size: 15px;
}
.controls-Money__integer_error {
  font-weight: bold;
  color: #ef463a;
}
