.main-row-container{
	border-bottom: 1px solid #e6e6e6;
	position: relative;

	padding: 8px 12px;
}

.main-row-container:last-of-type{
	border: 0px;
}

.rows{
	padding: 3px;
}

.row-top{
	display: flex;
	margin-bottom: 12px;
}

.row-top-leftcontent{
	flex-grow: 1;

}

.row-top-rightcontent{
	flex-shrink: 0;
}

.row-bottom{
	display: flex;
}

.row-bottom-leftcontent{
	flex-grow: 1;
	overflow-x: hidden;
}

.row-bottom-rightcontent{
	flex-shrink: 0;
}

.row-title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

.row-author{
	font-size: 16px;
}

.row-date{
	margin-bottom: 8px;
}

.row-description{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
}

.main-row-container:hover{
	background: #00AE96;
	color: #fff;
}


.main-row-container:hover .close:before {
background-color: #fff;
}

.close {
	margin-top: -5px;
	font-size: 30px;
	cursor: pointer;
}
