.controls-Money__integer {
   color: @money-decorator-integer-font-color;
   font-size: @money-decorator-integer-font-size;
}

.controls-Money__fraction {
   line-height: normal;
   font-weight: normal;
   color: @money-decorator-fraction-font-color;
   font-size: @money-decorator-fraction-font-size;
}

.controls-Money__integer_accentResults {
   font-weight: bold;
   color: @money-decorator-integer-accent-results-font-color;
   font-size: @money-decorator-integer-accent-results-font-size;
   line-height: @money-decorator-integer-accent-results-line-height;
}

.controls-Money__integer_noAccentResults {
   font-weight: bold;
   color: @money-decorator-integer-no-accent-results-font-color;
   font-size: @money-decorator-integer-no-accent-results-font-size;
   line-height: @money-decorator-integer-accent-results-line-height;
}

.controls-Money__integer_group {
   color: @money-decorator-integer-group-font-color;
   font-size: @money-decorator-integer-group-font-size;
}

.controls-Money__integer_basicRegistry {
   color: @money-decorator-integer-basic-registry-font-color;
   font-size: @money-decorator-integer-basic-registry-font-size;
}

.controls-Money__integer_noBasicRegistry {
   color: @money-decorator-integer-no-basic-registry-font-color;
   font-size: @money-decorator-integer-no-basic-registry-font-size;
}

.controls-Money__integer_accentRegistry {
   font-weight: bold;
   color: @money-decorator-integer-accent-registry-font-color;
   font-size: @money-decorator-integer-accent-registry-font-size;
}

.controls-Money__integer_noAccentRegistry {
   font-weight: bold;
   color: @money-decorator-integer-no-accent-registry-font-color;
   font-size: @money-decorator-integer-no-accent-registry-font-size;
}

.controls-Money__integer_error {
   font-weight: bold;
   color: @error-color;
}