.controls-InfoBox {
  padding: 8px 12px 8px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  overflow: auto;
}
.controls-InfoBox__popup {
  border: 1px solid;
}
.controls-InfoBox__popup:before {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 1px solid;
  border-top: none;
  border-left: none;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-top.controls-Popup-align-vertical-top.controls-Popup-align-horizontal-right:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -7px;
  left: 14px;
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-top.controls-Popup-align-vertical-top.controls-Popup-align-horizontal-left:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -7px;
  right: 14px;
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-top.controls-Popup-align-vertical-top.controls-Popup-align-horizontal-center:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -7px;
  left: calc(50% -  7px );
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-bottom.controls-Popup-align-vertical-bottom.controls-Popup-align-horizontal-right:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -7px;
  left: 14px;
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-bottom.controls-Popup-align-vertical-bottom.controls-Popup-align-horizontal-left:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -7px;
  right: 14px;
}
.controls-InfoBox__popup.controls-Popup-corner-vertical-bottom.controls-Popup-align-vertical-bottom.controls-Popup-align-horizontal-center:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -7px;
  left: calc(50% -  7px );
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-right.controls-Popup-align-horizontal-right.controls-Popup-align-vertical-bottom:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: -7px;
  top: 11px;
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-right.controls-Popup-align-horizontal-right.controls-Popup-align-vertical-top:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: -7px;
  bottom: 11px;
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-right.controls-Popup-align-horizontal-right.controls-Popup-align-vertical-center:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: -7px;
  top: calc(50% -  7px );
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-left.controls-Popup-align-horizontal-left.controls-Popup-align-vertical-bottom:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -7px;
  top: 11px;
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-left.controls-Popup-align-horizontal-left.controls-Popup-align-vertical-top:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -7px;
  bottom: 11px;
}
.controls-InfoBox__popup.controls-Popup-corner-horizontal-left.controls-Popup-align-horizontal-left.controls-Popup-align-vertical-center:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -7px;
  top: calc(50% -  7px );
}
.controls-InfoBox__closeButton {
  position: absolute;
  top: 4px;
  right: 6px;
  cursor: pointer;
  color: #CCCCCC;
}
.controls-InfoBox__closeButton:hover {
  color: #313E78;
}
.controls-InfoBox__message_margin {
  margin-right: 18px;
}
.controls-InfoBox_floatElement {
  width: 18px;
  height: 18px;
  float: right;
}
.controls-InfoBox-style-default {
  background: #FFFFFF;
  border-color: #BDBDBD;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
}
.controls-InfoBox-style-default.controls-InfoBox__popup:before {
  background: #FFFFFF;
  border-color: #BDBDBD;
}
.controls-InfoBox-style-lite {
  background: #F4F9FD;
  border-color: #BDBDBD;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
}
.controls-InfoBox-style-lite.controls-InfoBox__popup:before {
  background: #F4F9FD;
  border-color: #BDBDBD;
}
.controls-InfoBox-style-help {
  background: #FFF9F3;
  border-color: #BDBDBD;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px;
}
.controls-InfoBox-style-help.controls-InfoBox__popup:before {
  background: #FFF9F3;
  border-color: #BDBDBD;
}
.controls-InfoBox-style-error {
  background: #FFFFFF;
  border-color: #EF463A;
  -webkit-box-shadow: rgba(239, 70, 58, 0.4) 0 0 12px;
          box-shadow: rgba(239, 70, 58, 0.4) 0 0 12px;
}
.controls-InfoBox-style-error.controls-InfoBox__popup:before {
  background: #FFFFFF;
  border-color: #EF463A;
}
/*
   Класс для доступа к константам темы из js
*/
.controls-InfoBox__themeConstants {
  margin-left: 16px;
  margin-right: 12px;
  margin-bottom: 9px;
  margin-top: 14px;
}
