.controls-InfoBox {
   padding: @infobox-padding-top @infobox-padding-right @infobox-padding-bottom @infobox-padding-left;
   box-sizing: border-box;
   max-width: @infobox-max-width;
   overflow: auto;
}

.controls-InfoBox__popup {
   border: @infobox-border-size solid;

   &:before {
      width: @infobox-arrow-size;
      height: @infobox-arrow-size;
      position: absolute;
      border: @infobox-border-size solid;
      border-top: none;
      border-left: none;
      content: '';
      box-sizing: border-box;
   }

   &.controls-Popup-corner-vertical-top.controls-Popup-align-vertical-top {
      //tl
      &.controls-Popup-align-horizontal-right:before {
         transform: rotate(45deg);
         bottom: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         left: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-horizontal-offset;
      }

      //tr
      &.controls-Popup-align-horizontal-left:before {
         transform: rotate(45deg);
         bottom: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         right: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-horizontal-offset;
      }

      //tc
      &.controls-Popup-align-horizontal-center:before {
         transform: rotate(45deg);
         bottom: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         left: ~'calc(50% - '@infobox-arrow-diagonal-length/2 - @infobox-border-size ~')';
      }
   }

   &.controls-Popup-corner-vertical-bottom.controls-Popup-align-vertical-bottom {
      //bl
      &.controls-Popup-align-horizontal-right:before {
         transform: rotate(225deg);
         top: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         left: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-horizontal-offset;
      }

      //br
      &.controls-Popup-align-horizontal-left:before {
         transform: rotate(225deg);
         top: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         right: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-horizontal-offset;
      }

      //bc
      &.controls-Popup-align-horizontal-center:before {
         transform: rotate(225deg);
         top: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         left: ~'calc(50% - '@infobox-arrow-diagonal-length/2 - @infobox-border-size ~')';
      }
   }

   &.controls-Popup-corner-horizontal-right.controls-Popup-align-horizontal-right {
      //rt
      &.controls-Popup-align-vertical-bottom:before {
         transform: rotate(135deg);
         left: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         top: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-vertical-offset;
      }

      //rb
      &.controls-Popup-align-vertical-top:before {
         transform: rotate(135deg);
         left: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         bottom: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-vertical-offset;
      }

      //rc
      &.controls-Popup-align-vertical-center:before {
         transform: rotate(135deg);
         left: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         top: ~'calc(50% - '@infobox-arrow-diagonal-length/2 - @infobox-border-size ~')';
      }
   }

   &.controls-Popup-corner-horizontal-left.controls-Popup-align-horizontal-left {
      //lt
      &.controls-Popup-align-vertical-bottom:before {
         transform: rotate(-45deg);
         right: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         top: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-vertical-offset;
      }

      //lb
      &.controls-Popup-align-vertical-top:before {
         transform: rotate(-45deg);
         right: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         bottom: (@infobox-arrow-diagonal-length - @infobox-arrow-size)/2 + @infobox-arrow-vertical-offset;
      }

      //lc
      &.controls-Popup-align-vertical-center:before {
         transform: rotate(-45deg);
         right: -(@infobox-arrow-diagonal-length/2 - @infobox-border-size);
         top: ~'calc(50% - '@infobox-arrow-diagonal-length/2 - @infobox-border-size ~')';
      }
   }
}

.controls-InfoBox__closeButton {
   position: absolute;
   top: @infobox-close-button-top;
   right: @infobox-close-button-right;
   cursor: pointer;
   color: @infobox-close-button-color;

   &:hover {
      color: @infobox-close-button-hover-color
   }
}

.controls-InfoBox__message_margin {
   margin-right: @infobox-message-margin-right;
}

.controls-InfoBox_floatElement {
   width: @infobox-float-element-size;
   height: @infobox-float-element-size;
   float: right;
}

.controls-InfoBox-style-default {
   background: @infobox-bg-style-default;
   border-color: @infobox-border-color-style-default;
   box-shadow: @infobox-shadow-color-style-default @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-default;
      border-color: @infobox-border-color-style-default;
   }
}

.controls-InfoBox-style-lite {
   background: @infobox-bg-style-lite;
   border-color: @infobox-border-color-style-lite;
   box-shadow: @infobox-shadow-color-style-lite @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-lite;
      border-color: @infobox-border-color-style-lite;
   }
}

.controls-InfoBox-style-help {
   background: @infobox-bg-style-help;
   border-color: @infobox-border-color-style-help;
   box-shadow: @infobox-shadow-color-style-help @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-help;
      border-color: @infobox-border-color-style-help;
   }
}

.controls-InfoBox-style-error {
   background: @infobox-bg-style-error;
   border-color: @infobox-border-color-style-error;
   box-shadow: @infobox-shadow-color-style-error @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-error;
      border-color: @infobox-border-color-style-error;
   }
}

/*
   Класс для доступа к константам темы из js
*/
.controls-InfoBox__themeConstants {
   margin-left: @infobox-arrow-diagonal-length;
   margin-right: @infobox-arrow-horizontal-offset;
   margin-bottom: @infobox-arrow-vertical-offset;
   margin-top: @infobox-distance-to-target;
}