.customText {
   font-size: 15px;
   color: #313E78;
}
.demo__wrapper {
   margin: 3% 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.demo__block {
   margin: 10px;
   display: inline-flex;
   flex-direction: column;
}
.demo__element {
   position: relative;
   margin: 10px 20px;
}
.horizontal__element {
   left: -12px;
}
.vertical__element {
   left: -8px;
}
.demo__block_inline {
   display: inline-block;
   margin: 10px;
}

.demo__block_center {
   display: flex;
   align-items: center;
   width: 900px;
}