.controls-Suggest__suggestionsContainer-inInput {
	top: -@top_Suggest_suggestionsContainer_overInput;
	left: -@left_Suggest_suggestionsContainer_overInput;
	padding-top: @height_InputRender_default + (@top_Suggest_suggestionsContainer_overInput * 2);
	border: @thickness_border_default solid @color_border;
	.box-shadow(@box-shadow_Suggest_suggestionsContainer_overInput);
	position: absolute;
}

.controls-Suggest__close {
	position: absolute;
	top: @margin-top_Suggest_close;
	right: 0;
	z-index: 1;
}