/*
   Templates
 */
/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Suggest__suggestionsContainer-inInput {
  top: -8px;
  left: -12px;
  padding-top: 40px;
  border: 1px solid #CCC;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
}
.controls-Suggest__close {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 1;
}
