.controls-SuggestV {
	max-width: 100%;
	position: relative;
	display: inline-block;
}

.controls-SuggestV__inputRender {
	width: 100%;
}

.controls-Suggest__suggestionsContainer {
	border: @border-width_suggestionsContainer @border-color_suggestionsContainer solid;
	box-sizing: border-box;
	background-color: @background-color_Suggest-suggestionsContainer;
	/* Почему тут z-index:2
		Контекст наложения формируется по определённым правилам, его формирует либо корневой элемент (тег HTML),
		либо один из списка стилей https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context.
		По-умолчанию элементы находятся в стеке в порядке следования в DOM дереве. Поэтому для того, чтобы список был выше, делаем ему z-index: 1;
		Но, под автодополнением (ниже по дом дереву) может лежать scrollContainer у котого в стилях контента тоже z-index:1,
		и если ему никто не создал контекст наложения, то он будет перекрывать автодополнение.  Поэтому необходимый минимум - z-index: 2*/
	z-index: 2;
}

.controls-Suggest__suggestionsContainer-style-default {
	width: 100%;
	.box-shadow(@shadow_suggestionsContainer);
}

.controls-Suggest-Text_style_overInput {
	z-index: 3;
}

.controls-Suggest__footer {
	.flexbox();
}

.controls-Suggest__showAllLink {
	color: @color_Link-text;
	text-decoration: @text-decoration_Link;
	height: @height_Link;
	line-height: @link-line-height;
	cursor: @link-cursor;
	padding: 0 8px;
	margin-left: auto;
}

.controls-Suggest__showAllLink:hover {
	color: @color_Link-text_hovered;
	text-decoration: underline;
}

.controls-Suggest__tabs {
	width: 100%;
	margin-bottom: @spacing_Suggest-between-tabs-and-content;
}

.controls-Suggest__empty {
	color: @additional-color;
	text-align: center;
	padding: @spacing_Suggest-empty 0;
}

.controls-Suggest__scrollContainer {
	height: 100%;
}

.controls-Suggest__Misspell {
	margin: @margin_Suggest_Misspell;
}