<div on:changeValue="checkEvent()" style="margin-bottom: 16px;">
    <ws:Controls.Toggle.Switch bind:value="_value"/>
    <ws:Controls.Toggle.Switch bind:value="_value" caption="caption"/>
    <ws:Controls.Toggle.DoubleSwitch bind:value="_value" class="ws-enabled" orientation="horizontal" captions = "{{['on', 'off']}}"/>
    <ws:Controls.Toggle.DoubleSwitch bind:value="_value" class="ws-enabled" orientation="vertical" captions = "{{['on', 'off']}}"/>
</div>