<div class="controls-VDomButton">
   <div>Стандартная</div>
   <Controls.Button
           name="ButtonDefault"
           caption="самая обычная"
           icon="sprite:icon-16 icon-Admin"
   />
   <div>Акцентная кнопка</div>
   <Controls.Button
           name="Button1"
           caption="strange"
           icon="sprite:icon-24 icon-EmoiconBlind"
           style="primary"
   />
   <div>Матильда</div>
   <Controls.Button
           name="Button2"
           icon="sprite:icon-24 icon-Send"
           style="primary"
   />
   <div>Недоступная</div>
   <Controls.Button
           name="Button2"
           icon="sprite:icon-24 icon-Send"
           style="primary"
           enabled="{{false}}"
   />
</div>