/*Ёмкость списка без прокрутки - 16 пресетов*/
/*#0055BB*/
.controls-Checkbox {
  display: inline-block;
}
.controls-Checkbox__disabled {
  cursor: default;
}
.controls-Checkbox__enabled {
  cursor: pointer;
}
.controls-Checkbox__wrapper:before {
  content: '\200b';
}
.controls-Checkbox__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 24px;
}
.controls-Checkbox__icon-border-color__enabled {
  color: #999999;
}
.controls-Checkbox__icon-border-color__disabled {
  color: #e4e4e4;
}
.controls-Checkbox__caption-color__enabled {
  color: #000;
}
.controls-Checkbox__caption-color__disabled {
  color: #CCCCCC;
}
.controls-Checkbox__caption {
  word-wrap: break-word;
  padding: 3px 0;
  line-height: 18px;
}
.controls-Checkbox__icon {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.controls-Checkbox__icon:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  position: absolute;
  border-width: 1px;
  border-style: solid;
  width: 12px;
  height: 12px;
  margin: 6px 6px;
}
.controls-Checkbox__icon-checked:after {
  font-family: 'cbuc-icons';
  content: '\e616';
  position: absolute;
  font-size: 18px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  top: 0px;
  left: 5px;
}
.ws-is-mobile-platform .controls-Checkbox__icon-checked:after {
  line-height: calc(18px + 1px);
}
.controls-Checkbox__icon-tristate:after {
  left: 0;
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  line-height: 6px;
  margin: 9px 9px;
}
.controls-Checkbox__icon-tristate-color__disabled:after {
  background-color: #313E78;
}
.controls-Checkbox__icon-tristate-color__enabled:after {
  background-color: #ff7033;
}
.controls-Checkbox__icon-checked-color__enabled:after {
  color: #ff7033;
}
.controls-Checkbox__icon-checked-color__disabled:after {
  color: #313E78;
}
