.controls-Checkbox {
   display: inline-block;
}
.controls-Checkbox__disabled {
   cursor: default;
}
.controls-Checkbox__enabled {
   cursor: pointer;
}
.controls-Checkbox__wrapper:before {
   content: '\200b';
}
.controls-Checkbox__wrapper {
   display: inline-flex;
   font-size: @font-size_CheckBox;
   //Не можем сделать на флексах из-за стандарта
   line-height: @height_CheckBox__clickArea;
}
.controls-Checkbox__icon-border-color__enabled {
   color: @color_CheckBox__iconBox;
}
.controls-Checkbox__icon-border-color__disabled {
   color: @color_CheckBox__iconBox_disabled;
}
.controls-Checkbox__caption-color__enabled{
   color: @color_CheckBox__caption_enabled;
}
.controls-Checkbox__caption-color__disabled{
   color: @color_CheckBox__caption_disabled;
}
.controls-Checkbox__caption {
   word-wrap: break-word;
   padding: @spacing_CheckBox-between-icon-caption;
   //Не можем сделать на флексах из-за стандарта
   line-height: @line-height_CheckBox__caption;
}
.controls-Checkbox__icon {
   position: relative;
   user-select: none;
   width: @width_CheckBox__clickArea;
   height: @height_CheckBox__clickArea;
   flex-shrink: 0;
}
.controls-Checkbox__icon:before {
   box-sizing: border-box;
   content: '';
   position: absolute;
   border-width: @width_CheckBox__border;
   border-style: solid;
   width: @size_CheckBox__icon-box;
   height: @size_CheckBox__icon-box;
   margin: (@height_CheckBox - @size_CheckBox__icon-box) / 2 (@width_CheckBox - @size_CheckBox__icon-box) / 2;
}
.controls-Checkbox__icon-checked:after {
   font-family: 'cbuc-icons';
   content: '\e616';
   position: absolute;
   font-size: @size_CheckBox__iconSuccessful;
   height:@size_CheckBox__iconSuccessful;
   width: @size_CheckBox__iconSuccessful;
   line-height: @size_CheckBox__iconSuccessful;
   top: @top_CheckBox__iconSuccessful;
   left: @left_CheckBox__iconSuccessful;


   // На iPad при расчете высоты оказывается, что она на 1px больше, чем на других устройствах. Выравнивание галки по
   // вертикали осуществляется через line-height равным высоте. Поэтому галка уезжает вверх. Чтобы это поправить мы
   // увеличим line-height в iPad на 1px;
   .ws-is-mobile-platform & {
      line-height: calc(~"@{size_CheckBox__iconSuccessful} + 1px");
   }
}
.controls-Checkbox__icon-tristate:after {
   left: 0;
   content: '';
   position: absolute;
   height:@size_CheckBox__iconTristate;
   width: @size_CheckBox__iconTristate;
   line-height: @size_CheckBox__iconTristate;
   margin: (@height_CheckBox - @size_CheckBox__iconTristate) / 2 (@width_CheckBox - @size_CheckBox__iconTristate) / 2;
}
.controls-Checkbox__icon-tristate-color__disabled:after{
   background-color: @color_CheckBox__icon_disabled;
}
.controls-Checkbox__icon-tristate-color__enabled:after{
   background-color: @color_CheckBox__icon_enabled;
}
.controls-Checkbox__icon-checked-color__enabled:after{
   color: @color_CheckBox__icon_enabled;
}
.controls-Checkbox__icon-checked-color__disabled:after{
   color: @color_CheckBox__icon_disabled;
}